[2018-02-04 11:42] wzrdtales commented on #102
and actually doing this is not so hard, there are packages with full support for this like https://www.npmjs.com/package/rc

[2018-02-04 11:45] juanpicado commented on #102
Yeah, I get the point, I have a question because I was looking your project and perhaps is not clear yet. How this https://github.com/wzrdtales/docker-sinopia#options works?

Perhaps you can elaborate a bit more. yfi (Docker is not my main field) :)

[2018-02-04 11:53] wzrdtales commented on #102
Ah the options parts, yes, this is custom haha

But there is a reason for this, which is the strict limitations implied by environment variables. This is why it is considered a bad practice to use special characters in key names in configuration. The thing is:

You actually can't configure the packages part which will include impossible stuff like:

[code]

To be parsed correctly this would result

[2018-02-04 11:53] wzrdtales commented on #102
The script part of this is here:

https://github.com/wzrdtales/docker-sinopia/blob/master/configure.js#L10-L17

[2018-02-04 11:54] wzrdtales commented on #102
The script part of this is here

https://github.com/wzrdtales/docker-sinopia/blob/b8f0c5b1876de1d9a81b44c0096e5f2ee9dfd6f1/configure.js#L10-L17

[2018-02-04 11:55] wzrdtales commented on #102
To note the custom part was really just a quick hack, I wouldn't consider it to be an actual solution to the problem ;)

[2018-02-04 12:09] wzrdtales commented on #102
Alternating solutions that come quickly to my mind, touching the configs itself:

Optionally allow "flexible" arrays. So no real arrays here :)

I.e.

[code]

This would solve the problem already. When coming from an environment variable however also a note:

packagename_packages__0__access="$all"

We end up with this here, so we still have an "array", but with key names that just iterates on numb

[2018-02-04 12:12] juanpicado commented on #102
Unfortunately, this will break a lot of parts and for now, we have to keep compatible with sinopia. Change config structure file is something that we cannot afford now.
[code]

[2018-02-04 12:17] wzrdtales commented on #102
No it does not if you support both schemas, which is not that big of a deal.

Another attempt to fully solve this:

[code]

packagename_packages__mainscope__access="$all"

This would completely solve the problem, but in that case yes you would need some logic to determine how to parse this. But this is also easy, just introduce versioning into the config.

[code]

This way you can solve broken con

[2018-02-04 12:24] wzrdtales commented on #102
As always, I mostly suggest and help with ideas, as my time is quite limited and I have also my own open source projects where I spend my time on when I get it. So I hope this help you already, but I probably wont push out a PR and if I would do, only in some unknown future. Currently investing heavily again into open source, but of course my own projects will serve first before I spend any time o

[2018-02-05 09:13] bouchezb opened #557 "htpasswd issue with docker container and mounted folders"
#### My reason:

Hi, i installed Verdaccio on my VPS and got an issue with user management.
First, I used the docker image and everything was fine (UI + npm publish).
After that, i decided to use the same image, but i mounted local folders for config and storage.
When i started my container, i was unable to connect to the UI.
`npm publish` don't work anymore.

I found that default `htpasswd` file

[2018-02-05 10:06] michaelschneiderdaimler commented on #493
Hi Juan,
many thanks, that helps a lot!
regards
michael

[2018-02-06 21:05] mikew commented on #541
Using an older version of node via Docker is also an option, just not a great one.

[code]

[2018-02-07 00:57] chainlink commented on #468
It's been merged! I think we can close this?

[2018-02-07 00:57] #468 closed

[2018-02-07 11:43] alexmngn opened #559 "Reset htpasswd database"
Hello,
I've forgot my password and can't login with my user. I tried to reinstall verdaccio globally but it seems like the data stays in the computer. How can I reset the database and reinstall everything from 0? Where is the config file?
Thanks

[2018-02-07 11:43] juanpicado commented on #468
Yes ! Thanks @chainlink for take care of this 🥇

[2018-02-07 18:43] vesrah commented on #280
You could add C:\Users\username\AppData\Roaming\npm to your PATH.

[2018-02-07 21:26] juanpicado commented on #559
Look into your local storage (http://www.verdaccio.org/docs/en/cli.html#default-config-file-location) and open the file `htpasswd` and edit it manually. That's a quick way.

[2018-02-07 21:45] juanpicado commented on #557
It seems those files have to exist already as this example describes. https://github.com/verdaccio/docker-examples/tree/master/docker-local-storage-volume/conf

[code]
It might be a a bug or a Docker limitation, verdaccio should create those files if Docker allow it (which I'm not sure).

[2018-02-08 09:08] bouchezb commented on #557
Hi,

Thanks for your feedback.
I did a rollback on my config and use the container without mounted folders.
Works fine so far.

[2018-02-08 11:24] alexmngn commented on #559
I don't have anything at `~/.local/verdaccio/config.yaml`, I'm running a Mac.

[2018-02-08 11:55] ayusharma commented on #559
@alexmngn Please try to find your config file using this `cat ~/.config/verdaccio/config.yaml`

[2018-02-09 07:17] p3x-robot opened #560 "weird express error (ERR_HTTP_HEADERS_SENT)"
#### My reason:

weird express error (ERR_HTTP_HEADERS_SENT)

#### Steps to reproduce:

latst verdaccio

####  App Version:

[code]

I am not using ```root```.

####  Config file:

[code]

#### Additional information:

[code]

 - `$ set DEBUG=express:* verdaccio` enable extreme verdaccio debug mode
 - `$ npm --verbose` prints:

[code]

 - `$ npm config get registry` prints:
```https://npm.patrikx3

[2018-02-09 14:50] juanpicado commented on #560
Are you sure?

[2018-02-09 15:04] Meeeeow commented on #560
There is no relation between root and this warning message. Might more detail will be helpful. For example:

- Frequency
- Do you have a step to reproduce it?
- Access log before warning

[2018-02-09 15:10] Meeeeow commented on #544
Suggest: Wait for RC or stable release, it is not so important but will take a lot of time to debug and follow changes

[2018-02-10 15:49] #559 closed

[2018-02-12 15:06] danielloynaz opened #570 "r"
#### My reason:

#### Steps to reproduce:

####  App Version:

####  Config file:

#### Additional information:

 - `$ set DEBUG=express:* verdaccio` enable extreme verdaccio debug mode
 - `$ npm --verbose` prints:
 - `$ npm config get registry` prints:
 - Verdaccio terminal output
 - Windows, OS X/macOS, or Linux?:
 - Verdaccio configuration file, eg: `cat ~/.config/verdaccio/config.yaml`

 - Con

[2018-02-12 15:28] #570 closed

[2018-02-12 17:11] iamthechad opened #571 "Cannot authenticate to JFrog Artifactory as uplink - "Authorization" header not always sent"
#### My reason:

Cannot authenticate to Artifactory uplink. I can connect directly to Artifactory by setting its information in `npmrc`. When I switch to verdaccio with Artifactory as uplink, authentication fails.

#### Steps to reproduce:

Configure Artifactory as an uplink.
Try to install a module with NPM pointing to verdaccio.

####  App Version:
`verdaccio/2.7.4`

####  Config file:

Relevant

[2018-02-12 19:21] jharris4 commented on #287
I just ran into this exact same issue. We have been using verdaccio for a while with scoped packages and were looking to start using it for ALL packages (basically using it as an npm proxy/cache) but we are unable to do so because of the `unregistered users are not allowed to access package` error (despite being logged in as a registered user).

[2018-02-12 20:13] jharris4 commented on #287
Actually, adding `always-auth=true` as suggested here https://github.com/verdaccio/verdaccio/issues/74#issuecomment-323735278 seems to have fixed this issue for me!

[2018-02-14 15:05] iamthechad commented on #571
I was finally able to get Charles Proxy running so that I could see the actual request.

    GET /artifactory/api/npm/npm-main/lodash HTTP/1.1
    If-None-Match: 1a90e1d3116577d26b6948a68af1b060184c33f9
    Accept: application/json;
    Accept-Encoding: gzip
    User-Agent: npm (verdaccio/2.7.4)
    Via: 1.1 87fb29ca95c3 (Verdaccio)
    host: artifactory.mydomain.com
    Connection: close

I don't

[2018-02-14 21:37] p3x-robot opened #572 "basic authorziation"
#### My reason:

I use Verdaccio, and it is awesome. My question is, is it possible to login with BASIC AUTHORIZATION from NGINX? So my users are using NGINX BASIC AUTHORIZATION (via PAM) and is it possible?

#### Steps to reproduce:

Question.

####  App Version:

Latest.

####  Config file:

Does not apply.

#### Additional information:

 - `$ set DEBUG=express:* verdaccio` enable extreme verdac

[2018-02-14 22:30] iamthechad commented on #571
I've made more progress, but now I'm pretty sure I've found a bug. Turns out that the yaml config is very particular about tabs vs spaces. Once I got that sorted out, I can see the `Authorization` header being sent, but only on the call to get the metadata. The call to fetch the actual tarball from the uplink does not get the `Authorization` header set.

I added some simple trace statements to the

[2018-02-15 06:29] juanpicado commented on #571
@iamthechad thanks for the research, I'll help you if I find a bit of time.

[2018-02-15 06:32] juanpicado commented on #572
@p3x-robot I think you will need to elaborate a bit more what you are trying to do.

[2018-02-15 17:44] juanpicado commented on #572
:)I still do not get it. Do you want to restrict the Web Interface or the whole node package management API?  or both?

[2018-02-15 22:05] Falieson opened #574 "verdaccio ssl docs clarification"
in the docs https://github.com/verdaccio/verdaccio/blob/master/docs/ssl.md
it says to generate the ssl files like so
[code]
and then reference them like so
[code]

But the 3 lines all out .pem files, not .key .crt .ca

Am I missing that the files are renamed the verdaccio-key.pem to server.key etc?

[2018-02-16 07:11] #574 closed

[2018-02-16 07:12] juanpicado commented on #574
I updated the docs and also the terminal output, now should be something like this

[code]

[2018-02-16 08:05] Buddikawidu commented on #199
Appreciated!

Thanks

[2018-02-16 08:38] #572 closed

[2018-02-16 08:43] #560 closed

[2018-02-16 09:15] p3x-robot opened #577 "cannot unpublish a package"
#### My reason:
Cannot unpublish a package

#### Steps to reproduce:
For example, if I logout form Verdaccio, I see:
![image](https://user-images.githubusercontent.com/28588124/36299614-2588aebc-12fe-11e8-80f5-c000cbe97d86.png)

I login and it looks like this:
![image](https://user-images.githubusercontent.com/28588124/36299672-72521ba2-12fe-11e8-938b-8c92a88e288c.png)

[code]

Then I check if it

[2018-02-16 10:07] p3x-robot opened #578 "whatever i add in to verdaccio, i can always login"
#### My reason:

i can always, even though registration is turned off (```max_users: -1```)

#### Steps to reproduce:

[code]

####  App Version:

2.7.4

####  Config file:

[code]

#### Additional information:
Related to: https://github.com/verdaccio/verdaccio/issues/577

Exact same errors. Something is weird.

[2018-02-16 15:37] bicienzu opened #579 "WEB UI Error 404 on package with scope"
When i try to access scoped package from web UI i get a 500 error.
Access no scoped package from web ui works fine.
Install of scoped and no scoped package work fine.
#### Steps to reproduce:

1. User login
2. Access package scoped

####  App Version:
3.0.0-alpha.12
####  Config file:
[code]
#### Additional information:
 - Container:
   - I use local environment **NOPE**
   - I develop / deploy us

[2018-02-16 15:43] juanpicado commented on #579
Fixed already https://github.com/verdaccio/verdaccio/commit/705eda16979c61a92616664ff3481b5c0ceb7615 but not released yet 👍

[2018-02-16 15:43] juanpicado commented on #579
Thanks for reporting @bicienzu

[2018-02-16 16:01] Falieson commented on #574
Thank you @juanpicado !

[2018-02-16 16:17] #579 closed

[2018-02-16 17:18] juanpicado commented on #579
[code]

[2018-02-16 22:55] juanpicado commented on #571
Just for your information. Using `NODE_DEBUG=request verdaccio` you get debug info from `request` the library we use for each request. The outcome is much handy and you can see all headers. (ignore the token, it's a dummy JFrog server I was running locally)

[code]

[2018-02-16 22:56] juanpicado commented on #571
In both request, I'm seeing the Authorization header set properly. I do not see any bug.
![screen shot 2018-02-16 at 11 48 53 pm](https://user-images.githubusercontent.com/558752/36333015-e9b57f6a-1374-11e8-8181-e63961c183df.png)

[2018-02-16 23:14] juanpicado commented on #577
Related or possible duplicated https://github.com/verdaccio/verdaccio/issues/509

[2018-02-16 23:16] juanpicado commented on #577
@p3x-robot please check whether is a dupe and close this one and let's follow up #509

btw. amazing ;-) detailed bug description.

[2018-02-17 12:36] #192 closed

[2018-02-17 21:18] #578 closed

[2018-02-18 09:08] asafMasa commented on #377
@juanpicado ?

[2018-02-18 09:37] juanpicado commented on #377
Verdaccio does not handle client-side business, that's `npm`|`yarn` job. Verdaccio only resolves what the clients ask for.

Sorry @asafMasa . the todo is getting huge. :( I hope anyone else helps you with this.

[2018-02-18 12:10] juanpicado opened #582 "Add missing uplink token support to documentation"
#### My reason:

For some reason, this is not documented in docs website.

This feature was released on
https://github.com/verdaccio/verdaccio/releases/tag/v2.5.0

[code]

[2018-02-18 19:27] iamthechad commented on #571
I am really confused. With no change to version or configuration everything seems to be working now.

I've only tested from home over VPN - I'd like to verify that things work when I'm connected to my company's network. I'll do that on Tuesday and report back on if this is still an issue or not.

[2018-02-20 09:56] oltodo opened #583 "Capitalization on package name"
Hi,

I'm not comfortable with package name's capitalization on package detail page. It's probably the best and more natural way to copy the entire package name. However the point is that it's capitalized makes its use less relevant.

![image](https://user-images.githubusercontent.com/483842/36416654-f890b9b6-1629-11e8-8dfb-4a6cf21bd2e6.png)

What do you think?

[2018-02-20 16:47] iamthechad commented on #571
I've gathered more information, and it looks like there really is a bug. You can see below that the `authorization` header is only being passed for the initial call and not the request to get the tarball.

The NPM cache was masking this issue and making it look like it was working. Once I ran `npm cache clean --force` I saw the authorization errors for the tarball.

As I noted before, the code pat

[2018-02-20 17:59] juanpicado commented on #583
You are totally right. Are you willing to PR?

[2018-02-20 18:00] oltodo commented on #583
No but I can!

[2018-02-20 18:01] juanpicado commented on #583
Please :) and I'll ship it in the next alpha release.

[2018-02-20 18:09] oltodo commented on #583
Done https://github.com/verdaccio/verdaccio/pull/584. Thanks for you respond!

[2018-02-20 18:10] juanpicado commented on #583
Thanks you for reporting :) and contributing

[2018-02-20 18:11] #583 closed

[2018-02-20 19:33] juanpicado commented on #571
@iamthechad thanks for the log, I'll look in detail 👍

[2018-02-20 19:34] juanpicado commented on #571
It will take a while since I need to write some unit test to ensure this will never happen again.

[2018-02-21 08:44] Fatal1stZ opened #585 "Access to only allowed packagesfrom npmjs (+ dependencies)"
#### My reason:

Greetings! Is there any way to allow the only packages via verdaccio?

I need to provide only some packages for team development (e.g. react, redux etc) due to security reasons. The developers are isolated from Intenet, so we need a caching proxy for npmjs with only allowed packages.

We use nexus to get to npmjs. So the uplink is npm-nexus.
The rule for packages is:
packages:

[c

[2018-02-21 08:52] bicienzu opened #586 "npm ERR! code E403 executing "npm update" command with scoped package dependencies"
#### My reason:
When i try to update npm packages with command
`npm update`
i get this error
[code]
I'm logged with my user  and i can publish/install scoped package without problems.
If i try to update without scoped package dependencies no errors occurs
####  App Version:
verdaccio@3.0.0-alpha.13

**package.json**
[code]

[2018-02-21 21:01] iamthechad commented on #571
I figured out where the issue is happening. It's in `isUplinkValid` https://github.com/verdaccio/verdaccio/blob/968d36ae63d50a09b733d3208f5289d12a2fc6b5/src/lib/storage/up-storage.js#L328-L331

The `url.host` was resolving to `artifactory.mydomain.com:443` and `this.url.host` was resolving to `artifactory.mydomain.com`. I went in to the config and changed the uplink URL from `https://artifactory.m

[2018-02-22 14:39] ajlozier opened #587 "Add support for strictSSL in upstream repos"
#### My reason:

I am using upstream repos which use self-signed certificates. Without this enhancement, my repos are taken offline immediately due to a self-signed certificate in chain error.

#### Steps to reproduce:

Add uplink repo which is secured using self-signed certificate. Attempts to install any modules will result in this repo being taken offline by verdaccio.

####  App Version:

2.x

[2018-02-23 04:24] Meeeeow commented on #560
@p3x-robot Is that solved? Did you find out the reason?

[2018-02-23 06:24] juanpicado commented on #587
Nice ... could you PR? :) In any case would be only available in `v3`. If you PR please do not forget to update documentation in `/docs` folder.

[2018-02-23 14:09] ajlozier commented on #587
Ok, I will create a new branch based off master and will be sure to update the docs as well. Thanks!

[2018-02-24 08:23] juanpicado commented on #438
Relates #571

[2018-02-24 10:30] juanpicado commented on #438
@aaron-em it fails because we run 3 localhost instances with different port, since your `(url.host === this.url.host || url.hostname === this.url.hostname)` patch will ignore completely the port (https://nodejs.org/api/url.html#url_url_hostname) matching `hostname` cause the masive failure in our test. I'll close this one and follow up on #571

[2018-02-24 10:30] #438 closed

[2018-02-24 10:33] juanpicado commented on #571
@iambrandonn I'd guess the domain you have in your config file against the URL returned by the tarball differs in the port, Am I wrong? As the corner case #438.

The following test represent your issue

[code]
Using the current implementation, which theorically is true, but, being strict it is not.

However, the following after applying the patch  https://github.com/aaron-em/verdaccio/blob/5999e3b

[2018-02-24 10:36] juanpicado commented on #571
A crazy idea.
[code]

[2018-02-24 11:56] juanpicado commented on #571
Or ignore port whether protocol is HTTPS

[2018-02-24 17:06] iamthechad commented on #571
You may be able to change the `isUplinkValid` check to compare `url.hostname` instead of `url.host`. (https://nodejs.org/docs/latest/api/url.html#url_url_hostname)

[2018-02-24 20:58] juanpicado commented on #571
@iambrandonn yeah, the parsing is quite special, `port` might be there, might be not. I think the current fix will work. Let's see. I'll publish it in the next alpha

[2018-02-24 20:58] #571 closed

[2018-02-24 21:27] juanpicado commented on #571
[code]

[2018-02-25 04:44] SheetJSDev opened #593 "Optionally suppress or override instructions in web user interface"
The `npm` client supports scope-level registries wherein requests for modules in different scopes are directed to different registries.  For example:

[code]

A request for `@scope1/module` will hit the first registry.  A request for `@scope2/module` will hit the second module.  A request for an unscoped module or a module under any other scope will hit the default registry.

This enables a `verda

[2018-02-26 07:34] bicienzu commented on #586
Thi is my .npmrc file.
[code]

[2018-02-27 15:35] Dharmender-Singh opened #594 "npm ERR! fetch failed http://verdaccioIP/babylon/-/babylon-7.0.0-beta.0-ranges.tgz"
Hi,

We have faced a following problem with our verdaccio server :
[code]

After searching we found that this bug is resolved in the latest version of Verdaccio. After that, we have upgraded the verdaccio version and this problem was solved.

But After up-gradation, we are not able to see OLD packages on UI.  After publishing, we can see that particular package on UI, but not before that.

We cann

[2018-03-01 07:31] ryyppy opened #610 "Flowtype Performance Issues"
Hi!
So as a follow up for the ViennaJS meetup, I was looking a little bit into the flow setup and I think the culprit is not the number of source files in the repository, but more like the parsing process of the library definitions in `flow-typed`.

Since you are using `lodash_4.x.x`, I think this flow issue is related:
https://github.com/facebook/flow/issues/5784

Not entirely sure how to fix tha

[2018-03-02 06:12] juanpicado commented on #610
Thanks for dive into it, I'll try to run it avoiding `lodash` and let's see the difference.

[2018-03-02 07:25] taylk808 opened #611 "ERR_EMPTY_RESPONSE"
OS: Ubuntu 16
Node 8.9
NPM 3.3

I've installed verdaccio using NPM.  It was installed and then started without error. When accessing site http://localhost:4873/, I get error ERR_EMPTY_RESPONSE in Chrome.  Did installation to two different servers, but same issue.  Anyone have any suggestions on how to resolve?

[2018-03-02 07:29] juanpicado commented on #611
Try to access it via curl or wget. Also hit with npm and see the outcome.

[2018-03-02 18:04] taylk808 commented on #611
curl returns the following on one of the two servers:

<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <title>Verdaccio</title>
    <link rel="icon" type="image/png" href="http://localhost:4873/-/static/favicon.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
        window.VERDACCIO_API_URL = 'http://localhost:4873/-/verdaccio/

[2018-03-02 18:10] juanpicado commented on #611
Well, I'm blind unless you provide more detailed information. Please read https://raw.githubusercontent.com/verdaccio/verdaccio/master/.github/issue_template.md and try to fulfill all the steps

[2018-03-02 18:46] taylk808 commented on #611
Here are the outputs:
config.yaml
------------
storage: ./storage
auth:
  htpasswd:
    file: ./htpasswd
 web:
  enable: true
  title: Verdaccio
  logo: logo.png
packages:
  '@*/*':
    # scoped packages
    access: $all
    publish: $authenticated
    proxy: npmjs
  '**':
      access: $all
    publish: $authenticated
    proxy: npmjs
logs:
  - {type: stdout, format: pretty, level: http}
url_pref

[2018-03-02 19:29] ayusharma commented on #611
@juanpicado Everything seems fine. I gave a try to replicate it but not able to reproduce. The error 324 ERR_EMPTY_RESPONSE – No data received can be occurred due to connection.

@taylk808 could you please provide network information (screenshot) from chrome dev tools.

[2018-03-02 19:34] juanpicado commented on #611
yeah @ayusharma  I'm sure is not `verdaccio`. It might be something related with his set up.

[2018-03-03 17:56] juanpicado opened #612 "Migrate to CircleCI 2.0"
#### My reason:

https://circleci.com/blog/sunsetting-1-0/

#### Additional information:

I'll explain step by step what we are doing in a nutshell on `circleci.ylm`

* YARN_VERSION: 1.6.0
* verdacciobot user will perform all task
* Testing with node 6, 8, 9 and 10
* Default node should be 9
* `yarn run pre:ci` first step before running anything else
* `- yarn run test:e2e` should be run once usin

[2018-03-03 20:10] juanpicado commented on #182
http://www.verdaccio.org/docs/en/docker.html#using-https-with-docker

[2018-03-04 09:07] fadelguy opened #616 "cannot download package from external repository"
Verdaccio ver : 2.7.0

I have server 2012 R2 with verdaccio install on iisnode in internal network.
In our company we have a Nexus that open to npmjs.
In config.yalm i have config the uplinks to the nexus url:

uplinks:
 nexus:
   url: http://nexus.com/npm

packages:
 access: $all
 publish: $authenticated
 proxy: nexus

My npm registy config to verdaccio.

I want that verdaccio auto download packa

[2018-03-04 11:47] fadelguy commented on #616
The Full config file:

`#
`# This is the default config file. It allows all users to do anything,
`# so don't use it on production systems.
`#
`# Look here for more config file examples:
` # https://github.com/verdaccio/verdaccio/tree/master/conf
`#
`# path to a directory with all packages
`storage: ./storage
`auth:
  htpasswd:
    file: ./htpasswd
    # Maximum amount of users allowed to register

[2018-03-04 11:55] juanpicado commented on #616
Ok, I see more clearly your issue. `@*/*'` only will route any scoped packages through your nexus uplink. So, any other dependency, eg: `react` or `babel-core` will try to access the default one which is `npmjs` **even if is not defined in your config file**. So, if you want to solve your issue, either all resolve your traffic goes through `'**':` through nexus uplink or allow verdaccio to connect

[2018-03-04 12:30] fadelguy commented on #616
You can see that i have config the file right:
'**':
proxy: nexus

and it not working

[2018-03-04 12:34] juanpicado commented on #616
Sorry, I did not see on my mobile the rest of the config file.
[code]

[2018-03-04 12:35] juanpicado commented on #616
Please do the following https://github.com/verdaccio/verdaccio/issues/571#issuecomment-366382208 and display more debug information.

[2018-03-04 14:08] fadelguy commented on #571
Hi,
I'm using verdaccio 2.7.0
my url link is HTTP and not HTTPS.
and it doesn't work for me
every time it trying to access to registry.npmjs.org:443

[2018-03-05 06:32] #557 closed

[2018-03-05 06:33] juanpicado commented on #269
@ayusharma any idea?

[2018-03-05 14:57] aremishevsky opened #621 "Support of NewRelic"
#### My reason:
Can someone add a possibility to require a "newrelic" package in your "src/api/index.js" before the setup of Logger like this:

`import newrelic from 'newrelic';`
`import express from 'express';`

And after the app creation please add:
`const app = express();`
`configHash.newrelic  ? app.locals.newrelic = newrelic : null`
`...`

Also please add a "newrelic" package as dependence.

[2018-03-05 14:58] aremishevsky commented on #621
![dev-npm-registry_-_new_relic](https://user-images.githubusercontent.com/32752187/36981651-63a6d002-2096-11e8-95a7-2cd20559c9aa.png)

[2018-03-05 17:20] aremishevsky commented on #621
I've found a way to require newrelic before the main application start.
Closing this issue. Sorry

[2018-03-05 17:20] #621 closed

[2018-03-05 20:42] ayusharma commented on #269
It is working fine in verdaccio-htpasswd@0.1.4

Ref: https://www.npmjs.com/package/verdaccio-htpasswd

@metodribic Please feel free to open, if issue persist.

[2018-03-05 20:42] #269 closed

[2018-03-05 21:04] ayusharma commented on #409
It is working fine in verdaccio-htpasswd@0.1.4

Ref: https://www.npmjs.com/package/verdaccio-htpasswd

Please feel free to open, if issue persist.

[2018-03-05 21:04] #409 closed

[2018-03-06 01:32] taylk808 commented on #611
@ayusharma @juanpicado you folks are right after a number of testing, ERR_EMPTY_RESPONSE is caused by bad configuration on NGINX reverse proxy.  Issue has been resolved.

[2018-03-06 01:32] #611 closed

[2018-03-07 11:03] arnederuwe opened #622 "The webinterface doesn't load when hosted with https as it tries to download scripts over http"
#### My reason:
I want to host the webinterface over https because of user credential security
#### Steps to reproduce:
I followed the exact same setup steps as described here: http://www.verdaccio.org/docs/en/iss-server.html
With the exception that I created a https binding using a wildcard certificate
I'm using IIS10 on Windows server 2016

Navigating to the web interface doesn't work. The index

[2018-03-07 11:10] ayusharma commented on #622
I am looking into it.

[2018-03-07 11:20] juanpicado commented on #622
@ayusharma he is using `2.1.0` ...

[2018-03-07 11:34] arnederuwe commented on #622
my mistake, i'm using the latest version, 2.7.4

[2018-03-07 12:07] ayusharma commented on #622
<img width="1280" alt="screen shot 2018-03-07 at 5 28 46 pm" src="https://user-images.githubusercontent.com/6918450/37091259-7f68ba42-222d-11e8-8af1-4dcbb0e9389a.png">

I setup verdaccio locally on https. It's working fine.

### Config
[code]

### Version
[code]

[2018-03-07 12:16] ayusharma commented on #622
@arnederuwe Please provide your IIS config / Proxies.

[2018-03-07 12:22] arnederuwe commented on #622
Are your css and js files loaded over https?
The only difference I see is that your config has the https configuration option set. But I thought IIS would handle this? (Am I wrong about this?)
I'm guessing you want to see my binding info in IIS, it's pretty standard, no subdirectory:
![image](https://user-images.githubusercontent.com/3369747/37092018-816effae-220a-11e8-81f5-c662d9247e1b.png)

[2018-03-07 12:33] ayusharma commented on #622
You are missing `url_prefix` property in verdaccio config.
[code]

[2018-03-07 12:36] arnederuwe commented on #622
Thank you! works like a charm
Thanks for the lightning-fast support 👍 (I owe you a beer)

[2018-03-07 19:23] juanpicado commented on #622
Perhaps we need to link this into the Windows page for future references. PR are welcome :-)

[2018-03-07 19:23] #622 closed

[2018-03-08 10:29] pgrzesik commented on #612
is that issue up for grabs or anyone is already working on it ?

[2018-03-08 10:37] ayusharma commented on #612
@pgrzesik Yes. this issue is up and you can start to working on it. :)

[2018-03-08 14:50] juanpicado commented on #612
We need to define first what we are covering so the migration is clean.

[2018-03-08 18:07] askz opened #625 "FATAL ERROR: CALL_AND_RETRY_LAST Allocation failed - process out of memory"
#### My reason: FATAL ERROR: CALL_AND_RETRY_LAST Allocation failed - process out of memory
#### Steps to reproduce: I don't know
#### App Version: 2.7.3
#### Config file:
[code]

#### Additional information:

 - `$ NODE_DEBUG=request verdaccio` display request calls (verdaccio <--> uplinks)
Nothing interesting, since I can't even make requests
 - `$ DEBUG=express:* verdaccio` enable extreme verdac

[2018-03-10 08:09] juanpicado commented on #625
That seems to be a particular node.js error https://stackoverflow.com/a/26094800/308341

[2018-03-11 14:42] danielgindi commented on #411
Not fixed, "dist-tags" always contains only "latest". Publishing "alpha", "beta", "rc", whatever - all end up in "latest".

[2018-03-11 15:18] juanpicado commented on #411
@danielgindi if you provide more detailed info. I'll be happy to dive into it.

[2018-03-12 08:29] danielgindi commented on #411
Okay so I tried getting a verdaccio instance up and running,
Then publishing "package@1.0.0".
At this stage,
`dist-tags` looks like this:
[code]

Now we're publishing "package@1.0.1-alpha.1",
and `dist-tags` looks like this:
[code]

So it's not only that the `latest` tag updates with tagged versions,
It's that the actual tags are not created, and we're left with only `latest`.

Tried with 2.7.4 an

[2018-03-12 08:38] juanpicado commented on #411
Ok, you are missing the commands that you are using in order to publish. I'll assume is something like this:

[code]
the outcome of that is
[code]
you are right. Then you publish again
[code]
Am I wrong? If you are doing that, `npm` use the tag `latest` as **default**.

The point is, if you want a new tag you have to specify it. Like this

[code]
Then the outcome becomes like this

[code]
Is that

[2018-03-12 08:44] danielgindi commented on #411
I do not actually specify the version in the `publish` command, it is specified in the `package.json`.
It is my understand that the tag in `npm` is deduced from package.json automatically, am I wrong?

[2018-03-12 08:56] danielgindi commented on #411
Yeah so that's what's not working. If `package.json` specified `{"version":"1.0.0-alpha.1"}`, it is still published to `latest`.
Now I read npm documentation again, and they do say that `--tag alpha` should be specified in this case.
It's weird that semver's tag part lives in a different namespace than the `dist-tags`, but I'm okay with that as it actually gives me more flexibility.

You made thin

[2018-03-12 12:03] stefanedberg commented on #402
I'm having a similar issue:

Logging in:

[code]

Trying to unpublish:
[code]

My verdaccio config:
[code]

http://registry.address.com:4873/#/detail/test-package exists

[2018-03-13 13:53] janerikmai commented on #594
From which version did you migrate from to what version?

Regards

[2018-03-13 15:21] Dharmender-Singh commented on #594
From 2.3.x to 2.7.4...

[2018-03-14 03:09] wghust opened #627 "shasum check failed"
version: 2.7.4

when I install a package from npm, I got the problem below.

![image](https://user-images.githubusercontent.com/3960935/37381418-0b0e0968-2778-11e8-8af2-1638c109444b.png)

[2018-03-14 04:53] juanpicado commented on #627
I’ve seen that before, but, I do no think is a verdaccio issue. Most likely a npm. Please clean your cache an let reopen wether you are sure verdaccio causes that.

[2018-03-14 04:53] #627 closed

[2018-03-14 04:58] juanpicado commented on #594
You are mentioned an issue was solved ... which one?

[2018-03-14 09:55] Dharmender-Singh commented on #594
@juanpicado  : This error :

`npm install] npm ERR! fetch failed http://verdaccioIP/babylon/-/babylon-7.0.0-beta.0-ranges.tgz
[17:21:53][npm install] npm WARN retry will retry, error on last attempt: Error: fetch failed with status code 404
[17:22:05][npm install] npm ERR! fetch failed http://verdaccioIP/babylon/-/babylon-7.0.0-beta.0-ranges.tgz
[17:22:05][npm install] npm WARN retry will retry, e

[2018-03-14 10:19] juanpicado commented on #594
I meant

**we found that this bug is resolved** ?

[2018-03-14 10:53] Dharmender-Singh commented on #594
Sorry

https://github.com/verdaccio/verdaccio/issues/289

[2018-03-15 00:57] one-humble-cranberry opened #628 "Authentication fails when username equates to 0"
Completely debugged this - will probably pull request a fix.

A username of any number of 0's will fail to authenticate (for context, I have a user 000 in my LDAP)

Here's why:

https://github.com/verdaccio/verdaccio/blob/master/src/lib/auth.js#L87
[code]

In the future, please always avoid "==" and "!=" - there are many resources online that will explain this in detail, but they are a huge source

[2018-03-15 04:28] juanpicado commented on #628
Hi, thank for the detailed explanation, I will be happy to see a PR. However, the code was inherited by Sinopia as completely disaster and last year we have tried to bring good practices to verdaccio, it is still WIP so your contribution is very welcome.

[2018-03-15 06:00] juanpicado commented on #625
Please, reopen whether issue persists.

[2018-03-15 06:00] #625 closed

[2018-03-15 06:01] #485 closed

[2018-03-15 06:03] #582 closed

[2018-03-15 06:05] juanpicado commented on #343
I don't think I will work on this. If someone thinks is a good idea and is willing to contribute, please reopen.

[2018-03-15 13:18] one-humble-cranberry commented on #628
I see, makes sense - legacy code is always a pain point - I would be happy to make the change.

I was thinking as well, there is probably a reason to check for falsey values, not just strictly arrays. To avoid creating more bugs from this fix - I would recommend something like this:

[code]

[2018-03-15 18:47] juanpicado commented on #628
I'd like to know your reasons.

Many plugins are legacy, we need to be careful here.

Just as a note, we have to add some unit test for such edge cases.

[2018-03-15 20:42] juanpicado commented on #585
Well,  I understand your issue, but, I do not have any possible solution in mind. This clearly sounds like customized workflow.

unregistered users are not allowed to access package fbjs : fbjs

Verdaccio is not aware of dependencies, `npm`/`yarn` handle that part. We do not collect relationships between packages. Just fetch, storage and handle restrictions for single packages.

Yeah, it's annoyin

[2018-03-15 20:42] #585 closed

[2018-03-15 20:51] juanpicado commented on #437
@mlurker

Yes, there are two options. Either use `cache` to do not download tarballs or do not define `proxy` on package definition, that will avoid look up for metadata on any registry.

http://www.verdaccio.org/docs/en/uplinks.html#you-must-know

Closing, it seems you have resolved your issue.

[2018-03-15 20:51] #437 closed

[2018-03-15 21:10] juanpicado commented on #429
The mystery is whether you do not include `**` the app will do it for you. So, I recomend always include '**' .

http://www.verdaccio.org/docs/en/packages.html#blocking-proxying-a-set-of-specific-packages

[2018-03-15 21:10] #429 closed

[2018-03-15 21:16] juanpicado commented on #362
If this happens again, please read how to debug uplinks and reopen this ticket. https://github.com/verdaccio/verdaccio/wiki/Running-and-Debugging-tests#unpliks-debug

[2018-03-15 21:16] #362 closed

[2018-03-15 21:17] juanpicado commented on #594
@Dharmender-Singh could you describe your environment?

[2018-03-16 03:30] one-humble-cranberry commented on #628
Yes yes! I was just looking at how to add testing for this - I will add the suite (I believe it should be in auth.spec.js?) Don't worry I won't submit any pull request without some form of testing!!

And yes that's what I was thinking - do you have a specification for what this is actually looking for? I will be sure to add comments about what is expected, and why certain cases are looked for.

To

[2018-03-16 12:10] Dharmender-Singh commented on #594
Centos 7
AWS EC2 Instance

[2018-03-16 12:21] juanpicado commented on #594
Well, I was expecting more info, somehow

I will suggest do two things in order to display more verbose.

1. https://github.com/verdaccio/verdaccio/wiki/Running-and-Debugging-tests#unpliks-debug
2. Enable verbose http://www.verdaccio.org/docs/en/logger.html

Then you will be able to display more information on your server side, without that, I cannot do that much to help you.

You could  add verda

[2018-03-16 16:19] binarious commented on #594
Having the same problem.
Error in yarn:
[code]
Error in verdaccio with logs set to `trace`:
[code]
My `package.json`:
[code]
I don't know how to run Verdaccio's Debugging Tests in my Docker installation.

[2018-03-16 17:07] juanpicado commented on #594
The reason that version does not exist not even on npm registry.

[code]
and just do

http://registry.npmjs.org/babylon/-/babylon-7.0.0-beta.0-ranges.tgz

[code]
btw, that string only exists on the `time` property.

[code]

Unfortunately, this is not a verdaccio issue, you will need to ask babel team instead.

[2018-03-16 17:07] #594 closed

[2018-03-16 17:18] juanpicado commented on #494
@gitadept did you solve your issue? any update?

Your environment is quite different as usual so I have no idea how to reproduce this problem.

[2018-03-16 19:46] juanpicado commented on #385
Well, after diving into this report, you are right, we hit the uplinks whether you have any configured. So,  this is intended since original sinopia, but, we can improve it.

I think we need a few discussion how to address this topic.

cc: @ayusharma

[2018-03-16 19:47] juanpicado commented on #191
I'll close it, follow up here https://github.com/verdaccio/verdaccio-htpasswd/issues/4

[2018-03-16 19:50] #182 closed

[2018-03-16 20:56] juanpicado commented on #208
Actually, you can do that without any change, **just do not define any proxy** and follow this http://www.verdaccio.org/docs/en/packages.html#blocking-proxying-a-set-of-specific-packages

I'm afraid we cannot do it, the reason is how the node package managers work. Check the following log.

[code]

You might appreciate there are two endpoint calls. First one request all metadata for such package,

[2018-03-16 20:56] #208 closed

[2018-03-16 20:59] juanpicado commented on #287
I think #74 has the answer. Closing this one.

[2018-03-16 20:59] #287 closed

[2018-03-16 21:07] juanpicado commented on #375
@gengshenghong I'll close this one and follow up on https://github.com/verdaccio/verdaccio/issues/345 which is the same thing. We have to update the library `"lunr": "0.7.0"` for something better.

[2018-03-16 21:07] #375 closed

[2018-03-17 02:18] one-humble-cranberry commented on #628
Um - not sure what to make of this - I forked, and ran `yarn` `yarn run test` - and received this output. What am I doing wrong.
<img width="581" alt="screen shot 2018-03-16 at 10 17 28 pm" src="https://user-images.githubusercontent.com/36286778/37550680-e08c19b8-2967-11e8-80a4-0476cdf2c7a3.png">

[2018-03-17 02:22] lgaitan commented on #357
Is anyone responsible for this feature request? I'd be happy to work on it

[2018-03-17 06:21] juanpicado commented on #357
Be my guest :-) all yours

[2018-03-17 07:17] juanpicado commented on #628
@one-humble-cranberry https://gitter.im/verdaccio/development let's talk there whether you have issues with the stack

[2018-03-17 07:22] juanpicado commented on #610
Actually, without `lodash` (I created a stub) is super fast

[code]
vs `lodash_v4.x.x.js`

[code]

[2018-03-18 15:09] #587 closed

[2018-03-19 09:46] binarious commented on #594
Fixed it: https://github.com/babel/babel/issues/7595#issuecomment-374154755
/cc @Dharmender-Singh

[2018-03-19 09:51] binarious commented on #594
@juanpicado But I'm still confused why I have to manually delete the package.json of the babylon folder. Verdaccio should have updated it, shouldn't it?

[2018-03-19 09:57] juanpicado commented on #594
If you remove the `package.json` is gonna be created again afterward when someone fetch for `babylon`.  verdaccio is just a proxy, we get metadata from any uplink, in your case, npmjs.

[2018-03-20 23:44] rkent commented on #451
I've been working on this issue recently. Our application is in a prison software teaching environment, where the students do not have access to the internet, but need to be able to run npm to install packages.

I have a script that I run, see https://github.com/Caspia/npm-populate  (Caution that repo is really designed for our very specific use, so it is more of an example than something others c

[2018-03-21 07:36] ayusharma commented on #542
@wporta @juanpicado

I tried to reproduce above error in Fedora, but could not run Jest. It was giving me some Port error on docker. I'll try it on Fedora later on.

In Ubuntu, with es_NI.utf8 locales, everything seems fine.
[code]

[2018-03-21 07:38] juanpicado commented on #542
This error has been reported for another person with locale DE. I think we should not rely on locale.

[2018-03-21 07:39] juanpicado commented on #542
The test is disabled in master branch btw.

[2018-03-21 07:42] ayusharma commented on #542
I enabled the test and tried to reproduce after that.

Yes. Changing the implementation would be a better approach. Let me try to solve this.

[2018-03-23 05:21] bochen2014 commented on #336
got the same issue

I'm using `verdaccio/verdaccio:latest`,  a `docker inspect` returns me
` "Image": "sha256:cab129e3f6f63e154a1cebafb057049b5f826476f29cf4a9de0a174628b60b4b",`
The command i used to start `verdaccio` is
1. `docker create --name tmp  verdaccio/verdaccio`
2. `docker cp tmp:/verdaccio  /opt`  this will copy the `/verdaccio` fold out
3. I made a small change to `/opt/verdaccio/conf/c

[2018-03-23 05:22] bochen2014 commented on #336
@juanpicado can you please re-open this issue? thanks

[2018-03-23 05:24] juanpicado commented on #336
Let's investiage.

[2018-03-23 05:32] bochen2014 commented on #336
ok. I think there is something wrong in the `.dockerfile`.

this is what did
1. define a dockerfile (use the same pattern as in verdaccio)
[code]
2.  `docker build -t bo-busybox .`
3. `docker run --rm -it -v /opt/verdaccio:/verdaccio  bo-busybox`
[code]

[2018-03-23 08:36] bochen2014 commented on #336
figured it out. see [this](https://github.com/docker-library/redis/issues/7#issuecomment-52240915)

reason is that when doing bind mount, docker wont' change the owner of the host dir.
in docker file, owner of `/verdaccio` is set to `verdaccio:verdaccio`(100:100), but on my host machine (a ubuntu), default user:group is 1000:1000 which is node:node in the container.

if I do a `chown -R 100:101 /o

[2018-03-23 09:00] ayusharma commented on #379
Can I start to work on this issue again ? It was dropped earlier. It's in milestone 3.0.0

[2018-03-23 18:03] ayusharma commented on #379
Yes. We can wait. 👍

[2018-03-23 18:07] juanpicado commented on #336
What is the different between gosu and https://github.com/Yelp/dumb-init approach? I'm not docker expert.

[2018-03-23 18:36] mauron85 commented on #341
@juanpicado do I understand it correctly, that verdcaccio package and it's dependencies are installed directly into container into folder:  /usr/local/app
and configuration and storage for cached npm packages is on volume `/verdaccio`?

[2018-03-23 19:31] juanpicado commented on #341
Yeah, you are right according to the Dockerfile

[code]

[2018-03-23 19:57] juanpicado commented on #336
I think this might be related https://github.com/verdaccio/verdaccio/issues/532

[2018-03-24 10:36] bochen2014 commented on #336
sorry for the late response.

my understanding of `gosu` and `dumb-init` is that they are totally two different things.
1. `gosu` is a go implementation of `sudo/su` , the purpose is to achieve `sudo/su` without all the messy configurations in different flavour of linux (e.g. setting up user shell). If you are familiar with the flavor of linux you are running on, you don't need `gosu`
2. `dumb-ini

[2018-03-24 11:04] juanpicado commented on #336
Brilliant explanation. Do you think we should update docs in some way?

[2018-03-24 11:13] bochen2014 commented on #336
maybe just drop a line saying :
*since verdaccio runs as a non-root user (uid=101, gid=101)  inside the container, if you use bind mount to override the default config, you need to make sure the mount directory is assigned to the corresponding user. For example: if you want to mount `/opt/verdaccio` from your host as the `/verdaccio` in container ,you need to run `sudo chown -R 101:101 /opt/verdac

[2018-03-24 11:27] juanpicado commented on #336
Thanks so much, If you want to PR :-) would be great.

[2018-03-24 12:32] bochen2014 commented on #336
not a problem at all. [PR#635](https://github.com/verdaccio/verdaccio/pull/635) created.

Thanks for building such a useful tool for the community :+1:

[2018-03-24 12:50] juanpicado commented on #336
Thanks @bochen2014 🥇

[2018-03-24 12:50] #336 closed

[2018-03-24 16:47] Meeeeow commented on #379
Disagree, see https://github.com/verdaccio/verdaccio/pull/380#issuecomment-339754364

[2018-03-24 19:24] #542 closed

[2018-03-25 06:58] juanpicado commented on #379
Well, we all need to be agreed on this, it's a huge change.

[2018-03-26 15:42] johnmcase opened #638 "Bad links in IIS install instructions"
#### My reason:
Trying to install Verdaccio on IIS using instructions at http://www.verdaccio.org/docs/en/iss-server.html

#### Additional information:
Bad links in documentation in second bullet point from top:
[package.json](https://github.com/verdaccio/verdaccio/wiki/Installing-on-IIS-server#packagejson),
[start.js](https://github.com/verdaccio/verdaccio/wiki/Installing-on-IIS-server#startjs),

[2018-03-26 15:47] juanpicado commented on #638
Thanks for reporting. Do you have any idea how to fix them?

[2018-03-26 15:48] johnmcase commented on #638
Nope.  I was hoping you still had the files that these links used to point to

[2018-03-26 15:52] juanpicado commented on #638
Actually, the links should be an anchor instead of files links. Files are defined just below

http://www.verdaccio.org/docs/en/iss-server.html#packagejson
http://www.verdaccio.org/docs/en/iss-server.html#startjs
http://www.verdaccio.org/docs/en/iss-server.html#webconfig

[2018-03-26 15:55] johnmcase commented on #638
Geez, I can't believe I didn't notice that.  Yeah, I'll make a PR.

[2018-03-26 16:21] #638 closed

[2018-03-27 15:37] jomel commented on #411
@danielgindi Has this been fixed? The issue is closed since 28 Jan, but on 12 Mar you seem to suggest that it's still not working...

[2018-03-27 19:01] juanpicado commented on #411
@jomel AFAIK is fixed.

[2018-03-28 12:50] aremishevsky opened #640 "Missing readme data inside a registry for external packages"
Hey guys.

I've noticed that we have missing Readme data of some packages (including verdaccio package) inside a registry:

{registry-url}/#/detail/verdaccio
{registry-url}/-/verdaccio/package/readme/verdaccio
{registry-url}/-/verdaccio/package/readme/react
{registry-url}/-/verdaccio/package/readme/redux
As result we have `<p>ERROR: No README data found!</p>`
But they exists and showing up on npmj

[2018-03-28 17:45] juanpicado commented on #640
@aremishevsky could you provide more info, version, etc.

[2018-03-28 18:04] aremishevsky commented on #640
Version is 3.0.0.beta-5

Verdaccio package
<img width="1165" alt="_local__npm_registry___chegg_" src="https://user-images.githubusercontent.com/32752187/38047463-4ca8fda2-32cb-11e8-8a68-a2df8d6e9b37.png">

React package
<img width="1171" alt="_local__npm_registry___chegg_" src="https://user-images.githubusercontent.com/32752187/38047493-62ec4be6-32cb-11e8-93a7-a45b10732b1c.png">

However Lodash pa

[2018-03-28 18:05] juanpicado commented on #640
Thanks @aremishevsky for details. I'll take a look 👍

[2018-03-30 21:56] juanpicado commented on #640
For some reason when we parse `body = JSON.parse(body.toString('utf8'));` https://github.com/verdaccio/verdaccio/blob/master/src/lib/up-storage.js#L162 just wipe out the readme (HTML), I'm still do not understand.

[2018-03-30 22:03] juanpicado commented on #640
It seems only the new ones has this issue. It also affects branch `2.x`.

[2018-03-31 07:26] juanpicado commented on #640
Even on the browser is not able to parse the `readme`. Just try. 🤕
[code]

[2018-03-31 13:33] juanpicado commented on #640
Ok, I just figured out.

[code]

vs

[code]

npmjs is returning a different metadata format, I did not notice that. Now we need to find a way to get the `readme` from the latest tag instead, we cannot rely readme would be in the root of the metadata

[2018-04-02 08:44] aremishevsky commented on #640
@juanpicado maybe we should get the readme data from the global level of response (like it is now) and overriding it by the lates tag's readme (if it's set and not empty) ...

I mean not just get the readme from the lates tag - but try to get it from both places (latest tag's readme should have a higher priority)
So that your fix could cover both packages versions structure (old and new)

What do

[2018-04-02 08:51] juanpicado commented on #640
I've been thinking about such approach, make sense for me. The problem is, npmjs is inconsistent, sometimes the latest version does not contain readme at all and the same in the root, the readme is empty (but not missing), but, if you go through recent versions, they have readme.

So, I right now I cannot guarantee readme is gonna be displayed from npmjs. I'd wait until npmjs response for a while,

[2018-04-03 08:49] grrowl opened #643 "403 for non-authentication errors when authentication is required"
#### My reason:

With package names matching `access:` and `publish: $authenticated`:

* `npm publish` with an already published version returns an E403
* `npm view <package>` or `npm info` fails

Running version 3.0.0-beta.5 from the official docker image in kubernetes

#### `npm publish`

[code]

#### `npm view`

[code]

#### relevant `config.yaml`

[code]

[2018-04-03 19:29] #191 closed

[2018-04-03 19:55] juanpicado commented on #195
https://github.com/verdaccio/verdaccio/releases/tag/v3.0.0-beta.6 includes ** bcrypt support**

[2018-04-04 16:52] kneczaj opened #645 "Some packages do not download"
This might be a question, or issue specific to my setup but is very strange, so any help appreciated :)

#### My reason:
I use verdaccio with docker. I tried both https and http to query registry.npmjs.org. For now I would like just to have verdaccio to cache public packages.

**Currently I use http** as I had some other problems with https.

I have set up registry with `npm set registry` to verda

[2018-04-04 17:44] #610 closed

[2018-04-04 17:45] juanpicado commented on #610
@ryyppy with Flow 0.69.0 flies again 🚀 🚀 🚀 🚀 . No more concerns with Flow anymore 👍

[2018-04-09 10:18] aminechir opened #649 "Verdaccio don't work anymore with npm 5.8.0 ??????"
With npm 5.8.0

In a  console, I run verdaccio

In another console, when I try the command

 npm adduser --registry  http://localhost:4873

I get this error message:

npm ERR! code E503
npm ERR! Registry returned 503 for POST on http://localhost:4873/-/v1/login

[2018-04-09 11:12] kneczaj opened #650 "Verdaccio's runner is dependent on working dir"
#### My reason:
Verdaccio does not start with main runner file.
#### Steps to reproduce:
Installation:
`$ npm install -g verdaccio`

I am running verdaccio with command prompt:
`$ verdaccio`

#### Result
[code]

#### App Version:
verdaccio@3.0.0-beta.6

#### Config file:
not needed

#### Additional information:
 - Which (Windows, OS X/macOS, or Linux) environment are you running verdaccio?:
RHEL 7

[2018-04-09 11:45] aminechir commented on #649
Thank you for you answer; Here are your requests:

============================================
Environement
============================================

Windows 7
No docker
No Kubernetes

I am behind a proxy, here is my .npmrc:

bin-links=true
proxy=http://<myproxyadress>:<myproxyport>/
https-proxy=http://<myproxyadress>:<myproxyport>/
http-proxy=http://<myproxyadress>:<myproxyport>/
python=C:/P

[2018-04-09 13:28] kneczaj commented on #645
Hey! I am debugging the issue, and I see that I have some network problems (maybe some traffic filtering or whatever). It looks like I get random 404 when verdaccio asks http://registry.npmjs.org/.

It looks like verdaccio caches the response (404 error) and later always returns that the packet is unavailable without rechecking it at http://registry.npmjs.org/. Finally it rechecks when I restart v

[2018-04-09 15:32] helmutgranda opened #652 "Fine line in ToS by using Verdaccio instead of NPM Enterprice?"
We are considering using Verdaccio for our company, however we are concerned of breaking any TOS. Is there a place where we can confidently say we are not breaking any rules set by NPM Enteprise?

https://www.npmjs.com/enterprise

[2018-04-09 15:39] juanpicado commented on #652
Sorry, What TOS means?

[2018-04-09 15:42] juanpicado commented on #649
I'll debug later, I'll let you know @aminechir

[2018-04-09 15:53] jbeard4 commented on #652
Terms of Service

[2018-04-09 18:29] helmutgranda commented on #652
Hi Juan,

I am reaching out to NPM directly to ensure we would not be breaking any rules, honestly I undestand NPM needs to make money to support their platform so it makes sense that they try their best to sell their Enterprise platform instead of just encouraging users to roll their own.

I just want to make sure the company I work for is protected if we were to make the recommendation to use ve

[2018-04-10 06:41] juanpicado commented on #652
Hi @helmutgranda

I think many companies are using verdaccio with no fear, including previous companies I've worked on.

Furthermore, **I don't think you are breaking any rule using verdaccio on an enterprise environment** because verdaccio is not the unique solution available (but is the best one of course 😃 ) you can see this [similar things list](https://github.com/verdaccio/verdaccio/blob/2a51

[2018-04-10 07:00] juanpicado commented on #643
We are lacking contributors lately, but I'm aware of your issue. I hope someone else can help you in the meantime.

[2018-04-10 07:01] juanpicado commented on #645
We are lacking contributors lately, but I'm aware of your issue. I hope someone else can help you in the meantime.

[2018-04-10 07:02] juanpicado commented on #650
`npm install -g verdaccio` does not install `beta`, perhaps you meant `npm install -g verdaccio@beta` ?

[code]

[2018-04-10 07:07] juanpicado commented on #649
It works for me as well.

[2018-04-10 07:09] aminechir commented on #649
Ok. Do you think the proxy could involve a problem ?

[2018-04-10 07:24] juanpicado commented on #649
First, How your environment looks like ?

[2018-04-10 07:32] aminechir commented on #649
All my env is described in my first response.

Windows 7 + npm 5.8.0 + verdaccio 2.7.4

I launch the server with **verdaccio**
When i try the command **npm adduser --registry http://localhost:4873/**

I get this error message

`npm ERR! code E503
npm ERR! Registry returned 503 for POST on http://localhost:4873/-/v1/login`

[2018-04-10 07:41] juanpicado commented on #649
Yeah, I read that, but, you are mentioning a proxy ... are you behind a proxy ?

[2018-04-10 07:47] aminechir commented on #649
Yes i used the command

npm config set proxy <my proxy adress>:<my port>
npm config set http-proxy <my proxy adress>:<my port>
npm config set https-proxy <my proxy adress>:<my port>

[2018-04-10 07:57] juanpicado commented on #649
Still , works for me using `npm 5.8.0` and `verdaccio@2.7.4`
[code]
verdaccio log server

[code]

Please, increase log on verdaccio http://www.verdaccio.org/docs/en/logger.html and share the outcome.

[2018-04-10 08:08] aminechir commented on #649
When I run the server, the following logs appear:

`{"name":"verdaccio","hostname":"ACSLRD16216","pid":11208,"level":30,"content":"htpasswd","msg":"Plugin successfully loaded: @{content}","time":"2018-04-10T08:04:23.056Z","v":0}
{"name":"verdaccio","hostname":"ACSLRD16216","pid":11208,"level":40,"addr":"http://localhost:4873/","version":"verdaccio/2.7.4","msg":"http address - @{addr} - @{version}"

[2018-04-10 08:43] juanpicado commented on #649
So, clearly, you are not hitting verdaccio server with `npm`. It might be your npm configuration or something else in your env that you will need to check by yourself. Also, you might try with `yarn`.

 I'lll close this since is not a verdaccio issue.

[2018-04-10 08:43] #649 closed

[2018-04-10 08:53] aminechir commented on #649
I tried something else:

I first run the command `npm config set registry http://localhost:4873/`
Then i run `npm adduser`

In this way, i get a response from the server :

` http --> ERR, req: 'GET https://registry.npmjs.org/npm', error: connect ETIMEDO
UT xxxxxxxxxxxxxxxxxxx
 http <-- 404, user: undefined(127.0.0.1), req: 'GET /npm', error: no such packa
ge available
 http --> ERR, req: 'GET htt

[2018-04-10 08:56] jachstet-sea commented on #649
connection timeouts usually mean that verdaccio is not using your proxy server to connect to the remote. Make you sure you set the environment variables "http_proxy", "https_proxy" and "no_proxy" correctly before starting verdaccio

[2018-04-10 17:35] robbybooker opened #653 "Using Docker"
I hope that this is the place for Verdaccio queries. I'm having trouble working out what the convention is when using Docker. The verdaccio/verdaccio image works fine but I'm unable to use apk inside it (I get message `ERROR: Unable to lock database: Permission denied` etc) in order to install eg nano in order to edit the auto-created config.yaml, and if I copy in my own config.yaml (using the Doc

[2018-04-10 18:29] juanpicado commented on #653
Hi @robbybooker

Something like this?

http://www.verdaccio.org/docs/en/docker.html#running-verdaccio-using-docker

Have you seen https://github.com/verdaccio/docker-examples already?

[2018-04-10 19:59] juanpicado commented on #645
@kneczaj thanks for dive in to it.
 `max_fails = 2` has been there for a long time and if you consider we might suggest increasing this value for other scenarios you may PR a new section in uplinks doc pages. What do you think?

[2018-04-10 20:44] juanpicado commented on #473
I'm am orking on it already.

[2018-04-10 20:46] juanpicado commented on #472
@mohsen1 it would be great to have either a guide, docs or something to show people how to do it.

btw. I'm working on Google Cloud plugin https://github.com/verdaccio/verdaccio/issues/473

and I think @ayusharma was experimenting with Amazon S3 as storage.

[2018-04-11 14:10] helmutgranda commented on #652
Hi @juanpicado,

I heard back from NPM Sales team and I must say that they confirmed the assumption:

`Using Sinopia or Verdaccio doesn't break any rules or TOS`

There was more content in their email but in short that is what I was looking for. I must say that it is nice that they did not push their Enterprise platform but rather provide help and information.

Thanks again for creating this amazi

[2018-04-11 14:10] #652 closed

[2018-04-11 14:11] juanpicado commented on #652
I'm glad to hear that :) Enjoy Verdaccio ! Kudos to npm Inc !

[2018-04-11 16:06] aremishevsky commented on #640
Hi @juanpicado .
Could you please take a look on a fix here?
https://github.com/verdaccio/verdaccio/pull/654

[2018-04-11 16:14] juanpicado commented on #640
@aremishevsky  I'll check it out.

[2018-04-12 14:20] mcmillhj-wta opened #655 "List all versions of a package in Web UI"
### Question
Is there a way to see all published versions of a single package in the Web UI? Currently I can only see the latest version that was published in Verdaccio.

This is how versions appear on npmjs:

![screen shot 2018-04-12 at 10 17 11 am](https://user-images.githubusercontent.com/20663938/38683105-b2eb474e-3e3a-11e8-9115-4b9644635f99.png)

When making a GET request for my package, I ca

[2018-04-12 15:03] mcmillhj-wta commented on #655
@juanpicado Is this something you all would want a hand with? I am happy to submit a PR.

[2018-04-12 15:12] securedeveloper commented on #655
Hey @mcmillhj-wta If you already have prepared something for this please do so, else I'm gonna do it at my earliest.

[2018-04-12 15:54] mcmillhj-wta commented on #655
So it looks like this is already done?

When I build the docker image from the latest commit, I see a sidebar with version history:

![screen shot 2018-04-12 at 11 53 25 am](https://user-images.githubusercontent.com/20663938/38688883-32b3bf08-3e48-11e8-90e3-4167a7559e9f.png)

[2018-04-12 15:55] juanpicado commented on #655
Were you testing on `v2`?

[2018-04-12 15:56] mcmillhj-wta commented on #655
No, it looks like `master` points to `3.0.0-beta.6`

[2018-04-12 16:03] juanpicado commented on #655
I meant, when before you reported the issue.

[2018-04-12 16:43] mcmillhj-wta commented on #655
Oh sorry, yes I assume so. It was the latest Docker image when I pulled `verdaccio/verdaccio`

[2018-04-12 16:45] mcmillhj-wta commented on #655
but as long as I can see the versions I am happy to pull either the beta or alpha channel.

[2018-04-12 17:22] #655 closed, assigned to nobody

[2018-04-13 10:47] robbybooker commented on #653
Thanks Juan! I've been a bit snowed under with work this week but hopefully I can get back onto this next week :D

[2018-04-13 20:57] p3x-robot opened #656 "verdaccio prune"
Hello,

How are you?
I am Debian Testing and latest all NODE version current.
Everything is fine, just I haven't found how to prune the old data.
Is there anyway to simply prune all packages?

Thanks,
p3x-robot

[2018-04-14 21:03] juanpicado commented on #656
@p3x-robot no, currently there is not such thing. The closest thing to it is https://github.com/verdaccio/verdaccio/issues/343

[2018-04-16 11:57] #656 closed

[2018-04-16 12:03] juanpicado commented on #343
I'll reopen in case someone is interested on work on it.

[2018-04-17 11:53] #377 closed

[2018-04-19 09:24] binarious commented on #301
Having this issue with the latest docker image (sha256: 122111476bf8e6f397de4babb3cd45390b3d3ecc8bd60ec385d01bafd4ce358f).

Any ideas?

[2018-04-19 11:15] pk002 opened #661 "npm install babel-plugin-import --save Error"
npm ERR! 404 not found:@babel/helper-module-imports@^7.0.0-beta.34

[2018-04-19 11:17] juanpicado commented on #661
https://raw.githubusercontent.com/verdaccio/verdaccio/master/.github/issue_template.md

[2018-04-19 11:28] jachstet-sea commented on #661
I've just had the same issue last week and was able to solve it today:
- Make sure you have the latest (2.x) version of verdaccio)
- Remove the affected package from the storage so it will be re-downloaded
- Retry :)

[2018-04-19 15:06] maximelebastard opened #662 "Unable to install the bitbucket plugin using Docker"
#### My reason

Use Verdaccio with a Bitbucket Auth, and through the Dockerfile of my tooling server

#### Steps to reproduce

* Edit the Dockerfile to add the plugin installation step
./verdaccio/Dockerfile
[code]
* Run the and launch the container

docker-compose.yml
[code]

[code]

* Get this error

[code]

#### App Version

latest (2.7 I guess from Docker hub)

#### Config file

[code]

#### A

[2018-04-19 15:53] danielo515 commented on #509
To be honest, is very disappointing how npm changes things on minor versions that totally breaks functionalities.
I have been suffering hughe problems on my CI environments because this silently changing features

[2018-04-19 19:01] nathantreid commented on #586
I am also experiencing this issue (running Verdaccio 2.7.4).
I'm not sure if it's considered a bug in npm or in verdaccio, but for me `npm update` works fine up to the last release of npm 4. Once I update to npm 5, `npm update` fails with the message:
[code]
Here's the referenced log file:
[2018-04-19T18_44_56_495Z-debug.log](https://github.com/verdaccio/verdaccio/files/1929391/2018-04-19T18_44_56

[2018-04-19 19:03] nathantreid commented on #586
I've "fixed" the issue for myself just now by setting always auth to true in my `npm config`: `//myNpmAddr/:always-auth=true`. It defaults to `false` and for some reason authenticates on installs but not on updates.

[2018-04-19 19:19] juanpicado commented on #662
I'm not a Docker expert, but the error is clear.  There is not yet an official approach to use plugins in Docker containers, have you check these implementations already http://www.verdaccio.org/docs/en/docker.html#docker-custom-builds ?

[2018-04-20 05:26] juanpicado commented on #586
Thanks @nathantreid . I think we should document it in the website.

[2018-04-20 05:26] #586 closed

[2018-04-20 19:52] motherwaym commented on #301
@binarious I'm thinking this is a slow network connection issue. The default timeout of 30s might be too short: http://www.verdaccio.org/docs/en/uplinks.html

Although, if I set it to 1s, I see "error: ESOCKETTIMEDOUT"  in the logs, whereas for this intermittent issue, I don't get anything in the logs. Almost seems like a client issue.

[2018-04-21 09:06] kneczaj commented on #645
I think surely you need to increase it. Considering often ESOCKETTIMEDOUT errors reported by many users in environments which normally work on daily basis, value of 2 is not enough.

My proposition is:
1) to put `max_fails = 50` by default, with a link to this issue as the reason (cause this is in official
 request/request project) https://github.com/request/request/issues/2738
2) to inform user i

[2018-04-24 12:39] mdfirozansari opened #664 "Only package.json being saved in storage/<npm-package-name> for public package"
after running the following command
npm i composer-common

only packge.json file is created under following directory.
[code]
If I run the 'ls' command , I am only getting the package.json file. No other *.tgz file is created for composer-common package. Because of this reason 'npm i composer-common' is failing when there is not Internet connection.

Here is my configuration:
npm@5.8.0
node@v8.11.

[2018-04-24 19:53] juanpicado commented on #664
You are missing which verdaccio version are using

[2018-04-25 06:07] mdfirozansari commented on #664
I am using verdaccio version 2.4.7. Here is the output when I am running verdaccio.

firoz@firoz-ThinkPad-W520:~/fabric-tools$ verdaccio
 warn --- config file  - /home/firoz/.config/verdaccio/config.yaml
 warn --- http address - http://localhost:4873/ - verdaccio/2.7.4
 http <-- 200, user: undefined(127.0.0.1), req: 'GET /', bytes: 0/642
 http <-- 304, user: undefined(127.0.0.1), req: 'GET /-/stat

[2018-04-25 06:11] juanpicado commented on #664
Please. Do this `npm install composer-common -ddd --registry http://localhost:4873` and share the outcome. The log you just posted does not indicate any vrdaccio activity.

 I'm just assuming you are running verdaccio locally, update domain in your specific case.

[2018-04-25 06:15] mdfirozansari commented on #664
Here is the output of npm install composer-common -ddd --registry http://localhost:4873 command

firoz@firoz-ThinkPad-W520:~$ npm install composer-common -ddd --registry http://localhost:4873
npm info it worked if it ends with ok
npm verb cli [ '/home/firoz/.nvm/versions/node/v8.11.1/bin/node',
npm verb cli   '/home/firoz/.nvm/versions/node/v8.11.1/bin/npm',
npm verb cli   'install',
npm verb cli

[2018-04-25 06:16] mdfirozansari commented on #664
The verdaccio console output is

 warn --- config file  - /home/firoz/.config/verdaccio/config.yaml
 warn --- http address - http://localhost:4873/ - verdaccio/2.7.4
 http <-- 200, user: undefined(127.0.0.1), req: 'GET /', bytes: 0/642
 http <-- 304, user: undefined(127.0.0.1), req: 'GET /-/static/main.54a8238b472a2df05ec1.js', bytes: 0/0
 http <-- 200, user: undefined(127.0.0.1), req: 'GET /-/sta

[2018-04-25 06:27] juanpicado commented on #661
Works for me. Just follow @jachstet-sea recomendations and you are good.

![screen shot 2018-04-25 at 8 26 45 am](https://user-images.githubusercontent.com/558752/39229293-70df46e8-4862-11e8-886d-4c4b3bde5e0d.png)

[2018-04-25 06:27] #661 closed

[2018-04-25 06:30] #664 closed

[2018-04-25 06:47] mdfirozansari commented on #664
No. Still I am getting only package.json in my composer-common folder under storage directory.
Here is the output of "ls"  command
firoz@firoz-ThinkPad-W520:~/.local/share/verdaccio/storage/composer-common$ ls
package.json

If you see verdaccio console output  only 0 bytes is getting copied
http --> 200, req: 'GET https://registry.npmjs.org/composer-common' (streaming)
http --> 200, req: 'GET http

[2018-04-25 07:21] shockw4ver opened #666 "The website does not work by **Permisson Denied**"
#### My reason:
Cannot get into the website after startup verdaccio~
#### Steps to reproduce:
1. ran verdaccio with ``nohup`` or not:
[code]
or just:
[code]
then console show the logs as expected:
[code]
2. get into the page and **ERR_CONNECTION_REFUSED** showed.
3. run ``wget localhost:4873``, then the console reported:
[code]
#### App Version:
**2.7.4**
#### Config file:
[code]
#### Additional i

[2018-04-25 07:24] juanpicado commented on #666
My local test.
[code]

How are you installing verdaccio?

[2018-04-25 07:35] shockw4ver commented on #666
I ran ``npm i -g verdaccio`` to install it。
**Node version:**
v9.5.0

(Thx for replying so fast!)

[2018-04-25 07:58] juanpicado commented on #666
Using root ?

[2018-04-25 08:01] juanpicado commented on #666
My point is, you just have a specific environment since is the first time I heard about this sort of issue.

[2018-04-25 08:40] juanpicado commented on #666
I do not recommend use root for installations. If you are using UNIX env I'd recommend https://github.com/creationix/nvm

[2018-04-25 09:26] shockw4ver commented on #666
I'm using nvm to manage my node version and switched to the latest.
I don't know what's wrong with my environment...😂😂😂

[2018-04-25 09:59] juanpicado commented on #666
Ok, let me know if you manage to fix your env.

[2018-04-25 20:05] george-norris-salesforce opened #668 "How to uninstall verdaccio"
Ever since I installed this I've had nonstop problems with installing packages from NPM.
Every request gets a `FetchError: request to http://localhost:4873/**`
I can't install or uninstall anything.
Even npm uninstall verdaccio fails.
PLEASE help me delete this library! Thank you..

[2018-04-25 20:15] #668 closed

[2018-04-26 06:06] juanpicado commented on #668
I replied you already in gitter, but, anyhow, for general information there I go.

Uninstall verdaccio and set another registry are two different things.

This will set back the main registry as default
[code]
and uninstall `verdaccio` you can do it as another node global package.

[code]

[2018-04-26 14:32] lgaitan commented on #666
I think this is probably related to SELinux.

Try to disable it and see what happens
[code]

[2018-04-27 09:03] Xstoudi commented on #185
Same here but on a Docker-Cattle-Rancher-Nginx environment.
When pushing, freeze for a moment and then return a 502 bad gateay error.

[code]

[2018-04-27 16:15] apexskier commented on #472
FYI, working on this at https://github.com/Remitly/verdaccio-s3-storage/pull/1

[2018-04-28 07:51] #544 closed

[2018-04-28 10:28] juanpicado opened #670 "Uplink documentation is confusing setting Auth headers"
#### My reason:

The following question in StackOverflow

https://stackoverflow.com/questions/49946420/npm-verdaccio-set-uplink-to-own-remote-server?noredirect=1#comment87120890_49946420

We need to upgrade the uplink documentation to be more clear when the user sets Authorization headers. We do not explain we use JWT instead Basic Auth.

This commit is not documented properly, Verdaccio uses JWT

[2018-04-30 08:25] #670 closed

[2018-04-30 13:33] cjsfj commented on #472
Would be awesome if we had the option to use any S3 hostname, and not be locked into Amazon proper. There are open source (Minio, Zenko) and commercial (Dell ECS, IBM CoS) that act as S3 object storage, and I think all that would be needed is a way to provide the URL of the service in the config.

[2018-05-01 07:52] juanpicado commented on #468
@chainlink hi I was wondering why Kubernetes +1.7 is a prerequisite?

https://github.com/kubernetes/charts/blob/master/stable/verdaccio/README.md#prerequisites

I installed Kubernetes 1.6 with homebrew. It's not supported?

[2018-05-02 05:14] juanpicado commented on #643
I do not see any reason why this should not work. Are you still having that issue?

[2018-05-02 06:00] juanpicado commented on #468
Nevermind :) I was trying to do this https://github.com/verdaccio/docker-examples/tree/master/kubernetes-helm-example

[2018-05-02 18:17] apexskier opened #673 "Don't require setting `storage` key in config when using a storage plugin"
Verdaccio currently requires setting the storage key (used to set a storage file system path) even when you're using a non-filesystem based storage plugin.

For example, this works, even though `./storage` isn't used.
[code]

Without `storage`, I get this:
[code]

I think the solution is simple as changing [this assertion](https://github.com/verdaccio/verdaccio/blob/b89559b25ea981dd3692201bc771b74

[2018-05-03 05:08] juanpicado commented on #673
@apexskier that's one of the things still pending to fix. Thanks for the reminder.

[2018-05-03 05:09] juanpicado commented on #673
One of the big problems removing things are the tests. Just to keep on mind.

[2018-05-03 11:05] omaskery commented on #336
I have just tried running the verdaccio/verdaccio:3.0.0-beta.7 docker image and run into this issue. I followed the advice of `chown`'ing the `/opt/verdaccio` directory to 101:101 and still had permission errors. I then used `docker exec -it verdaccio sh` to enter the container and used `ls -alhn` to see what IDs the container expected on various files. I noticed that 100:101 is prevalent, and so

[2018-05-03 12:11] bochen2014 commented on #336
yep. i think I made a typo before. It was 100:101

[2018-05-03 12:13] bochen2014 commented on #336
actually the docker file only says `RUN addgroup -S verdaccio && adduser -S -G verdaccio verdaccio && \ so the system will always allocate the next available id for it;
it could be 100:101 and 200:201 going forward. .

again, I don't think it's good idea to bind mound your local folder to the container; using docker volume is a better approach

[2018-05-03 18:17] juanpicado commented on #336
Do you think we can improve the documentation in a way people to not get confuse with this topic ?

[2018-05-03 18:31] omaskery commented on #336
Thanks to both of you for replying so soon!

To be clear: I think the documentation makes perfectly clear that `docker volume` is a better approach, it's just that unfortunately the network I work on is still using docker 1.8 (😱)! I believe I therefore have to use bind mount, which lead me to the ownership problem as discussed.

The only documentation change I would recommend is that [this page in

[2018-05-04 06:26] juanpicado commented on #673
According to the new design, if there is no storage plugin defined, we fallback to `local-storage`.  I think there is something called self_path, still, we need to clean up some part of the code to make it more scalable.

[2018-05-04 10:58] omaskery opened #675 "check storage path is plausible on startup"
## Feature request
On start-up, with the default storage backend, Verdaccio should check that the configured storage folder exists and emit a warning/error log message if it is absent.

I understand that this may not apply to all storage mechanisms, but it could likely be done for the default storage mechanism used by the published docker containers.

## Observed behaviour
If Verdaccio is run with

[2018-05-04 10:58] omaskery opened #1927 "check storage path is plausible on startup"
## Feature request
On start-up, with the default storage backend, Verdaccio should check that the configured storage folder exists and emit a warning/error log message if it is absent.

I understand that this may not apply to all storage mechanisms, but it could likely be done for the default storage mechanism used by the published docker containers.

## Observed behaviour
If Verdaccio is run with

[2018-05-04 11:13] omaskery commented on #675
I am new to javascript/node/npm, so forgive me if this is naive, but I have briefly investigated the verdaccio codebase. I now realise that the default storage is, I believe, in the verdaccio/localstorage project. Specifically, a check for whether the `config.storage` variable is a valid folder could be done (in the constructor for LocalDatabase')[https://github.com/verdaccio/local-storage/blob/ma

[2018-05-05 14:11] #673 closed

[2018-05-07 05:52] juanpicado commented on #666
Any news on this?

[2018-05-07 05:53] #650 closed

[2018-05-07 20:14] jharris4 opened #678 "Don't reload the web page for login/logout"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Whenever the user logs in or out, the page is reloaded using `location.reload()`. This is wasteful, and looks like it may be a workaround for some caching issues with the loading of the packages list when authentication changes.

**Describ

[2018-05-07 20:17] jharris4 commented on #678
The code in the diff above seems to work well, but still does not fix the issues with updating the packages list after the user logs in or logs out.

As best I can tell, the package list is stale sometimes after login/logout because the Etag is not changing when the user has an authToken vs not...

I frequently have to manually refresh the verdaccio web page after login for the list of packages to

[2018-05-07 21:37] jharris4 opened #679 "package list is not properly reloaded after login"
**Describe the bug**
We have a verdaccio server setup with private packages that are authenticated using the `verdaccio-ldap` plugin. This means that in the web ui, anonymous (logged out) users will get an empty package list, but logged in users will see the packages they are allowed to.

When I visit the verdaccio web interface I initially see an empty package list. When I log in, the web interfa

[2018-05-08 05:32] juanpicado commented on #679
I updated the code, removing authorization headers and domain.

[2018-05-08 05:33] juanpicado commented on #679
Dummy question, Have you tried with default auth plugin?

[2018-05-08 06:08] pk002 opened #680 "@开头的包安装404，如@babel/helper-module-imports和@babel/code-frame"
解决方法，因为我在配置文件中设置了@开头的私包，需要在配置文件的中添加poxy

[2018-05-08 07:03] clintwood opened #681 "favicon refers to .png while only .ico exists"
The [`src/webui/template/index.html`](https://github.com/verdaccio/verdaccio/blob/master/src/webui/template/index.html#L6) refers to `icon/png`, `favicon.png` whereas in `verdaccio/website/static/img/` only a `favicon.ico` exists and as such browsers give a 404 for favicon.

[2018-05-08 07:35] juanpicado commented on #680
Unfortunately, I do not speak Chinese. Google Translate helps to understand more or less your point, but anyway, please try English.

[2018-05-08 07:37] juanpicado commented on #680
@Meeeeow ping

[2018-05-08 08:30] copycatam opened #682 "Change host address using docker"
Hi,

TH's for the amazing work.

I want to change the default host address to http://mydomain.com when I run verdaccio using docker. How can i do that?

[2018-05-08 08:32] juanpicado commented on #612
@pgrzesik wanna work on it?

[2018-05-08 13:27] jharris4 commented on #679
`I've updated the code, removing authorization headers and domain.`

Is there a PR related to that? I would have thought the authorization headers were necessary!

`Dummy question, Have you tried with default auth plugin?`

We haven't been using the default auth plugin since we finally got ldap auth working the way we wanted. I could probably hack things up to test with basic auth, do you suspect

[2018-05-08 21:40] #680 closed

[2018-05-08 21:41] juanpicado commented on #682
Have you read https://www.verdaccio.org/docs/en/docker.html#docker-and-custom-port-configuration ?

[2018-05-08 21:43] juanpicado commented on #682
Have you read https://www.verdaccio.org/docs/en/docker.html#running-verdaccio-using-docker ?

You can use an external config file.

https://github.com/verdaccio/docker-examples/tree/master/docker-local-storage-volume

[2018-05-08 23:33] MartinLoeper opened #684 "Rewrite requested package for upstream repository"
**Is your feature request related to a problem? Please describe.**
I would like to change the request for upstream packages. Example: We configured our ci server to use verdaccio as repository. There is a package at npmjs which crashes our build: mkdirp@0.5.0 is a dependency which is required by another package (extract-zip).
We would like to redirect all requests for mkdirp@0.5.0 to mkdirp@0.5.1.

[2018-05-09 01:32] lgaitan commented on #681
I'm open to fixing this.

@juanpicado
Do you think the project is open to some changes in the web ui?

I think that we could match the verdaccio design on the web ui. (colors, buttons, etc)

![opera snapshot_2018-05-08_221617_localhost](https://user-images.githubusercontent.com/5970350/39790634-909e86a0-530d-11e8-8144-830a7b3d2326.png)

[2018-05-09 04:34] juanpicado commented on #681
One of the reasons we introduced React was been able to scale, add new stuff and btw I think people will love #357

About the logo in the header, I wonder how would looks like with https://github.com/verdaccio/verdaccio/blob/master/assets/bitmap/verdaccio-blackwhite.png

[2018-05-09 04:48] juanpicado commented on #684
Unfortunately, such thing is not possible yet, but, there are workarounds.

For instance, I'll fork `extract-zip` and publish on verdaccio under `extract-zip@0.0.3-fix` or something like that with one single change, update package.json `mkdirp@0.5.1` and then in your personal project use `extract-zip@0.0.3-fix`.

[2018-05-09 04:49] juanpicado commented on #684
About

[code]

I think this is really hard to achieve and with many edge cases to think about.

[2018-05-09 06:34] copycatam commented on #682
Thank's a lot,

      It's working now.

[2018-05-09 08:09] #682 closed

[2018-05-09 15:30] MartinLoeper commented on #684
Thanks for pointing that out @juanpicado!
Your suggestion is what we are in fact doing right know.

However, what I am observing is the following:
1) If the nesting is deeper, e.g. `puppeteer -> extract-zip -> mkdirp`, I have to publish a custom package for each dependency in the chain right? In that case puppeteer AND extract-zip.
2) I observe this case more and more often, that a widely used dep

[2018-05-10 06:56] gemmi opened #686 "Publish testing package "lodash" to private registry and find that new installed package overrided the real package 'lodash' from upstream registry"
**Describe the bug**
i publish a testing pacakge `lodash` with the same name of real package lodash from upstream and verdaccio accepted, then i run `npm install lodash` and found installed pacakge is the testing package but not the real one, which means that package with the same name of upstream registry is overriden by the testing package, and i cann't get the real one via "npm install" comman.

[2018-05-10 08:27] juanpicado commented on #686
You can do the following.

[code]
Please try, but, before clear the `lodash` folder in your storage.

[2018-05-10 15:31] gemmi commented on #686
@juanpicado thanks for your reply,
in fact i want Verdaccio to stop users publishing 'lodash' after checking name existence in upstream registry, but not ignore proxy and let users publish.
that's because users of private registry always don't known whether name exists in upstream registry and they just publish it and others install wrong pacakge, if Verdaccio can check it, some accidents can be a

[2018-05-10 17:35] juanpicado commented on #686
Could you describe with specific steps what you exactly did ? To be sure what you mean.

[2018-05-11 05:28] beeing opened #689 "Support for npm audit"
**Is your feature request related to a problem? Please describe.**
Just tried running `npm audit` command and it returns:

`Your configured registry (https://npm.mycompany.com/) does not support audit requests.`

Looking at the npm logs, it shows that npm sends a request to the following:

`http fetch POST 404 https://npm.mycompany.com/-/npm/v1/security/audits`

**Describe the solution you'd like*

[2018-05-11 10:28] juanpicado commented on #689
Maybe, as a middleware plugin ... https://www.verdaccio.org/docs/en/dev-plugins.html#middleware-plugin

[2018-05-11 13:45] keerthivasan-r commented on #357
@lgaitan  How are you planning to do this? I can also contribute to theme functionalities. Is it we are going to give different themes for the user to make a choice in the configuration?

[2018-05-11 14:41] juanpicado commented on #357
As a choice, default theme unique should change is logo and title. And perhaps icon and some minor custom stuff.

[2018-05-12 05:40] juanpicado commented on #357
@lgaitan ping

[2018-05-12 16:49] lgaitan commented on #681
for me it feels like something is missing. what do you think?

![opera snapshot_2018-05-12_134511_localhost](https://user-images.githubusercontent.com/5970350/39959652-2979210c-55eb-11e8-8db9-c481e50f7762.png)

[2018-05-12 16:56] lgaitan commented on #357
The only way i've think to do it is to accept a path to a css file and then embed it on the html.

something like:
[code]

Since the project use sass, we could provide some mixins for making theming easier.

I think this is the best way to do it, and maybe the only one.

[2018-05-12 16:58] juanpicado commented on #681
Yeah, you are right. Well, I'm not a designer, but I think the first option is taking a lot of space, maybe, should be a bit subtle. What do you think?
cc: @ayusharma

[2018-05-12 17:08] lgaitan commented on #681
What about this one?

This way we can even insert the `title` on the header.

![opera snapshot_2018-05-12_140737_localhost](https://user-images.githubusercontent.com/5970350/39959816-e0a19786-55ed-11e8-8328-3b920bf83ca4.png)

[2018-05-12 18:43] juanpicado commented on #681
About the tile ... something to keep on mind .. I live in Austria and all the time I see stuff like this `Donaudampfschiffahrtsgesellschaftskapitän` ... which means "Danube steamship company captain".

I like the logo and the title. I'd like to have more opinions on this topic. I hope someone pop ups around here.

[2018-05-12 18:45] juanpicado commented on #357
I like the configuration, simple and easy. I haven't checked implementation yet, but, we deliver static file (index.html) and express only serve such static file. I wonder how we can makes this compatible with such configuration.

[2018-05-13 16:33] gemmi commented on #686
in fact , i have two probelms:
1, i build up a private regitry with verdccio
2, i publish a pacakge named 'lodash' the same name of 'lodash' package from upstream registry( which is also  a private registry build by company and synchronized with npm.org every few minutes ),
and in my private registry 'lodash' package is version '0.0.2'( at the same time 'lodash' package from upstream registry is v

[2018-05-13 16:55] kopax opened #690 "Should SSL be activated when using behind a NGINX ssl proxy."
This is my nginx SSL vhost :

[code]

The background verdaccio service is configured with:

[code]

I am using

[code]

The DOC say right after the reverse nginx proxy configuration to configure SSL:

https://www.verdaccio.org/docs/en/ssl.html

I believe this should only be done to have it without nginx in SSL instead of http, am I correct ?
Or should I configure my certificate in order to work wi

[2018-05-13 17:32] todojs opened #691 "npm audit: 4 vulnerabilities found in verdaccio dependencies"
If you run the npm audit over verdaccio, this is the result:

[code]

[2018-05-13 21:03] juanpicado commented on #691
Refers to https://github.com/sass/node-sass/issues/2355

[2018-05-13 21:13] juanpicado commented on #691
Refers to https://github.com/caolan/async/issues/1532

[2018-05-13 21:18] juanpicado commented on #691
Refers to https://github.com/unclechu/node-deep-extend/issues/41

[2018-05-13 21:27] todojs commented on #691
Aditional info, this is the report over master (v3 beta):

[code]

[2018-05-13 21:35] todojs commented on #689
@juanpicado it's a good solution. I'm working with a very stupid workaround:

`npm audit --registry https://registry.npmjs.org/`

Your solution is fine.

[2018-05-13 21:43] todojs commented on #691
@juanpicado Good Work. Master with the new commit and only with development dependencies result:

[code]

[2018-05-13 21:51] juanpicado commented on #691
👍 👍 👍 👍  thanks @todojs for the report

[2018-05-13 22:16] #691 closed

[2018-05-14 02:35] shockw4ver commented on #666
Nope~  It didn't work on my two CentOS servers,  but worked fine on MacOS...
I will try it again days later...

[2018-05-14 12:37] bmuenzenmeyer opened #693 "Uplink Auth Usage Documentation Is Wrong"
**Describe the bug**
I think that the [documentation](https://github.com/verdaccio/verdaccio/releases/tag/v2.5.0) for adding uplink authorization is wrong. I skimmed through issues and do not believe this is a duplicate.

**To Reproduce**
Steps to reproduce the behavior:
Add following uplink to the default config.yaml, per how the release docs mention to do so (I might add this example is linked t

[2018-05-14 13:17] p3x-robot opened #694 "404 Not Found: error@^7.0.0"
**Describe the bug**
There is weird, becasue with `NPM` i can find this package, but with `verdaccio` I can't install this package.

**To Reproduce**
[code]

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/28588124/39999620-d95ef7dc-5789-11e8-90e2-cabfe6af22f7.png)
![image](https://user-images.githubusercontent.com/285

[2018-05-14 13:35] micnyk opened #695 "Wrong API URL in registry webpage"
I run latest version of verdaccio Docker image on Linux. Deployed as docker stack. Using HAProxy for virtual hosts.

Effects with such API URL:
`window.VERDACCIO_API_URL = 'http, http://npm.domain.com/-/verdaccio/';`

Fixed by changing `src/lib/utils.js` `getWebProtocol` function from:
`function getWebProtocol(req: $Request) {
  return req.get('X-Forwarded-Proto') || req.protocol;
}`

to
[code]

[2018-05-14 15:03] juanpicado commented on #694
Also local, home network and `verdaccio@beta`
[code]

[code]
Please follow the **Debugging output** recomendations to get more debug output.

[2018-05-14 15:06] juanpicado commented on #695
I have no experience with `HAProxy`. What's the output of `req.get('X-Forwarded-Proto')`? Could you provide some examples?

[2018-05-14 16:17] juanpicado commented on #694
Before ... ?

[2018-05-14 17:06] juanpicado commented on #693
I think there is a bug in the code. I'll check.

[2018-05-14 18:03] kopax opened #696 "$authenticated doesn't work with v2.7.4 and ldap plugin"
I am trying to set `access: $authenticated` to the scope `'@someorg/*':` but I keep getting authenticated then the next request is anonymous.

Does anybody know about such a bug ?

I am using verdaccion v2.7.4 , this is my configuration:

[code]

I am able to publish a scoped package in `@someorg/*` but no user can download it after:

[code]

[2018-05-14 18:12] juanpicado commented on #693
Thanks for report this issue.  I'd like if you amend the documentation according is expected.
Configuration should looks like you suggested.
[code]

[2018-05-14 18:26] juanpicado commented on #693
Sure, ⏰ 😉

[2018-05-14 19:33] #694 closed

[2018-05-15 05:39] juanpicado commented on #689
I created a basic scaffolding whether someone wants to fork and start to work on it.

https://github.com/verdaccio/verdaccio-audit
https://www.npmjs.com/package/verdaccio-audit

[2018-05-15 07:39] micnyk commented on #695
The output is `http, http`

[2018-05-15 10:44] kopax commented on #690
I have configured my backend service in http without ssl and the front end proxy with ssl and it work perfectly.

[2018-05-15 10:44] #690 closed

[2018-05-15 14:31] #640 closed

[2018-05-15 17:30] apexskier commented on #472
My plugin is working (at least for my setup). If anyone wants to help test it, feel free! Open PRs or issues for any confusion, bugs, or feature requests.

https://github.com/remitly/verdaccio-s3-storage

[2018-05-16 06:44] kopax commented on #696
@juanpicado I am sorry to ask that but can we leave this open? I know many verdaccio users are actually having their ldap working with group. All I need is one discussion with someone who succeeded such configuration.

Right now we have not been able to configure the security layer properly and we are struggling between version to have one. If we can't set it up we will have to wait until we have

[2018-05-16 20:52] todojs opened #698 "Very strange problem with npm linux x64"
Apologize in advance, it's a complicate combination of elements, but we are complety lose with this problem.

When we try to use NPM Linux x64 with our Verdaccio instalation, we recibe a strange error.

[code]

In verbose model:

[code]

With NPM Windows x64 work perfectly:

[code]

We have made some tests and we obtain a curious result by modifying this NGINX configuration.:

Original configurati

[2018-05-16 20:57] todojs commented on #698
Umm, we are stupid, the solution is very simple, we need to add this line into config.yaml:

[code]

Sorry by our confusion.

[2018-05-16 20:57] #698 closed

[2018-05-16 23:37] jwulf commented on #645
Where do I put `max_fail=100` to have this work for me? Is it in some section in `conf/docker.yaml`? Somewhere else?

[2018-05-17 04:42] kopax commented on #696
In fact, @juanpicado I finally got information from the author of `verdaccio-ldap`. It was solved by using the fix release in 2.0.0 (fixing 1.4.0 bringing ldap group revamp).

Thanks for your concern, I'll close again.

Verdaccio is a must have, so as the LDAP plugin.

[2018-05-17 04:42] #696 closed

[2018-05-17 06:12] juanpicado commented on #696
Cool yw 🤓  Perhaps you ... https://github.com/verdaccio/docker-examples/issues/7 :octocat:  ...

[2018-05-17 17:17] juanpicado commented on #698
Well, perhaps we should improve documentation.

[2018-05-17 20:15] edmorley opened #699 "verdaccio 3.0.0-test.1 is seen as newer than 3.0.0-beta.10"
**Describe the bug**
The latest beta release of verdaccio is `3.0.0-beta.10`, however tools (such as `npm outdated` or Renovate) report `3.0.0-test.1` as the latest version due to the way the semver spec works.

**To Reproduce**
Steps to reproduce the behavior:
1. `npm install verdaccio@3.0.0-beta.9`
2. `npm outdated`

**Expected behavior**
The latest version is reported as `3.0.0-beta.10`.

**Act

[2018-05-17 20:46] juanpicado commented on #699
`3.0.0-test.1': '2018-02-17T08:12:52.899Z'` is just a self-reminder **what do I do not have to do with npm** . Thanks for the heads up 👍

It's fixed already.
[code]

[2018-05-17 21:04] edmorley commented on #699
Many thanks! :-)

[2018-05-17 21:04] #699 closed

[2018-05-18 11:56] jjyach opened #700 "package.json missing new tgz file"
I work in an area where we have no web access so we use this tool by having a mirror on the web and just copying over the storage contents from time to time.

Now we noticed the last time that we did this that there were new updated .tgz files for our changed modules, however the package.json for each new item's main folder was not updated. eg there's a underscore-1.9.0.tgz file in storage, but th

[2018-05-18 18:27] juanpicado commented on #700
Unfortunatelly, there is no such thing in Verdaccio. If you see in detail the `package.json` at the bottom.
For instance,
![screen shot 2018-05-18 at 8 26 42 pm](https://user-images.githubusercontent.com/558752/40251523-ce9bcbb0-5ad9-11e8-8f97-1000d2243057.png)

[code]

Those files should match with the `_attachments` properties, You might modify that manually but I do not recomend that, I never t

[2018-05-18 19:25] edmorley opened #702 "Incorrect "ignoring bad version 8.3.0-alpha.609af607 in latest" warnings"
Hi!

**Describe the bug**
When using verdaccio `3.0.0-beta.10`, and publishing a pre-release with tag `latest` to a package set up to not proxy, the logs show warnings that seem to be incorrect.

**To Reproduce**
Steps to reproduce the behavior:
1. Configure verdaccio to allow anonymous access & for the `neutrino` & `@neutrinojs/...` packages to not be proxied (see below).
2. Publish the packages

[2018-05-19 04:42] juanpicado commented on #702
Looking into it 🤓

[2018-05-19 05:47] juanpicado commented on #702
The package is actually published as far as I see. The line
[code]
is just completely misleading and harmless, I'll need to check deeply why that log was added there.

[2018-05-19 18:00] MartinLoeper commented on #684
I just found out that it is possible to use the following with yarn (see https://yarnpkg.com/lang/en/docs/selective-version-resolutions/):

[code]

This should solve my issue. =)

[2018-05-19 18:51] juanpicado commented on #684
:) I will close this them.

[2018-05-19 18:51] #684 closed

[2018-05-20 08:03] #702 closed

[2018-05-20 20:07] juanpicado commented on #509
@demurgos does this issue persist with latest `npm`?

[2018-05-20 20:08] #653 closed

[2018-05-20 20:08] #662 closed

[2018-05-20 20:09] #666 closed

[2018-05-21 08:49] juanpicado commented on #689
Well. I just make it work. Publishing soon ...

[2018-05-21 09:17] beeing commented on #689
Thanks, that's great!

[2018-05-21 09:41] juanpicado commented on #689
Go and try :) It's available right now. It needs further testing. Check the PR.

[2018-05-21 09:42] edmorley commented on #702
Many thanks!

[2018-05-21 09:46] beeing commented on #689
@juanpicado is this published?

[2018-05-21 10:10] juanpicado commented on #689
@beeing follow instructions here https://github.com/verdaccio/verdaccio/pull/704

The PR is just to make it built-in in a future beta. You can use it right away if you want globally.

[2018-05-21 16:08] demurgos commented on #509
I gave up on the npm CLI (in favor of yarn) so I haven't tried since then. After updating all my dependencies, it seems to work with npm 6.0.1 and verdaccio 2.7.4. (I get a token instead of credentials, as expected).

I'm closing this issue for now.

[2018-05-21 16:08] #509 closed

[2018-05-23 04:50] #689 closed

[2018-05-24 04:14] reggi opened #705 "Publish without publishing to proxy"
* I am using the default configuration
* I am unable to publish.
* I am getting the `Cannot publish over existing version.` error.
* I would like to maintain `npmjs` proxy for downloads.
* I would like to ignore `npmjs` proxy for publishing

If I remove the `npmjs` proxy right now, and publish it works as expected, but then installs of all npm packages will fail.

I kind of what the best of both w

[2018-05-24 05:37] MKRhere opened #706 "Pages for cached npm packages"
I'm currently using verdaccio because I have to be somewhere without internet for a few days. I've cached a lot of npm modules via verdaccio, and everything seems good, but I'd love to see pages generated for them on the localhost frontend like it appears on npmjs.com. This already happens when you publish from verdaccio, but I'd like to (optionally?) enable these pages for packages pulled from np

[2018-05-24 05:56] juanpicado commented on #705
`Cannot publish over existing version` it is by design.

Using `yarn` as example. I'm trying to publish `1.6.0`. But with proxy enabled always we ask for metadata, which contains all versions existing in the selected uplink (npmjs as default). In the following execution would be true and returns `409` error.

[code]

![screen shot 2018-05-24 at 7 48 12 am](https://user-images.githubusercontent.com

[2018-05-24 06:06] juanpicado commented on #706
I needed to quote this 👍

This is not possible right now, but, why not? I'd love it as well. I think would be a nice and loved PR.

🙃😊

[2018-05-24 06:08] juanpicado commented on #681
@lgaitan do you have plans to deliver theme soon? ... It'd be cool to release it on `v3`.

[2018-05-24 06:16] reggi commented on #705
Hey! Thanks for the specific and detailed feedback. Yes I would like to override packages without knowledge of if it is on `npm` or not. I just achieved this by removing the proxy entirely publishing and then adding it back.

This isn't a great longterm solution.

A thought did come to mind. Use two instances of verdaccio.

* https://publish.reggi.com
* https://registry.reggi.com

And have `https:

[2018-05-24 06:59] juanpicado commented on #681
I was thinking in the new skin.  The custom theme I guess can wait.

[2018-05-24 07:00] juanpicado commented on #681
I think we have invaded this ticket which is a completely different topic, sorry for that.

[2018-05-24 07:03] juanpicado opened #707 "New verdaccio skin"
by @lgaitan

![39790634-909e86a0-530d-11e8-8144-830a7b3d2326 1](https://user-images.githubusercontent.com/558752/40469553-44bbe072-5f31-11e8-8f0a-ae961bc980f3.png)

follow up of https://github.com/verdaccio/verdaccio/issues/681#issuecomment-387592465

[2018-05-24 18:57] MKRhere commented on #706
Aww, I would love to make a PR. I can't now, but I can't now. I'll keep an eye on it if I ever get time :smile:  If someone else can, it'd be a welcome addition! :smile:

[2018-05-25 06:05] #681 closed

[2018-05-25 06:07] juanpicado commented on #681
Fixed @clintwood next beta you will be able to see the icon

[2018-05-25 06:09] juanpicado commented on #705
Do you mean something like in that picture https://www.verdaccio.org/docs/en/uplinks.html ?

[2018-05-25 16:57] zianakamarudin96 commented on #691
i am also have this problem,i am currently to build an apps using ionic and want to use firebase but this type of report is shown when i am using npm audit,hope someone can guide me.tq.

=== npm audit security report ===

                                 Manual Review
             Some vulnerabilities require your attention to resolve

          Visit https://go.npm.me/audit-guide for additional g

[2018-05-26 21:33] juanpicado commented on #472
Thanks @apexskier !! I'll try to test as well :-) ... Closing this, great work.

[2018-05-26 21:33] #472 closed

[2018-05-27 05:33] yansenlei opened #713 "Whether the login authentication can consider the custom interface"

[2018-05-27 06:07] juanpicado commented on #713
You will need to elaborate a bit more what you are requesting.

[2018-05-27 18:57] #707 closed

[2018-05-28 02:37] momocow opened #716 "[Web] Resolve relative paths in README.md based on the homepage configured in package.json"
**Is your feature request related to a problem? Please describe.**
In the web interface, relative paths in `README.md` are resolved based on the same domain as where my registry hosts on, resulting in `404 Not Found` for resources like images.

**Describe the solution you'd like**
Relative paths should be resolved based on the `homepage` field in `package.json`.
Or provide a way to configure where

[2018-05-28 04:34] juanpicado commented on #716
I think as recommendation use relative paths on readme is not a good approach, readme might render in many places. Speaking for verdaccio, Docker Hub, npmjs, verdaccio itself, etc etc.

How to ensure the homepage also won't resolve 404 Not Found?

[2018-05-28 06:09] momocow commented on #716
This should be handled by the package author who gave the homepage link.

---

Since all resources referred by relative paths should be found in the package tarball,
is it a chance to extract resources from the tarball and resolve relative paths?

Though I just realized that it's not a good idea to use relative paths.
When someone install the package,
they also install all resources which are only

[2018-05-28 10:06] yansenlei commented on #713
Thank you for your reply, I've written a authentication plugin [verdaccio-delegated-auth](https://github.com/yansenlei/verdaccio-delegated-auth)

[2018-05-28 20:29] juanpicado commented on #713
@yansenlei Awesome! Happy to see a new plugin.  But I do not understand the objective of this ticket.

[2018-05-29 05:38] juanpicado commented on #716
is it a chance to extract resources from the tarball and resolve relative paths?

Unfortunately, verdaccio cannot extract content from packages, it is not a job for a registry.

I think the point here is not whether is a good or bad idea, README is just a briefing information about what the package does usually with an external link for further information. There is no a standard fact for README a

[2018-05-29 07:32] yansenlei commented on #713
@juanpicado
I refer to [sinopia-delegated-auth](https://github.com/milinnovations/sinopia-delegated-auth), Make the authentication more flexible

[2018-05-29 07:53] momocow commented on #716
Okay, seems there's no way to resolve relative links currently.

How about hash links?
I found that hash links also failed in the latest verdaccio docker image (verdaccio `2.7.4`).

Given that my registry is hosted on `http://foo.bar`, and there is a package named `foo`.
Then README.md is rendered under `http://foo.bar/#/detail/foo`.
Assume there is a hash link whose href is `#demo`, the link is r

[2018-05-29 08:36] brennerm opened #718 "Unexpected token { in verdaccio beta"
**Describe the bug**
Executing the verdaccio beta executable results in an syntax error. This seems to be an issue with my Node version. Executing the same commands with version 10.2.1 works perfectly fine. I'd propose to add a hint in the README that points to the supported Node versions.

**To Reproduce**
Steps to reproduce the behavior:
1. `npm install verdaccio@beta`
2. `node node_modules/verd

[2018-05-29 09:18] lgaitan commented on #718
Hello @brennerm,

Unfortunately this project minimum requirement for node is `v6.12.0`.
Node 4.x is already End of Life and is no longer supported.

Please upgrade your node version, and this error will be gone.

[2018-05-29 09:31] lgaitan commented on #718
Hello @brennerm,

Yes, node 4 is no longer supported on `@beta`.
If you need to use an old version of node you can still try verdaccio 2.x (doesn't get new features)

According to Node [(more info)](https://medium.com/the-node-js-collection/april-2018-release-updates-from-the-node-js-project-71687e1f7742)

So you really should upgrade your version of node

The docs installation guide covers this t

[2018-05-29 10:27] brennerm commented on #718
Thanks for clarification. Btw can you give an estimate on when 3.0 will be released?

[2018-05-29 13:05] sergiohgz commented on #612
@juanpicado did you think on moving to Travis-CI or prefer working on CircleCI? It would be a nice. I can study the upgrade before deadline or move to other alternative like Travis (I use several projects and understand something about how to build with it) :wink:

[2018-05-29 14:12] juanpicado commented on #718
The next weekend will be available already. I'm working on update README and some blog articles.

[2018-05-29 14:12] #718 closed

[2018-05-29 17:51] juanpicado commented on #716
I found that hash links also failed in the latest verdaccio docker image (verdaccio 2.7.4).

Could you publish somewhere an example to reproduce it?

[2018-05-29 17:54] juanpicado commented on #713
@yansenlei  I meant the title of the ticket.

[2018-05-29 20:37] edmorley opened #720 "Uplink timeouts/connectivity issues reported as "no such package available""
**Describe the bug**
If the uplink request to a registry fails with a connectivity error such as `socket hang up` or `ETIMEDOUT`, the response to the client is an HTTP 404 which makes it give a misleading error message about the package not existing.

The yarn client reports:
[code]

However the Verdaccio logs show the real cause:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Open a

[2018-05-30 02:17] momocow commented on #716
[DEMO](https://registry.momocow.farm/#/detail/foooo)

As the example, clicking 'Go to Z' does not scroll the viewport to header Z.

[2018-05-30 02:20] yansenlei commented on #713
@juanpicado
My mean to do custom authentication 😉

[2018-05-30 06:15] juanpicado commented on #720
I will check it our next week, now I am focused in v3 release 🙃. Unless someone around here wants to dive into it.

[2018-05-30 07:06] juanpicado commented on #716
I see what you mean. We added hash in order switch pagination, perhaps it is not a good idea after all. There will be some changes in the UI next months, let's see what new ideas come up.

[2018-05-30 07:13] momocow commented on #716
I'll look forward to the update.
Thank you!

[2018-05-30 12:38] okv opened #724 "How to invalidate user auth token on the server?"
#### My reason:
I need to prohibit access to the repository for the user that already got auth token.

#### Steps to reproduce:
1) Add user to config file
2) Login via npm using user credentials
3) Remove user from config file

After that user is not at config file but got access because he already have token.
Is there some way to invalidate token for the user on the server side?

[2018-05-30 13:17] lgaitan commented on #724
I'd have to check, but it think that when you change the users password its token will become invalid

[2018-05-30 13:27] okv commented on #724
I tried that with verdaccio 2.6.6 and after changing password at config user still logged in.

[2018-05-30 13:41] juanpicado commented on #724
@okv there is no way (API, no UI) to change password yet.  https://github.com/verdaccio/verdaccio/issues/401 PR-Welcome

[2018-05-30 14:06] juanpicado commented on #713
There is custom authentication already since sinopia. Sorry I still do not get it.

[2018-05-30 14:54] yansenlei commented on #713
Maybe i do not understand, I hope to support 'name' and 'password' fields can be customized, And api style support restful and json-rps

[2018-05-30 15:10] juanpicado commented on #713
Could you provide an example?

[2018-05-30 15:31] yansenlei commented on #713
Sure, for example, such a `config.yaml`:
[code]

[2018-05-30 22:39] jharris4 commented on #560
just saw the `Cannot set headers after they are sent to the client` in my logs.

I'm on `verdaccio@3.0.0-beta.12` and `verdaccio-ldap@2.0.0`

[2018-05-30 22:49] jharris4 commented on #720
I'm having all sorts of issues like this all of a sudden:

[code]

It's changing every time I run `yarn install`, and I think it might be the same issue as this one...

[2018-05-31 11:23] kopax opened #728 "[Bug] Proxy to npm can't work npm ERR! 401 Unauthorized: bootstrap-styled-theme@0.0.1"
I have configured the npm proxy and it is not working.

Steps to reproduce the behavior:

1. Install `verdaccio@2.7.4` and `verdaccio-ldap@2.0.0`:

[code]

2. Use the `config.yaml`

[code]

3. run `npm adduser --registry http://localhost:4873`

4. Now create a `package.json` that needs a private package like `random-example-package` and do `npm install http://localhost:4873`

5. See error

[code]

[2018-05-31 11:34] jharris4 commented on #720
So, strangely enough I'm not getting these errors any more after I re-installed our verdaccio server but with `root` ownership of `/usr/lib/node_modules` (linux).

[2018-05-31 11:35] edmorley commented on #720
I think NPM have made further changes post Cloudflare migration, since the errors I was seeing on Travis (even on GCE) have now stopped with no changes on my part.

[2018-05-31 13:48] kopax opened #729 "Does the double quotes are part of the verdaccio token?"
My verdaccio is generating token in `~/.npmrc` with double quotes, are they part of the token?

[code]

[2018-05-31 15:05] juanpicado commented on #729
Yeah, it seems to be like that.

[2018-05-31 15:26] kopax opened #730 "[Bug] What are verdaccio requirements? verdaccio and verdaccio-ldap can't support a CI process"
I have a `verdaccio@2.7.4` and `verdaccio-ldap@2.0.0` in `http`, and a nginx a `https` ssl proxy in front.

We have GItLab CI runner that are doing `npm install --registry https://our.registry.com`

Verdaccio talk to openldap in the background for the user account.

We try to build and our  CI (which have the verdaccio and ldap  server in the local) keep failing and the verdaccio server is restart

[2018-05-31 15:41] juanpicado commented on #730
`verdaccio-ldap` has their own repository, I suggest ask there.

[2018-05-31 16:08] kopax commented on #730
@juanpicado , is `verdaccio-ldap` the issue here ?
I presume it's the way the authentication work. Why do we need to authenticate between each request ?
What are the recommended resources ?

[2018-05-31 16:32] kopax commented on #395
Hi @aannuujj , I want to run verdaccio in http and load balance using consul dns and HA proxy.

We also have a public ssl reverse nginx proxy.

Unfortunately it doesn't work with HA proxy, could we see how you manage to configure it?

[2018-05-31 16:34] kopax opened #731 "How to load balance with consul and HA proxy?"
We are experiencing issues with verdaccio and we want to load balance a few instance to get through.

We use verdaccio behind a https public reverse proxy nginx.

We want to use many verdaccio instance behind HA proxy then the nginx ssl.

Did anyone ever made a good configuration for verdaccio using HA proxy load balancing (TCP or HTTP) ?

[2018-05-31 17:01] kopax commented on #355
Hi, we are experiencing the same error :

[code]

Did you manage to solve this?

[2018-06-01 20:17] kopax commented on #731
Solve by using `proxy_set_header Host $upstream`

[2018-06-01 20:17] #731 closed

[2018-06-02 00:45] #730 closed

[2018-06-02 00:52] kopax opened #732 "[Feature/Bug] Authentication process need to be persistent across downloads"
**Describe the bug**

We finally removed `verdaccio-ldap@2.0.0` plugin for some performance and quality reasons.

Between each package download, the authentication plugin is called to authenticate the user.

It should be fine for service such as LDAP that are designed to resist, but it is a bit rough for a service like GitLab. The truth is that  none of them are safe.

Since **we removed the verda

[2018-06-02 00:57] #729 closed

[2018-06-02 00:57] #728 closed

[2018-06-02 02:46] juanpicado commented on #732
Like I mentioned before, `verdaccio` aims to be simple, 0 dependencies.

**tl;dr**
this has to be done in the plugin(s) itself.

You might use multiple auth plugins and Verdaccio asks serially (in order are defined in the config file) and persist directly in the plugin. `npm` performs decends or thousands of request to the endpoints so, each endpoint must ask to the `auth` plugin whether the origi

[2018-06-02 03:29] juanpicado commented on #731
You should document it in `docs` folder `proxy` section. PR-welcome

[2018-06-02 04:36] kopax commented on #732
I agree with most of it only that I would add it as core feature because of it's criticity and major improvement it can represent for the community. It could still be an option.

Anyhow, what database would you like to see in use for such job?
I'll personally start with a fork of `verdaccio-ldap` and would use a redis store to retrieve the session.

But I am not sure if I understand how to seriall

[2018-06-02 04:42] kopax commented on #731
@juanpicado It is already documented:

[code]

If you set it, then you should use the upstream. I wonder if `$http:$server_port` produce the same result.

[2018-06-03 09:35] yansenlei commented on #713
@juanpicado is the plugin i write redundant?

[2018-06-03 09:38] juanpicado commented on #168
This is the current status:

* website login uses `jsonwebtoken` to generate tokens. Which is based by default on *HS256* algorithm. (https://github.com/verdaccio/verdaccio/commit/d6e04be39ff9b177e33423bce87d0185392e29de)
* The API cipher tokens with the algorithm *AES192* (A small detail I just realised here https://github.com/verdaccio/verdaccio/pull/672/files#diff-557d175cf492b68eef32fae822415c

[2018-06-03 10:17] juanpicado commented on #713
@yansenlei I just did a quick overview of the plugin. I've seen that your plugin caches in memory and some sort of cache invalidation, I'd suggest making it configurable.

It'd be great to see some use cases or scenarios where might be useful and make life easier for adopters to understand the purpose of the plugin.

[2018-06-03 10:35] juanpicado commented on #732
That's the challenge.  How to make it optional while is compatible with all previous plugins with no breaking changes.

I'm not backend developer, I have no strong answer to that.

You also might *wrap a.k.a extend* such plugin with another plugin implementation to do whatever you want without forking. I believe in separation of concerns.

It's still confusing, many things on verdaccio are still n

[2018-06-03 10:40] juanpicado commented on #724
@okv I'll close this one, please follow up on #168

[2018-06-03 10:40] #724 closed

[2018-06-03 11:11] kopax commented on #732
@juanpicado what do you think of : https://github.com/bufferoverflow/verdaccio-gitlab/issues/13#issuecomment-394082427

[2018-06-03 12:28] juanpicado commented on #612
That would be cool  @sergiohgz ! The next week I'll add more detail about what we are doing now and what we need in 2.0 aside of migration.

[2018-06-03 12:31] juanpicado commented on #732
I'll wait for @bufferoverflow answer .. I'm curious 🤓

[2018-06-04 01:36] yansenlei commented on #713
@juanpicado Thank you for your patience, I benefit a lot .😉

[2018-06-04 05:00] punkracy commented on #355
Yes and no. From my observations the problem is with number of request that goes to AD. While installing some app it is installing requirements and make thousands of calls into AD which not always handle such flood.
Yes it is solved for me now because I do not get such error. No because I did not change anything. So probably I wont help you :( Maybe check your ldap/ad configuration or logs.

[2018-06-04 07:18] aannuujj commented on #395
@kopax can you post your current configurations? I can check against mine or point out any changes required.

[2018-06-04 09:07] kopax commented on #395
Thanks @aannuujj we finally managed to do it by sending the header to the upstream one. Thanks for offering your help still!

[2018-06-04 10:07] sergiohgz commented on #612
@juanpicado great, this week i can make a PR with the changes. It's pretty cool how workflows work (better than Jenkins Pipelines)

[2018-06-04 19:32] juanpicado commented on #612
@sergiohgz update, please let me know if is clear or you need more information. You can find me around https://gitter.im/verdaccio/ as well.

[2018-06-05 07:46] kopax commented on #732
He seems to agree for Redis, same here https://github.com/idangozlan/verdaccio-bitbucket/issues/10#issuecomment-394171013

We are in a middle of a delivery but I will try to have a look at it asap as we need to have ldap at some point. My current idea is to implement `getCache` equivalent that use redis for verdaccio-ldap.

[2018-06-05 17:31] ahoracek commented on #392
I wrote simple plugin for 2.x to handle npm profile set password, if you are interested take a look at https://github.com/ahoracek/verdaccio-profile-api
Please not the plugin works only with Verdaccio 2.x
I plan to look at Verdaccio 3 later and maybe create some PR to support npm profile

[2018-06-05 20:01] juanpicado commented on #392
@ahoracek amazing. I saw it this morning :) Could you PR and include it in the `docs/plugins.md` as a reference?

[2018-06-05 21:19] ahoracek commented on #392
@juanpicado Sure, my pleasure to help. I wrote the plugin in few hours last night, so feel a bit guilty about missing UT and the fact it's not working with 3.x version. I'll make it working with 3.x and UT tested, then I can promote in docs/plugins.md, ok?

[2018-06-05 21:50] juanpicado commented on #392
@ahoracek sure :) let me know whether you need help.

[2018-06-06 05:12] ilyaztsv opened #739 "get publisher name for webhook"
**Is your feature request related to a problem? Please describe.**
As described in the docs, we can use `{{ name }}` and `{{ dist-tags.latest }}` in notification message.
I didn't find an option which allows to use name of user which published package.

**Describe the solution you'd like**
Add `{{ publisher-name }}` option which will be contain the name or email of the user (if the user is authori

[2018-06-06 05:41] juanpicado commented on #739
Mmm .. so you want to know who is publishing the package? or the package author?

[2018-06-06 05:44] ilyaztsv commented on #739
Thank for the reply.

It will be perfect to know the package author and who published the package at the same time.

[2018-06-06 06:20] juanpicado commented on #739
@ilyaztsv I'll dive into the code, but I think is not possible yet. Verdaccio injects only the package metadata, so, the unique information you can access is the one is on `package.json` file in your storage for each package.

[2018-06-06 06:34] ilyaztsv commented on #739
Thanks!

I'll try the approach above. About `publisher data`, I'll try to send a PR when I have a time.

[2018-06-06 11:39] rogierschouten opened #740 "Bug: unable to publish due to TypeError after upgrading from v2 to v3 because no 'time' property is present yet in package.json in storage dir"
#### My reason:
We upgraded verdaccio from v2 to v3.  The package.json files inside the storage directory did not yet contain a 'time' member. This prevented `npm publish` from working: apparently verdaccio expects this time member to be present and crashes otherwise.

#### Steps to reproduce:
Ensure a module is already published once to verdaccio. Remove the 'time' member from the package.json in

[2018-06-06 11:54] LayZeeDK commented on #205
How do I configure IIS proxy to support `npm info @scoped/package`?

[2018-06-06 15:52] #713 closed

[2018-06-06 17:03] jharris4 opened #741 "verdaccio is requesting packages that are only hosted locally from the upstream registry."
verdaccio is requesting packages that are only hosted locally from the upstream registry.

Here's a relevant snippet/example from my verdaccio.log file:

[code]

And here's my config.yaml:

[code]

I suspect that I should be changing the above config to NOT proxy packages that are in the `@my-private-scope/*` scope somehow?

If that's the case, I could use some help with the correct config file sy

[2018-06-06 20:49] juanpicado commented on #741
Remove `proxy: npmjs` section for those package sections you do not want are being resolved for any uplink.

[2018-06-06 20:52] juanpicado commented on #740
Yes, it does. I'll solve it tomorrow :-) thanks for reporting.

I wonder whether your storage has as origin old sinopia.

[2018-06-06 21:27] rogierschouten commented on #740
@juanpicado  you're right we used sinopia to begin with. Thank you for following this up.

The crash itself is not the only problem however - what worries me a bit is that publish calls don't seem to be transactional, the locking mechanisms don't really work.

As a side note, just yesterday the harddisk became full and that completely destroyed the integrity of the verdaccio storage.  One solution

[2018-06-06 22:05] jharris4 commented on #741
@juanpicado thanks, just reviewing the [docs](https://www.verdaccio.org/docs/en/packages.html) and it seems like I want to replace this:

[code]

with this:

[code]

I'll give that a shot and close the issue when I get it working :-)

[2018-06-07 05:37] juanpicado commented on #740
@rogierschouten I'll take care of this issue, for the other concern in order do not create noise to this ticket, please file a new ticket with steps how to reproduce, perhaps other users are having the same issue.

It what it does. https://github.com/verdaccio/local-storage/blob/master/src/local-fs.js#L177

[2018-06-07 05:55] juanpicado commented on #740
@rogierschouten please try with

[code]
it should works fine.

[2018-06-07 07:54] BaamAadmi commented on #280
Sorry for the delayed response. As a workaround, I did solve issue by running **verdaccio.cmd** as mentioned in my original question. Copying PATH did not work.

[2018-06-07 12:22] juanpicado commented on #741
If you think is unclear in the docs, please feel free to add a section on docs :-) for better understanding.

[2018-06-07 12:36] jharris4 commented on #741
The docs are pretty good, but there isn't a specific example like the one I included in my last message.

If you think the example I gave is correct then I could make a PR.

The example is intended to NOT proxy ANY packages that are in the `@my-scope-goes-here` scope. So like `@my-scope-goes-here/any-package`

Does that sound correct?

[2018-06-07 14:06] juanpicado commented on #741
Yes 👍 it is correct !

[2018-06-07 14:44] jharris4 commented on #741
Closing, and PR submitted in #742

[2018-06-07 14:44] #741 closed

[2018-06-07 14:57] juanpicado commented on #741
Thanks!!! Merged already

[2018-06-07 19:53] rogierschouten commented on #740
Thank you @juanpicado

[2018-06-07 19:53] #740 closed

[2018-06-08 05:30] juanpicado commented on #612
Let's keep it open while I test a while.

[2018-06-08 09:02] vineetmadan commented on #396
I have the updated ExecStart path but still the service won't start for me. Here are the logs (from Puppet):

Debug: Exec[npm_install_verdaccio](provider=posix): Executing '/usr/bin/npm install verdaccio@latest '
Debug: Executing with uid=verdaccio: '/usr/bin/npm install verdaccio@latest '
Notice: /Stage[main]/Verdaccio/Nodejs::Npm[verdaccio]/Exec[npm_install_verdaccio]/returns: executed successfu

[2018-06-08 09:19] ahoracek commented on #401
@juanpicado I can help with the roles concept if still needed

[2018-06-08 09:41] ahoracek commented on #392
@juanpicado I would suggest to move the profile API handling to verdaccio core and enhance the auth plugin interface with get/update profile and update password. some auth plugins (like ldap) can get the info from active directory and wont allow you change password while the others (like htpasswd) can handle it. althought this wont solve all usecase (like with multiple auth plugins) it should be q

[2018-06-08 13:41] juanpicado commented on #392
@ahoracek that's the plan :-) ... we want to support more and more CLI commands are not supported yet.

[2018-06-08 14:37] juanpicado commented on #69
I'm not expert in Docker, but, it would be great to have a simple list steps to reproduce it. Migration should be clean, even in Docker.

[2018-06-08 19:39] juanpicado commented on #69
@dev-rowbot ok I see you were using a quite old Verdaccio docker image. The latest `2.x` were using verdaccio as the user already (https://github.com/verdaccio/verdaccio/releases/tag/v2.2.5)

[2018-06-08 20:01] juanpicado commented on #401
@ahoracek your help is very welcome. We need to trace a plan about what we need to achieve this feature. Could you trace such plan?

[2018-06-09 09:18] ahoracek commented on #401
@juanpicado if you already have an idea how user/roles should work (e.g. whether it should be fully on auth plugins or part of core and only auth part implemented as plugins) let me know, based on your input I can prepare plan of what needs to be done. Where should I put the this?

[2018-06-09 11:15] juanpicado commented on #401
I think it should be part of the core.

This is my mental quick roadmap:

- [ ] Let's integrate your functionality into the core https://github.com/verdaccio/verdaccio/issues/392
 creating API enpoints `'/-/npm/v1/user'` https://github.com/ahoracek/verdaccio-profile-api/blob/master/index.js#L102 into the core API endpoints
- [ ]  Allow other auth plugins to implement such funtionality, for this I

[2018-06-09 15:19] juanpicado commented on #612
Impressive job @sergiohgz  🥇 builds now are much faster than the previous configuration.

![screen shot 2018-06-09 at 5 18 19 pm](https://user-images.githubusercontent.com/558752/41193171-2cea0dea-6c09-11e8-845e-a49d4146e5a8.png)

[2018-06-09 15:44] sergiohgz commented on #612
Really nice to know an opinion about it. Caching across builders is so great, so I will use CircleCI in every project I can :smile:

[2018-06-09 15:50] juanpicado commented on #612
Sorry, now I have bad news, something went wrong with the coverage.
![screen shot 2018-06-09 at 5 49 26 pm](https://user-images.githubusercontent.com/558752/41193521-82f0b596-6c0d-11e8-867e-1c9eaa3d3bc5.png)

[2018-06-09 16:05] ahoracek commented on #401
That’s perferct. I will start later today

[2018-06-09 20:05] juanpicado commented on #612
Fixed the coverage 🚀 !! ... I'll test in the next days the deployment. Then we can close this ticket.

[2018-06-11 18:18] juanpicado commented on #612
@sergiohgz deployment to `npm` did not work  :-(

https://circleci.com/workflow-run/25119d3b-2931-49fe-b8e5-de29e1e631f1

[2018-06-12 06:46] sergiohgz commented on #612
@juanpicado I am going to test that flow :wink:

[2018-06-12 08:58] sergiohgz commented on #612
Reviewing that, I found two problems:
- Workflow was working only when pushing on branches, but not for tags
- This weird: [link](https://discuss.circleci.com/t/workflows-with-jobs-triggered-by-tag/18543/5). Basically, it says that builds triggered by tags will not be shown in workflows

The test I have done is trigger a release (failed because I haven't power to publish in registry) in my branch

[2018-06-12 17:39] ayusharma opened #752 "Capitalise name of logged in user in header"
**Is your feature request related to a problem? Please describe.**
currently, the name is in lowercase.

**Describe the solution you'd like**
The name can be capitalised. eg. `Ayush Sharma`

**Describe alternatives you've considered**
Not required.
<img width="501" alt="screen shot 2018-06-12 at 19 37 00" src="https://user-images.githubusercontent.com/6918450/41306934-04e69932-6e78-11e8-8ff5-bb5a0

[2018-06-12 23:52] #739 closed

[2018-06-12 23:54] kenske opened #753 "Broken links when using reverse proxy with prefix"
**Describe the bug**
When connecting to verdaccio through a reverse proxy with a prefix, links break.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone the examples repo: https://github.com/verdaccio/docker-examples
2. Modify the nginx config to include a prefix in the location, as specified in the [documentation](https://github.com/verdaccio/verdaccio/blob/master/docs/reverse-proxy.md)

[2018-06-13 03:44] cgomezmendez commented on #752
I'll take this one if is not already taken :)

[2018-06-13 04:31] juanpicado commented on #752
All yours , go ahead :-)

[2018-06-13 12:13] ayusharma commented on #464
I took a deep dive into this issue yesterday. It is hard to differentiate between *markdown* and *asciidoc* because NPM Client is making the request with **readme** key.

For more information https://github.com/npm/www/issues/42

@juanpicado @jirutka  I am not sure that we should also implement or not because the request coming from NPM client does not have anything related to the type of readme.

[2018-06-13 12:27] jirutka commented on #464
@ayusharma Maybe you can detect it based on the content. Quick&dirty detection – if the file contains `^=+ \w` before (optional) `^#+ \w`, then it’s AsciiDoc, otherwise it’s Markdown.

[2018-06-13 12:52] ayusharma commented on #464
@jirutka Thanks for your suggestion. I like the approach. I am waiting for the @juanpicado 's review on this.

[2018-06-13 14:55] juanpicado commented on #464
It worth to experiment @ayusharma

[2018-06-13 15:04] broekema41 commented on #753
I ran into this problem while updating our verdaccio server that is running behind a reverse proxy.
Not sure if the webpack config is the correct location to fix the problem but it worked for me.
see pull request https://github.com/verdaccio/verdaccio/pull/755 for details.

kind regards,

[2018-06-13 17:14] ckkoeber opened #756 "NPM pulls corrupted packages from Verdaccio instance"
**Describe the bug**
When I perform a basic `npm install` in an application I am attempting to set up a dev. environment for corrupted packages end up being pulled from my Verdaccio proxy instance.

**To Reproduce**
Steps to reproduce the behavior:
1. Set up package.json for my project including adding my dependencies, etc.
2. Set my local system to use my Verdaccio instance: `npm set registry [[V

[2018-06-13 18:15] ayusharma commented on #464
I'll give a try :)

[2018-06-13 18:29] juanpicado commented on #756
You would need to provide more info. `npm` version. Are you behind a proxy? Environment conditions. I've never heard of this problem before.

[2018-06-13 20:00] ckkoeber commented on #756
Hi, thank you for the quick feedback:

NPM Version: Latest - 6.1.0 but it happens with other versions.
Node Version that Verdaccio is running on: 10.4.0
Node Version that Client is running on: 10.4.0

Environment: Windows Server 2012 (SP2)

The server that Verdaccio is not behind a proxy.

[2018-06-14 05:37] lgaitan commented on #756
Hello @ckkoeber,

I don't think verdaccio stored corrupted packages on its file system,
i've already faced a similar problem and maybe it is the same for you.

In my case it happened because npm was trying to check the package integrity with a wrong hash.
Try deleting your `npm-shrinkwrap.json` and see if it solves

[2018-06-14 05:42] ckkoeber commented on #756
@lgaitan Thank you for the helpful hint. Forgive me if this is common knowledge: where would I find the `npm-shrinkwrap.json` file? I assume this is client-side.

[2018-06-14 06:16] lgaitan commented on #756
Yes, it should be located on the project folder that you are trying to install.

it can be either `npm-shrinkwrap.json` or `package-lock.json`

[2018-06-14 06:37] e-sathya commented on #492
We are looking for similar feature +1

[2018-06-14 11:39] kumarvi opened #758 "Web UI not listing packages because of 'time' property unavailability in package.json in storage dir"
**Describe the bug**

We're trying to migrate from sinopia to verdaccio for our internal npm registry, and noticed that the internal packages that were published using our existing setup (using sinopia) aren't showing up in the Web UI with the latest verdaccio (version: 3.1.2), even though we're able to install them. This is happening because of the some of the packages that were published earlier

[2018-06-14 14:30] ckkoeber commented on #756
OK, so after performing the following everything worked:

[code]
Thank you everyone for the feedback.

[2018-06-14 14:30] #756 closed

[2018-06-14 14:55] ckkoeber commented on #756
Adding *nix variant:

[code]

[2018-06-14 21:12] juanpicado commented on #753
It will be released asap.

[2018-06-15 04:11] #758 closed

[2018-06-15 04:52] juanpicado commented on #753
`verdaccio@3.2.0`

[2018-06-15 04:53] juanpicado commented on #758
Please try with `verdaccio@3.2.0`

[2018-06-15 05:07] kumarvi commented on #758
Verified, thank you! @juanpicado

One related minor UI (alignment) issue in the home page I noticed when there are packages with/without the `time` details in their package.json, attaching the screenshot below:

![image](https://user-images.githubusercontent.com/6780628/41450928-f8c64406-7087-11e8-8a00-9c3b1261bd69.png)

[2018-06-15 05:10] juanpicado opened #760 "Improve website SEO"
**Describe the solution you'd like**
Google should display clearly a description of each page content on front-page.

**Describe alternatives you've considered**
Docusaurus should have any sort of option to define a custom description.

**Additional context**

![screen shot 2018-06-15 at 7 04 41 am](https://user-images.githubusercontent.com/558752/41450883-7e38804a-706a-11e8-981e-dad5d8bf651e.png)

[2018-06-15 08:33] kumarvi commented on #758
The license div is not right aligned, for the older packages, because of the missing time info div on the left side.

[2018-06-15 08:39] juanpicado commented on #758
Ohh !! I must be blind. I'll create a ticket. Thanks 👍

[2018-06-15 08:41] ayusharma opened #761 "License field is not correct aligned on UI"
**Describe the bug**
License field is aligned incorrectly.

**To Reproduce**
Steps to reproduce the behaviour:
1. Log in and see the behaviour of license field (for the old package - may be a migration from verdaccio 2.x and sinopia)

**Expected behaviour**
License field should right align.

**Screenshots**
https://user-images.githubusercontent.com/6780628/41450928-f8c64406-7087-11e8-8a00-9c3b1261

[2018-06-15 08:42] ayusharma commented on #758
@kumarvi @juanpicado I am creating a separate issue for this. 🥇

[2018-06-15 12:25] smelukov opened #762 "Can't login with htpasswd from old sinopia"
**Describe the bug**
We're migrating from old sinopia. Just used htpasswd file from sinopia and got a problem with login

**To Reproduce**
- get htpasswd file from sinopia and use it in verdaccio
- try to login
- get an error
[code]

**Expected behavior**
Correct authentification

[2018-06-15 12:48] juanpicado commented on #762
@ayusharma it happened to me this week. This one is important.

[2018-06-15 13:04] ayusharma commented on #762
I am not able to reproduce it.

What I did:

1. Installed sinopia.
2. Created some users using `npm adduser` in sinopia.
3. Copied `sinopia`'s htpasswd file to `verdaccio`'s htpasswd file.
4. Tried to log in in both CLI and web view. Everything is working fine for me.

I am sharing my dummy htpasswd file (created using sinopia):
[code]
- Password for `test` user is `test`.
- Password for `tom` use

[2018-06-15 16:19] juanpicado commented on #762
@ayusharma I'll also try. But I saw the same error, it might be misleading message from `npm`. We should try also with `yarn`

[2018-06-15 18:21] juanpicado commented on #762
For some reason, `npm` catch 401 HTTP error as that misleading message. I'm forcing my user with wrong password.
[code]
while with
[code]

[2018-06-15 18:36] juanpicado commented on #762
Have you seen this before @ayusharma ? https://github.com/npm/npm-profile/blob/latest/lib/index.js#L367

Either headers must contains either OTP (One Time Password Authentication ?? 😕 ) or `ipaddress` becames `HttpErrorAuthUnknown` ??????? .. 👎  ...

[2018-06-16 09:34] ayusharma commented on #762
@juanpicado I'll see this.

[2018-06-16 11:39] ayusharma commented on #762
NPM Version:
[code]

NPM Logs:
[code]

Verdaccio's logs:
[code]

[2018-06-16 13:36] juanpicado commented on #762
let's wait @smelukov feedback, but I think is not a verdaccio issue.

[2018-06-17 05:33] juanpicado commented on #612
My branch has published a new website, I think the `ignore_branches` does not work proprely
[code]

[2018-06-17 14:14] sergiohgz commented on #612
Let me know the branch name and, if you remember, the build number in CircleCI, to see in which conditions it executed. Thanks

[2018-06-17 17:30] ahoracek opened #765 "Implement /-/npm/v1/user API endpoint"
**Is your feature request related to a problem? Please describe.**
Verdaccio currently missing backend support for ```npm profile``` cli commands, mostly the possibility to change password using ```npm profile set password```

**Describe the solution you'd like**
Basic implementation of ```/-/npm/v1/user``` endpoint as Verdaccio core API as described at [npm profile API](https://github.com/npm/reg

[2018-06-17 17:35] ahoracek opened #766 "Implement Web UI support for changing user's password"
**Is your feature request related to a problem? Please describe.**
Verdaccio currently missing support for changing password via Verdaccio site

**Describe the solution you'd like**
Create web API for changing user password
Create components and UI implementation to consume change password web API

**Describe alternatives you've considered**
Alternatively you can use plugin, however built in suppo

[2018-06-17 18:20] juanpicado commented on #766
Dupe https://github.com/verdaccio/verdaccio/issues/401

[2018-06-17 18:35] ahoracek commented on #766
Should I close it and implement PR based on #401 as we discussed there? That was intended to cover points 4 and 5 of the list you suggested.

[2018-06-17 18:46] juanpicado commented on #766
Ok, let's keep it, I'll rename the other one as kinda of "EPIC" ...

[2018-06-17 18:48] juanpicado commented on #766
@ahoracek Are you going to work on the whole implementation?

[2018-06-17 18:52] ahoracek commented on #766
yes, that was my plan, create 3 PRs, api, web and htpasswd

[2018-06-17 18:57] ayusharma commented on #401
@ahoracek If you have any doubt or need any help in https://github.com/verdaccio/verdaccio-htpasswd Please let me know.

Also, I am creating a feature issue for this https://github.com/verdaccio/verdaccio-htpasswd/issues/32

Thanks,

[2018-06-17 19:14] juanpicado commented on #766
Ok :-) Perfect.

[2018-06-19 02:02] marcellodesales commented on #762
I'm getting the same problem with the current code with volumes...

@smelukov @juanpicado @ayusharma any way I can get this working with npm 6 and node 10?

# Started the server

[code]

# User setup

* Added the user

[code]

* I can see the config changed through the local volume dir

[code]

* I can see the `.npmrc` file with the entry for the config

[code]

* I noticed that npm 6 surrounds th

[2018-06-19 11:35] sijakret commented on #301
i have to agree with @actraiser - i am having the same problem here with 2.7.4 :(

[2018-06-19 11:58] juanpicado commented on #762
It seems a different main topic and your issue are different. Are you migrating from sinopia?

npm does not wrap the token, it's delivered by verdaccio in that way, please read  https://github.com/verdaccio/verdaccio/issues/168#issuecomment-394149624

I'll need a clarification here.

I suggest more verbose (extreme) there `npm publish --registry http://localhost:4873 -ddd`

🤔

[2018-06-19 11:58] juanpicado commented on #762
@smelukov ping 🤓

[2018-06-19 13:36] smelukov commented on #762
oh, i'm sorry...
There are different hashes for the same password:
verdaccio:
`smelyukov:$606...........:autocreated 2018-06-14T13:37:41.898Z`
sinopia
`smelyukov:{SHA}yq2..............=:autocreated 2017-08-09T08:57:46.734Z`

[2018-06-19 13:41] ayusharma commented on #762
@smelukov It should not create any problem. We've handled this.

I have both the hashed in `htpasswd` file, and I am able to log in for all of the users.

[code]

[2018-06-19 13:45] smelukov commented on #762
from which version? 🤔

[2018-06-19 13:53] ayusharma commented on #762
It is available here .
https://github.com/verdaccio/verdaccio-htpasswd/blob/36ef763f1ac9b83ba09d639fe9c41d5ffbbfa230/src/utils.js#L50

It is in verdaccio 3 and all versions of  [verdaccio-htpasswd](https://github.com/verdaccio/verdaccio-htpasswd)

[2018-06-19 14:01] smelukov commented on #762
Seems like some kind of magic, but authentification with old htpasswd does not work for us.
If you can not reproduce it then maybe issue must be closed 🤔

[2018-06-19 20:52] juanpicado commented on #762
There are different hashes for the same password:
verdaccio:
smelyukov:$606...........:autocreated 2018-06-14T13:37:41.898Z
sinopia
smelyukov:{SHA}yq2..............=:autocreated 2017-08-09T08:57:46.734Z

@smelukov could you provide a dummy example (2 htpasswd files same user + password)? + and a more complete environment (node version, sinopia version, verdaccio version, etc etc)

[2018-06-20 12:04] ayusharma commented on #762
I am closing the issue as @smelukov suggests.

[2018-06-20 12:04] #762 closed

[2018-06-20 14:09] ayusharma commented on #761
I confirm this issue. It is happening while migrating from sinopia.

[2018-06-20 14:19] ayusharma commented on #758
@kumarvi I confirm the License alignment issue. It will be solved soon. Thanks 😀

Ref #761

[2018-06-20 19:50] #761 closed

[2018-06-20 20:55] ayusharma opened #773 "Get rid of Webpack big bundle warnings"
Webpack Log:

[code]

[2018-06-20 21:03] #464 closed

[2018-06-20 21:04] juanpicado commented on #773
I tried this one already.  But the `vendors.683b59a731940cca32a0.js     727 KiB` is the big problem here.

[2018-06-21 02:14] lovewinders opened #775 "How to use the static resource path after npm publish in readme.md"
###  example
### step1:config:package.json
[code]
### step2:resource path
[code]
### step3:cmd:npm publish
### step4:config:README.md
      ## Preview
      ![images path](public/images/preview.png)  -----> (question:how to write static resource??? thank you)
### step5:web:server
      image:url:http://ip/#/detail/@packagename/public/images/preview.png is not find static resource

[2018-06-21 04:28] lenovouser commented on #472
@apexskier thanks for creating the plugin! Is it possible to migrate from the standard FS storage to S3 somehow?

[2018-06-21 06:12] juanpicado opened #776 "Jest Matchers migration"
**Is your feature request related to a problem? Please describe.**

Many unit/functional test still do not use Jest matches or stubs

**Describe the solution you'd like**
We have to remove all Node module assert in favor of Jest Matchers

**Describe alternatives you've considered**
Use setup and teardown to trigger verdaccio servers for functional testing

[2018-06-21 06:43] lgaitan commented on #775
Hi @lovewinders,

Unfortunately this is not possible, by default when you publish a package, yarn | npm will compress the
entire project and publish it to the registry.

The only file registries access from your package is README.md

If you want to set an image on your own README, you'll need to host the image on a separate domain.

Take a look at verdaccio own's README for an example

[2018-06-21 07:40] juanpicado commented on #775
I agree with @lgaitan . Closing this one.

[2018-06-21 07:40] #775 closed

[2018-06-21 15:13] danbrianwhite opened #779 "Package Version Limit"
**Is your feature request related to a problem? Please describe.**
When building dev and production environments, I'm always frustrated by the NPM versioning process breaking builds. When a dependency's dependency updates because of a fuzzy version and breaks my application, it can become problematic to debug or even identify the issue.

**Describe the solution you'd like**
I would like a way to l

[2018-06-21 15:24] ayusharma commented on #773
Till now, I only found one duplicate package:
[code]

[2018-06-21 15:28] danbrianwhite commented on #779
If there are any suggestions on how or where something like version limiting could be added other than in just the config please point me in the direction so I can take a look at the code and see what can be done.

Since I'm not as familiar with Verdaccio, is there currently way to add a plugin that would allow me to achieve this?

[2018-06-21 15:35] danbrianwhite commented on #779
Would a custom middleware plugin allow me to limit this? Sounds like I can possibly restrict api calls based on version.

[2018-06-21 19:47] apexskier commented on #472
@lenovouser Should be, I'm going to open a new discussion in an issue in https://github.com/remitly/verdaccio-s3-storage so folks can find it in the future.

[2018-06-22 02:55] liuhann opened #780 "when repository property of package.json is empty, the package detail page would render white blank"
**Describe the bug**
repository property of package.json is empty, the package detail page would render white blank
**To Reproduce**
Steps to reproduce the behavior:
1. set package.json
{
 ...
  repository: {}  // <----no git url
...
}
2. publish
3. go to detail page
/#/detail/[package-page]
4 the page is empty

**Expected behavior**
remove  repository is ok
**Screenshots**

[2018-06-22 05:56] lovewinders commented on #775
thank you！

[2018-06-23 19:31] hscheuerle commented on #560
I'm guessing it was a router implemetation that was silently corrected.
You can throw this error by making multiple calls to the response object that are terminating.

example:

    router('/path', ( req, res ) => {
        somePromise.then(() => res.json({
            "causes error": "Cannot set headers after they are sent to the client"
        }));

        res.json({
            "msg": "header

[2018-06-24 15:41] #776 closed

[2018-06-24 18:08] ayusharma opened #784 "Add banner plugin to webpack to tag bundle with current version"
Currently, There is no build/version information in the webpack bundle. It would be very helpful to find this information.

https://webpack.js.org/plugins/banner-plugin/

[2018-06-24 18:13] satyamyadav commented on #784
@ayusharma  I will work on this, will be sharing a banner template.

[2018-06-24 18:40] ayusharma commented on #779
Hi @danbrianwhite,

Thanks for asking a question. I am not getting a clear picture of your requirements but as far as I understand:

I think as a maintainer you have to define/publish versions very carefully. You can keep the fix versions in that case.  https://docs.npmjs.com/getting-started/semantic-versioning#semver-for-consumers

I think it is not the objective of npm registry, You publish some

[2018-06-25 06:48] juanpicado commented on #784
I'd remove the following.
[code]

[2018-06-25 07:21] ayusharma commented on #784
@juanpicado All looks good. @satyamyadav waiting for a PR ❤️

[2018-06-25 08:11] satyamyadav commented on #784
@ayusharma  Created PR #786 , please review the changes.

[2018-06-25 10:41] ayusharma commented on #784
I have two suggestions here:

1. I think we can modify current`getPackageVersion.js` file to get other` package.json` properties.  `getPackageVersion.js` can be renamed to `getPackageJsonInformation.js` and it can export multiple `package.json` properties. Ref: https://github.com/verdaccio/verdaccio/blob/master/tools/getPackageVersion.js

2. Banner config can be written in `webpack.prod.config.bab

[2018-06-25 14:07] ayusharma commented on #779
Please feel free to open the issue again if you have any questions. I am closing this as of now.

[2018-06-25 14:07] #779 closed

[2018-06-25 15:11] shierro commented on #356
on my EC2 instance case, **http://localhost:4873(which is the default)**didn't work. **http://0.0.0.0:4873** which is mentioned above did

[2018-06-27 08:42] mgroenhoff opened #788 "Package still appears in registry despite being unpublished in the NPM registry"
**Describe the bug**
There was a bug in the latest version of `nanomatch` and the author decided to unpublish that version (https://github.com/micromatch/nanomatch/issues/15). Verdaccio however seems to return the wrong version (the unpublished one).

We have configured Verdaccio with an uplink to the NPM registry (https://registry.npmjs.org/).

When i run `npm info nanomatch` against our reposito

[2018-06-27 11:39] juanpicado commented on #788
https://github.com/rlidwka/sinopia/issues/427

[2018-06-27 11:40] juanpicado commented on #788
@ayusharma any thought?

[2018-06-27 14:50] juanpicado commented on #788
@mgroenhoff does https://github.com/rlidwka/sinopia/issues/219#issuecomment-87783174 answer your question ?

[2018-06-27 15:05] mgroenhoff commented on #788
Well. First of all, it is not really a question but a bug report. Second, I am not the owner of nanomatch so I was not aware that is was unpublished.

I got a runtime error and it pointed me to nanomatch and I found out that the version was unpublished. So I removed the node_modules directory expecting the working, older version of nanomatch to be downloaded if I did an npm install agaon just like

[2018-06-27 15:28] ayusharma commented on #788
Just adding my thoughts here. @juanpicado @mgroenhoff correct me If I am wrong:

As npm document says :

Also, https://github.com/rlidwka/sinopia/issues/219#issuecomment-87783174 mentioned to publish a new pakcage after bug fix.

Just giving a example of verdaccio:

You can publish webpack@8.0.0 if you want but verdaccio can not remove it. It might be present in some other registry. NPM is not the

[2018-06-27 15:54] mgroenhoff commented on #788
I fully agree with the fact that in unpublishing should be the last resort but I have no say in what the package maintainers can and can not do with their own packages. Since this is a feature that the NPM registry provides I expect any other registry to mirror this behavior.

[2018-06-27 19:08] juanpicado commented on #788
Mmm, I differ here.

Verdaccio hooks by default `npmjs`, but, **does not means this project is a mirror of npmjs**. Verdaccio allows to unpublish while [npmjs it does not after 24 hours](https://blog.npmjs.org/post/141905368000/changes-to-npms-unpublish-policy). By the time of this comment (https://github.com/rlidwka/sinopia/issues/219#issuecomment-87783174) `npmjs` was not allowing to wildly unpu

[2018-06-27 19:08] #788 closed

[2018-06-28 18:01] mgroenhoff commented on #788
@juanpicado It was unpublished (https://github.com/micromatch/nanomatch/issues/15#issuecomment-401114628). A new version was indeed published but only after a short while. Anyway, if verdaccio can't keep its registry in sync without manual intervention I might need to start looking for an alternative.

[2018-06-28 18:17] juanpicado commented on #788
@mgroenhoff the original objective of sinopia are described here https://github.com/verdaccio/verdaccio/blob/master/docs/use-cases.md#using-private-packages if your needs do not match which such necessity, then you are right, you might need a different solution.

Unfortunately these incidents happen more often that it seems so.

* https://blog.npmjs.org/post/169432444640/npm-operational-incident-6

[2018-06-29 02:42] kslhunter opened #789 "Please provide badge on private repository"
Please provide badge on private repository like "verdaccio: v0.8.0"

[2018-06-29 07:29] #784 closed

[2018-06-29 08:54] aremishevsky-chegg opened #790 "Add possibility to allow publish a package for "author(s)"/"contributor(s)""
Hey guys.

Currently we have ability to set "all"/"authorized"/"someUser" to grand a publish access for packages as described in here:
https://github.com/verdaccio/verdaccio/blob/master/docs/packages.md

It would be awesome to have ability to set access as "author"/"contributor"
Also please think about separation of permissions for publish and unpublish packages.
F.E.
access: @all
publish:  @autho

[2018-06-29 09:59] juanpicado commented on #789
@kslhunter I don't get it

[2018-06-29 10:13] juanpicado commented on #790
@aremishevsky-chegg but, how do you match a user logged with an author or contributor?  You might find many things there, since empty or names + emails and so on.

eg:
http://registry.npmjs.org/abc

[code]

[2018-06-29 10:20] aremishevsky-chegg commented on #790
@juanpicado verification by email with the full match

[2018-06-29 10:31] juanpicado commented on #790
Unfortunately we do not store the email. Let see what ideas comes up.

[2018-06-29 19:59] wariorx opened #792 "TypeError [ERR_INVALID_ARG_TYPE]"
Whenever I try to publish by running
`npm publish --registry http://localhost:4873`
I run into this:
`TypeError [ERR_INVALID_ARG_TYPE]: The "path" argument must be of type string. Received type object (While processing pre
set: "C:\\Users\\rcalcam\\Documents\\verdaccio-master\\node_modules\\env\\index.js")
    at assertPath (path.js:39:11)
    at Object.join (path.js:434:7)`

[2018-06-29 20:02] juanpicado commented on #792
Please, version, environment. etc etc.

[2018-06-29 20:28] kslhunter commented on #789
like this
![badge](https://user-images.githubusercontent.com/6203799/42113492-666a0caa-7c26-11e8-8aa3-7484df6202b8.png)

[2018-06-29 21:14] juanpicado commented on #789
Yeah, I got that. But, where? We have one already.
![screen shot 2018-06-29 at 11 12 57 pm](https://user-images.githubusercontent.com/558752/42115135-0e234df6-7bf2-11e8-86d5-99c7d874bac7.png)

[2018-06-29 22:41] kslhunter commented on #789
Sorry. My English is not good enough.

1. Installing verdaccio on my private server
2. Upload a new private package to verdaccio

In this case, I need the version badge of the private package to be included in my README.md.

[2018-06-29 22:42] PhilThurston commented on #577
We still cannot unpublish packages. and think that this issue should be repopened since #509 is solved

Even though tokens are properly generated now it looks like we still cannot unpublish packages

[code]

[2018-06-29 22:46] juanpicado commented on #789
No worries, we are humans, I'm not English native speaker anyway.

Ok, now let me explain that what you are asking for it's not something that Verdaccio will do for you, you have to do it your self before `npm publish --registry http://localhost:4873`

In order you add a badge in your readme, you can follow how we did it in ours

https://raw.githubusercontent.com/verdaccio/verdaccio/master/README.

[2018-06-29 22:50] PhilThurston commented on #577
I'm so sorry. I spoke before double checking my work. It turns out there was an HTTP authentication issue happening after checking stdout. Thanks for the help we were able to upublish.

[2018-06-29 22:50] juanpicado commented on #577
No problem @PhilThurston thanks for reporting! 👍

[2018-06-29 22:50] #577 closed

[2018-06-30 00:10] kslhunter commented on #789
Thank you for your consideration.

I think there was a misunderstanding.

For example,
* Is the following link not able to provide badge image of the latest version?

[code]
=> ![package version](https://img.shields.io/badge/verdaccio-3.1.4-green.svg)

*Examples of similar situations*:
[Jenkins Embeddable+Build+Status+Plugin](https://wiki.jenkins.io/display/JENKINS/Embeddable+Build+Status+Plugin)

[2018-06-30 00:41] kslhunter commented on #789
Oh, sorry i solved this issue using https://shields.io/ like following:

https://img.shields.io/npm/v/@myscope/mypackage.svg?registry_uri=http://myhost:myport

thank you!!.

[2018-06-30 05:39] juanpicado commented on #789
Happy to help!

[2018-06-30 05:39] #789 closed

[2018-06-30 10:42] ayusharma commented on #678
Adding a note:

Jest also gives an error for location.reload() in the test case:

[code]

[2018-06-30 17:19] DanielRuf opened #796 "proposal: also run tests on AppVeyor"
AppVeyor is for testing builds on Windows.

Would it make sense to add AppVeyor? Because there are often differences between Windows, macOS and Linux and it would be useful to test it on more.

[2018-07-01 11:22] sergiohgz commented on #796
I think is not necessary to run tests on AppVeyor because, in short words, the app runs on top of NodeJs and browsers. The differences between systems comes from the implementation of those things in each system, not from the app.

Also, I hear some things about AppVeyor but never use it. If you have more info about it, I would change my mind and give it a try 😉

[2018-07-01 11:49] DanielRuf commented on #796
What about used (binary) dependencies? I can also run the tests on AppVeyor using my fork so we'll see if it makes to test it.

At least I saw issues and breaking unit tests on Windows (AppVeyor) in other projects.

[2018-07-02 14:11] wariorx commented on #792
- Verdaccio
Version: 3.2.0

- Config:
Default Config

- Env:
 Windows 7 (Version 6.1)

Is it possible that this is related to [](https://github.com/timarney/react-app-rewired/issues/)170 ?

[2018-07-02 14:33] sergiohgz commented on #796
That's a great point. If you want you can contribute with it :wink:

[2018-07-02 15:41] juanpicado commented on #796
Shoot ! @sergiohgz . Please create a simple config file then we can test the integration then.

[2018-07-02 19:38] juanpicado commented on #612
:-( it fails ... but from local works fine. I dunno whether is our fault. I just stopped to work for no reason.
https://codecov.io/gh/verdaccio/verdaccio/commits

[2018-07-03 17:44] DanielRuf opened #801 "verdaccio endpoint in generated lockfiles"
It seems the localhost address of verdaccio gets written to the lockfile. Is there a solution to prevent this (without using /etc/hosts).

[2018-07-03 18:32] juanpicado commented on #801
I've been tracking this issue for a while, unfortunately, we cannot do anything, not even other private registries. I ignore whether `pnpm` has the same issue cc @zkochan

npm
https://github.com/npm/npm/issues/19578

Yarn
https://github.com/yarnpkg/rfcs/pull/64
https://github.com/yarnpkg/yarn/issues/3330

[2018-07-03 19:16] zkochan commented on #801
In `shrinkwrap.yaml` (which is the lockfile created by `pnpm`) there is a field called [registry](https://github.com/pnpm/spec/blob/master/shrinkwrap/3.8.md#registry). We don't include the full URLs of packages, only if they are from a different registry.

`shrinkwrap.yaml` file example:

[code]

[2018-07-03 20:12] juanpicado commented on #801
Tha's cool. Is there a way to overwrite that property? with `--registry` does not seems to work.

``
     fd-slicer: 1.0.1
    dev: true
    resolution:
      integrity: sha1-lSj0QtqxsihOWLQ3m7GU4i4MQAU=
registry: 'http://localhost:4873/'
shrinkwrapMinorVersion: 8
shrinkwrapVersion: 3
specifiers:
  '@commitlint/cli': 6.1.3
  '@commitlint/config-conventional': 6.1.3
  '@verdaccio/file-locking': 0.0

[2018-07-04 05:40] juanpicado commented on #612
@sergiohgz fixed the coverage. We just have pending the publish on npm issue.

[2018-07-04 16:05] crowz4k commented on #301
I am new to node and i am trying to set up local repo on windows server, and it worked perfectly until i published larger package >2,5mb and i cant install it from another machine, currently it is node 10 and i don't know where i should put keepAliveTimeout can i get a little help. Tnx

[2018-07-05 03:24] Jeffrey1029 opened #803 "safe list (filter packages by license)"
Sometimes we need to filter resources on public networks to prevent erroneous references. For example, the inappropriate license. When we downloaded resources from the public network, can we provide the function of configuring the security list?

[2018-07-05 15:53] xavierpriour opened #804 "add some auth/security options to the web UI"
**Is your feature request related to a problem? Please describe.**
I want only authorized users to be able to use the Web UI, I don't want my list of private packages to be exposed to the internet.
But currently, I can only enable/disable it for everyone.

**Describe the solution you'd like**
Have some options in the `web` config to limit access.
Maybe use same syntax/plugins as for packages acces

[2018-07-05 17:19] juanpicado commented on #803
@Jeffrey1029 I think you will need to elaborate much better what you want to achieve. Examples, etc etc.

[2018-07-05 18:07] juanpicado commented on #804
Have you read https://www.verdaccio.org/docs/en/protect-your-dependencies ?

[2018-07-05 19:36] sergiohgz commented on #612
@juanpicado I have just tried to publish within my CircleCI and my npmjs account and it works well, I think it should work :wink:

[2018-07-06 05:13] juanpicado commented on #401
@ahoracek any update on this?

[2018-07-06 06:13] xavierpriour commented on #804
Thanks a lot for the speedy answer!

Yes, I use this to protect npm access: I put `access: $authenticated` on **.
But it does not protect **web UI** access (opening browser to http://myverdacciodomain.com:4873), so even unauthenticated people can see my package list, and I would like to block that as well.

[2018-07-06 06:15] juanpicado commented on #804
Would you share an example of your config file and see how it looks like?

If you have something like this.
[code]
Nobody unless teamA, teamB or teamC are logged will see anything in the webUI.

[2018-07-06 06:32] xavierpriour commented on #804
Oh my, I'm so sorry, you're right, it works perfectly! I don't know how/why I missed it, but indeed nothing is showing.
If you're ok, I'll make a quick PR on the docs to make up for your time!

[2018-07-06 06:32] #804 closed

[2018-07-06 06:32] juanpicado commented on #804
Sure, any PR is very welcome :)

[2018-07-06 14:01] johan-smits commented on #168
@Meeeeow and @tvb how can you create a password hash?
And does this already work the the beta docker?

[2018-07-07 22:27] DanielRuf opened #809 "global install with pnpm kills verdaccio"
**Describe the bug**
Installing `gatsby-cli` globally seems to corrupt the verdaccio install.
Afterwards I can not start verdaccio again as it seems the binary is gone.

cc

**To Reproduce**
Steps to reproduce the behavior:
1. run `pnpm install --global gatsby-cli`

[code]

**Expected behavior**
verdaccio should not be affected

**Configuration File (cat ~/.config/verdaccio/config.yaml)**

**Debug

[2018-07-08 10:31] juanpicado commented on #809
I cannot reproduce it locally (Mac).  It must be something related to Windows

[code]

[2018-07-08 10:45] DanielRuf commented on #809
So running `verdaccio` will work afterwards? Hm, weird. Will test this further, maybe I have to upgrade pnpm or check the permissions of the folders.

I guess a clean reinstall of everything might be the best approach to rule out some outdated or broken packages and caches caused by the underlying filesystem or network conditions.

I will keep you updated.

[2018-07-08 10:45] juanpicado commented on #809
No, It did not kill my verdaccio at all.

[2018-07-10 09:41] smelukov opened #810 "Permissions on publishing with some tag"
**Is your feature request related to a problem? Please describe.**
Now we can split publish permissions only for package
But we also want to split permission by package tag.
For example, we allow publishing the foo-package with the `latest`, `next` and `beta` tags only for developers from `core-team`, but the developers from `some-other-team` also can publishing the foo-package, but only with othe

[2018-07-10 22:19] ahoracek commented on #401
@juanpicado Very little progress recently as I was very busy with my daily work. I get back to this at the end of the week. Sorry for the delay...

[2018-07-11 18:45] DanielRuf commented on #645
Also got issues with vue and a11y.

[2018-07-11 18:46] DanielRuf commented on #645
[code]

[2018-07-11 18:50] DanielRuf commented on #645
Works now after `yarn add vue`

[2018-07-13 05:33] Jeffrey1029 commented on #803
I'm very sorry,my English a little poor.I'll try my best to make me understood.

I have a request like this:
we can only use MIT license package, others is not allowed.
I want my private server can help me to filter which npm package is conform to my request
I remember that npm package often own a file like License.md
I don't know if it's possible to implement this function?

[2018-07-13 06:25] #803 closed, assigned to nobody

[2018-07-13 06:48] Jeffrey1029 commented on #803
anyway  thank you very much

[2018-07-13 09:22] snadn opened #813 "add changelog info in package page"
like yarnpkg.com show changelog info in package page

![image](https://user-images.githubusercontent.com/1269858/42683985-76bdfb8e-86c1-11e8-99b3-e1819114b777.png)

[2018-07-13 13:02] Truemedia commented on #813
I think this would work well using the directories.doc directive https://docs.npmjs.com/files/package.json#directoriesdoc

So that you can specifiy in the package.json different MD files that you want to be displayed. Maybe you have not just a changelog, but a CONTRIBUTING.md and EXAMPLE.md, and they should be concatenated by verdaccio or given links on the page?

[2018-07-14 10:14] juanpicado commented on #752
@ayusharma @priscilawebdev I think you both worked on the same ticket. Sorry about that. @ayusharma PR was merge early this week  :(

[2018-07-14 10:14] #752 closed

[2018-07-14 11:03] priscilawebdev commented on #752
It was still open, so I took it..but fine :)

[2018-07-14 11:04] juanpicado commented on #752
Thanks for your effort @priscilawebdev

[2018-07-14 11:32] ayusharma commented on #752
@priscilawebdev Sorry for the misunderstanding.  :(

[2018-07-14 11:34] juanpicado commented on #379
@priscilawebdev will PR a PoC then we can test in multiple environments.

[2018-07-15 01:40] snadn commented on #813
Yes, I think what I really care about is that there is a place on the page to display the changelog instead of the file name of the changelog.

[2018-07-16 08:59] gabrielenosso opened #816 "Documentation for AWS installation"
Is there any documentation on how to install and run Verdaccio on AWS? (EC2, ECS, Elastic Beanstalk or whatever?)

I would love to introduce Verdaccio in my company, and a cloud installation would be perfect.

[2018-07-16 09:08] juanpicado commented on #816
We do not have any specific page for it (but we would love it). The unique thing I can share is
https://github.com/verdaccio/verdaccio/issues?q=is%3Aissue+aws+is%3Aclosed

[2018-07-16 09:30] juanpicado commented on #816
It' seems a quite neat list of steps 👍 I think @apexskier might have a strong opinion here as well.

[2018-07-16 10:50] juanpicado commented on #813
To achieve such thing you need to keep on mind:
* Verdaccio does not unpack tarballs. It seems yarn uses under the hood (https://unpkg.com/verdaccio@3.2.0/) such service.
* Since we do not want to force the users to be online, the first point would be optional, never by default. But 👍 to have stuff.
* Verdaccio relies on metaadata that comes from external sources, (as readme), which it seems do no

[2018-07-16 10:50] kub1x commented on #409
Hey, running to the same issue. I want my registry to be kinda private. Want to manually create users on server and then only allow them to login, publish, etc. I didn't manage to create users manually using `htpasswd` tool from apache, so allowed users to register temporarily and then disabled it as follows:
[code]
When I run `npm login` now, I get the `maximum amount of users reached` error.
Whe

[2018-07-16 11:21] gabrielenosso commented on #816
@ayusharma Thank you for your reply.
But I think it would be great to have something that explains step by step how to get it working.

There are some things missing:
- Which AWS service is the best to host Verdaccio and why? (EC2, ECS, Elastic Beanstalk)
- Which AWS storage service is the best to host files? (S3? or other?)
- How to setup the storage service (and its backup)
- How to use the Dock

[2018-07-16 11:40] smelukov opened #817 "404 for babylon@^7.0.0-beta.40"
**Describe the bug**
Got `404 Not Found: babylon@^7.0.0-beta.40` when use verdaccio an an npm registry

**To Reproduce**
Steps to reproduce the behavior:
1. clone verdaccio (for example)
2. use verdaccio as an npm registry
3. exec `npm install`
4. see the error `404 Not Found: babylon@^7.0.0-beta.40`

But `npm view babylon@^7.0.0-beta.40` shows package info correctly

**Expected behavior**
no 404

[2018-07-16 11:45] juanpicado commented on #817
First try, works.
[code]
Describe your environment.
Babylon is a old budy around here https://github.com/verdaccio/verdaccio/issues/594

[2018-07-16 14:11] mlucool opened #818 "Block Versions Based on Some Filter"
**Is your feature request related to a problem? Please describe.**
Recent issues with community published libraries either [malicious](https://eslint.org/blog/2018/07/postmortem-for-malicious-package-publishes) or [not](https://www.theregister.co.uk/2018/02/23/npm_undoes_patch/) are generally caught by the community quickly. I'd like to come up with a defense against these types of issues.

**Desc

[2018-07-16 14:15] MichielDeMey commented on #532
Just stumbled on this issue, seems like the original PR (#232) was going in the right direction for loading plugins in a Docker/Kubernetes environment.

[2018-07-16 14:16] juanpicado commented on #532
New PR is welcome, I'll be happy to review it asap.

[2018-07-16 14:21] MichielDeMey commented on #532
I'll try to get in a PR today based on the original idea of loading plugins from a separate directory.

[2018-07-16 15:10] juanpicado commented on #818
It relates with https://github.com/verdaccio/verdaccio/issues/810

[2018-07-17 08:17] snadn commented on #813
i think provide a config is good

[2018-07-17 08:54] smelukov commented on #817
Seems like we need to remove `babylon-7.0.0-beta.0-ranges` from our verdaccio storage?

[2018-07-17 15:41] apexskier commented on #816
My two cents

My company hosts our Verdaccio instance using an in house deployment system, but it's a very thin wrapper. It basically spins up an EC2 instance and runs `npm install && npm start` with the following `package.json` and an environment specific config that follows the standard Verdaccio documentation.
[code]

We use S3, because we wanted something that's not destroyed when we relaunch

[2018-07-17 16:30] juanpicado commented on #817
@smelukov no because your version is different. Please describe your environment, a lot of factors might cause your issue.

[2018-07-17 16:36] juanpicado commented on #816
@apexskier  External plugins on Docker image are coming soon https://github.com/verdaccio/verdaccio/pull/822

[2018-07-17 19:08] juanpicado commented on #818
I like the idea, but we would need to elaborate a bit more what are the boundaries and whether is possible with the current design + being optional

[2018-07-18 06:53] juanpicado opened #825 "Create team page on website"
**Is your feature request related to a problem? Please describe.**

The main idea is to recognize active/past contributions on Verdaccio

* Translations via crowding
  * Spanish
  * Chinese
* Core Team
* Infraestructure
* Design and Marketing

**Describe the solution you'd like**
* Link in the header (Team/Contributors)
* eg: https://babeljs.io/team
* It should include https://github.com/verdaccio

[2018-07-18 12:53] #532 closed

[2018-07-18 18:46] #753 closed

[2018-07-18 18:47] #612 closed

[2018-07-18 19:45] ayusharma commented on #612
@sergiohgz @juanpicado Great work here 👏

[2018-07-18 20:17] juanpicado opened #826 "Use css variables for colors and anything is reusable on sass files"

[2018-07-19 13:39] cncolder opened #828 "Is there a server health path for liveness check?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

If deploy `verdaccio` into k8s or back load balance. I need setup a liveness check url for detect if server has running up.

k8s use http GET and my load balance use http HEAD.

This need a path. If point to `/`. It works. But the log is t

[2018-07-19 19:02] pavels555 opened #829 "Package repeat-element@1.1.2 brakes website when published"
**Describe the bug**
When the package repeat-element@1.1.2 is published to the registry it break the webui for some reason.

**To Reproduce**
Steps to reproduce the behavior:
1. Remove uplinks from config.
2. Download repeat-element@1.1.2 from npm (https://registry.npmjs.org/repeat-element/-/repeat-element-1.1.2.tgz)
3. Publish the .tgz to verdaccio
4. Surf to verdaccio ui
5. See error

**Expected

[2018-07-20 08:35] calledT opened #831 "install package with optional dependencies would show verbose warning on windows"
**Describe the bug**
install package with optional dependencies by verdaccio registry would show verbose warning on windows.
[code]

after install,  run `npm ls -g --depth=0`  would show the below error

[code]

**To Reproduce**
Steps to reproduce the behavior:
1.  npm install -g webpack --registry=myverdaccioregistry

**Expected behavior**
like use npm registry, show the below warning and no erro

[2018-07-20 08:52] fisherw commented on #492
We are looking for similar feature +1

[2018-07-20 10:51] ayusharma commented on #829
It's a valid issue. @juanpicado I'll provide a hotfix for this.

[2018-07-20 17:19] paulbrimicombe commented on #716
It looks like npmjs resolves relative links relative to the GitHub repository. Here's an example:

* [npmjs for fs-extra](https://www.npmjs.com/package/fs-extra#async) -- links resolve to the GitHub repository url with a prefix of `/blob/HEAD/`, e.g. `https://github.com/jprichardson/node-fs-extra/blob/HEAD/docs/copy.md`.
* [README.md source code](https://github.com/jprichardson/node-fs-extra/blob/

[2018-07-21 07:54] kub1x commented on #409
Just for anyone who end up here searching for this error. I solved the issue by setting `max_users` to the number of users/lines in the `htpasswd` file.

[2018-07-21 16:16] paulbrimicombe commented on #281
I've just raised PR #832 to address this.

* PrismJS is now included in the webpack bundle for PackageDetails.
* Once PackageDetails has been rendered, `Prism.highlightAll()` is called to apply the syntax highlighting.
* I've used the default Prism theme.
* Any testing suggestions would be welcome.

[2018-07-21 18:54] sergiohgz opened #835 "Add bundlesize"
Related to #773, we are going to add bundlesize to now the size in every build. Also, we integrate it in our CircleCI workflow

[2018-07-21 19:05] juanpicado commented on #828
@cncolder no there is no such thing, but you might create a simple middleware plugin adding a custom endpoint.

On testing mode, we have this endpoint https://github.com/verdaccio/verdaccio/blob/master/src/api/debug/index.js#L9 that provide some information. I do not recommend it enable it on production environments.

[2018-07-21 19:11] juanpicado commented on #831
@calledT have you noticed that log becomes from npm instead verdaccio registry?

[2018-07-21 21:56] sergiohgz opened #836 "Improve docker image"
We have to review the Dockerfile and improve the size of each layers. Some examples of things to improve are:

- Remove **dumb-init**
- Remove the addition and elimination of **openssl** package
- Remove test on Dockerfile

[2018-07-22 16:27] dmstern opened #837 "Add mailto: link to the contributors list in the sidebar"
In the sidebar of the package detail view it would be nice if I could click on the contributor's name or avatar to send him/her an email.

Maybe with some metadata prefilled, like:

Subject: `${packageName}@${version} on ${verdaccioHost}"

[2018-07-23 01:53] calledT commented on #831
@juanpicado install by npm registry there would not optional dependencie `fsevents` in node_modules folder, but install by verdaccio registry there would be.

[2018-07-23 03:01] calledT commented on #831
I also try in debain system, it behave like in windows, only in macOS work as expected.

[2018-07-23 03:45] calledT opened #840 "webui: atob not support unicode strings"
**Describe the bug**
I use verdaccio-ldap for auth and the token payload has unicode strings. webui use atob decode payload will throw error.

https://github.com/verdaccio/verdaccio/blob/eecc98f6716331f88b83b9302ddd47b59fd9b75d/src/webui/components/Header/index.js#L111

I just replace atob with https://github.com/dankogai/js-base64 `Base64.decode`  manually and it work well.

[2018-07-23 08:41] paulbrimicombe commented on #828
There is a `/-/ping` endpoint you can use for server health which only returns an empty javascript object (probably better than `/`). It does still get logged in the access logs, however.

Do you use verdaccio to log to file or do you pipe the output via the console? If you're piping from the console you could pipe it through `grep` or similar to filter out the lines that don't interest you.

[2018-07-23 11:03] Yvtq8K3n opened #842 "Unable to authenticate"
As you can see below, i can login via api whit no problems via postman, but whanever i try to log in, whit npm login on gitbash i get 409 Error.
![image](https://user-images.githubusercontent.com/19397871/43072963-c8b1ae76-8e6f-11e8-87b4-c50b3b4ec2e9.png)

This is my conf.yaml
`# This is the default config file. It allows all users to do anything,
# so don't use it on production systems.
#
# Look

[2018-07-23 14:00] #780 closed

[2018-07-23 14:11] ayusharma opened #843 "Update Gitter links to Discord links"
**Describe the bug**
In our documentation, we still have the link to our Gitter channel. Update it to Discord.
Updated Link: http://chat.verdaccio.org

You can take the help of this:
https://github.com/search?l=Markdown&q=org%3Averdaccio+Gitter&type=Code

[2018-07-23 15:33] Yvtq8K3n commented on #842
If you using sinopia-request.
In the prototype body is always empty.

`_request( options, function ( err, res, body ) {

            if ( err ) {
                err.status = 500;
                return callback( err );
            }
            else if ( body === undefined || body.result === undefined ) {
                err = new Error( 'Bad server response.' );
                err.status = 500;

[2018-07-23 18:01] juanpicado commented on #831
I do not have Windows to test right now, but, please, specify all your environment properly then others can test your same setup.

[2018-07-24 01:55] calledT commented on #831
environments
- node: **v8.11.3**
- npm: **v6.2.0**
- verdaccio: **v3.3.0**
- system:  **windows10**

reproduce
1.  `npm i -g verdaccio` install verdaccio
2.  `verdaccio`  start verdaccio
3.  `npm i -g webpack --registry http://localhost:4873` install package has `fsevents` as optionalDependencies.

in this example, the dependencies chain is: webpack -> watchpack -> chokidar -> fsevents

[2018-07-24 08:07] ayusharma commented on #840
`atob` has the problem with Unicode. Read it here https://developer.mozilla.org/en-US/docs/Web/API/WindowBase64/Base64_encoding_and_decoding

Also, Implement the solution described in the above article.

[2018-07-24 11:44] MichielDeMey opened #844 "TypeError: Cannot read property 'some' of undefined"
**Describe the bug**
Using `verdaccio-htpasswd`, the following error throws when trying to publish an NPM package.

[code]

Note: authenticating with the registry does work.

**To Reproduce**
Steps to reproduce the behavior:
1. Mount a `htpasswd` file
2. Authenticate with the registry
3. Push an NPM package
4. See error (500 Internal Server Error)

**Expected behavior**
Publishing a package should

[2018-07-25 06:37] juanpicado opened #846 "Enable chinese simplified translation on website"
`Crowdin` Chinese team have made an amazing progress and I think we can enable already the `zh-CN` to a call for Chinese speakers to contribute and reach the 100% translation.

https://crowdin.com/project/verdaccio/zh-CN#

https://github.com/verdaccio/verdaccio/blob/master/website/languages.js

[2018-07-25 08:40] juanpicado commented on #168
@johan-smits it does not work on beta, it will be part of next major upgrade.

[2018-07-25 12:32] juanpicado commented on #844
@MichielDeMey we have tried to reproduce it but we could not.

[2018-07-25 12:35] juanpicado commented on #828
Exactly as @paulbrimicombe pointed out (https://github.com/verdaccio/verdaccio/blob/master/src/api/endpoint/api/ping.js#L7). Is it that good enough for you @cncolder ?

[2018-07-25 13:11] #829 closed

[2018-07-25 14:02] dlouzan commented on #836
We would like to build the verdaccio-gitlab image using as base the verdaccio one, but it will need some refactorings.

We experienced issues when deploying the image to openshift, since in there our admins have setup a policy of not allowing by default to run the container as root (pretty common setup), and openshift on top forces to run as a user with a random uid for security reasons. The [open

[2018-07-25 14:07] dlouzan commented on #836
Another option (not exclusive to this) is to be able to pass a location for the plugins directory and then set that up on the helm chart configuration as volume.

But for users I think it's easier if we can provide images including the appropriate plugins, instead of having to put their plugins on external volumes.

[2018-07-25 14:16] dlouzan commented on #836
Regarding dumb-init, I think we still need to ensure that an appropriate init system is used. Per [node's official documentation](https://github.com/nodejs/docker-node/blob/master/docs/BestPractices.md#handling-kernel-signals), node's handling of kernel signals is far from perfect.

The issue with the native support with docker's `--init` option (which is based on tini), is that this is only enfor

[2018-07-25 14:43] juanpicado commented on #836
I think we are doing that already https://github.com/verdaccio/docker-examples/blob/master/docker-plugin-external/docker-compose.yml or you meant something different?

[2018-07-25 14:55] dlouzan commented on #836
I had seen a couple of days ago that there was a PR ongoing for that option, but I didn't know it was already merged :-D

[2018-07-25 16:36] dlouzan opened #848 "HTLM rendering issues in docker hub docs"
**Describe the bug**
The official documentation for the docker image in the docker hub shows html tags and is not rendered correctly.

**To Reproduce**
Visit https://hub.docker.com/r/verdaccio/verdaccio/

[2018-07-25 16:39] juanpicado commented on #848
Yeah ... but I guess we cannot do anything about it. They do not accept html on readme.  Any idea ?

[2018-07-25 16:57] cncolder commented on #828
Thanks your answer. It works but not good enough.

I still thinking we need a endpoint that give a health feedback to load balance (like kubernetes ingress or another api gateway) but skip log.

Add middleware or plugin is an option. But the docker user must build a custom image.

[2018-07-25 17:06] paulbrimicombe commented on #828
The point of the ping endpoint is so tools like `npm` can check that the registry is up (i.e. server health). See the `npm ping` command.

@cncolder Do you use console logging and can you filter using something like `grep` as a work-around? Do you need the access logs or would warning / info logging be OK for you? What docker image are you using?

[2018-07-25 17:48] cncolder commented on #828
I use `https://hub.docker.com/r/verdaccio/verdaccio/`

config.yaml
[code]

If I change log level to warn. `verdaccio` skip all http relate log.

Just config it like this now.

Thank you.

[2018-07-25 19:53] ben-page opened #849 "trying to login results in "fatal--- uncaught exception, please report this""
**Describe the bug**
I am trying to enable the `verdaccio-activedirectory` plugin. Verdaccio crashes when I attempt to login and does not provide the error or call stack.

**To Reproduce**
Steps to reproduce the behavior:
1. Start Verdaccio with the activedirectory plugin
2. Try to login

**Expected behavior**
I'm sure my active directory configuration is incorrect and causing an error. But I expe

[2018-07-25 20:13] juanpicado commented on #849
Yes, you are right, a proper error message should be displayed. Could you help us debugging since your environment is a bit hard to emulate?

If you manage to provide where exactly is failing we can patch it.

[2018-07-25 20:17] juanpicado commented on #828
@cncolder It seems they are doing more or less what you were looking for https://github.com/helm/charts/pull/6616#issue-200874132

[2018-07-25 20:30] ben-page commented on #849
I'm happy to. How can I provide the details you need?

Also, I sorted out the activedirectory config and everything is working. The error is most likely coming from the `activedirectory` module via the `verdaccio-activedirectory` module. It might be as simple as handling errors from authentication plugins.

[2018-07-25 20:45] juanpicado commented on #828
:-) cool I'll close this one.

[2018-07-25 20:45] #828 closed

[2018-07-25 21:43] MichielDeMey commented on #844
Ok, I've been able to reproduce it.
It seems I was trying to publish a non-scoped package but my configuration did not specify anything for non-scoped packages. If that makes sense?

[2018-07-25 21:43] #844 closed

[2018-07-26 05:36] gengshenghong opened #850 "failed to install scratch-vm package after verdaccio"
**Describe the bug**
Trying to test verdaccio and found scratch-vm cannot be installed with some versions, it works with its 0.1.0* versions, but failed with 0.2.0* versions. Without using verdaccio, it works using official uplink (npmjs). Is it related to the package version length? How to get rid of this limitation to be compatible with npmjs.

**To Reproduce**
Just use verdaccio registry to ins

[2018-07-26 05:54] gengshenghong commented on #850
I was using old version. It seems using verdaccio@3.3.0, it works. I'll close it then....Sorry for confusion.

[2018-07-26 05:54] #850 closed

[2018-07-26 09:29] MichielDeMey commented on #409
Just ran into the same problem, I've set `max_users` to `-1` to disallow user registrations and ran into the same problem when trying to authenticate using the CLI.

[code]

Maybe we should re-open this issue?

[2018-07-26 09:33] ayusharma commented on #409
@MichielDeMey  This PR fixes this https://github.com/verdaccio/verdaccio-htpasswd/pull/30 . Could you please verify?

[2018-07-26 09:39] MichielDeMey commented on #409
Won't that PR just throw a new error instead of allowing logins through the CLI when registration is disabled?

[2018-07-26 13:37] ayusharma commented on #848
I think it's the docker hub issue. We can close it.  @dlouzan If you find a way to fix, Please feel free to open it again.

[2018-07-26 13:37] #848 closed

[2018-07-26 15:34] ayusharma commented on #835
@sergiohgz Any progress on this? :) Today, I have also added a dependency in master. So it's good to have this asap.  Thanks 😀

[2018-07-26 18:16] #840 closed

[2018-07-26 18:19] juanpicado commented on #837
@dmstern is there PR for this?

[2018-07-26 20:19] sergiohgz commented on #835
@ayusharma I was trying to add but something happens in my repo that reject install as devDependency. I see that you added and @juanpicado set limits. I will integrate it in CircleCI workflow tomorrow 😉

[2018-07-26 21:05] ayusharma opened #853 "Redefine contributors/maintainers/authors field in package sidebar"
#### My reason:
There is no `contributors` field in current packages on NPM repositories.
#### Steps to reproduce:
[code]
[code]
[code]
#### App Version:
All versions.
#### Config file:
Not needed
#### Additional information:
Not needed
#### Additional verbose log:
Not needed

[2018-07-27 10:08] #849 closed

[2018-07-27 11:07] juanpicado commented on #840
shipped `verdaccio@3.4.0`

[2018-07-27 11:44] rbarato opened #855 "Verdaccio gets really slow after long uptime"
We use verdaccio as local storage for our components that cannot be published into npm and after an average uptime of 3 days it gets really slow, making even the server access via ssh slow. It's running on a ubuntu VM with 4 cpus and 8gb of ram, under forever service.

Could this be an verdaccio issue?

[2018-07-27 11:46] juanpicado commented on #855
@rbarato `verdaccio` is really light and does not run any job in the background. I ignore how much usage you are giving it but I'd recommend inspect your ubuntu processes and see what's causing such issue.

[2018-07-27 11:53] johan-smits commented on #168
@juanpicado thnx for the reply.
A question what is the best practice for deploying with a CD (like Travis/Jenkins) and have protection enabled?

[2018-07-27 11:54] juanpicado commented on #168
cc: @sergiohgz knows more about it 👍

[2018-07-27 11:58] ayusharma commented on #855
Please share some logs and reasons which you find. We'll be happy to help you :)

[2018-07-27 15:17] ayusharma commented on #817
@smelukov Please feel free to open if the issue persists.

[2018-07-27 15:17] #817 closed

[2018-07-27 15:33] coolsp opened #857 "webui: Modules with only 1 dependency show as having "Zero Dependencies!"."
With v3.3.0, using webui, a module with only 1 dependency shows "Zero Dependencies!" instead of showing the actual dependency.

Steps to reproduce the behavior:
1. Publish a module like 'debug' (which only has 1 dependency)
2. Check using the webui
3. It will display "Zero Dependencies!" in the right-pane, should show 'ms'.

To solve, check file:
verdaccio/src/webui/components/PackageSidebar/modul

[2018-07-27 15:41] ayusharma commented on #857
It's confirmed. @coolsp would you like to send a PR for this OR should I pick up this one?

[2018-07-27 15:45] coolsp commented on #857
If you can, would be great.
Thanks !!!

[2018-07-27 16:49] rbarato commented on #855
Hi guys, currently verdaccio is using 1gb of ram and its % of cpu varies depends on how many users are downloading packages, which is ok. What I noticed was a huge improvement by switching from forever to nohup. I've changed right after opening the issue and it seems to be fixed. I'll keep on monitoring and I guess this issue can be closed as it really doesn't look a verdaccio issue.

Thanks and r

[2018-07-27 16:54] dlouzan commented on #836
Soooo, I think I have a pretty good state right now with the Dockerfile refactoring. I worked at the same time on the verdaccio and verdaccio-gitlab repos, and tested this on my local env and an openshift cluster.

Summary of design / changes:

- The build is broken into a multistage setup, with a builder image and a final image in which we copy the generated artifacts. This reduces the size of th

[2018-07-27 16:57] dlouzan commented on #836
I forgot to mention: in the other image verdaccio-gitlab created based on this, I'm using the same approach: multistage build with a compile of the sources, then use an image based on verdaccio to copy the artifacts.

The data is stored in `/opt/verdaccio-gitlab`, and then the plugin is loaded by using the new support for referencing a plugins directory by symlinking `/opt/verdaccio-gitlab` under

[2018-07-27 17:21] juanpicado commented on #855
@rbarato users will love your Feedback here https://verdaccio.org/docs/en/server-configuration#keeping-verdaccio-running-forever :-) feel free to PR when you have your final outcome. Thanks for the feedback.

[2018-07-27 17:37] juanpicado commented on #836
@dlouzan amazing 💯 ... I'll wait for others feedback. But I like the approach by far.

[2018-07-27 21:22] bufferoverflow commented on #836
@dlouzan awesome! Could you create pull requests, so we can discuss within the code?

[2018-07-28 08:59] dmstern commented on #837
@juanpicado No, unfortunately, I did not manage the tests pass.
I already tried to re-create the snapshots, but I have got an issue with the `last-synced` component, which always produces different times than specified in the specs. There is always an offset of one hour, I think this is a timezone issue.

[2018-07-28 09:12] juanpicado commented on #837
Please post the branch and I will review it

[2018-07-28 09:30] buffaybu opened #862 "Fetch metadata from uplinks again if cache is used and the user-specified version is not found."
**Is your feature request related to a problem? Please describe.**

1. User installs a package, and the metadata is cached.
2. The package is published with a new version in the uplink registry.
3. User installs  `<package>@<the-new-version>` within the cache's maxage and will get not found error.

**Describe the solution you'd like**

Add an option to allow this:

If the user specifies a version

[2018-07-28 14:44] dlouzan commented on #836
Created #864

[2018-07-29 17:10] ayusharma opened #870 "Create profile user page"

[2018-07-30 16:29] cjsfj opened #873 "Remediate CVE-1999-0509"
Greetings

Our infosec team is telling us that the docker implementation is vulnerable to http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-1999-0509. We deployed it last week and now are getting the ping from them.

Would love any suggestions about how to remediate.

Thanks,

CJ

[2018-07-30 17:16] cjsfj commented on #873
Update. We think this might be a false positive.  Someone on our team mirrored https://www.npmjs.com/package/perl (likely as a dependency) and so there is a directory named "perl" in our storage path for verdaccio data. We are confirming.

[2018-07-30 17:35] DanielRuf commented on #873
This is from 1999, 19 years ago ;-)

[2018-07-30 18:03] #835 closed

[2018-07-30 19:11] albi34 opened #874 "Integrity issue when publishing the same version twice with different sources"
**Describe the bug**
Publishing a package with the same version returns the proper error  (npm ERR! code EPUBLISHCONFLICT) but it still updates the shasum value in the attachments property of the package.json file in the Verdaccio storage folder.

If the source code is different (but the version is the same, this happens often when collaborating on large projects with many dependencies, dev A will

[2018-07-30 20:25] ryanewtaylor opened #875 "Verdaccio overwrites existing packages with the same version"
**Describe the bug**
Publishing a package with the same version as an existing package correctly responds with "Cannot publish over existing version" but a subsequent yarn install (from a clean cache) displays a hash collision error indicating the existing package served by Verdaccio was modified.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new package, @my-co/my-package
2. Modi

[2018-07-31 06:59] sergiohgz commented on #168
@johan-smits I don't understand what you mean with protection enabled, please explain it or we can talk in Discord :wink:

[2018-07-31 07:16] johan-smits commented on #168
@sergiohgz with protection enabled I ment authentication enabled.
We have fixed the issue by using: npm/npm-registry-client before the publish to "login" and retrieve a token.

[2018-07-31 08:12] sergiohgz commented on #168
@johan-smits Actually what I have is a token generated from login a user against my Verdaccio instance and saving that as environment variable across our Jenkins cluster. Your solution seems to be so great, but it don't match in my company architecture, I will try at home :wink:

[2018-07-31 09:53] bufferoverflow commented on #168
Just some ideas...

I think that an Open ID connect core / jwt standard compliant infrastructure could help here to solve that properly, using a standard as docker does whould really help here. The npm registry is not in line with any standard. Applying concepts as used within Docker, see links below, could simplify that and increase interoperability significantly.

Further readings

- [Gitlab Doc

[2018-07-31 11:03] pfdgithub opened #877 "Error: Can't set headers after they are sent."
**Describe the bug**
verdaccio 3.4.1
An error is thrown when the uplinks requests timeout:
Error: Can't set headers after they are sent.

**To Reproduce**
Steps to reproduce the behavior:
1. An unstable network
2. npm i fsevents (or other package?)
3. Error: ESOCKETTIMEDOUT (no relevance?)
4. Error: Can't set headers after they are sent.

**Expected behavior**
Response the uplinks error message.

[2018-07-31 14:04] ryanewtaylor commented on #875
@juanpicado @dlouzan , I checked this issue against #874 and they appear to be describing the same issue. I believe the package-x.y.z.tgz file may also be replaced in the file system too as the last modified date changes despite the error.