[2016-04-15 17:00] jmwilkinson opened #1 "Name conflicts in NPM"
Could we change the name of the project to "verdaccio"? So it would be verdaccio/verdaccio? That way we can pull it from NPM without conflicts with sinopia.

[2016-04-15 17:19] #1 closed

[2016-04-17 14:33] steve-p-com opened #3 "Incorrect handling of dist-tags"
I was going to add this to Sinopia, but as we all know, that project seems to be defunct now. So I may as well add it here.

The way `dist-tags` (contained in a module's  `package.json`) is handled appears incorrect. Elements are treated as an array, in other words like this:

    dist-tags": {
        "latest": [
            "1.0.0-beta10",
            "1.0.0-beta11",
            "1.0.0-beta12",

[2016-04-17 20:09] cuzzinz commented on #3
I agree this should be fixed.  It should work as people expect upstream to work.... So anything that is different should definitely be made to match since as a proxy the integration should be seamless.

[2016-04-17 20:25] steve-p-com commented on #3
I'm almost done testing. Install, update and publish all work, and so does npm dist-tags, and it's not necessary to initialise the cache.  I will submit the changes for merging tomorrow.

[2016-04-18 13:31] steve-p-com commented on #3
I have this running now in modified form on our internal server, and it seems to be working fine. I have submitted a pull request to get the changes merged back in.

[2016-04-18 14:04] trentearl opened #5 "Race condition tests failing"
2 tests fail around race conditions using nodev5.4.1.

https://github.com/verdaccio/verdaccio/blob/d260231/test/functional/race.js

[2016-04-18 15:02] trentearl opened #6 "package.json expects binaries in the global PATH"
Instead we should use the `node_modules/.bin/` folder in the package.json.

That we dont have to assume that the npm packages are globally installed and at the correct version.

[2016-04-19 09:10] steve-p-com commented on #6
I have some other issues with package.json. For example, why is it `YAML` and not `JSON`? And on my work Windows 7 laptop, `npm install --dev` seems to
- run forever and consume masses of disk space (cancelled it after 15 minutes and 1.1GB)
- produce huge amounts of output about failing to build `crypt3` on Windows at a whole bunch of different filesystem levels within `node_modules`
- produce mor

[2016-04-19 10:27] steve-p-com commented on #6
At the top of `package.yaml` there is this comment

    # use "yapm install ." if you're installing this from git repository

`yapm` is another abandoned project by the same author. It seems to be intended to replace `npm`, but `npm` is actively developed, so why would you replace it anyway? I move to eliminate any dependency on `yapm`, and convert the package file to a conventional json format.

[2016-04-19 13:34] steve-p-com opened #9 "Some tests don't run on Windows"
This is more of a problem for contributors than users, but some tests don't run on Windows. For example, `test/functional/index.js` assumes it will be able to use `lsof`, which has no Windows equivalent:

[code]

I'm not sure how to make it more multiplatform. I use both OS X and Windows platforms, so it's a partial problem for me.

[2016-04-19 13:42] steve-p-com commented on #6
I got a bit further into attempting to declutter and remove some unnecessary non-standard bits, including

- removed yapm
- replaced package.yaml with standard package.json
- removed JSON5 body parser (four year old proposed extensions to JSON which have not yet happened) and reinstated standard Express body parser
- reverted Express 5 alpha to Express 4 for maximum stability
- replaced all out of

[2016-04-19 13:56] trentearl commented on #6
This was actually the number one change I wanted to see in this project, so I really appreciate you putting the work in 👍

[2016-04-19 16:14] steve-p-com commented on #6
I think we're probably after much the same thing, as I think you said your company relies on it, and so does mine. I would like to end up with something that's maybe a tiny bit more appropriate for corporate use in some ways. Much as I respect the original author's hard work, there are some areas where there's not really much of an upside to using non-standard components, and plenty of long term d

[2016-04-19 16:16] trentearl commented on #3
fixed with #8

[2016-04-19 16:16] #3 closed

[2016-04-19 16:36] trentearl commented on #6
@steve-p-com yes this is my use case as well, and I also would like to see this project working well for internal business use.

I have also noticed the package failing to install intermittently, it seemed that it was sinopia/verdaccio failing when talking to npmjs.org and not sinopia/verdaccio talking to the client. Unfortuanetly I dont remember how I came to that conclusion. If I see it happen a

[2016-04-19 16:46] steve-p-com commented on #6
I am not using version 3 (yet). I am actually still using 2.x that came with Node of various versions, both on my development machines, and on some linux servers running Node.js around the globe. Some of my colleagues are using 3.x though, and they haven't reported any specific issues with it.

At some point soon, I guess node will change and start to ship with version 3. It has some useful featur

[2016-04-19 16:51] trentearl commented on #6
At my company we exclusively use npm 3, I assumed that the networking problems were atleast somewhat related to that. I'm glad you're using npm 2, we can get better reporting since were both on different versions.

[2016-04-20 10:02] steve-p-com commented on #6
Just a progress update on this.

What is done so far
- removed yapm
- replaced package.yaml with standard package.json
- removed post-install reconstruction of npm-shrinkwrap file, which defeats the purpose of the file
- removed JSON5 body parser (four year old proposed extensions to JSON which have not yet happened) and reinstated standard Express body parser
- reverted Express 5 alpha to Express

[2016-04-20 10:17] steve-p-com commented on #6
OK, ignore that last paragraph.

Some more digging tells me that the dev dependencies were getting installed anyway, just with a straight `npm install`

Adding the `--dev` flag did not do what I thought it did. It makes `npm` try to install every package's dev dependencies, and it's recursive, which is where all the bad stuff happens.

So, I'm going to commit this shortly and raise a merge request

[2016-04-20 10:49] steve-p-com opened #11 "Use of fs-ext"
There is an optional dependency on [baudehlo/node-fs-ext](https://github.com/baudehlo/node-fs-ext)

This is used for file-level locking. It produces a list of [deprecation warnings](https://github.com/baudehlo/node-fs-ext/issues/54) when installed on *nix. It does not install at all on Windows. This would prevent or hamper deployment on Windows.

A multi-platform alternative would be better.

[2016-04-20 11:01] steve-p-com opened #12 "Use of crypt3"
There is an optional dependency on [sendanor/node-crypt3](https://github.com/sendanor/node-crypt3)

This is used for password encryption. It does not install at all on Windows. This would prevent or hamper deployment on Windows. It would also hamper contributors, because it is used in one of the tests.

A multi-platform alternative would be better.

It is actually not used in the main project. It

[2016-04-20 12:20] steve-p-com commented on #11
Currently, anyone deploying on Windows might find unpredictable behaviour with concurrency, because there is no file locking at all when running on Windows.

On other platforms, it may lock files too often (e.g. the same one three times in succession when publishing). Investigation ongoing.

[2016-04-21 20:31] steve-p-com commented on #11
I am experimenting with replacing `fs-ext` with [npm/lockfile](https://github.com/npm/lockfile). It's not quite working yet, but I'm optimistic it's possible.

[2016-04-23 12:00] steve-p-com commented on #11
I have this fully working now, and passing all tests. Merge request coming fairly soon 😄

[2016-04-26 18:43] czardoz opened #15 "Merge in code from https://github.com/fl4re/sinopia"
A few very important commits have gone into that fork, perhaps it would make sense to merge them here as well.

[2016-04-26 18:45] trentearl commented on #15
Awesome, i'll try to look into this when I have time. @czardoz is there anything you know of that is especially important?

[2016-04-26 18:49] czardoz commented on #15
Yes, https://github.com/fl4re/sinopia/commit/50e5baf5418fbe2a59cdacccec3b4f7841815677

It ensures that the Web UI does not show packages if the user is not signed in. But almost all the 31 commits in that fork are useful in one way or another :)

[2016-04-27 10:37] steve-p-com commented on #12
I would like to know what people's attitude would be to pre-existing passwords not being backward compatible. I have a working `Verdaccio` using an Apache encryption replacement. It may generate different hashes though.

For anyone who has their users defined inside their `config.yaml` like this:

    users:
      test:
        password: a94a8fe5ccb19ba61c4c0873d391e987982fbbd3
      authtest:

[2016-04-27 17:00] trentearl commented on #12
I personally use `sinopia-gitlab`, so this issue doesnt directly affect me.

That said I also agree with you, while I don't have access to a windows computer I think we should do our best to support it. Also since this verdaccio is a response to an unmaintained project it doesn't seem like a good idea to have unmaintained dependencies. We don't have a released version so I don't have a problem bre

[2016-04-28 07:44] steve-p-com commented on #12
OK, I will pursue the current path. I might have it all ready to go by the end of the weekend. If not, probably early next week. At that point, it should be fully cross-platform. and install with zero warnings or errors. I have not submitted the merge request for removing `fs-ext` yet because it is also used in `sinopia-htpasswd`. It makes sense to wait and do it in one, as there will be shared co

[2016-04-29 14:40] mr47 opened #16 "node v6 issues"
So it's more like that https://github.com/rlidwka/sinopia goes away. RIP.
Once again i think we need get call here all from https://github.com/rlidwka/sinopia/issues/376

Just started with testing on node v6. It works. In few days will try to test this fork.

If some one find npm/node related issue i think this is right place.

Thanks.

[2016-04-30 18:37] iyel commented on #16
Glad that project received second breathe

[2016-04-30 21:10] trentearl commented on #15
@czardoz I created merge request #17 can you review this?

[2016-05-01 10:12] steve-p-com opened #19 "External Travis build failure graphic in README.md"
At the top of `README.md` there is a red graphic which says 'build: failing'. This is an external link to `https://travis-ci-org`. I haven't used this stuff before, but basically what happens is that whenever a commit is made, `GitHib` tells `travis-ci-org`, which then checks out the code and runs all the tests. It emails if there's a failure, and it enables the dynamic icon in the `README.md` as

[2016-05-01 10:29] steve-p-com commented on #19
This is Sinopia: ![travis badge](https://travis-ci.org/rlidwka/sinopia.svg)

Here's my fork after #18 : ![travis badge](https://travis-ci.org/steve-p-com/verdaccio.svg)

https://travis-ci.org/steve-p-com/verdaccio/

[2016-05-01 16:21] #19 closed

[2016-05-01 16:21] trentearl commented on #19
Fixed and passing 👍

[2016-05-01 16:43] #12 closed

[2016-05-01 16:43] #11 closed

[2016-05-02 09:22] steve-p-com commented on #19
Awesome :smile: I guess we should start publishing it soon so people can `npm install verdaccio`.

[2016-05-02 09:23] steve-p-com commented on #5
Is this still failing for anyone? I've a feeling we may be able to close this.

[2016-05-02 12:49] RnbWd opened #21 "Dockerfile"
My first attempt at creating a Dockerfile for this project seems to work, I could submit a pull request if there's interest.. but I'm adding a slightly tweaked config.yaml into the main repo so it's easier to manage that outside of the container.

[code]
~~CMD ['/bin/sh, bin/sinopia']~~

~~EXPOSE 4873~~

~~VOLUME /sinopia/storage~~

I haven't tested linking volumes yet - I'm also using the new doc

[2016-05-02 12:51] RnbWd commented on #21
Need to make sure it works first before publishing it anywhere

[2016-05-03 08:27] czardoz commented on #15
@trentearl Totally unsure about the code base, so I doubt my review is of much help. I can confirm that the all important commit if protecting the search endpoint is indeed present.

I'll try actually running your branch later this week, and report back. :)

[2016-05-04 22:13] AdrianoCahete opened #22 "Update README"
In "Installation" section, still shows sinopia.All Links points to siopia too.

[2016-05-06 14:13] nwhite89 commented on #21
👍  I've just started to look at using sinopia, as it's so easy to set up with Docker it be great to be able to move over to this as soon as possible as sinopia is no longer being maintained.

[2016-05-06 17:11] RnbWd commented on #21
What's nice about docker is that it automatically daemonizes sinopia as a background process, doesn't matter if it's runs locally, in the cloud, or even a raspberry pi, doesn't even require node to be installed. Once dockerized - the local fs used by sinopia becomes a portable / pluggable by default - 'detached' and flexible. The new docker beta (for local use) doesnt use virtualbox, it's tiny, fa

[2016-05-06 17:15] RnbWd commented on #21
So I don't know what combination of node / docker / distribution / modifications to sinopia would work best anymore.... We (eg anyone interested in pushing sinopia forward) need to experiment with different methods / setups because I have no idea if my repo on dockerhub still works honestly

[2016-05-09 17:15] aledbf opened #23 "uncaught exception in login page"
[code]

[2016-05-09 22:53] jmwilkinson opened #26 "Publish to NPM"
travis.yml needs to be updated and verdaccion published to npm for easy installation.

[2016-05-09 23:02] jmwilkinson opened #27 "jade is deprecated, need to move to pug"
Jade is now pug. The dependencies need to be updated and changed to rely on pug.

[2016-05-09 23:03] jmwilkinson opened #28 "graceful-fs needs to be updated to 4"
graceful-fs ~3 will fail on node < 7.  It needs to be updated to ~4 to prevent failures on newer node releases.

[2016-05-10 07:12] nwhite89 commented on #6
@steve-p-com have you tried `npm install --production`, that's what should be run if you don't want `devDependencies` to be installed, unless I have misunderstood the issue

[2016-05-10 07:18] nwhite89 opened #29 "Search not supported CLI?"
This is more a question in README it states
`Searching (npm search) - supported in the browser client but not command line` however, trying `npm search <pkg name>` seems to work fine just wondering if there is something that you know of that isn't yet supported regarding searching?

[2016-05-12 21:12] ambrons commented on #21
I don't think you want to use `FROM node:onbuild` for this container.  The official stresses not using `onbuild` for production / long-term docker containers.

[2016-05-13 03:43] RnbWd commented on #21
oh i wrote that as a proof of concept to see if it works. I've actually maintained my own node / io repo for almost a year haha - I had sinopia running on node:slim - before the fork / jessie became stable, and then one day node:slim stopped compiling native packages necessary to run sinopia, so I wasn't too happy about that :P - and when iojs started containers, they copied the same format as the

[2016-05-14 18:48] ofbeaton opened #32 "`Similar existing things` should mention local-npm"
It would be nice if `Similar existing things` in the readme mentioned local-npm and gave us some indication of how this project is different in features / functionality. https://github.com/nolanlawson/local-npm

[2016-05-15 19:47] ofbeaton commented on #26
also readme needs to be updated with install instructions, still points to sinopia

[2016-05-17 18:05] nwhite89 opened #33 "Files sync'd with S3"
I am currently planning on having my package files sync'd with S3 in order to back the files up. Running with Sinopia still at the moment using Docker and the packages are mounted. For backing up I am in two minds cronjob doing the syncing but what would be really cool is that this be done automatically on a publish.

Wondering what your thoughts are on this as a possible feature added on to `verd

[2016-05-18 13:54] steve-p-com opened #34 "Not everything may be being cached"
I've noticed recently that I am seeing lines in my `npm-shrinkwrap.json` files which indicate a few packages are still being installed from `registry.npmjs.org` instead of  `verdaccio`. For example:

[code]

It seems to be some (but not all) indirect dependencies. I have not had time to investigate this further yet, but clearly it's unexpected behaviour to not be using the cache.

The effect is fa

[2016-05-19 17:00] jsumners commented on #34
I'm seeing this while trying to install `nodemailer` on an internal only server that uses a `sinopia` cache as a proxy.

[2016-05-21 13:38] trentearl commented on #34
I have recently noticed this as well, thanks for looking into it.

[2016-05-24 22:35] jmwilkinson opened #36 "Running npm install removes verdaccio"
Install verdaccio via npm:

`sudo npm install -g https://github.com/verdaccio/verdaccio`

Navigate into the verdaccio directory, and run npm install to pull in the missing packages.

`sudo npm install`

Here is my output from that command:

[code]

Upon exiting, my verdaccio instance has been completely removed. There no longer is a verdaccio directory under /usr/lib/node_modules.  This is a probl

[2016-05-24 22:39] trentearl commented on #36
I think there are currently many problems with node 6. Unfortuanetly i'm in the middle of moving and haven't yet had time to fix this.

Thanks for the bug report

[2016-05-26 23:29] mariomarin commented on #23
This bug is crashing the application when there is an authenticated user trying to access the site because you restricted the access to some package:

[code]

[2016-05-27 18:42] RnbWd opened #37 "Use this dockerfile"
[code]

sorry no time for pr

[2016-06-02 22:23] andrewjensen commented on #37
I can try this out and submit a PR.

@RnbWd: Does this mean #21 can be closed?

[2016-06-03 05:57] #21 closed

[2016-06-03 06:08] RnbWd commented on #37
yeah this Dockerfile should work, the current one wasn't building for me, and this worked. I'm not actively using it at the moment so it'd be nice to get more feedback, but if the current one is broken (and not just a fluke in my dev env) then I'd replace it with this. If I start using it again (sinopia no longer works for me so I'll probably start here if I get back into using it again)

[2016-06-08 18:11] nwhite89 commented on #37
How do you feel about using Alpine Node instead the images are extremely small

[2016-06-15 15:20] YouriT commented on #37
`RUN npm install` shall be run within `/verdaccio/` therefore `WORKDIR /verdaccio` shall come before `npm install` no?

[2016-06-16 14:29] RnbWd commented on #37
@nwhite89 after reading this tweet - https://twitter.com/rvagg/status/742949140641009666 - I think it's time to start building with alpine :metal:

@YouriT I haven't ran this build since first posting the issue, but it looks like I'm copying the package.json  first - so `npm install` works... then I copy everything back into verdacio a second time.... Don't know why I wrote it like that :confused:

[2016-06-16 14:41] YouriT commented on #37
@RnbWd so you agree it should be the other way around right? I changed it in mine and it works fine like I suggested at least :p

[2016-06-16 17:03] nwhite89 commented on #37
@RnbWd I have been using this one but reading that tweet does that mean it's a official one? https://github.com/mhart/alpine-node

[2016-06-17 20:52] RnbWd commented on #37
@YouriT yes - both should work but it should be the other way around like you mentioned

[2016-06-27 19:11] silkentrance opened #38 "Project / Fork Status"
Since you want to publish this on npm and since the original maintainers seem to have abandoned the project, will this become a real fork, i.e. renamed binary and stuff?

[2016-06-27 23:39] trentearl commented on #38
This was the goal, but there are some other "competing" forks.

You can see the discussion here: https://github.com/rlidwka/sinopia/issues/376

I'm open to advice on how to proceed

[2016-06-28 21:48] silkentrance commented on #38
I'd say just go for it. The other forks aren't too active and the proposals made by the guy associated with IBM, if I remember correctly, have not yet made their way into the original code base.

[2016-07-01 18:12] marcusx2 opened #39 "npm uninstall"
It should work as well, right? But it doesn't

[2016-07-02 00:37] WarpPrism opened #40 "Sinopia crashes and report 443, ENOTFOUND and not implemented error!"
@trentearl  I put sinopia running in the docker which runs on ubuntu, it is stable for a long time, but recently it is used by increasing people, and it always crashes. I has review the issues post before. They all point that the# ulimit is too small, and i modified ulimit to make it larger(i made ulimit to 999999) successfully. But sinopia always crashes as before. It report error as follows. Cou

[2016-07-02 00:43] #40 closed

[2016-07-02 00:45] zhougch5 opened #41 "Sinopia crashes and report 443, ENOTFOUND and not implemented error!"
I put sinopia running in the docker which runs on ubuntu, it is stable for a long time, but recently it is used by increasing people, and it always crashes. I has review the issues post before. They all point that the# ulimit is too small, and i modified ulimit to make it larger(i made ulimit to 999999) successfully. But sinopia always crashes as before. It report error as follows. Could someone a

[2016-07-04 10:15] mabukar opened #42 "fatal --- uncaught exception, please report this"
Question: Original Sinopia still has the below issue, but has it been solved in the verdaccio-fork?

_**fatal --- uncaught exception, please report this
Error: not implemented
    at Readable._read (/usr/local/lib/node_modules/sinopia/node_modules/readable-stream/lib/_stream_readable.js:496:22)
    at Readable.read (/usr/local/lib/node_modules/sinopia/node_modules/readable-stream/lib/_stream_reada

[2016-07-07 08:09] AviFix opened #43 "Resetting the DB"
Hi

Is there a way to reset reset the db (clear all packages)?

reinstalling didn't hellpe.

Thanks
Avi

[2016-07-08 02:08] zhougch5 commented on #41
@trentearl

[2016-07-14 14:39] Martin-Andersen opened #45 "No binary files are cached only a package.json file"
I am trying to cache public npm packages on my TeamCity build server.

verdaccio creates a directory for each npm packages but no binaries are saved.
Requests looks like this:
`http  <-- 200, user: mha, req: 'GET /pako', bytes: 0/4391
 http  --> 304, req: 'GET https://registry.npmjs.org/ieee754', bytes: 0/0
 http  --> 304, req: 'GET https://registry.npmjs.org/base64-js', bytes: 0/0
 http  <-- 304,

[2016-07-19 08:28] sullyme commented on #38
So this is the real Sinopia successor? Ho can I install it? From github link?

[2016-07-21 13:45] thkprado commented on #45
Try to clean the npm cache before npm install so it can request the package again: **npm cache clean**

[2016-07-26 14:11] steve-p-com commented on #43
You can simply stop the service, empty whatever directory you set for 'storage' in the configuration file, and restart the service.

If you are on a Unix-like operating system, you need to make sure you have deleted the file called `.sinopia-db.json` within the storage directory. If you are just doing `rm /path/to/storage/*` then that may not remove files beginning with `.`.

[2016-07-27 13:49] trentearl commented on #38
@sullyme yes, you can isntall it from github right now, im working on getting something on npm. node 6 seems to have caused some problems

[2016-08-07 11:35] qballer commented on #38
@trentearl  I am going to chose this project if it works as expected. I think the community needs to lean somewhere.

[2016-08-12 01:16] liujingbreak opened #48 "bin/verdaccio or bin/sinopia is missing"
There is no any shell script in `bin` directory.

[2016-08-12 14:12] juanpicado commented on #38
@trentearl I wonder what is the path this project gonna have, because, now I'm trying to figure out which fork I should use at work. As far I've seen (aside of bugfixes) in both fork, no big changes since last commit on sinopia original. I'm asking because you mention "how to proceed" and that scares me, how can I suggest something that probably tomorrow might ends up as the original? . I agreed w

[2016-08-12 15:51] trentearl commented on #38
@juanpicado  Originally tests were failing on older versions of node and node 6. I now have the verdaccio working with node 6 but the older versions of node still fail. I would like to get these older versions working before it is published to npm.

I asked how to proceed because when I originally forked the project there were a few people who expressed they would like to be co-maintainers and the

[2016-08-13 07:28] juanpicado commented on #5
It works for me.

[2016-08-14 21:26] mrkongo commented on #38
Go verdaccio go!

[2016-08-15 11:27] trentearl commented on #16
Ok sorry for the delay tests on node 6 are fixed, 0.10 tests dont pass on OSX. Travis still passes them though. I think this is just because the tests are running by starting the server in a new process. I am trying to get the server in test to start in the same process.

[2016-08-15 11:27] #16 closed

[2016-08-15 11:28] trentearl commented on #26
Tests are passing on travis but not locally on on OSX for 0.1.0. I think this is just because the tests are running by starting the server in a new process. I am trying to get the server in test to start in the same process.

After this is complete I will run through the documentation and publish

[2016-08-15 11:28] trentearl commented on #38
0.10 pass on travis but not locally on OSX. I think this is just because the tests are running by starting the server in a new process. I am trying to get the server in test to start in the same process.

[2016-08-17 14:54] juanpicado opened #50 "Scopes support"
Sinopia/Verdaccio does not resolve @type/React .  It's not able to resolve/delegate them to the main npm registry.

At least it should be able to delegate it.

[code]

[2016-08-17 15:17] juanpicado commented on #50
There is a config work around for that.
https://github.com/rlidwka/sinopia/issues/399#issuecomment-222623510

[2016-08-17 15:17] #50 closed

[2016-08-18 20:24] jsumners commented on #38
Why worry about 0.10 and 0.12? 0.10 will no longer be supported *at all* on 2016-10-01, and 0.12 will be the same on 2016-12-31. It doesn't make any sense to retain support for them going forward. If someone needs a repo for them then they can just use Sinopia, as it will be just as supported.

Deprecate support for them in Veradaccio and move on.

[2016-08-18 23:45] trentearl commented on #38
@jsumners  Thanks I didnt realize it was imminent. I should have a version published in the next few days

[2016-08-19 07:11] juanpicado commented on #38
I guess the same for iojs, still present in the .travis conf file.

[2016-08-22 19:07] #48 closed

[2016-08-23 16:37] trentearl commented on #38
I have prepared the release for 1.0.0.

Unfortunately user lonelyclick has published verdaccio without informing anyone. This prevents me from publishing

I have emailed the user asking what there intentions are and if I can be collaborator.

[2016-08-23 16:38] trentearl commented on #26
I have prepared the release for 1.0.0.

Unfortunately user lonelyclick has published verdaccio without informing anyone. This prevents me from publishing

I have emailed the user asking what there intentions are and if I can be collaborat

[2016-08-23 16:46] jsumners commented on #38
@lonelyclick that's seriously not cool.

[2016-08-23 16:49] jmwilkinson commented on #26
Is he a member of the verdaccio organization? Also can you make the members public?

[2016-08-23 16:55] trentearl commented on #26
lonelyclick is not, I searched through the issues and my email and found no activity from that user at all.

The only member is aeweidne, and I had accidentally set that user to be on the repo and not the organization. I just sent aeweidne an invitation to be a member. Unless I'm misunderstanding Github wont allow me to make members public with out any members

[2016-08-23 17:00] jmwilkinson commented on #26
Interesting. From some quick googling, it appears that individuals must choose to appear as public.

On a related note, a big reason I wanted verdaccio to be its own organization would be so that we wouldn't run into the situation where the project depends on one person. In that vein, would you mind adding rlidwka, as he has committed a lot to the project, and myself- while I don't have much time

[2016-08-23 17:03] trentearl commented on #26
Yes I agree, that is a good idea. Both of you have been invited

[2016-08-23 19:02] aeweidne commented on #38
@lonelyclick what gives, brah.

[2016-08-25 06:41] lonelyclick commented on #38
I am so sorry, but when unpublish, I found this http://blog.npmjs.org/post/141905368000/changes-to-npms-unpublish-policy， what should i do ?

[2016-08-25 12:09] jsumners commented on #38
Transfer ownership by adding @trentearl and removing yourself I suppose -- https://docs.npmjs.com/cli/owner

[2016-08-26 04:50] lonelyclick commented on #38
[code]

done

[2016-08-26 19:53] SEAPUNK commented on #38
Because the currently published version is 1.4.0, I'm assuming the maintainers will have to bump the version to a higher version (2.0.0?), and _then_ publish that.

On a side note, I wonder if it will be okay with @lonelyclick, unless he's a trusted maintainer, to maintain ownership alongside @trentearl on the npm package, as it will give lonelyclick publishing/deprecation/unpublishing/etc capabil

[2016-08-26 22:44] trentearl commented on #38
@lonelyclick  thank you so much!

Can you remove yourself? If you want to be collaborator, I would be happy to allow that after your contributions bring some trust to the project.

However this is not the correct way for you to have permission to the npm package.

@SEAPUNK I agree I have deprecate the 1.4.0 release and published the 2.0.0 release

[2016-08-27 07:11] juanpicado opened #52 "verdaccio binary file missing on install"
bin/ folder is ignored on publish
[code]

[2016-08-28 14:24] qballer opened #54 "concurrent connections"
In case there are hundreds of connections to sinopia/verdaccio (300) any recommended configs ? limits?

[2016-08-29 13:25] #52 closed

[2016-08-29 13:28] #5 closed

[2016-08-29 13:29] trentearl commented on #26
2.0.1 is publish

[2016-08-29 13:29] #26 closed

[2016-08-29 13:37] trentearl commented on #54
At my company I run 3 process of verdaccio behind nginx as I have described in rlidwka/sinopia#335, presumably this helps but I'm not 100% sure.

[2016-08-30 10:39] ziacik opened #55 "Unable to install scoped packages, e.g. @angular/common"
`npm install @angular/common`

gives

[code]

Log file attached.
[npm-debug.zip](https://github.com/verdaccio/verdaccio/files/444595/npm-debug.zip)

[2016-08-30 11:01] juanpicado commented on #55
You need to configure it, take a look this thread.
https://github.com/rlidwka/sinopia/issues/399#issuecomment-222623510

[2016-08-30 11:43] ziacik commented on #55
Thanks for that @juanpicado
But, is this not just a workaround? Shouldn't it work out of the box?

[2016-08-30 14:21] juanpicado commented on #55
Yeah I was wondering the same here https://github.com/verdaccio/verdaccio/issues/50
But while verdaccio doesn't support **Scopes** I don't see should work out of the box.
But I'd give my vote to develop scopes on verdaccio, I need it 👍

[2016-09-01 06:25] lonelyclick commented on #38
[code]

@trentearl done

[2016-09-01 13:29] SEAPUNK commented on #38
@lonelyclick Thank you!

[2016-09-01 14:50] daikiuk opened #56 "Authenticated access only - ends in fatal"
within config I allowed authenticated access only, docker container is killed at the moment request on list web interface is made or if you try to publish package while not authenticated. Used this docker image https://hub.docker.com/r/therightplace/verdaccio/

fatal --- uncaught exception, please report this
ForbiddenError: unregistered users are not allowed to access package dummy-npmv2
    at O

[2016-09-01 18:51] juanpicado commented on #39
Could you provide more info? I don't see why `npm uninstall xxxx` might be involved the registry.  I'm wrong?

[2016-09-01 18:52] juanpicado commented on #22
It's looks like good now? After  ahttps://github.com/verdaccio/verdaccio/commit/fea001efcf7d99e99ef9e47d0e9341325a354494

[2016-09-01 19:22] trentearl commented on #22
looks good to me, I reviewed it before i did the initial publish. There are still a few references but I think those should still be there. Feel free to disagree :)

[2016-09-01 19:22] #22 closed

[2016-09-01 19:27] juanpicado commented on #29
I think the readme file refers to the internal search within the private repository.

[2016-09-01 19:44] trentearl commented on #38
@lonelyclick  thanks!

[2016-09-01 19:44] #38 closed

[2016-09-02 05:15] DanielSundberg commented on #38
Closed? Where is the future roadmap supposed to be discussed?

[2016-09-04 16:38] crowebird commented on #56
Yea get this too... users who are not authorized should simply not be able to see those repos, not crash the app.

[2016-09-04 17:08] crowebird commented on #56
@daikiuk - I went ahead and found the issue myself, see PR: #58

[2016-09-06 10:27] daikiuk commented on #56
@crowebird perfect, thanks.

[2016-09-13 11:40] ChadKillingsworth commented on #55
Why don't scopes work? I publish scoped packages to sinopia with no issues.

Config:

[code]

[2016-09-16 20:13] ben-page commented on #23
I'm having the same problem. I'm trying to upgrade from sinopia to to verdaccio. The config worked fine with sinopia. And way does a forbidden error crash the whole process? Shouldn't it just display an error or at least a 500 error.

[code]

[2016-09-16 20:21] ben-page commented on #56
duplicate of #23

[2016-09-18 13:20] qballer commented on #54
You load balance verdaccio in the same box over the same hard driver, just 3 different process with different ports ?  (couldn't figure it out from the ticket).

Can anyone share ideas on how to scale? network storage maybe ?

[2016-09-18 18:07] trentearl commented on #54
@qballer Yes.

What are your specific goals?

You could put the storage directory on NFS to accomplish the goal.
Personally I would imagine that would reduce performance because of network saturation unless the nfs stuff was networked on a different interface then the interface talking to upstream and downstream clients.

[2016-09-22 21:15] philip-peterson opened #59 "Maximum cache length?"
I am wondering if there is some way to set a maximum cache length (e.g. 2 days)? In my scenario what I would really like to do is have the cache length set to 0 days, so that verdaccio always checks if there is a newer version (even when a local version satisfying the semver exists), and only if there isn't, it should serve the one in the cache.

This is so that we can always be using the latest v

[2016-09-26 01:58] samjetski commented on #55
Locally published scoped packages work fine, but by default Sinopia/Verdaccio fails to correctly *proxy* scoped packages published on NPM. I don't think this was supported by NPM when Sinopia first implemented the feature, so the default config assumed that all scoped packages were local, not proxied.

The OOB config needs to be modified to "just work" for proxying these packages, as scoping is no

[2016-09-26 11:41] ChadKillingsworth commented on #55
Support for proxying scoped packages is a trivial config change (note the double `**` in my sample above). I can PR that.

[2016-09-27 14:29] mariomarin opened #61 "Can't get tokens for existing users"
When I run `npm adduser --registry http://npm.example.com:4873` I expect a _NPM_TOKEN_ inside _~/.npmrc_ but I get the following error instead:

[code]

We are using ansible to populate an htpasswd file, here is the authentication configuration:

[code]

Do you plan to add support to generate NPM_TOKENs? Is there a workaround to generate them?

How can I prevent the creation of a new user? It seem

[2016-09-28 11:39] ChadKillingsworth commented on #61
The server doesn't keep tokens. Instead, the "token" it returns is your encrypted credentials. So I don't expect this to ever be supported.

[2016-09-28 11:41] ChadKillingsworth commented on #59
Can you give an example with a specific package and semver scenario where it doesn't work this way?

[2016-09-30 15:07] jakub-g opened #63 "Is 2.0.0 breaking compat compared with sinopia?"
Hi, I'd like to migrate from sinopia, but it's not clear if it will be a smooth upgrade?

I don't see any CHANGELOG or wiki entries or [release info](https://github.com/verdaccio/verdaccio/releases) about breaking changes.

Thx in advance!

[2016-10-03 09:13] Nighthawk22 opened #64 "verdaccio prefix plugins"
Hello,

I think for writing new plugins it would be really nice to be able to load plugins with verdaccio- prefix.

With kind regards,
Nighthawk

[2016-10-04 14:08] kachkaev commented on #56
This is still happening to me. Any workarounds?

[2016-10-04 17:38] kachkaev opened #65 "_npmUser / author not showing up"
There is a small problem about displaying author names in the web interface - they do not show up:

![empty author](https://cloud.githubusercontent.com/assets/608862/19085006/97c84082-8a60-11e6-821a-6bdb1639cf90.png)

The same issue in the original repo: https://github.com/rlidwka/sinopia/issues/173
A merged PR in another fork: https://github.com/fl4re/sinopia/pull/4

I checked the contents of my

[2016-10-06 09:34] nwhite89 commented on #55
still an issue for me and @ChadKillingsworth I have tried your config this doesn't fix the issue for me

[2016-10-06 10:57] nwhite89 commented on #56
I have the same issue with this, I would really like to move over to verdaccio from sinopia but this is preventing me.

[2016-10-10 06:59] juanpicado commented on #65
It doesn't work in the published package at npm but form trunk the name appears, investigating ..

[2016-10-12 00:52] trentearl commented on #55
This is fixed in 2.1.0

[2016-10-12 00:52] #55 closed

[2016-10-12 00:53] trentearl commented on #56
This should be fixed in https://github.com/verdaccio/verdaccio/pull/58

[2016-10-12 00:53] #56 closed

[2016-10-12 00:54] trentearl commented on #56
and in 2.1.0

[2016-10-12 01:05] trentearl commented on #23
The fix should be in 2.1.0. I havent been able to recreate the error.

Feel free to open this back up if you have a problem

[2016-10-12 01:05] #23 closed

[2016-10-12 01:09] trentearl commented on #63
I can't guarantee you a smooth upgrade, but it worked fine for me ;)
If you used the default sinopia configuration you should just need to move `~/.config/sinopia` to `~/.config/verdaccio`

I know it doesnt help you now but I added a changelog for future versions: https://github.com/verdaccio/verdaccio/blob/master/CHANGELOG.md

[2016-10-12 01:09] #63 closed

[2016-10-12 01:10] trentearl commented on #42
I need more information to help you out, what version what command are you running with?

Feel free to open this back up if you provide more info

[2016-10-12 01:10] #42 closed

[2016-10-12 01:10] #43 closed

[2016-10-12 01:10] trentearl commented on #54
Closing this due to inactivity, feel free to open it back up if you want more information

[2016-10-12 01:10] #54 closed

[2016-10-12 01:11] trentearl commented on #39
@juanpicado is right. this isnt a verdaccio related issue because that command only relies on the npm client

[2016-10-12 01:11] #39 closed

[2016-10-12 01:13] #6 closed

[2016-10-12 11:03] qballer opened #69 "migrating to verdaccio"
I have an old sinopia running and I would like to move to verdaccio with all our private/cache reops Whats is the best way to achieve that?

[2016-10-12 12:52] jakub-g commented on #63
Finally I had to `npm install -g sinopia-htpasswd` after an upgrade, and then it works fine (with node 0.12.15). With node 4.x not exactly, I will open another issue

[2016-10-12 14:01] jakub-g commented on #63
Ok in fact it seems I managed to migrate to node 4.x :) but it was not easy and I was lucky that you released 2.1.0 today

sinopia@latest + server nodejs 0.12.15 ok
verdaccio 2.0.1 + server nodejs 0.12.15 ok
sinopia@latest + server nodejs 4.4.7: `npm view packagename` takes forever
verdaccio 2.0.1 + server nodejs 4.6.0: `Error: socket hang up` when trying to `npm publish`
verdaccio 2.1.0 + server

[2016-10-13 07:26] juanpicado commented on #69
Just switch it, it's backwards compatible.

[2016-10-13 07:34] juanpicado opened #70 "Node versions deprecation"
Hi guys,

As you may know, (https://github.com/nodejs/LTS) Node is gonna stop the LTS support for **0.10** at the end of the month and **0.12** at beginning of the next year. Node 4 also pretty soon will be dropped (**April 2017)**.  Basically they are force everybody to move Node 4 / 6 ASAP.

It does not make sense keep supporting such versions anymore, I think is time to move on and clean up a l

[2016-10-13 14:09] trentearl commented on #70
@juanpicado Deprecating node versions sounds good.
I agree the code is getting old. For me, it makes it difficult to understand. I would like an es6 promise based architecture. I'm open to other ideas, especially because I dont currently have the time to put the work in.

The frontend could definitely use some work. It would be nice to have each package have its own page. I could definitely find t

[2016-10-13 18:59] juanpicado commented on #70
Yeah, I was working in a prototype just for fun, but then I saw the difficulty to use JSX with the current code base, I tried babel but some of lib files still use octal literals, since ES6 is strict mode by default it was my first stone on the road. About the front I'd move to React as well.

[2016-10-20 17:06] jmwilkinson commented on #69
I think the question is about migrating the package history over to the running verdaccio instance? Is that correct?

[2016-10-23 19:23] smmoosavi opened #73 "npm-latest problem"
[npm-latest](https://github.com/jprichardson/npm-latest/) package has some problem with sinopia and verdaccio

[code]

related issues:
- jprichardson/npm-latest#9
- santinic/how2#68

[2016-10-24 14:45] ameesme opened #74 "Yarn authentication not working"
Hi. We've been running Sinopia for a while and recently switched to Verdaccio as a private registry.

I looked into Yarn, but didn't get this to work with Verdaccio. Yarn's authentication flow is as follows:
- `yarn login`
- Enter username and email
- `yarn install`
- Enter password if needed
- Authenticated

However, this method of authentication does not seem to work. The following error is thro

[2016-10-25 14:40] feluxe opened #75 "verdaccio/verdaccio not being listed in github search result when searching for verdaccio."
I just noticed if I search github for 'verdaccio' it does not return verdaccio/verdaccio.

The only repositories it show me are:
- Global-Solutions/docker-verdaccio
- coldrye-docker/coldrye-debian-verdaccio

I wonder why that is and just wanted to mention it.

[2016-10-25 15:40] feluxe opened #76 "Disable 'adduser'."
I run the verdaccio docker image on a remote server and it works fine so far. I blocked public accessibility with this setting:

	auth:
	  htpasswd:
	    file: /verdaccio/conf/htpasswd
	packages:
	  '@*/*':
	    access: $authenticated
	    publish: $authenticated

	  '*':
	    access: $authenticated
	    publish: $authenticated

This prevents anyone from uploading/downloading packages without bein

[2016-10-26 08:26] Phmager opened #77 "Active Directory Support"
Hi,
is there a possibility to add User Authentication using an AD?
I saw this one: https://www.npmjs.com/package/sinopia-activedirectory
Is this supported?

[2016-10-26 08:32] Phmager commented on #77
Yes it works 👍

[2016-10-26 08:32] #77 closed

[2016-10-26 11:34] petrutoader commented on #76
[code]

[2016-10-26 11:57] Nicholaiii commented on #74
Yarn is a completely different beast than NPM. While I would like to use this approach as well, I think it's a lot more work than simply just doing it.

[2016-10-26 12:08] Nicholaiii commented on #69
If you're still in doubt, I believe you just need to move the folder from the sinopia install to the verdaccio install.

[2016-10-26 12:36] feluxe commented on #76
This solved the problem. Must have overlooked it...
Thanks! :)

[2016-10-26 22:35] eephillip opened #78 "can't publish a private package to verdaccio while offline"
server log online  / success

[code]

server log offline / failed

[code]

npm publish --verbose

[code]

npm-debug.log

[code]

[2016-10-27 02:10] #76 closed

[2016-10-27 03:34] eephillip commented on #78
Related
https://github.com/rlidwka/sinopia/issues/356

[2016-10-27 05:20] eephillip commented on #75
I just ran into that as well. Instead of listing under Repositories, it lists under users when searching within github.

[2016-10-27 10:18] joaojeronimo commented on #28
Node 7 is here, cmon guys

[2016-10-27 11:30] qballer commented on #28
@joaojeronimo you are right but node 4/6 are also here.

[2016-10-28 07:37] skosno opened #79 "Other private npm solutions"
Hi,

First, thanks for your active work on maintaining sinopia!

We are currently looking in my company at possible solutions for private npm/npm cache and of course verdaccio/sinopia is being considered. At the same time we found some alternatives that seems to be actively used by others:
- Nexus 3: https://books.sonatype.com/nexus-book/3.0/reference/npm.html
- CNPM: https://github.com/cnpm/cnpmj

[2016-10-28 09:02] joaojeronimo commented on #28
True, I don't think it's a problem, just wanted to ping this issue again now because it's more relevant than it was on May 10th and could have been forgotten.

[2016-10-28 18:06] rmg commented on #79
I've tried artifactory, but it doesn't handle being used as a staging registry for packages that eventually get published to npmjs.org. The problem comes up when you publish package@1.2.3 to it and then later publish package@1.2.3 to npmjs.org. When you go to install from it later it uses the metadata from npmjs.org, including the shasum, but the actual tarball is fetched from it's internal storag

[2016-10-31 08:17] macdasi opened #81 "Can't use scope with local packages"
I want to publish my package to http://localhost:4873/ the name of the package is @local/my-lib
If I try to do it I get error :

without the scope it is working .
My command is

In my packages.json :

[2016-11-01 08:46] juanpicado commented on #81
https://github.com/verdaccio/verdaccio/issues/55

[2016-11-01 13:19] 030 opened #82 "How to connect to a remote sinopia?"
http://stackoverflow.com/questions/40358250/how-to-connect-to-a-remote-sinopia

[2016-11-01 15:46] viniciusbo opened #83 "How to run as daemon?"
I've tried to use https://github.com/terminalcloud/terminal-tools/blob/master/daemonize.sh script but this message is getting me stuck: `Failed to start verdaccio.service: Unit verdaccio.service failed to load: No such file or directory.`. I'm going to try `daemonize` (I mean this one http://software.clapper.org/daemonize/) as well.

So I was wondering how you guys daemonize Verdaccio process.

[2016-11-01 16:12] viniciusbo commented on #83
The best solution I found so far is to daemonize it using PM2.

[code]

[2016-11-01 17:35] qballer commented on #74
Can we have a yarn connector for verdaccio?
It's a PR and development, I know. Yarn is just so much faster.

[2016-11-02 08:56] jachstet-sea commented on #83
I prefer "screen" for that purpose. It allows you to interactively start commands, then detach, logout and re-attach to that shell later if needed.

[2016-11-02 14:39] ameesme commented on #74
I am interested in contributing to resolve this issue. Are there any guidelines available?

[2016-11-03 08:34] 030 opened #84 "ansible support"
https://github.com/030/ansible-verdaccio

[2016-11-03 08:34] 030 opened #85 "salt support"

[2016-11-03 08:34] 030 opened #86 "chef support"
does the cookbook defined in the readme still work?

[2016-11-03 08:35] 030 opened #87 "puppet support"
should sinopia not be renamed or a new module be created in puppetforge?

[2016-11-03 08:36] 030 commented on #83
What about a systemd script?

[2016-11-03 09:25] 030 opened #88 "Verdaccio instead of Sinopia"
```Sinopia doesn't need superuser privileges. Don't run it under root.```

should be

```Verdaccio doesn't need ...```

[2016-11-03 10:14] #82 closed

[2016-11-03 12:14] viniciusbo commented on #83
@030 nice!

[2016-11-03 13:11] 030 commented on #83
What about deploying this file as ```/etc/systemd/system/verdaccio.service``` when npm install -g verdaccio is run so it is possible to start it as a service?

[2016-11-03 13:22] jachstet-sea commented on #83
I oppose automatically creating a file below the /etc directory for one reason: Software installed using package managers (and I see npm as one) should be cleanly and completely removed when uninstalled using that package manager. If a file is copied to /etc using a hook (or did you think of another way?), you also need a hook that removes that file again when uninstalling.

[2016-11-03 13:24] viniciusbo commented on #83
@jachstet-sea made a good point.

I think it should be optional also because people may prefer other daemon solutions. Altough most server's OSs use systemd by default, personally I prefer OpenRC (at my local machine).

[2016-11-03 15:19] 030 commented on #83
We could deploy it using [ansible](https://github.com/verdaccio/verdaccio/issues/84) for example

[2016-11-04 11:34] steve-p-com commented on #34
Just to bring this up to date: I'm not sure this is something that should be addressed within Verdaccio. The npm client is in charge of the shrinkwrap file. Any time you install or update anything with --save set, if there's a shrinkwrap file, it will get updated. The safest option if you need network-free installs is to update the shrinkwrap file before publishing. I use a `gulp` task for it whic

[2016-11-06 09:36] macdasi opened #91 "Can't configure verdaccio to foreword npm"
I want to configure .npmrc at my project to use our local verdaccion repository , so I set
registry=http://git.local.co.il
@types:registry=https://registry.npmjs.org/
@angular:registry=https://registry.npmjs.org/

I have a ng2-translate to install in my packages.json , so I run "npm i" and it can't download it  because it tries to do it from the http://git.local.co.il . I tried to write in the con

[2016-11-07 12:14] qballer commented on #69
I'm running verdaccio with forever, and looks good. 10x

future ref: `forever <install folder>/node_modules/.bin/verdaccio -c /srv/sinopia/config.yaml &`

[2016-11-07 12:14] #69 closed

[2016-11-07 12:16] qballer commented on #74
@ameesme can I help, I also would like yarn to work well with sinopia. Testing it as we speak.

[2016-11-07 12:26] lengziyu commented on #88
Me too,+1

[2016-11-07 12:34] lengziyu opened #92 "npm ERR! Protocol "https:" not supported. Expected "http:"."
windows 7
node v4.2.0
npm v2.14.7
[code]
next:
[code]
Error prompt:
[code]
Why?I use sinopia Error when installing [crypt3], so now I try verdaccio.

[2016-11-08 00:19] juanpicado commented on #88
Considere change some internal sinopia references will affect sinopia plugins used by verdaccio

[2016-11-08 15:22] kgrubb commented on #86
I've created a new verdaccio cookbook:

[source](https://github.com/kgrubb/verdaccio-cookbook)

[supermarket](https://supermarket.chef.io/cookbooks/verdaccio).

I've been messing around with it and it seems to work so far.

[2016-11-08 15:26] kgrubb commented on #88
Ah, didn't think about plugin support. If that's the case, maybe we should fork or replace sinopia plugins for use with verdaccio, since sinopia is still at a standstill in development? or is that more of a headache than its worth?

[2016-11-09 17:11] juanpicado commented on #88
Well, I think duplicate them is not a good idea, it will create more confusion, maybe we should add some kind of backward compatible plugin support.

[2016-11-09 17:15] juanpicado commented on #88
https://github.com/verdaccio/verdaccio/issues/64 this issue claims that anyway, so, maybe is good idea after all.

[2016-11-09 17:15] juanpicado commented on #64
It's seems good for me, maybe the rename of #88 solves that.

[2016-11-09 17:32] juanpicado commented on #86
Awesome :+1:

[2016-11-09 17:41] Nighthawk22 commented on #88
Yeah but you have to be carefull because no plugin / existing db will work with this plugin anymore.

[2016-11-10 16:57] juanpicado commented on #88
What do you mean @Nighthawk22 ? I don't get it

[2016-11-11 07:08] Nighthawk22 commented on #88
i meant, that the PR also dropped the support for the old sinopia plugins. But the author of the PR already changed the specific line.

[2016-11-11 15:05] sfandersen commented on #65
I have just installed verdaccio and I am seeing the same issue. ("By:" is blank). It would be very helpfull, if it was possible to see who published the package (I will rather see the name of the publisher then the name of the author).

[2016-11-15 10:07] 030 opened #95 "instructions how to configure https"

[2016-11-22 14:07] darkowic opened #97 "Authentication restrictions doesn't work"
Hi!
I'm testing this server. I found problem with authentication/
Even though I have set access only for user `admin` I can download package...

[code]
[code]

[code]

[2016-11-25 07:33] jonaskello opened #98 "Docker version tags"
Would be nice if the docker images had version tags. This would mean docker installations could be more predictable in which version they run. As it is today there is only the `latest` tag so you don't know which version you will get when you do `docker pull`.

[2016-11-25 09:33] darkowic commented on #97
This is problem with npm cache. If you download package once and then change in verdaccio authentication for this package then even though verdaccio returns 403 it will install the package from cache...

[2016-11-25 09:33] #97 closed

[2016-11-25 10:37] guyspronck commented on #65
Also adding to this, I can confirm what @kachkaev said as it's the same on my instance (running in docker). When you manually set the _npmUser however, it loads correctly. So seems like this is not getting set somehow.

[2016-11-25 10:40] kachkaev commented on #65
@guyspronck I could not get a proper workaround to this and a couple of other issues with verdaccio and ended up using Sonata Nexus as a private NPM registry. It's also open-source and is available as a docker image.

[2016-11-26 01:13] zolekm opened #99 "HELP: How to publish package trough exposed API"
Hi,
i'm working on project where i want to implement publishing new package trough web interface(API).
When i was searching for API i found endpoint to publish new package, but i can't found any example how to do it.

API method that i referencing to: https://github.com/verdaccio/verdaccio/blob/master/lib/index-api.js#L289

There is requirement for tar file and handler for tarball upload but i don

[2016-11-26 16:24] mikedevita commented on #65
👍  another here with the same problem...

[2016-11-26 22:14] jonaskello opened #100 "Maximum cache size"
Is there some way to limit the cache? I would like to set a limit in GB and when that is reached the packages that have not been requested for the longest time are evicted from the cache.

[2016-11-27 09:20] jonaskello commented on #81
This is working for me. I think maybe you are missing the proxy part in your config?

[code]

[2016-11-27 16:22] juanpicado commented on #28
Sorry @joaojeronimo, I cannot see which dependency uses graceful-fs ~3. Can you point it out ?

[2016-11-27 16:44] juanpicado commented on #99
@zolekm about @rlidwka refer to https://github.com/rlidwka/sinopia/issues/376

[2016-11-27 16:57] juanpicado commented on #99
About the endpoint question, verdaccio works as a webserver that works assuming the user will use NPM cli, thus, verdaccio just exposes the same enpoind npm will use and acts as a proxy with private storage.

I haven't found any npm documentation that describe such endpoints, but their repo seems a good point to start.

https://github.com/npm/npm/blob/latest/lib/publish.js

[2016-11-27 17:20] juanpicado commented on #95
https://github.com/verdaccio/verdaccio/wiki/Set-up-SSL-Certificates

[2016-11-27 18:02] juanpicado commented on #92
It works for me on OSX, can you try with a newer NPM/Node version?

[2016-11-27 19:02] zolekm commented on #99
@juanpicado tnx a lot i will try:)

[2016-11-27 20:06] juanpicado commented on #100
There is no such thing in the config file. https://github.com/verdaccio/verdaccio/blob/master/conf/full.yaml
I think would be hard to implement, verdaccio does not support background jobs or at least wasn't in the original sinopia. If it make sense or not to implement, let's wait more thoughts.

[2016-11-27 20:20] jonaskello commented on #100
Maybe it is something that makes more sense to add to the docker file.

[2016-11-27 20:29] juanpicado commented on #100
that's a good point

[2016-11-27 21:39] jonaskello commented on #74
According to [this PR](https://github.com/yarnpkg/yarn/pull/839) and [this PR](https://github.com/yarnpkg/yarn/pull/1666) yarn should work with scoped packages on private repositories the same way npm does (with autentication information in .npmrc). However I just tested the nightly build of yarn (0.18.0-20161127.0346) and it does not work. I get the same error as in the first comment. I guess thi

[2016-11-27 22:41] jonaskello commented on #74
I started to monitor things with tcpdump to see what was going wrong, and suddenly it just stared working. So now the [nightly build](https://yarnpkg.com/en/docs/nightly) of yarn (0.18.0-20161127.0346) is working and installing packages from verdaccio for me :-).

[2016-11-27 22:48] jonaskello commented on #74
Seems it only works if you have prefixed the registry with a scope in .npmrc. Like this:

[code]

If I omit the `@foo:` part it gives the same error as in the first comment (`unregistered users are not allowed to access package`).

[2016-11-28 00:37] lengziyu commented on #92
@juanpicado Now is OK,thinks!I try with Linux install,it is works.

[2016-11-28 00:37] #92 closed

[2016-11-28 12:14] joaojeronimo commented on #28
@juanpicado It seems you have updated, the warning is no longer there :)

These are the current warnings:

[code]

It seems all the current versions used are 4:

[code]

[2016-12-01 21:05] developit commented on #75
FYI this is because github does not perform search on forks (ever). Likely no way around this other then recreating the repo as a non-fork of sinopia.

[2016-12-07 15:01] wzrdtales opened #102 "Added verdaccio as tag to my production ready Dockerfiles"
Hey just recently saw that you continue on the development of sinopia. Therefore I will probably replace sinopia soon with verdaccio though.

Currently this package still has the problem, just like sinopia, that you can't configure it via environment. I have published a few docker files with different auths that enable exactly this without altering the package itself.

To just share for everyone t

[2016-12-07 15:05] wzrdtales opened #103 "verdaccio/sinopia is not yet cluster ready"
Currently verdaccio/sinopia has an internal cache of which packages exists. It does not reparse the `.sinopia-db`, therefore if you run sinopia in a cluster, there will be nodes that are out of sync and even more problematic, you may overwrite the `.sinopia-db` with different states.

Therefore we need to add the capability to either:
Create a communication channel (EventBus, MQ, whatsoever) or ju

[2016-12-07 17:27] juanpicado commented on #75
@trentearl ping

[2016-12-07 18:04] jmwilkinson commented on #75
Do we have a possible solution for this? Or do we simply close it?

[2016-12-07 19:33] juanpicado commented on #75
@jmwilkinson If you are agreed with @developit I think is pretty clear. You decide. In my case I would do it.

[2016-12-07 20:43] jmwilkinson commented on #75
@juanpicado The problem I have with removing it as a fork is that it will no longer show up for people who are looking for an (at least somewhat) active fork of sinopia. We still have quite a few people finding verdaccio through the old sinopia project.

[2016-12-07 20:46] #65 closed

[2016-12-08 12:31] feluxe commented on #75
Someone could create a repo named verdaccio which has something link this in README.md:

This repo would pop up in github-search and redirect people to the main repo until it is removed as a fork.

[2016-12-08 15:30] juanpicado commented on #98
@jonaskello this repo does not handle the docker version. I think you are looking for this project https://github.com/wzrdtales/docker-sinopia don't you? Please correct me if I'm wrong.

[2016-12-08 15:32] juanpicado commented on #95
@030 are you ok with that documentation?, to close this issue.

[2016-12-08 18:24] jonaskello commented on #98
@juanpicado If you look at the [docker hub](https://hub.docker.com/r/verdaccio/verdaccio/) it lists this repo as source. Also there is a Dockerfile in this repo, I thought that is what is used to build to docker hub but maybe it isn't?

[2016-12-12 01:25] pdyxs opened #104 "Scoped Packages from default registry"
If you run:
[code]

the result errors out, with:
[code]

If you revert the registry to the default npm one, the command works perfectly.

[2016-12-16 14:13] juanpicado commented on #104
`npm install /@sailshq/lodash`  ? From where the `/` comes from @pdyxs ?

[2016-12-19 05:04] pdyxs commented on #104
I think that came from a dependency tree somewhere (this showed up when installing something else). The error is the same when I omit the '/' though.

[2016-12-20 10:10] EruantalonJS opened #105 "User management documentation"
Hi,

Is there any documentation and / or recipes regarding user and group management in verdaccio? I haven't seen anything besides the basic "$authenticated" default group

[2016-12-22 16:25] agrcrobles commented on #74
Thanks @jonaskello prefixing fixes it!

[2016-12-22 20:06] unional commented on #104
You were using `/@sailshq/lodash`. I install `@extjs/reactor` with no problem.

[2016-12-27 13:16] darkowic opened #106 "How add new user when registration is disabled"
As a admin I would like to know how to add new user while registration is disabled.

Currently I use workaround -> changing setting add adding new user...

Maybe executable `verdaccio` should have option for this?

[2016-12-27 13:25] darkowic opened #107 "In search results you can see names of private packages"
I have private and not visible package with name starting with `d`

![verdaccio_no_packages](https://cloud.githubusercontent.com/assets/11510581/21500520/fb679b1c-cc3f-11e6-8cf1-011d0aaa502c.png)

But when I start typing in search as a anonymous user I can see it.
![verdaccio_search](https://cloud.githubusercontent.com/assets/11510581/21500555/49193a64-cc40-11e6-98ea-ee1859a0e0ed.png)

[2016-12-29 10:07] mhverbakel commented on #34
I think I found the cause of this problem, or actually two of them.

1. When a package that you install is still in your cache, downloaded directly (not through the cache), it will show up in the shrinkwrap as resolved from the npmjs server (which is true). This should not be resolved by verdaccio, as it is a user fault.
2. If a package contains a `npm-shrinkwrap.json` file, it will contain direct

[2017-01-04 10:29] steve-p-com commented on #34
I don't think verdaccio can fix the problem. It would require it to unpack the tarball, modify the shinkwrap file, and repack it. That would change the checksum which would have further consequences. Packing the tarball has to be the responsibility of the client.

Subsequent to what I posted above, we are moving onto using `yarn` for npm package deployment. See

https://www.npmjs.com/package/yarn

[2017-01-04 10:42] steve-p-com commented on #34
Just to add the `yarn.lock` file does contain references to the address of the `verdaccio` server, which works for us because we are always deploying from the `verdaccio` server and never directly. The shrinkwrap file generated afterwards doesn't contain references to the server, though (no resolved elements).

[2017-01-10 13:10] Cosaquee opened #109 "Puppet module to install is linking to sinopia not verdaccio"
Right now the puppet module linked in README.md will install sinopia, not Verdaccio. In my opinion this readme entry should be deleted until we have working Puppet module for Verdaccio.

Right now I`m going to install Verdaccio in my company, I`m going to use Puppet for that and I`m willing to publish Puppet module for Verdaccio and maintain it.

[2017-01-18 02:05] unional opened #111 "Unable to publish package after changing listen address"
I was trying and using `verdaccio` with the default setting (`localhost:4873`) and it was working fine.

I now change the listen address to `0.0.0.0:4873` to allow other machines accessing it.

But then I cannot publish to it anymore:

[code]

When I run `npm adduser` again, it complains the user already exists.

I try to uninstall and reinstall `verdaccio` but the error still presist.

How can I

[2017-01-18 08:41] HJoost commented on #111
Same problem here :(

[2017-01-18 08:43] Cosaquee commented on #111
I do knot know why this error happens but a quick fix is to setup reverse proxy (Apache or Nginx) so you can have verdaccio running on localhost but still be accessible from other machines.

[2017-01-18 08:45] HJoost commented on #111
Please have a look at my edited comment above! (Wrong permission in the config was the failure)

[2017-01-18 09:09] unional commented on #111
I checked my config file and it doesn't have the users section. Here is my config:

[code]

[2017-01-18 09:15] HJoost commented on #111
I would try to change the listen property to something like:

- http://192.168.3.2:4873

If this doesn't help (for test purposes only!) publish: $all

[2017-01-20 13:45] danielo515 opened #113 "How to login"
Hello everyone,

I want to use verdaccio as a private npm registry, however I'm having problems logging in.
I have disabled user registration, and I have created an `htpasswd` file with a couple of users.

If I try to install a package, I get an error that says `unregistered users are not allowed to access package x`, fantastic, exactly what I want. BUT, how can I log in? If i try `npm login` what

[2017-01-20 14:11] danielo515 commented on #113
Ok the problem was the format of the passwor.
It was not the one that verdaccio expects, it was generated using `htpasswd` on my MAC.
The error was very confusing, because the problem was not the user existing already, it was because passwords did not match.

Consider adding this to the documentation, most of the people that ends up checking verdaccio is for having totally private npm repositories

[2017-01-22 21:06] juanpicado commented on #113
The PR https://github.com/verdaccio/verdaccio/pull/112 add support for `md5` being created with unix `htpasswd`. I'd wait for others opinion. **verdaccio** uses an `sha512` encryption by default. That's the reason why does not match. It's intended in that way, I'd recommend use  `npm adduser --registry http://localhost:1443`
in order to create users to ensure high compability.

[2017-01-22 21:11] juanpicado commented on #107
Can you elaborate this a bit more?

[2017-01-22 21:16] darkowic commented on #107
There was an error in my post - the package name starts with 'd'.

ok example - Package is called e.g. `demo`. It is private package. When you type `d` in search on page, the `demo` package will be listed even though it should not be there (couse is private)

[2017-01-22 21:34] juanpicado commented on #106
Sorry, I don't know I if get it, but,  there is no roles, the machine user that runs verdaccio is the *admin*. When registration is disable there is no way to add more uses unless you change the config `max_users` value. See this line. (https://github.com/verdaccio/verdaccio/blob/master/lib/plugins/htpasswd/index.js#L62)

[2017-01-23 09:51] danielo515 commented on #113
Dear @juanpicado, that's what I did, but it is a bit uncomfortable to spawn a server just to add a couple of users. I want my repository to remain private ,and to achieve that I have to disable users registration. What it's really lacking is a system where only administrators can add new users .

Regards

[2017-01-24 07:20] juanpicado commented on #113
Currently there is no such support, but, it seems a good idea. Let's see how ends up the #112 to helps you to add users.

[2017-01-24 17:28] #99 closed

[2017-01-24 17:35] #104 closed

[2017-01-24 17:36] jmwilkinson commented on #104
If you have more issues and there is actually a problem with scoped packages, we can reopen this issue.

[2017-01-24 17:39] jmwilkinson commented on #98
I created the docker image as an easy way for people to pull the latest image. If someone wants to help out and tag builds, let me know so I can add you.

[2017-01-24 17:49] juanpicado commented on #103
#54 @trentearl mention something interesting. But I was thinking to add kinda of 'adapters' features in order to delegate different kind of storages, by default would be the current one as a fallback.

[2017-02-02 12:30] 0815fox commented on #105
I am seeing this as well. How can I make sure, that only users, which I added to a certain group can access packages from a certain scope?

[2017-02-02 14:32] 0815fox commented on #106
I found the following tip on [this page](https://github.com/rlidwka/sinopia-htpasswd).
[code]
I will give it a try now.

[2017-02-02 14:56] 0815fox commented on #106
It did not work. Also the strings generated by mkpasswd look much longer than those generated through the normal way.
[code]
where foo is a test user as stored by verdaccio through npm login-registration-procedure and db is a test user generated with mkpasswd. Login does not work.
Can someone tell us exactly, which algorithm is used?
Also I saw, that two test users with the same password have the

[2017-02-02 21:26] juanpicado commented on #106
@0815fox  I would not take `sinopia-htpasswd` as a reference, the code has evolved (https://github.com/verdaccio/verdaccio/commit/e45fe466eec54c8eab17a7c0b881832d2017542f#diff-4b93cde51ff144a99525e47cef2843e6) since the last commit in `sinopia`. In the past the plugin was bundled and is completely different.

I've been looking into the *algorithm* that we use is fairly simple and easy to reproduce

[2017-02-02 21:51] juanpicado commented on #103
I've been working in a small demo about how to scale this properly which I'll push in the following days hopefully. My idea is the following:

## The Problem
 Verdaccio persist only in the file storage in a file called `.sinopia-db.json` and handled internally by `local-data.js` and currently there is not way to change this unless we create a way via configuration to choose different sort of (I na

[2017-02-03 13:57] Igmat commented on #103
@juanpicado, great suggestion. I there some way to look at your current solution?

[2017-02-03 19:59] juanpicado commented on #70
Solved here https://github.com/verdaccio/verdaccio/pull/115

[2017-02-03 19:59] #70 closed

[2017-02-03 20:00] juanpicado commented on #95
I'll close this, feel free to comment if you need more information

[2017-02-03 20:00] #95 closed

[2017-02-03 20:07] wzrdtales commented on #103
@juanpicado NFS is probably a bad choice if the plan is to actually distribute the system. :)

Having adapters and having a database, would help to solve the problem of concurrency. We would also need a strategy to persist data, where there are multiple ways. One would be to check for the checksum of the package and compare it with the existing ones. Another one would be a 3 step persist, insert i

[2017-02-04 07:49] #81 closed

[2017-02-04 07:59] juanpicado commented on #9
I haven't found a replacement for `lsof` in windows, maybe a person with more experience on Windows can help here.

[2017-02-04 08:00] juanpicado commented on #33
Related #103

[2017-02-04 08:02] #79 closed

[2017-02-04 08:03] juanpicado commented on #79
Closing, is not a bug, but keep the discussion, good to know about more alternatives

[2017-02-04 08:07] juanpicado commented on #75
@feluxe  I'd have to eliminate this repository and recreating it again losing issues, starts, wiki and so on. I'm agree with @jmwilkinson

[2017-02-04 08:07] #75 closed

[2017-02-04 08:10] juanpicado commented on #88
This is already fixed https://github.com/verdaccio/verdaccio/blob/master/lib/cli.js#L6 . About the plugins I'll commit the related PR

[2017-02-04 08:10] #88 closed

[2017-02-04 08:30] #106 closed

[2017-02-04 08:55] juanpicado commented on #86
@kgrubb could you update the readme.md ?

[2017-02-04 08:56] juanpicado commented on #85
There is no description, I don't get it. Closing.

[2017-02-04 08:56] #85 closed

[2017-02-04 08:58] #45 closed

[2017-02-04 09:09] juanpicado commented on #28
I'll close this one and create a new ticket to clean the warnings
[code]

[2017-02-04 09:09] #28 closed

[2017-02-04 10:58] steve-p-com commented on #9
I don't think you will find a replacement. It would require operating system level support which Windows just does not make available. I think this is insurmountable.

Are any tests still failing because of this? If so, those tests need changing so that they are skipped on Windows. It's not ideal, but then neither is writing tests that use functionality beyond what is universally available.

[2017-02-04 11:26] darkowic commented on #106
Cli command would be great

[2017-02-04 12:46] juanpicado commented on #9
The list of unit test affected are around 120 of 191. It's a big amount. I could skip them somehow, but still the windows platform will remain untested. Let's see if someone comes up with a solution/suggestion about this.

[2017-02-05 21:20] zoell opened #118 "Add support for packages containing @ and /"
When trying to install a package like this:

@sailshq/lodash
https://www.npmjs.com/package/@sailshq/lodash

Error:
[code]

[2017-02-07 14:58] fforres commented on #103
Hey, sounds like a really neat Idea, we have been playing with verdaccio for a while,
But scaling is my biggest concern for pushing it forward in the company.
Part of our infrastructure is in AWS, so we considered S3 to create an adapter.
Do you have it in a current branch @wzrdtales ?  Would love to help if possible

[2017-02-07 15:09] juanpicado commented on #103
@fforres I was doing that, but I posponed it until I finish a reliable plugin system (https://github.com/verdaccio/verdaccio/tree/refactoring-plugin). Actually, storages are not "pluginable" at all, only the authorization (as far I know) . Then, it would make sense make all adapters as plugins. I created a `yeoman` plugin generator in order to do this process less painful as possible (https://gith

[2017-02-08 11:04] dananichev commented on #118
@zoell you need to add something like this into your config file
[code]

[2017-02-08 12:05] juanpicado commented on #81
@macdasi related tickets
https://github.com/verdaccio/verdaccio/issues/118
https://github.com/verdaccio/verdaccio/issues/50

[2017-02-08 22:30] nathanyeung commented on #111
On the machine that you're trying to run verdaccio on use the local ip address:
`listen:
    - 10.0.0.5:4873`

[2017-02-08 23:30] unional commented on #111
Yes, using local address is fine.
The OP is about not able to publish with the existing user before changing from `localhost:...` to `10.x.x.x:...`.

For now, I'm using another user to publish. And will likely be my solution to my problem, because our IT will provide ArtiFactory for me in the future to publish the npm packages. This means I'll deprecate my usage of `verdaccio` soon.

However, this

[2017-02-09 19:30] juanpicado commented on #111
I tried and I cannot reproduce. What I did was:

1. Using a new Ubuntu installation running in a VM
2. Installed latest verdaccio (2.1.1)
3. Using your same configuration
4. I created a new user
5. I logged successfully
6. I published successfully

[code]
I'll need more info in order to reproduce it.

[2017-02-09 19:36] juanpicado commented on #83
I think I can close this one, `systemd` patch has been already merged and `pm2` is also a good solution.

[2017-02-09 19:36] #83 closed

[2017-02-09 19:37] juanpicado commented on #64
There is some work related in this branch https://github.com/verdaccio/verdaccio/tree/refactoring-plugin, also you may visit https://github.com/verdaccio and see the future yeoman generator for plugins.

[2017-02-09 19:53] juanpicado commented on #34
I think @steve-p-com  cleared that up. Thanks. Closing

[2017-02-09 19:53] #34 closed

[2017-02-14 10:03] ilponyy opened #119 "Package requested always from uplink after maxage"
Well, I guess not exactly always, but close.

Here is a log from version v2.1.1 with the default 2 minute maxage:

[code]

What happens here is that during the two minutes of maxage the uplink is not requested. After the maxage every request causes a request to the uplink.

My guess is that response 304 does not cause the fetched timestamp to be updated correctly.

[2017-02-14 12:03] ilponyy commented on #119
The problem is that get_package in lib/up-storage.js does not pass the 304 response as _sync_package_with_uplinks in lib/storage.js expects.

[2017-02-14 20:35] juanpicado commented on #119
@ilponyy what do you mean with "maxage"? I have no idea what is that.

[2017-02-14 21:45] squadwuschel opened #120 "Requesting some @ npm repository takes very long"
I've created a installation of verdaccio and its "working", but when I disconnect from the internet then the pakages are loaded only very slow. But I've some problems with authenticated repository and with a default @ repo it takes very long without the internet connection before these pakages get loaded it takes about 1-2 minutes for each pakage - all other pakages are fast. And with the internet

[2017-02-15 06:05] ilponyy commented on #119
conf/full.yaml uplinks:
[code]

[2017-02-15 13:43] hdost commented on #91
did you tab it?
[code]

[2017-02-15 13:51] hdost commented on #86
Should this be closed now?

[2017-02-15 14:20] Itacolomy opened #121 "npm ERR! Protocol "https:" not supported. Expected "http:""
npm-debug.log
[code]

Can you help me please?

[2017-02-15 21:48] MrGrigri opened #122 "npm owner ls return 'admin party!'"
I'm trying to set an owner to our instance of Sinopia (taken from this repo). and every time I try `npm owner ls` it returns `admin party!`. Any ideas on how to add an owner or list owners of specific packages?

[2017-02-16 05:55] cesarvarela commented on #118
Worked for me without any change.

Was having this problem with sinopia tho.

[2017-02-16 19:44] juanpicado commented on #121
Can you provide more information?
- Configuration
- Environment

[2017-02-16 20:32] Itacolomy commented on #121
Windows 10, I'm trying install cordova and ionic
Juanpicado,
What do you need about configuration?
Thank's for you attention

[2017-02-17 06:05] juanpicado commented on #121
@Itacolomy  It calls my attention you are using `http://registry.npmjs.org/` instead `HTTPS://registry.npmjs.org/`, why?

[2017-02-17 07:14] mdorenkamp opened #123 "add ldap support"
add ldap support for authentication

[2017-02-17 07:28] juanpicado commented on #123
Try this plugin first https://github.com/rlidwka/sinopia-ldap

[2017-02-17 10:43] mdorenkamp commented on #123
works! you should propably list it on the readme 👍

[2017-02-17 11:02] juanpicado commented on #123
Sure, I'll do it 👍

[2017-02-17 11:02] #123 closed

[2017-02-17 12:14] Itacolomy commented on #121
I don't now, I'm only tring use command "npm install -g cordova ionic" in windows 10.
Do you know where can I change this?
I'm new to these tools

[2017-02-17 12:16] jachstet-sea commented on #121
@Itacolomy: did you configure and start a verdaccio server somewhere? Because from the npm log you posted, the client is connecting to the official repository and not to a verdaccio server. I don't see the link from your problem to verdaccio.

[2017-02-17 12:56] danielo515 opened #124 "uplink credentials"
Hello,

I'm using verdaccio both on raspberrypi on my local network and on a server on the cloud.
The one on the cloud it's restricted to a small collection of users. I want to be able to publish to my local verdaccio registry on my raspberry pi, and defer the publication to the cloud to it.

I have the uplink of my PI configured to point to my verdaccio running on the cloud. I have also generated

[2017-02-17 13:17] Itacolomy commented on #121
jachstet-sea, good morning!
I didn't never configure verdaccio, I need to do this ?

Below is "npm config ls" Is this do you need?

C:\WINDOWS\system32>npm config ls -l
; cli configs
long = true
user-agent = "npm/3.10.10 node/v6.9.5 win32 x64"

; userconfig C:\Users\Mariano\.npmrc
proxy = "https://github.com/sass/node-sass/releases/download/v3.7.0/win32-x64-48
_binding.node"
registry = "http://reg

[2017-02-17 13:32] juanpicado commented on #121
@Itacolomy you don't need a special configuration in order to use verdaccio, just install it

[code]
Afterwards, clearly you are using the official npm registry according your config:
[code]
In order to use verdaccio instead the oficial registry, try again either
[code]
or
[code]

[2017-02-17 13:34] juanpicado commented on #124
@danielo515  Could you provide any verbose log, configuration?

[2017-02-17 14:04] Richie765 commented on #98
If you like I can manage the Docker stuff for this project. I have my own Drone.io installation, it would automatically generate and publish a new Docker image whenever you create a new release. It will be tagged with the version number. I see there are quite some improvements possible to the Dockerfile, I can handle that as well.

Just let me know, I can start with it soon.

[2017-02-17 14:10] Itacolomy commented on #121
Hi juanpicado!

When I went to try ...

C:\WINDOWS\system32>npm install -g verdaccio
npm ERR! Windows_NT 10.0.14393
npm ERR! argv "C:\\Program Files\\nodejs\\node.exe" "C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js" "install" "-g" "verdaccio"
npm ERR! node v6.9.5
npm ERR! npm  v3.10.10

npm ERR! Protocol "https:" not supported. Expected "http:"
npm ERR!
npm ERR! If you need help, y

[2017-02-17 14:12] juanpicado commented on #98
@Richie765 please feel free to PR any change

[2017-02-17 14:29] juanpicado commented on #121
Well, this is not a  verdaccio issue, but try the following, I hope it helps to address your issue

https://github.com/revolunet/angular-carousel/issues/381
[code]

[2017-02-17 15:58] danielo515 commented on #124
Sure @juanpicado, what is the correct setting for verdaccio ? Just setting the level to debug is enough ?

[2017-02-17 16:37] Itacolomy commented on #121
Juanpicado, you are fantastic!
Your tip worked!
Thank's very much!
---------------- bellow, see The result ---------------------------------------

C:\WINDOWS\system32>npm config rm proxy

C:\WINDOWS\system32>npm config rm https-proxy

C:\WINDOWS\system32>npm install -g verdaccio
C:\Users\Mariano\AppData\Roaming\npm\verdaccio -> C:\Users\Mariano\AppData\Roaming\npm\node_modules\verdaccio\bin\verda

[2017-02-17 16:57] juanpicado commented on #121
I'm glad it worked 👍

[2017-02-17 16:57] #121 closed

[2017-02-17 17:03] juanpicado commented on #124
@danielo515 for extreme debug you could do the following in each instance
[code]
and then `npm` in verbose mode using `npm install --verbose xxxx`

[2017-02-17 17:32] juanpicado commented on #122
Related https://github.com/rlidwka/sinopia/issues/386

[2017-02-17 18:17] Itacolomy commented on #121
Thank's

C:\WINDOWS\system32>ionic --version
2.2.1
C:\WINDOWS\system32>cordova --version
6.5.0

[2017-02-17 18:56] Richie765 commented on #98
@juanpicado, I've looked into it and there's an easier way to do it. You can setup automated builds on Docker Hub. I've outlined the steps:

* Link your Docker Hub account with Github (settings, linked accounts).
* Delete your current Docker Hub verdaccio/verdaccio repo.
* Choose: Create Automated Build. Select your verdaccio/verdaccio repo.
* Go to the build settings and fill out as follows:

[co

[2017-02-20 01:46] akdor1154 opened #125 "Act sensibly in the face of read-only storage."
I want to deploy multiple instances of Verdaccio configured with a shared NFS volume as storage. I will set one of those instances to have that storage mounted as writable, with the rest as read-only. I will use a load balancer in front of the instances to redirect GET requests to any of the read-only instances, and other ACTION requests to the writable instance. I know this isn't supported, but w

[2017-02-20 07:23] jachstet-sea commented on #124
@danielo515 When you say "you created a .npmrc file with the login credentials of the uplink registry", the registry your client uses is still your RPi, right? The verdaccio server running there won't pass the credentials provided by npm to the upstream registry. At least I wouldn't know that this is currently supported.
If you want the verdaccio server running on your RPi to authenticate against

[2017-02-20 12:04] jachstet-sea commented on #125
I'd personally start by researching what "will stop npm clients in their tracks" if a HTTP 500 (which is actually pretty clear) makes them keep on retrying. Since it's a server-based error (and not something that the client did wrong), you'd use a 5XX status code. And you use one that is permanent i.e. gives the npm client a reason not to retry. In the list of wikipedia at https://en.wikipedia.org

[2017-02-20 12:41] squadwuschel opened #126 "tar package unable to resolve dependencies (update)"
Hi,

I've created a verdaccio setup that seems to work for most packages, when the firewall allows any to any.

I've added our Proxy to npm

    set HTTP_PROXY=http://xxx.xxx.xxx.xxx:3128
    npm config set proxy %HTTP_PROXY%
    npm config set https-proxy %HTTP_PROXY%

When I add the default Port for verdaccio to the firewall, then most packages are getting loaded.

but e.g. the

    npm install

[2017-02-22 06:21] danielo515 commented on #124
Dear @jachstet-sea,
Thank you for your answer. The scenario you described is almost the one I have except for one detail : mi RPI has a global .npmrc file that defined the uplink and the credentials. I thought that was enough, but since verdaccio uses plain HTTP requests it is probably not. Can I specify tokens auth instead of basic auth ? Where is the documentation of the option you mentioned ? C

[2017-02-22 08:00] jachstet-sea commented on #124
Yes, the verdaccio server running on the RPi won't read the .npmrc file. With the config snippet I posted, you can send any static headers to the server you like. So if your tokens are valid for a looooong time, I don't see a problem. If they are only valid for a day, you'd have to change/update the config every day which is not a good option.
The option I mentioned is "documented" in conf/full.ya

[2017-02-22 11:48] squadwuschel commented on #126
solved it, was a local Proxy Problem it prvents in some cases that the server can call itself

[2017-02-22 11:48] #126 closed

[2017-02-22 11:48] squadwuschel commented on #120
semms to be a local proxy Problem

[2017-02-22 11:48] #120 closed

[2017-02-23 17:16] danielo515 commented on #124
Thank you @jachstet-sea

I'll try your suggestions.

[2017-02-25 17:29] #74 closed

[2017-02-28 15:11] IRT-fbachmann opened #127 "Make packages scoped with username private to that user"
If not yet possible somehow.... Would be convenient to allow users to have their own private scope.

[2017-03-01 20:16] zkochan opened #128 "Distributing the registry storage via p2p file sharing"
Hi, I am one of the [pnpm](https://github.com/pnpm/pnpm) maintainers. From version [0.58.0](https://github.com/pnpm/pnpm/releases/tag/v0.58.0) pnpm caches all the tarballs that were downloaded for installations in a special folder called `local-registry`. It is like a local registry mirror, and we used verdaccio's storage structure to design this storage.

As a consequence, if the verdaccio regist

[2017-03-03 14:44] jmac105 opened #130 "npm install 'q' package fails, causes request for 'Q' package instead"
We're having an issue specifically with installing the q package via verdaccio (running centos 7, node 6.10.0, npm 3.10.10).
On the client, there is a 404 returned which upon investigation seems to be because verdaccio is trying to get the Q package instead of q.

See the below logs, the request comes in for q then is somehow transformed to Q, which then fails.

[code]

[2017-03-03 20:25] #113 closed

[2017-03-03 21:02] juanpicado commented on #130
Sorry, I cannot reproduce.

[code]
and for Q
[code]

[2017-03-03 22:10] silkentrance commented on #107
See also #15 which might already provide a fix for this issue.

[2017-03-03 22:31] silkentrance opened #131 "Add cache option to uplinks"
I have here a scenario where I use one instance of verdaccio as my private registry and a second instance of verdaccio acting as a simple proxy.

Since both reside on the same network, it does not make much sense for the proxy to cache the tarballs  it gets from the private registry. (and maybe this should be extended to also the meta data)

It would be nice to be able to disable caching for speci

[2017-03-03 23:48] silkentrance commented on #100
How about making this a cronjob of some sort which simply does a ``find`` on the local store on the tarballs and automatically deletes all tarballs which have not been accessed for a specific amount of time. This way, the meta data is kept intact and verdaccio can once again fetch the tarballs if necessary.

[2017-03-04 06:47] juanpicado commented on #122
According this https://github.com/npm/npm/blob/1284a4f335e585f07889b01d33f980b12b4ae461/lib/owner.js#L125

The origin of that messages comes from `npm 3.10.10`
[code]
I found out, the data received from Verdaccio never delivers `data.maintainers` and that's the origin of the bug.

[2017-03-04 09:46] juanpicado commented on #122
`npm` doesn't include the list of maintainers if the auth is token based when you publish a package as you can see here
https://github.com/npm/npm-registry-client/blob/master/lib/publish.js#L76
[code]
That information never reaches `verdaccio` thus by default if the maintainers field is missing `npm` returns `admin party!`.  I've noticed `npm` never sends that information not even on the main npm

[2017-03-04 09:46] #122 closed

[2017-03-04 19:55] lirantal commented on #130
I have an idea, @jmac105 maybe you're running it on Windows or some other insensitive OS?

[2017-03-04 21:23] jmac105 commented on #130
I think you're right @lirantal, after raising the issue it's transpired that it happened following migration from sinopia to verdaccio, via a Windows machine.
The problem was that somehow the package.json of the q package that was saved in the storage directory had become corrupted. It had references to the Q package in there for some reason, removing those packages has fixed the problem and we've

[2017-03-04 21:23] #130 closed

[2017-03-13 15:44] StarpTech opened #134 "Support for dist-tag"
#### My reason:

Tags can be used to provide an alias instead of version numbers.

For example, a project might choose to have multiple streams of development and use a different tag for each stream, e.g., stable, beta, dev, canary.

#### Steps to reproduce:

[code]
#### Additional information:

https://docs.npmjs.com/cli/dist-tag

[2017-03-13 18:52] ollwenjones opened #135 "can't npm install"
#### My reason:
I wanted to give this a quick test-drive, but can't `npm install verdaccio` as in README.

Errors out `Cannot read property 'path' of null

#### Steps to reproduce:
`npm install -g verdaccio`

#### Additional information:
 - Windows 10
 - node v6.9.5
 - npm 4.1.2
 - Container:
   - [x] I use local environment

[2017-03-13 19:11] juanpicado commented on #135
It works for me. Can you provide more verbose?

* Windows 10.0.143393
* Node v6.9.5
* npm 4.4.1

[2017-03-13 19:17] juanpicado commented on #134
I think that's already has been implemented. Take a look here  https://github.com/rlidwka/sinopia/issues/211

[2017-03-13 19:53] StarpTech commented on #134
@juanpicado but I get an error when I use it with private scope.

[2017-03-14 06:12] juanpicado commented on #134
@StarpTech Can you provide me the log? It'd helpful to see more in detail.

[2017-03-14 08:14] jachstet-sea commented on #135
Just because I've also seen that error: Are you using a proxy server?

[2017-03-14 20:12] psychocode commented on #118
It works for me however the readme files won't load in the web interface.

[2017-03-15 16:53] ollwenjones commented on #135
I just tried it again and today it worked no problem. 😑 If I can remember what dir I was in I'll see if that npm debug log is intact...

[2017-03-15 20:39] ollwenjones commented on #135
I can't seem to find the log, but it was almost 100% standard npm error log. Not much there.
@jachstet-sea I'm not using a proxy server.

I had installed and uninstalled sinopia in the same user session / bash session, so it's possible there was something related to that. It failed several times in a row, though.

[2017-03-20 07:38] Robinfr opened #138 "Add integrity check"
I have had a corruption in my NPM server. Some of the packages + `package.json` files have been corrupted. It would be nice if there was a way we could run an integrity check for all downloaded and published packages.

This would make it easier to fix these kinds of situations.

[2017-03-22 00:56] akdor1154 commented on #125
Yeah, verdaccio's behaviour would make perfect sense in the hypothetical scenario of a sensible and standards-compliant client. Unfortunately `npm` appears to be neither of those things..

[2017-03-22 02:19] emcniece opened #139 "Use tokens for auth?"
I need to build an app in a CI pipeline, so the application must be built without human intervention.

Is it possible to get and pass a token as a header, or as part of the URL? What is the method for CI builds without having a human perform `npm login` first?

[2017-03-22 06:55] juanpicado commented on #139
Have you read this thread ? perhaps is useful. I haven't tried this solution but it's a worthile to try. https://github.com/npm/npm/issues/8356#issuecomment-174320077

[2017-03-22 09:02] danielo515 opened #140 "Consider stop using node:onbuild"
#### My reason:

I guess that when you first built the docker image the `onbuild` tag of node was a good choice to start with. However it does not provide enough control over what is happening, how or where.
According to official node image documentation, it is discouraged for anything except tests:

Not to mention that the image size is huge. I would recommend using `node:alpine` as a base instea

[2017-03-23 05:41] juanpicado commented on #140
Thanks @danielo515 I'll let this open to discussion. I'm not Docker expert so at least for my side seems a good enhancement.

[2017-03-24 09:46] blendsdk opened #141 "Question regarding the NPM "protocol""
Hi,

Is there an npmjs API/protocol description on which verdaccio/sinopia is built up on? Or is the npmjs API reverse engineered in order to make this project possible?

Thanks

[2017-03-24 21:07] juanpicado commented on #141
I think sinopia was born as a API reverse engineered from `npm`. I haven't found any hint of design either on commits, wiki or history of tickets on the original project. Anyway, I was documenting which features of npm `latest` are actually supported by `verdaccio`.
https://github.com/verdaccio/verdaccio/wiki/Registry-Endpoints
Why the question?

[2017-03-27 13:22] qballer opened #142 "clear cache endpoint?"
this is more of an enhancement request. I feel like that invalidating a cached package (not the kind you publish as private repo) can be very useful. In many complex production environments it could be that the cache holds the wrong tar and I want to drop it so verdaccio will get the version again.

[2017-03-27 13:34] juanpicado commented on #142
I'm agreed. Any idea how to this endpoint should be called? web/cli/npm? .

[2017-03-27 13:50] qballer commented on #142
web
something you can do with curl from terminal or from cli script.

[2017-03-27 14:45] DeDuckProject commented on #142
+1

[2017-03-27 15:24] juanpicado commented on #142
And endpoint should be accesible either by the npm (not suitable because there is no npm command for such funtionality) or web (not secure at all where any person might trigger that, I'm wrong?). IMHO, That let's us use the CLI as a unique option.

Perhaps ..?
[code]

[2017-03-27 22:17] qballer commented on #142
I understand the deter from web. I was thinking on placing this on a separate host:port pair. It would be great if the CLI command would operate on a live instance. Something like this: `verda -cl [name] -pid [number]`

[2017-03-28 06:37] juanpicado commented on #142
@qballer what would be `[name]`? Could you elaborate a bit more?

[2017-03-28 14:18] qballer commented on #142
name would best be either package name (meaning drop all cache) or package@version meaning drop that specific project

example
`verda -cl react -pid 4172` will remove all react version from the verdaccio endpoint at pid 4172
`verda -cl react@0.14.7 -pid 4172` will drop only the specific version

The cli can write a file to a predefined folder and then send an os event to the process which will cau

[2017-03-29 06:19] qballer commented on #142
related to: #138

[2017-03-30 11:29] Devqon opened #144 "Bug/Question Notify doesn't work"
I am trying to use the notify in combination with [hipchat](https://www.hipchat.com/), but cannot get it to work. I have configured the `notify` section in the `config.yaml` as follows:

[code]

If I'm putting this in Postman it works:

![image](https://cloud.githubusercontent.com/assets/9316480/24502020/4417a528-154c-11e7-8f38-0e03441e1b0a.png)

![image](https://cloud.githubusercontent.com/assets

[2017-03-30 15:47] juanpicado commented on #102
@wzrdtales What's exactly we should change? Perhaps this is related with https://github.com/verdaccio/verdaccio/pull/110 ?

[2017-03-30 16:25] jamietre opened #145 "Detach from "rlidwka/sinopia""
Sinopia's pretty dead, seems like not much reason to keep that relationship. From a practical standpoint, Github doesn't allow searching forks, it would be nice if that was possible.

[2017-03-30 16:43] juanpicado commented on #145
Read #75 . I'm agree with you but, it's really hard to do it. Github came up with keywords and since then the project is easier to find. Closing this one for duplicated.

[2017-03-30 16:43] #145 closed

[2017-03-30 17:25] jamietre commented on #145
Ha - I tried to search the issues but obv didn't use the right keywords.

If the concerns have to do with the complexity of getting de-forked or losing history, this indicates that you can just as github to do it:

http://stackoverflow.com/questions/16052477/delete-fork-dependency-of-a-github-repository

Ref: https://help.github.com/articles/why-are-my-contributions-not-showing-up-on-my-profile/#c

[2017-03-30 17:27] wzrdtales commented on #102
@juanpicado Basically make it completely configurable via environment vars. For every and anything configurable.

I have just build a quick workaround for this, using the environment variables and creating a yaml from it before starting the node app:

https://github.com/wzrdtales/docker-sinopia

[2017-03-30 18:11] juanpicado commented on #145
I filed a request, let's see what Github folks says. Thanks for the info @jamietre

[2017-03-31 04:53] emcniece commented on #139
Thank you. I have implemented the `.npmrc` file population approach and it is working well.

[2017-03-31 04:53] #139 closed

[2017-03-31 06:48] juanpicado commented on #75
Some freedom finally !! `verdaccio` 🥇 is not a fork anymore . Thanks Github.

[2017-03-31 10:02] #118 closed

[2017-03-31 20:39] juanpicado commented on #37
Since there is a PR https://github.com/verdaccio/verdaccio/pull/110 already pretty close to the suggestions in this thread and the suggestion of @RnbWd is a mix that currently committed and the previous PR, I'll close this one.

[2017-03-31 20:39] #37 closed

[2017-03-31 20:42] juanpicado commented on #41
There is a `verdaccio` docker container published here https://hub.docker.com/r/verdaccio/verdaccio/ . Please try again and reopen if the issue persist. Thanks for the update.

[2017-03-31 20:42] #41 closed

[2017-03-31 20:42] juanpicado commented on #98
As soon I got permissions on Docker Hub I'll take care of this one.

[2017-03-31 21:30] Richie765 commented on #98
Great! Since you already have automated builds, you only need to do the last step, the build settings.

[2017-04-01 07:23] #15 closed

[2017-04-01 07:33] juanpicado commented on #61
@mariomarin as @ChadKillingsworth said, there is no way to sign in a existing user, always is going to return a new token. I guess depends of the auth plugin you use. So, natively verdaccio delegates the plugin how to handle tokens. I'll let you a list of plugins I collected in the wiki https://github.com/verdaccio/verdaccio/wiki/Plugins

[2017-04-01 07:33] #61 closed

[2017-04-01 07:38] juanpicado commented on #36
Works fine under Node >6.9 and 7
[code]

[2017-04-01 07:38] #36 closed

[2017-04-01 10:23] #27 closed

[2017-04-04 10:51] blendsdk commented on #141
I was implementing my own registry based on trail/error until i found sinopia and later verdaccio. I wanted to compare my own implementation with another one. It looks like that npmjs themselves do not provide a good documentation regarding the API implementation.

[2017-04-04 16:12] jmellor commented on #69
Nicolaiii stated:

I have a running docker instance of Sinopia and one of Verdaccio.  Both have a bind mount for the storage directory.  I need to migrate all the local packages to Verdaccio.  I must be missing something, because copying the storage directory from Sinopia to verdaccio does not appear to actually work as described.  The packages are present in storage, but not visible in the web pa

[2017-04-04 19:09] juanpicado commented on #69
@jmellor I'm not able to reproduce your issue. I have one instance of Sinopia and another one for Verdaccio, both pointing the same config file and same storage folder. I published 5 modules through Sinopia and 2 from Verdaccio.

This is the storage overview
<img width="575" alt="file_system" src="https://cloud.githubusercontent.com/assets/558752/24673829/db8fd2a0-1979-11e7-90e9-235884e97c7a.png">

[2017-04-04 19:18] juanpicado commented on #142
@qballer I wonder, How this could be used with Docker?

[2017-04-04 20:07] juanpicado commented on #141
@blendsdk The closer thing I've found that can be called API is https://github.com/npm/registry/blob/master/docs/REGISTRY-API.md and it doesn't contains all endpoints. I hope it helps you. If you find something else, don't hesitate to share.

[2017-04-04 20:07] #141 closed

[2017-04-05 09:37] qballer commented on #142
A couple of options from the top of my head.

You can make sure the docker image has a shared file system with the host machine. Than configure
verdaccio to read messages from the docker path. CLI can leave messages there.

Connect to docker via ssh and run the command locally.

Still some kind of API end point configure on a different `ip:port` seems easy.

[2017-04-06 10:46] danielo515 commented on #124
Any idea about how to use npm tokens instead of basic auth? I want to get socped packages from npm

[2017-04-07 20:58] nexinfinitybot opened #148 "Multiple Nodes"
For redundancy the multiple node support is a must.

However, there seems to be some stateful caching going on when multiple nodes use the same verdaccio file system.

Can verdaccio be fully stateless? I.e. lock database for writing per request and not cache the results?

[2017-04-08 00:16] mikedevita opened #149 "Some packages fail to download when registry is set to local npm mirror with verdaccio"
#### My reason:

running `yarn`  or `yarn global add sails@beta` folder yield the error, yet running `npm i` works fine.

[code]

#### Steps to reproduce:

1. install verdaccio latest
2. set your registry url to your internal npm mirror
3. run `yarn global add sails@beta`
4. witness the error

#### Additional information:

 - `$ npm --verbose` prints: 3.10.10
 - `$ npm config get registry` prints:

[2017-04-08 13:02] XavierBoubert commented on #105
👍

[2017-04-08 13:11] Verikon opened #150 "search produces all packages when adding local to the querystring"
Am I right to expect ```http://server:4783/-/all?local=1``` should only list packages found locally? ( ie. show exactly the same packages as ```http://server:4783/``` )

I'm getting all uplinked packages as well - is anyone else experiencing this?

[2017-04-08 13:39] Verikon commented on #150
Flicking through the code I've found http://server:4783/-/search/:string will plug you to a lunr.js index however a query is required.

Does anyone know how to get a JSON representation exclusively listing local contents?

[2017-04-08 16:00] juanpicado commented on #149
Related https://github.com/verdaccio/verdaccio/issues/118#issuecomment-278297887
@mikedevita  Do you have this in your config file? It works for me.
[code]

[2017-04-08 23:00] #148 closed

[2017-04-08 23:01] arcivanov opened #151 "Multiple nodes?"
For redundancy the multiple node support is a must.

However, there seems to be some stateful caching going on when multiple nodes use the same verdaccio file system.

Can verdaccio be fully stateless? I.e. lock database for writing per request and not cache the results?

[2017-04-09 06:13] juanpicado commented on #151
In short, no, the data storage is tight to file system. There is a thread  #103  about it already. I'll close this one to avoid duplicates.

[2017-04-09 06:13] #151 closed

[2017-04-09 14:15] Verikon commented on #150
https://github.com/verdaccio/verdaccio/pull/152

[2017-04-10 12:52] matiaslarsson commented on #79
https://github.com/craftship/codebox-npm (Used to be called [Yith](https://craftship.io/open/source/serverless/private/npm/registry/yith/2016/09/26/serverless-yith.html))

[2017-04-11 06:31] juanpicado commented on #144
A proper logging for notify request is missing, you never will get any feedback from your service whether something goes wrong. It's a clear bug. I'll push later a fix for that.

[2017-04-11 21:42] zifeo commented on #74
Is this still working with latest yarn? I'm currently facing:
[code]
Fetching the archive does not seem to be done as registered user.

[2017-04-12 04:28] #150 closed

[2017-04-12 06:47] ameesme commented on #74
You seem to have a different issue. The first request is a 404, so I assume that the module does not exist. `@scope/package` seems like a weird name for a package.

[2017-04-12 07:20] Devqon commented on #144
Thanks for your help!

One note, I copy pasted this [from the full.yaml](https://github.com/verdaccio/verdaccio/blob/master/conf/full.yaml#L142), so you might also want to change it in there for other users.

[2017-04-12 07:29] juanpicado commented on #144
Nice catch !! I encourage you to contribute :)

[2017-04-12 08:28] zifeo commented on #74
@ameesme NPM works fine on this case. Is this the regular way of using scoped packages?

[2017-04-12 08:44] ameesme commented on #74
@zifeo
`http  --> 404, req: 'GET https://registry.npmjs.org/@scope%2Fpackage', bytes: 0/21`

Unless NPM messed up their status-codes, that package does not exist (otherwise it should probably be a 403). If I'm correct, scoped packages are often private and use the `@username/`-prefix and I assume `scope` isn't the username  you're looking for.

[2017-04-12 11:31] zifeo commented on #74
@ameesme Yes, the scoped package is on Verdaccio's side. Shall I open another issue for it even though the issue seems to be the yarn authentification?

[2017-04-12 20:31] juanpicado commented on #29
It works for me.

[2017-04-12 20:31] #29 closed

[2017-04-13 19:36] juanpicado commented on #144
@Devqon Instead change the `full.yaml`, I added support for both sort of configuration, Array and literal Object.

[2017-04-13 20:15] juanpicado commented on #79
@matiaslarsson done 👍

[2017-04-14 12:17] megazoll opened #156 "Uncaught exception on using yarn upstream"
When I'm trying to use `npm search` it make request to `https://verdaccio.local/-/all`. Verdaccio try to upstream it from `https://registry.yarnpkg.com/-/all` and fails with error:

[code]

.npmrc
[code]

config.yml
[code]

[2017-04-14 14:10] GongT opened #157 "run behind nginx, with different port and domain name"
I run verdaccio behind nginx, let nginx listen "0.0.0.0:80", and verdaccio listen "127.0.0.1:8888".
user will not able to download package tarball, because the url will be "http://127.0.0.1:8888/xxxx"

searched document and code, seems no "domain" option ?

[2017-04-14 14:27] juanpicado commented on #157
@GongT  Does this helps https://github.com/verdaccio/verdaccio/wiki/Reverse-Proxy-Setup ?

[2017-04-15 13:14] GongT commented on #157
said... this is not work at all...

[2017-04-17 04:59] #157 closed

[2017-04-17 04:59] GongT commented on #157
ok... just set “url_prefix” in config file...

[2017-04-17 09:43] juanpicado commented on #157
@GongT I didn't get it. What's the fix? Would make sense update the wiki for future references?

[2017-04-18 08:07] GongT commented on #157
I think you can just add a link  to config example in README.
I use verdaccio about half a year, but I did not know there is a "url_prefix".
I kown this project from npm serach, install with npm cli, and did some simple config by reading README.
I won't know there is a usefull "conf" folder without "looking into source code".

[2017-04-19 10:27] Meeeeow commented on #157
@juanpicado I have done it, see #160

[2017-04-19 15:11] mikedevita commented on #149
thanks that was the issue, I had everything except for the proxy line... adding that seems to have resolved this.

[code]

[2017-04-19 15:11] #149 closed

[2017-04-20 14:35] megazoll opened #162 "Search allowed for unauthenticaed users"
I setup access to only authenticated users. When I'm open index page, I see no packages. But when I'm using search it shows me published packages.

[code]

[2017-04-20 15:04] megazoll commented on #162
Duplicated with #161

[2017-04-20 15:04] #162 closed

[2017-04-20 19:08] GongT commented on #157
thanks!

[2017-04-21 07:34] Meeeeow commented on #128
Why use P2P technology to pre-download packages? Save bandwidth for registry? Faster for large tarballs ?

BTW: pnpm/pnpm#711

[2017-04-21 07:35] Nicholaiii commented on #125
I am assuming this is to limit write access to the registry?
In this case, a 403 is perfectly sensible.

[2017-04-21 08:36] zkochan commented on #128
This will keep your local cache always hot. As a result, installation using `pnpm` will be always super fast.

[2017-04-21 09:18] Meeeeow commented on #128
It's possible to get package list then download from available registry, I think you mean this will eats too many bandwidth for official registry, if download by P2P, all nearby client work as a free CDN, right? Like ZeroNet project

[2017-04-21 09:25] zkochan commented on #128
Yep, that as well.

I think for the end-user speed would be the most valuable feature, that is why I am highlighting it.

But all the other benefits you mentioned are super cool as well and that is why I was thinking about P2P, not just some `smart cache` (like [npm_lazy](https://github.com/mixu/npm_lazy))

[2017-04-21 14:21] radubrehar opened #164 "Restrict `npm adduser` usage"
#### My reason:

I want to control what users can access the verdaccio npm registry I am going to host.

Is there a best-practice on how to prevent people from doing `npm adduser` themselves. I want to restrict the `npm adduser` command to only be accessible to administrators.

[2017-04-21 14:36] jollycic opened #165 "npm search from cli not working"
Hello. I am currently testing verdaccio as a private package manager for the company I work for, so I had it installed on a server on the company LAN.
Everything seems to work just fine except for  `npm search <pkg name>`  (see  verbose log below)

#### Information
- Container: I use local environment, running verdaccio as a daemon using [pm2](https://github.com/Unitech/pm2)
 - Client: Mac OS X Yo

[2017-04-21 15:40] Meeeeow commented on #165
Did you try use JSON linter check response?  Or check server-side log?
My verdaccio was running on same environment, but `npm search package` works.

[2017-04-21 15:45] Meeeeow commented on #164
You can set `max_user: -1` to disable registration.
https://github.com/verdaccio/verdaccio/blob/master/conf/full.yaml#L31

Currently we don't have permission control or user group, so all user is administrator.

[2017-04-21 18:28] juanpicado commented on #165
It works for me, same configuration.
[code]

[2017-04-21 18:32] juanpicado commented on #164
Duplicate #76

[2017-04-21 18:32] #164 closed

[2017-04-21 18:42] Meeeeow commented on #165
@juanpicado It will not work if NPM try access `/-/all/since`,

I'm working hard on this issue, i have pushed some code and created a WIP PR, Here is UTC+8 (2017-04-22 02:40:00)

But NPM still have strange behavior even response body is same as official registry. It works in first and second search, but will not update anymore in third search, because `_updated` in local cache was reset to current

[2017-04-21 18:44] juanpicado commented on #165
Thanks @Meeeeow four your time 🥇 .

[2017-04-21 18:48] radubrehar commented on #164
I don't think this is a nice solution really.
I want users, but I want to create them via another app that manages user accounts and not allow people to create the npm registry accounts directly since I myself will provide them with the credentials.

The proposed solution can be used as a workaround, but it's definitely not very nice.
I'll have a look if we can intercept `npm adduser` command and

[2017-04-22 08:38] Meeeeow commented on #165
Fixed #166

[2017-04-22 08:54] juanpicado commented on #165
@jollycic try the fix in the next release. Thanks again @Meeeeow

[2017-04-22 08:54] #165 closed

[2017-04-22 09:06] Meeeeow opened #168 "Improve token auth"
#### My reason:
Current implement make token expire after 24 hours, it's impossible to use with CI or automatic deploy.
I think we can let user choose token expire time or never expire with reset feature.

Use ([JTW](https://jwt.io) may better than origin code, any idea? @juanpicado

[2017-04-22 09:51] juanpicado commented on #168
Yeah, sound great, but I have some thoughts here.
- I guess that will add a new dependency? Am I wrong?
- Does make sense put the auth plugin as an external dependency? (eg: https://github.com/verdaccio/verdaccio-plugin-auth-htpasswd) In some point has to disappear from the source code. I've been thinking on that for a while
- How would looks like the yaml configuration file?
- I think will help t

[2017-04-22 13:27] Meeeeow commented on #168
Something was wrong, current implement have `issue_token` method but never called, just encrypt user name and password, send it to client, so it will not expire, but this may not the best way.

1. Right, origin dependency 'jju' will be replaced by 'jsonwebtoken'
2. That's possible solution, i'll look about plugin
3. I'm not sure
    - if publish as plugin, may possible configure it in yaml file an

[2017-04-22 20:35] juanpicado commented on #168
Yeah, I saw `Auth` is kinda mess.
1. Any change to the auth method will invalidate all `htpasswd` users and piss off more than one user, it's needed some fallback.
2. Cool.
3. a) The secret key currently is stored within `.sinopia-db.json` and I'm not 100% sure if the token can be stored in the config file.
b) I like the UI that npm use to invalidate tokens, currently there is no way to invalidate

[2017-04-23 06:05] juanpicado opened #169 "Improve plugin system"
#### My reason:

Currently, the plugin system is tight to [authentication plugins](https://github.com/verdaccio/verdaccio/wiki/Plugins) that avoid extending different parts of the application and use different *storages* #103 to allow scale the app.

#### Proposal:

* Plugin [helper generator](https://github.com/verdaccio/generator-verdaccio-plugin) based on *Yeoman* that build the basic scald-fol

[2017-04-23 17:33] Meeeeow commented on #169
We should also improve source code commend and document(I will write some), it's hard to find out how it works without any comment.

And... Have you done ES6 refactoring? what can i do?

[2017-04-23 17:38] juanpicado commented on #169
I was working on ES6 partial migration, due Node 4 only supports 58%. I'll merge tomorrow #159 all my progress.

[2017-04-23 17:38] Meeeeow commented on #168
Maybe we can ship it as plugin with verdaccio, call it like `verdaccio-auth3` or whatever, but not enable as default before major upgrade?

If user have not enabled this plugin, just disable the 'special token' feature in web ui (special token mean the token which will not expire, maybe a string like current secret key)

[2017-04-23 17:40] Meeeeow commented on #169
OKey, If i can do something with syntax upgrade, i will open a new issue with checkbox let you know what we have done and what i'm doing

[2017-04-23 17:53] juanpicado commented on #169
Awesome that would be great 🤜🏻 🤛🏻

[2017-04-25 14:07] pascalduez commented on #134
@juanpicado

[code]

[2017-04-26 10:05] agpreynolds opened #171 "Method to access public registry via proxy"
#### My reason:

Hello, i'm not sure if this is an issue or just a feature I can't find but is it be possible to set a proxy configuration to access the public repository

When not using verdaccio I can edit the npm config to add my proxy configuration and access the public repo fine, however once I run verdaccio and edit the registry value in the config I am unable to connect.

I am getting 504 G

[2017-04-26 12:49] jachstet-sea commented on #171
Did you try setting the environment variables "http_proxy" and "https_proxy" before running verdaccio? That works fine for us.

[2017-04-26 13:12] jollycic commented on #165
You guys are great

[2017-04-26 13:42] riggerthegeek opened #172 "Can I restrict adduser access?"
I'm trying to restrict `npm adduser` access. I want to put this on a publicly available webserver (we have devs in multiple locations), but prevent unauthorised people from adding themselves onto the system.

Is there a way of doing this?

[2017-04-26 13:50] agpreynolds commented on #171
Yeah have set both of those, tried with both the normal config, and the global config

[2017-04-26 14:50] jachstet-sea commented on #171
I was talking about environment variables, not npm config variables. Does the command `set | grep -i proxy` (linux) or `set | findstr proxy` (windows) return something?

[2017-04-26 14:53] c4sh opened #173 "Package access doesn't follow the rules in config.yaml"
#### My reason:

I have been trying to limit access to a single user and have been able to do that with the  max_users: -1 setting after logging one user in (now I can only login to my registry with that one user).

Then I wanted to avoid other users from installing the package. I set package access only for `$authenticated` in my config.yaml.

But still **a not-authenticated user can install my p

[2017-04-26 16:25] juanpicado commented on #173
@c4sh Could you define `verdaccio` version?

[2017-04-26 16:56] jollycic commented on #172
I am afraid the answer is no, as the endpoint for `npm adduser` is registering any new user by default, if I read the [code](https://github.com/verdaccio/verdaccio/blob/472e8e94b00a5c58e61f49dd6535f2c5784a98a9/lib/index-api.js#L207) correctly.

A possible workaround for now could be to keep your server local to your LAN and give the devs a VPN access.

[2017-04-26 19:44] riggerthegeek commented on #172
If I were to come up with a proposition of adding this, would this be something people would like to be added?

[2017-04-26 22:40] Hanterdro opened #174 "URL dependencies are not cached"
Url dependencies like
[code]

seems not to be cached

[2017-04-26 22:43] Hanterdro opened #175 "Binary downloads are not cached"
Some packages like node-sass have an install script which have a binary download:

[code]

This binary download is not cached by verdaccio.

[2017-04-27 06:50] jachstet-sea commented on #172
In the config `full.yaml`, there's an option that has "to disable registration" as description: https://github.com/verdaccio/verdaccio/blob/master/conf/full.yaml#L31. Did you try that?

[2017-04-27 07:00] c4sh commented on #173
Version is 2.1.5.

[2017-04-27 07:17] Meeeeow commented on #174
Dependencies not install from registry will not handle by registry.
NPM cli just call git to clone it.

[2017-04-27 07:17] #174 closed

[2017-04-27 07:19] Meeeeow commented on #175
This download is not handle by NPM and will not send to registry, so we can't cache it anyway.

They use "post-install script" to download this binary

[2017-04-27 07:19] #175 closed

[2017-04-27 07:24] riggerthegeek commented on #172
Aaaaaaah, that's perfect. Thanks @jachstet-sea

[2017-04-27 07:24] #172 closed

[2017-04-27 07:28] Meeeeow commented on #173
I can't reproduce this issue, did you try restart verdaccio after edit configure file?

[2017-04-27 07:41] c4sh commented on #173
Yes I did restart verdaccio after changing config.yaml .

[2017-04-27 07:45] Meeeeow commented on #173
I can't figure out what's happed with your verdaccio, here is my configure file:
[code]

I got 403 forbidden after remove auth information from `.npmrc`

[2017-04-27 08:01] c4sh commented on #173
I have emptied my .npmrc to no avail.

Are there any other config files that may induce verdaccio to think my machine is authenticated?

When I do `npm whoami`, I get

[code]

[2017-04-27 08:15] juanpicado commented on #173
Verdaccio just generate the auth token, either npm or yarn is the responsable to handle the auth in the client side.

[2017-04-27 08:17] c4sh commented on #173
Ok, but the access to the packages should be restricted based on whether the user is authorized with npm adduser or not, right?

[2017-04-27 08:22] Meeeeow commented on #173
Did you edit right configure file? It should not allow access if user is `undefined`(Anonymous access) and access permission set as authenticated

Linux: ~/.config/verdaccio/config.yaml
Windows: %AppData%\verdaccio\config.yaml

[2017-04-27 08:23] agpreynolds commented on #171
Sorry my mistake, i've updated the environment variables and set | findstr proxy now returns values for both the http_proxy and https_proxy.

However... I still get the 504 when running npm install through verdaccio

[2017-04-27 08:35] Meeeeow commented on #171
![snipaste20170427_163122](https://cloud.githubusercontent.com/assets/19658647/25474772/0399b3a2-2b67-11e7-8d53-c6b6459045d1.png)

set `https_proxy: http://your-proxy-url` in configure file works for me, but set environment variable by command will not work.

I will look into it later

[2017-04-27 09:55] c4sh commented on #173
Oh. Just realized something. Was executing with nohup and not seeing the response of verdaccio at the logs. It turns out when I `npm view` and `npm install` my package I'm actually getting 403 in the verdaccio log:

[code]

 but I can see the package at my shell using view and I get the content of the package after npm install anyway. Could npm be fetching it from any other "cache" ?

[2017-04-27 09:59] Meeeeow commented on #173
Check `~/.npm`, it's npm local cache directory.

BTW: It's better to use pm2 or forever to keep node application running

[2017-04-27 15:07] agpreynolds opened #177 "Unable to retrieve packages while offline"
#### My reason:

I'm not sure if the way i'm attempting to use verdaccio is an intended use case so I will start by explaining my setup:

Internet Connected Developer Laptop
- Global installation of verdaccio
- Ran npm install

Offline CI Server
- Verdaccio installed as windows service
- Config updated to remove all references to official registry
- Storage directory replaced with storage from my

[2017-04-27 21:39] Richie765 opened #178 "Publish to npmjs registry, except for @mynamespace"
When I publish a package it's being published to my Verdaccio registry.

I'd like to be able to publish to npmjs as well. It would be nice if the packages in @mynamespace would be published to Verdaccio, and all the other packages to npmjs.

Is this already possible? If so how? I couldn't find a way to configure it. If not, can it be implemented?

[2017-04-28 04:36] juanpicado commented on #178
No, it's not possible. The main reason is `npm` is who handles the process to publish, whereas `verdaccio` requires a token to publish also `npmjs` requires a different token, so, it would be impossible to do that with one `npm`\`yarn` execution.

[2017-04-28 04:36] #178 closed

[2017-04-28 12:39] c4sh commented on #173
Ok that was it, thanks a lot !!

Inside `~/.npm` I had some of the versions of the package itself and its dependencies, including the latest, as well as a cache.json with the whole description (I guess `npm view` was checking that one).

So verdaccio was behaving correctly, but my npm was trying with the cache content after failing to retrieve it from the registry. Removing the cached contents mad

[2017-04-28 12:39] #173 closed

[2017-04-28 12:58] Richie765 commented on #178
Wouldn't it be possible to have a npmjs token in the Verdaccio config and then proxy the publish through using that token? Just like you proxy the install's if the package isn't in Verdaccio yet. Only this time it uses the token in the config. Any reason why that couldn't work?

Btw, you wouldn't believe all the impossible things I've done in my programming career.  😉 It's usually a question of 'h

[2017-04-28 13:13] Meeeeow commented on #178
You can set registry in package.json, then they will publish to verdaccio, and others publish to npmjs

[2017-04-28 15:08] Richie765 commented on #178
Thanks @Meeeeow, another impossible accomplishment added to the list.

https://docs.npmjs.com/misc/registry#i-dont-want-my-package-published-in-the-official-registry-its-private

[2017-04-30 20:50] comatory opened #180 "Working with private repositories (confused by documentation)"
#### My reason:

I am marking a repo as private, hence in my `package.json`, I have "private" set to "true". When I try to push to verdaccio, I get an error:

[code]

In the documentation it says:

I already ran `npm set registry http://localhost:4873` and `npm adduser --registry http://localhost:4873` but it fails, I also tried `npm login` but no luck.

What I'm trying to do is to I created a sco

[2017-04-30 21:15] juanpicado commented on #180
Hi @comatory `private:true` only avoid to publish in any registry, that includes, `verdaccio` and the official public `npmjs`. If you wish publish, just remove that field from your `package.json`, you can read more about it [here](https://docs.npmjs.com/files/package.json).

About ...

Seems to be just a design suggestion. But is not related with the `private:true`. I'll let this open if you have

[2017-05-01 06:06] comatory commented on #180
Ah I see. Well that is actually what I want, to avoid accidental publishing. But I guess I can control that by user access in verdaccio (I can set up users and only allowed some of the to publish packages).

[2017-05-04 01:31] mattoni opened #182 "Trying to get https working with dockerfile"
Hi there,

 Trying to get https working using the dockerfile to no avail:

[code]
The container then dies. I had to override the dockerfile command and edited it to remove the `--listen` argument so that it used the config to do it. If I change it at all from 0.0.0.0:4873 it fails to start.

[2017-05-08 08:40] #156 closed

[2017-05-08 12:07] arsdehnel commented on #182
Are you just running this publicly available? Seems like you'd likely want something in front of it terminating the SSL but maybe that's just my approach. If you do that then this operates off non-ssl and should be alright.

[2017-05-08 14:44] kisamoto opened #185 "Unhandled Exception Docker + Kubernettes cluster"
#### My reason:

**Setup** Verdaccio installed from official [Docker image](https://hub.docker.com/r/verdaccio/verdaccio/) on Kubernetes cluster. DockerHub `latest`

When attempting to push, if package not present verdaccio saves the tarball but in the logs shows the `uncaught exception` error below before crashing and having to restart the Docker container.

Returns:

[code]

#### Steps to reprod

[2017-05-08 17:20] mattoni commented on #182
Not quite sure what you mean by that. It supports SSL from the looks of it, but it won't actually let me serve out the certs.

[2017-05-09 13:35] 030 opened #186 "How to check how many users have been added?"
`npm ERR! maximum amount of users reached : -/user/org.couchdb.user:sh-developers/-rev/undefined`

[2017-05-09 13:35] Meeeeow commented on #186
Check your htpasswd file

[2017-05-09 13:39] 030 commented on #186
`/home/verdaccio/verdaccio/htpasswd`

[2017-05-09 13:51] #186 closed

[2017-05-09 13:52] juanpicado commented on #186
@030 You might double check the value following value in your config file:
`
 max_users: xxxx
`

[2017-05-09 13:53] Meeeeow commented on #186
You might need disable registration for a private registry

[2017-05-09 19:00] rodrigogrow opened #187 "Fail to get package from npmjs.org"
#### My reason:

Fail to get package from npmjs.org
http  --> ERR, req: 'GET https://registry.npmjs.org/gulp', error: unable to verify the first certificate
http  <-- 404, user: undefined, req: 'GET /gulp', error: no such package available

#### Steps to reproduce:

run verdaccio server
npm set registry "http://localhost:4873"
npm install gulp

####  App Version:
verdaccio@2.1.5
ubuntu14.04

####

[2017-05-09 21:32] juanpicado commented on #187
Could you provide your config file?

[2017-05-09 22:29] qballer commented on #142
@juanpicado I would like to move forward with this. Would you like to decide on a basic design and I will implement it?

[2017-05-10 02:45] Meeeeow commented on #187
Did you try `curl https://registry.npmjs.org`? If this command failed, you may need install ca certificate on your system

[2017-05-10 02:48] Meeeeow commented on #180
@juanpicado I remember you have commend on another issue and says we can add options to allow user set who can publish package, i can't find it, did you remember?

[2017-05-10 11:46] rodrigogrow commented on #187
Hi @Meeeeow i try this command and works fine:
{"db_name":"registry","doc_count":558408,"doc_del_count":350,"update_seq":5783690,"purge_seq":0,"compact_running":false,"disk_size":3197748950,"data_size":2495491039,"instance_start_time":"1494323134231907","disk_format_version":6,"committed_update_seq":5783690}

[2017-05-10 11:47] rodrigogrow commented on #187
When I change uplink url from https to http protocol in config file it works fine.. Maybe there is something wrong in my certificate..

[2017-05-10 13:55] juanpicado commented on #187
@rodrigogrow try to display more verbose and you might figure out what's wrong in your request
` curl -v https://registry.npmjs.org `

eg:
[code]

[2017-05-10 16:59] p3x-robot opened #188 "simple question, how can i use verdeccio with yarn?"
# hi!
## how are you today?

### do you know if it simple to setup with ```yarn```?

```npm install``` works.

```yarn install``` uses the yarn repo.

i use ```/usr/etc/npmrc``` and works perfectly.

i guess it is not designed for ```yarn``` right?

[2017-05-10 17:02] juanpicado commented on #188
@p3x-robot I've been using `yarn` for a while with a quite old `verdaccio` version and works perfectly. I'd say yes.

[2017-05-10 17:02] #188 closed

[2017-05-10 17:47] juanpicado commented on #142
Sorry the delay @qballer . I've been busy with others improvements.

Starting by the `cli` already has access to the config file and somehow access to the `Storage` class, you might not need the `pid` at all, isn't?

#### Storage API

Perhaps add a new interface to `Storage` would looks like as:

[code]
Whether you do not provide any data will remove all package excluding local packages
[code]
Thi

[2017-05-10 18:04] juanpicado commented on #188
Please, be more concise. I don't understand what you mean. Btw, you do no have to include your greetings header for each reply.

[2017-05-10 18:07] juanpicado commented on #188
Ok, now I see your point. Try

`yarn config set registry http:///xxxxxxx`

[2017-05-10 18:19] juanpicado commented on #188
@p3x-robot you are very welcome. I'm a tough guy. `verdaccio` will remain existing 🙃🙃🙃

[2017-05-11 15:18] rodrigogrow commented on #187
HI @juanpicado thanks for suggestion.

I found problem in SSL handshake in my side.. So I will close this issue.

Thanks

[2017-05-11 15:18] #187 closed

[2017-05-12 07:14] Zwergenpunk opened #189 "Cannot Start Verdaccio After Upgrade to 2.1.5"
#### My issue:

I cannot start verdaccio anymore after upgrade to 2.1.5 (works finde with 2.1.4)

#### Steps to reproduce:

verdaccio

####  App Version:

verdaccio:  2.1.5
npm: 4.5.0
node: 6.10.0

####  Config file:

[code]

### Additional verbose log:
[code]

[2017-05-12 07:27] juanpicado commented on #189
The `ca` is missing in your config file. Sorry that was a breaking change.

[code]

[2017-05-12 07:28] juanpicado commented on #189
I'll fix it on `2.1.6`

[2017-05-12 07:30] #189 closed

[2017-05-12 08:01] Zwergenpunk commented on #189
thanks for the quick response ;)

[2017-05-12 08:44] juanpicado commented on #189
Yw. Also I updated https://github.com/verdaccio/verdaccio/wiki/Set-up-the-SSL-Certificates the wiki

[2017-05-12 14:01] jmellor commented on #69
Help!  I’m back on trying to migrate from Sinopia to Verdaccio, but I’m stuck .

The Sinopia implementation is running in the keyvanfatehi/sinopia:latest docker image from 19 months ago.  I asked Keyvan about fixes, and he replied that that I should just move over to Verdaccio, but the most obvious migration path seems to be broken.

The sinopia docker image makes the assumption that the storage d

[2017-05-14 13:57] juanpicado commented on #98
@Richie765 done 👍

[2017-05-14 13:57] #98 closed

[2017-05-14 14:10] jonaskello commented on #98
Nice work! 👍

[2017-05-14 14:46] juanpicado commented on #142
@qballer what do you think about #132 ?

[2017-05-15 14:50] oomathias commented on #113
Hi,

I'm trying to use verdaccio, I created some users which work fine.
Then when I try to login `npm login --registry https://npm.somedomain.com --scope myscope` I get:

[code]

Server side:
[code]

I'm able to login via the web GUI but not via npm (only the first login works aka creating one).

So how to login?

[2017-05-15 16:58] p3x-robot opened #190 "do you have an idea to increase the speed?"
simple question:

do you think, since i use yarn, i became so speedy.
but now, i need verdaccio, it is slow again. :)

do you have an idea? is it because file based storage?

[2017-05-15 17:04] Meeeeow commented on #190
Packages store as zipped file, so i think it does not matter even you storage it on hard disk.
Yarn install speed is limited by bandwidth of our team's verdaccio server,  just first time, yarn will cache all package locally

[2017-05-16 07:39] #190 closed

[2017-05-16 12:16] AshtonRoute opened #191 "htpasswd bcrypt support"
#### My reason:

Seems that `verdaccio/lib/plugins/htpasswd/utils.js` `verify_password` doesn't support bcrypt encryption.

####  App Version:
2.1.7

Would be cool if you can add bcrypt :)

[2017-05-16 18:14] juanpicado commented on #191
Hi @AshtonRoute.  I'd recommend create a plugin for that,  please take a look th e following list of plugins as an idea. https://github.com/verdaccio/verdaccio/wiki/Plugins . The main point here, is, make `verdaccio` pluggable as possible. Would you like that as challenge?

[2017-05-16 19:16] juanpicado commented on #113
@oomathias please create a new ticket and add the same command verbose with `-ddd`

[2017-05-16 19:46] juanpicado commented on #91
@macdasi please feel free to reopen whether the problem persist, ticket too old.

[2017-05-16 19:46] #91 closed

[2017-05-16 20:55] juanpicado opened #192 "Extract built-in htpasswd as external plugin dependency"
#### My reason:

I want to reduce the amount of code to maintain extracting the `htpasswd` default plugin added by the PR #18 . This future plugin would be called `verdaccio-htpasswd` and included by default as a dependency.

####  App Version:
Since > `2.1.8`

#### Caveats:

* I ignore whether this will affect unit testing structure

[2017-05-16 22:43] BartDubois opened #193 "Allow url_prefix to define only url path"
#### My reason:

While i'm using Docker on Windows 2016 i can't define full URL in `url_prefix` (see [docker/for-win#458](https://github.com/docker/for-win/issues/458)). All my CI/CD environment is setup on one machine so inside worker node I need to use Docker internal Verdaccio container name, but outside i use the host machine name.

Generally speaking i need to define only the path with in con

[2017-05-17 05:37] juanpicado commented on #193
@BartDubois could you PR your solution?

[2017-05-17 12:21] AshtonRoute commented on #191
Hello @juanpicado. I completely agree with your idea, but I think it will be better to implement it as a plugin when you deal with #192. For now I think its better to just add it as another option (separate file) to `verify_password`. It won't break anything and it will be much easier to move it to `htpasswd` plugin as you suggested in #192.

Anyway, adding [bcrypt](https://www.npmjs.com/package/b

[2017-05-17 17:11] juanpicado commented on #191
Cool :) looking forward to see the PR. thanks 👍

[2017-05-17 21:32] p3x-robot opened #194 "weird error"
#### My reason:
[code]

#### Steps to reproduce:
you know what it knows?

####  App Version:

####  Config file:

#### Additional information:

 - `$ set DEBUG=express:* verdaccio` enable extreme verdaccio debug mode
 - `$ npm --verbose` prints:
 - `$ npm config get registry` prints:
 - Verdaccio terminal output
 - Windows, OS X/macOS, or Linux?:
 - Verdaccio configuration file, eg: `cat ~/.config

[2017-05-18 12:12] rmi7 opened #195 "[SECURITY] Insecure password hashing"
#### My reason:

- I saw `sha1` is used for hashing the password, yet it's a deprecated insecure hashing algorithm, next to that it's not meant for hashing passwords!!!
- If the above wasn't bad enough, **you don't even use a salt** --> https://github.com/verdaccio/verdaccio/blob/6d8d05b0ccbedcf38868e65c226400c66783a4f2/lib/plugins/htpasswd/utils.js#L57

####  App Version:
all

#### Solution
use a

[2017-05-18 15:51] jmwilkinson commented on #195
I think the code is just confusing and should probably be re-written.

If you trace through what actually happens, [crypt3 is required](https://github.com/verdaccio/verdaccio/blob/6d8d05b0ccbedcf38868e65c226400c66783a4f2/lib/plugins/htpasswd/utils.js#L4), and [used by default](https://github.com/verdaccio/verdaccio/blob/6d8d05b0ccbedcf38868e65c226400c66783a4f2/lib/plugins/htpasswd/utils.js#L54), a

[2017-05-18 15:51] #195 closed

[2017-05-18 16:20] ryanve opened #196 "Website link appears broken"
<figure>
<h2>2017-05-18 <a href="https://verdaccio.github.io">verdaccio.github.io</a> screenshot</h2>
<blockquote>The domain <a href="http://verdaccio.org">verdaccio.org</a> is no longer parked by GoDaddy.</blockquote>
<img width="1670" alt="The domain verdaccio.org is no longer parked by GoDaddy." src="https://cloud.githubusercontent.com/assets/949985/26212247/cb0cafdc-3ba9-11e7-89a0-6de20ad0b69b

[2017-05-18 16:25] juanpicado commented on #196
Thanks. I was working on it :) . There is no website yet anyway, I haven't had time :(

[2017-05-18 17:01] juanpicado commented on #195
Something to have on mind for #192

[2017-05-18 17:23] juanpicado commented on #194
@p3x-robot  `npm` && `node` version?

[2017-05-18 17:25] #194 closed

[2017-05-19 18:14] juanpicado commented on #196
It seems fixed already, Could you try again?

[2017-05-19 19:05] ryanve commented on #196
It still redirects to a godaddy landing page `http://verdaccio.org/?reqp=1&reqr=`

I recommend then removing the website link from the repository header info because a lot of people will probably link to that. Or create a `gh-pages` page and put a landing page there.

[2017-05-19 19:09] juanpicado commented on #196
I removed it already. The page is here https://github.com/verdaccio/verdaccio.github.io . It's seems to be a DNS issue, thanks for the quick test.

[2017-05-21 10:38] juanpicado commented on #103
Using a local `couchdb` and with changes I got from #44 I manage to make it works, It cache package.json and `publish` and `unpulish` seems to works. This is just a early stage, no plugin support, but, that should be that hard. The branch is `origin/storage_pluggable`.

Here we can see a previous private package published.
<img width="1218" alt="screen shot 2017-05-21 at 11 59 00 am" src="https://

[2017-05-21 11:21] ceoaliongroo opened #199 "How configure verdaccio offline?"
I have a Web development in my office, all the developer has a network blocked to access directly to the NPM registry and get packages (Security Policy).

I have the alternative to get the package from a computer with Internet and then pass through a file scanner, check it the files, and finally copy to the project.  I did a partial solution using npmbox but is difficult to support the frequently

[2017-05-21 11:30] juanpicado commented on #199
Have you tried to comment out `proxy: npmjs` to disable the uplinks in your config file?

[2017-05-21 11:39] juanpicado commented on #177
I did a small test with `jquery` and it retrieve properly the package being offline and the package in the storage folder. Works for me, I'll need more info.

#### Storage folder

![screen shot 2017-05-21 at 1 35 05 pm](https://cloud.githubusercontent.com/assets/558752/26283510/a3c0bb02-3e2a-11e7-8bb3-728a98cbc9a5.png)

#### The terminal output

![screen shot 2017-05-21 at 1 35 27 pm](https://clou

[2017-05-21 15:00] agpreynolds commented on #177
Did you run the offline npm install from the same machine you ran the online install from? I'm wondering whether the issue has anything to do with the fact I just copied the storage directory over.

[2017-05-21 21:00] #193 closed

[2017-05-21 21:32] ceoaliongroo commented on #199
Works great!

Thanks

[2017-05-21 21:32] #199 closed

[2017-05-22 13:05] agpreynolds commented on #171
So i'm now having a very similar problem. Getting 403 responses when running npm install through verdaccio.

`Error: fetch failed with status code 403`

Works fine when setting the registry back to default value "registry.npmjs.org"

Any advice?

[2017-05-23 14:47] AlexShemeshWix opened #200 "Cleaning up storage folder"
#### My reason:

[2017-05-23 15:29] agpreynolds commented on #171
Some more information although i'm slightly more confused. I'm also not convinced this is an issue with verdaccio anymore, possibly something with npm itself

After spending a while trying to output to the verdaccio logs and them not showing up I tried something basic. I turned verdaccio off, left the config the same and ran npm install again. Exactly the same thing happened and all of my packages

[2017-05-23 16:25] igrcic opened #201 "npm install allowed for unauthorized users"
Hi everyone,

we have been running verdaccio for some time now and everything was running ok.

Now we have to add some restricted packages to our repository so i set up some scopes and assigned packages to it. It seems thateverything is working fine, the user has to be authorized in order to publish the package or to see it in the web gui. The problem is that all users can `npm install` the scoped

[2017-05-23 17:04] juanpicado commented on #200
Unfortunately no yet, that was proposed already here #142 and #132  I encourage you to follow and contribute there the discussion.

[2017-05-23 17:04] #200 closed

[2017-05-23 17:06] juanpicado commented on #196
I think DNS was refreshed already. Please try again to close this one :)

[2017-05-23 18:30] juanpicado commented on #103
@p3x-robot no,  why you ask?

[2017-05-23 19:32] juanpicado commented on #103
@p3x-robot how would to handle the persistence of packages and database of private modules?

[2017-05-23 21:53] juanpicado commented on #103
Ohhh !! now I see your point and also I love redis, it's damn fast. I like it and I'm agreed with your approach.

As you said, the main goals  🥇  here for the short future are:

* It have to be pluggable 👍
* File storage system must remain as default (as a plugin) and any other storage must be pluggable 👍
* Really simple installation `./verdaccio` and that's all  (https://github.com/verdaccio/verd

[2017-05-24 04:40] ryanve commented on #196
Cool yes https://verdaccio.github.io is working now : )

[2017-05-24 04:40] #196 closed

[2017-05-24 06:13] Meeeeow commented on #196
@ju

[2017-05-24 06:35] juanpicado commented on #196
@Meeeeow what do you mean?

[2017-05-24 06:40] Meeeeow commented on #196
@juanpicado https://verdaccio.github.io using an old screenshot, it should replace with current one in README.md

[2017-05-24 06:42] juanpicado commented on #196
@Meeeeow ahh yes 👍  ... old README, you are 100% right. I was thinking to develop a new web site :D perhaps a kind soul wanna help us with that

[2017-05-24 07:34] wzrdtales commented on #103
Redis or not really doesn't matter :) But good to see you guys make progress here. CouchDB is not that wrong at all, I'm personally not a big fan of it, but the official npmjs also uses CouchDB, so you're not that far from right.

[2017-05-24 07:38] wzrdtales commented on #103
@juanpicado Auth plugins are also a good thing :) As this is a central component (besides docker registries) within many corporate infrastructures.

[2017-05-24 07:41] wzrdtales commented on #103
@juanpicado Sry for spamming here though, but I just read bottom up everything :)

I can't assure to have enough spare time to help out, but I would be happy to review and help out on questions if there are any.

[2017-05-24 07:50] wzrdtales commented on #103
And one comment on the way, don't spend too much time on scaling with the node cluster module. It doesn't work out as well as many think. Anyone that wants to scale should just use a proper loadbalancer and orchestration.

[2017-05-24 15:11] wzrdtales commented on #103
@p3x-robot Well I opened this issue, so clearly no...

It was never intended to target the *node* cluster module. It just adresses the fact that this module is/was not yet ready to be run with multiple instances referring to the same target, which is what you call a cluster though.

I don't think that there is a real need for any kind of locks here. You can just have **one** module with the same v

[2017-05-24 16:23] wzrdtales commented on #103
?

[2017-05-24 17:19] wzrdtales commented on #103
@p3x-robot ... I will just stop here witth that answer and will leave that alone, as there just seems a big huge language barrier, as you seem to completely understand me wrong though, just letting you know I do know node.js and b/c I do for many years, I know about many culprits and the *cluster* module is just not the way you go to scale in complicated environments. Using the cluster module is j

[2017-05-25 21:41] dkebler commented on #178
@Richie765

Yet another impossible accomplishment.  How about a bash script.  Luckily npm does not remove the tokens when you switch from one to another so this works fine.
[code]

[2017-05-28 22:18] Richie765 commented on #178
@dkebler, that's a good one! Thanks!

[2017-05-29 03:49] dharapvj opened #202 "npm5 compatibility"
Hello,

Does this software work with npm5? npm5 was released [last week](http://blog.npmjs.org/post/161081169345/v500).  There are whole bunch of changes in npm client about how to deal with caching. I hope verdaccio continues to run with npm5 without a hitch.

Also, since npm5 has brought several changes to how it perceives caching etc, does this project also needs to look at it's caching archite

[2017-05-29 05:48] juanpicado commented on #202
I've been testing the same day of the release and I haven't found any issue. The changes are mostly in the client side, the endpoints are the same. The unique potential change that could affect is (https://github.com/npm/npm/releases/tag/v5.0.0) the `integrity` field which as far I know, works perfectly.

Currently `verdaccio` compares (https://github.com/verdaccio/verdaccio/blob/master/lib/local-

[2017-05-29 08:09] dharapvj commented on #202
Thank you for quick revert and details.

[2017-05-29 12:32] adsftt opened #203 "crypt sha512"
#### My reason:
I try to migrate from sinopia to verdaccio. But old passwd file not supported by  verdaccio
sinopia format:
[code]

it seems that `unix-crypt-td-js` doesn't support `sha512` with `$6$` id

#### Steps to reproduce:
1) adduser to sinopia
2) upgrade sinopia to verdaccio
3) try to auth

####  App Version:
2.1.7

####  Config file:
auth:
  htpasswd:
    file: `/etc/verdaccio/htpasswd`

[2017-05-29 17:01] juanpicado commented on #203
What do you mean with `$6$ id` ?

[2017-05-29 17:46] juanpicado commented on #203
Also, from which version of sinopia are you migrating?

[2017-05-29 20:41] TheILPlace commented on #175
if this question is because of and installation of angular-cli, then there are 3 ways to resolve this:
1. npm install -g @angular/cli --no-optionals
2. copy from another computer's npm-cache folder, the node-sass folder
3. read the documentation of node-sass , you can download the binary beforehand put it on your network and point there using environment variable

[2017-05-30 09:05] adsftt commented on #203
sinopia-1.4.0

I mean $6$ part in salt.
glibc crypt supports additional encryption algorithms. Salt starting from $6$ should be hased by sha-512, but unix-crypt-td-js use DES.

[2017-05-30 19:58] AmorganICUC opened #204 "Verdaccio not starting running with PM2"
Hello all,

I am getting this error, verdaccio just crashed and no longer working after a server restart. When I try to pm2 start verdaccio , I get the following error

[code]

**npm config ls**
[code]

**pm2 show verdaccio**

[code]

**My config file is as follows:**
[code]

[2017-05-30 20:20] juanpicado commented on #204
Have you tried to run `verdaccio` outside of `pm2`?
I did small test based on your stack and it works for me.
`Error: Cannot find module '/home/ec2-user/verdaccio'`  says to me, you are trying to load verdaccio from a specific directory?

[2017-05-30 21:09] AmorganICUC commented on #204
If I run verdaccio I get the following
` warn  --- config file  - /home/ec2-user/.config/verdaccio/config.yaml
 warn  --- http address - http://localhost:4873/
`
But my issue is I am not using that config file, some how pm2 uses
/home/ec2-user/verdaccio/config.yaml

[2017-05-31 05:32] juanpicado commented on #204
You must some sort of configuration that somehow affect your pm2. I 've tested here and no problem by far. It takes my ` /home/xxxx/.config/verdaccio/config.yaml

[code]

[2017-05-31 15:45] r3wald opened #205 "Scoped packages cannot be installed using an apache proxy"
I am using apache 2.2 as a proxy for verdaccio. This way I was unable to install any scoped package while other packages could be installed. The only suggested solution I could find was to add `@*/*` to my config.yaml. Without success.
But using a bare verdaccio I could install scoped packages.

That's actually a duplicate of #104 and possible #120.

Problem was the handling of slashes between npm

[2017-05-31 16:05] juanpicado commented on #205
Thanks @r3wald  you are right, even for me sometimes is hard to locate stuff. I'll try to improve the documentation, refers to #198 . Do you have any suggestion about whether we should put all in readme and discard server.md ?

[2017-05-31 17:31] AmorganICUC commented on #204
Thank you , it started working after npn init

[2017-05-31 17:31] #204 closed

[2017-05-31 19:26] juanpicado commented on #204
@AmorganICUC `npn init`?

[2017-05-31 21:28] juanpicado commented on #205
I pushed this new repository with the objective to test more easily this sort of issues
https://github.com/verdaccio/docker-examples

[2017-06-01 07:30] #202 closed

[2017-06-05 06:51] jpap opened #207 "url_prefix without hostname doesn't work"
According to the [documentation](https://github.com/verdaccio/verdaccio/blob/master/SERVER.md#run-behind-reverse-proxy-with-different-domain-and-port),

But when I try to do this, as follows, the server returns JSON with the `tarball` field having blank protocol and server name, which then makes `npm` choke.
[code]

When I set the `url_prefix` to be a proper protocol and hostname (e.g. `http://my.

[2017-06-05 13:26] AlexShemeshWix opened #208 "Serve from cache for specific version"
Hi
I have verdaccio 2.1.1 running on Ubuntu 14.04.
Node version 7.0.0

I would like to propose a feature:
Server should serve cached version of package if specific version requested, without sync with upstream registry.
Right now server will sync package.json with upstream registry before returning package tar ball. If upstream registry is down, it will produce timeouts and it will make installati

[2017-06-05 13:35] juanpicado commented on #208
Do you have any idea how the configuration would looks like?

[2017-06-05 13:36] juanpicado commented on #207
Perhaps @Meeeeow has an idea.

[2017-06-06 03:25] Meeeeow commented on #207
Can't reproduce that on verdaccio/2.1.7

Try run:
[code]

[2017-06-06 09:42] AlexShemeshWix commented on #208
Hi

[code]

local - in case of specific version serve from local if present, no sync with upstream
default - sync with upstream before serving version.

[2017-06-07 03:41] dogoku opened #209 "Upload packages (or bulk publish)"
Hi,

I'm trying to use verdaccio on a machine that has no internet access and will never have internet access (yay enterprise), so I need to somehow seed the packages it can serve.

E.g: I can download all the public packages from npm on my dev machine and transfer them manually (zip, tarball). Given the fact that all the information is held on disk, i assume this is possible

Is that something ve

[2017-06-07 05:10] juanpicado commented on #209
If you download the packages in your dev machine (with internet access ) via `verdaccio`, you have to just copy and paste the storage folder to the (no internet access) machine. I'm not pretty sure how you think download your packages.

[2017-06-07 05:15] dogoku commented on #209
Well, that's actually a separate issue I'm facing.

verdaccio isn't able to reach npm registry, due to it not reading the ssl certificate. I went through the full config yaml and couldn't find any way of specifying a certificate file

[2017-06-07 05:17] dogoku commented on #209
Sorry, closed by accident (fat fingers on phone).

Because of the certificate issue, I had to remove the npmjs uplink, otherwise I can't even publish private packages

[2017-06-07 05:38] juanpicado commented on #209
Mmmm that's weird .. I have
[code]
this on mine and I do not have any issue. It seems related with #187
**documentation:** I'm working to improve it or basically creating one due the current one does not help until you read the code.

[2017-06-07 05:50] dogoku commented on #209
I didn't think of changing the npm registry url to `http` instead of `https`
That goes through since it doesn't need the certifacate, thanks for linking #187

So, back to my original question. With the npm working via verdaccio, i can zip the `.storage` folder and upload it manually to the other machine and that should (hopefully) work.

I'll give it a go and close the issue if all goes well

[2017-06-07 05:55] juanpicado commented on #209
Cool. Remember to copy as well the database if you host private modules, otherwise they will not found by the other verdaccio.

[2017-06-07 09:24] Meeeeow commented on #209
@juanpicado May we should recommend save private and public package in different storage for backup?

[2017-06-07 09:27] Meeeeow commented on #207
@jpap Would you like provide more info to help us make verdaccio better?

[2017-06-07 15:44] juanpicado commented on #209
@Meeeeow unless we change the LocalStorage there is no way, is that what you mean?.

[2017-06-08 06:19] #209 closed

[2017-06-09 03:48] Meeeeow commented on #209
@juanpicado nope, just suggest new user use configure like this:
[code]

[2017-06-09 15:39] juanpicado commented on #209
@Meeeeow make sense, I'll try that sort of conf

[2017-06-10 08:13] juanpicado commented on #131
Fixed on #132

[2017-06-10 08:13] #131 closed

[2017-06-10 08:15] juanpicado commented on #142
Since `2.2.0` you can set a boolean `cache` property to each uplink.

[code]
That will avoid cache the tarballs, that does not fix this problem, but it helps.

[2017-06-10 08:22] juanpicado commented on #100
I think this **feature** should be in a (future) local storage plugin, due in next major releases will be multiple ways to storage tarballs via plugins and won't make sense whether users decides, for instance, to store in a database. I think  #131 provides a cleaner solution to this issue.

[2017-06-10 08:22] #100 closed

[2017-06-10 10:56] juanpicado commented on #86
Sorry, I did not close it before :)

[2017-06-10 10:56] #86 closed

[2017-06-10 11:19] juanpicado commented on #140
Proposed at #181 I hope the author reply soon .

[2017-06-12 10:10] r3wald commented on #205
Hi,

I added a merge request. Please have a look at it. I hope this helps.

Thanks for you work!
Robert

[2017-06-12 17:44] juanpicado commented on #205
Cool !! :) Thanks to you for the PR

[2017-06-12 17:44] #205 closed

[2017-06-13 09:50] igrcic commented on #201
Hello,

it seems this was an isolated problem at one of our developers. Closing the issue

[2017-06-13 09:50] #201 closed

[2017-06-14 03:13] AmorganICUC commented on #204
sry "npm init"

[2017-06-14 20:56] mattwwarren opened #212 "Is anonymous publishing allowed?"
#### My reason:
We recently switched to sinopia to verdaccio (had an issue with scoped packages and discovered sinopia was dead) and we were able to move to a private network server.

In an attempt to make my developers' lives easier, I thought I could set $all for access and publish in our config. But it would seem no one can publish packages at the moment.

#### Steps to reproduce:

Using the co

[2017-06-14 22:03] mattwwarren commented on #212
After a little playing around, I'm fairly certain this is an npm configuration problem and not a verdaccio problem.

I had to enter fake auth information in my npmrc and now it works.

[2017-06-14 22:41] juanpicado commented on #212
@mattwwarren that's right. According https://github.com/npm/npm-registry-client/blob/master/lib/publish.js#L27 a `token` must be present in the `npm publish` request header. What I do is just fake one in the `.npmrc` file as:
[code]
Dirty hack, but it's a npm "issue".

[2017-06-14 22:50] juanpicado commented on #212
but ... `yarn` seems be more "permissive". I've removed the `.npmrc` token and then

[code]

[code]

Then with `publish: $all` I tried again and it worked out.

[code]

So, it seems the workaround seems to be either use `yarn` or the dirty hack.

[2017-06-14 23:28] juanpicado opened #213 "Port cannot be overridden via configuration file in Docker"
#### My reason:

The Docker file define the port is defined in the Dockerfile but is not possible to override via configuration file.
[code]
The following is ignored by `verdaccio`

#### Steps to reproduce:

(Ensure docker daemon is running)

1. Create folder and custom configuration file with a listener different than 4873.
2. Run
[code]

####  App Version:
v2.2.0 (Docker latest)

####  Config fi

[2017-06-15 13:33] Meeeeow commented on #212
@mattwwarren Hi, Can login with any username and password mean you have not disabled sign up feature. Just set `max_users` to `-1`

[2017-06-15 13:38] mattwwarren commented on #212
@juanpicado thanks for the tip about yarn. Many of my developers are switching to it and this will make them very happy.

@Meeeeow I also tried with max_users: -1 but as juan pointed out in the npm-registry-client lib, my request never even made it to the server.

In light of all this information, I'm going to close this issue. Thanks for the responses, all.

[2017-06-15 13:38] #212 closed

[2017-06-15 15:30] Meeeeow commented on #207
Sorry for the delay and the wrong judgment.

I can confirm verdaccio server will run with `url_prefix: '/'`, but this will never work on npm side.
The author of this issue meet an error called *"Only absolute URLs are supported"*, because the tarball address in verdaccio's response is relative path, like `/pkg/-/pkg-1.0.1.tar.gz`

@juanpicado Maybe we should't allow user set url_prefix to `/`? I w

[2017-06-15 16:06] JamesWebDev commented on #212
@mattwwarren fyi in npm@5 now has a lock file like yarn, and is faster now than Yarn, and defaults to --save like yarn, so I don't know if there are any reasons to use Yarn anymore, and your developers might all switch back to npm

[2017-06-15 16:23] juanpicado commented on #212
Does npm5 allows publish without has a token at `.npmrc` before ?

[2017-06-15 16:38] Meeeeow commented on #212
![snipaste_20170616_003033](https://user-images.githubusercontent.com/19658647/27191770-6e990924-522b-11e7-8851-e6daf830d4f6.png)
![snipaste_20170616_003447](https://user-images.githubusercontent.com/19658647/27191831-a005ecac-522b-11e7-986f-fb603b8011a6.png)

@juanpicado No, npm say need auth to publish package
@mattwwarren Maybe your request sent to a different server? I can't login with fake cr

[2017-06-15 16:41] Meeeeow commented on #207
@juanpicado PR #214

[2017-06-15 16:50] #207 closed

[2017-06-15 17:42] jpap commented on #207
@Meeeeow, thanks for looking into this in more detail!

I'm behind the [Kubernetes nginx ingress](https://github.com/nginxinc/kubernetes-ingress).  By default, it includes the headers (partial config listed) below.  If you're honoring `X-Forwarded-For`, shouldn't this configuration have already worked?

[code]

Please LMK if there's anything else I can provide -- header dumps, verbose logs, etc.w

[2017-06-16 08:44] Meeeeow commented on #207
Your config should work after remove `url_prefix` field from verdaccio config (don't forget restart), X-Forwarded-For just send real client IP to verdaccio server.

Did this work for you? If it still not work after remove `url_prefix`, please reply and tell me how to i reproduce it :)

[2017-06-16 10:10] chronum opened #215 "Add "X-Forwarded-For" header value to the log file."
Since there is no built in module to limit a number of login requests in verdaccio, it makes sense to use some log parser to find and block client with too many incorrect login attempts.

Unfortunately in the case of "behind the reverse proxy" setup, only proxy's IP address is logged.
Since the proxy is capable of sending X-Forwarded-For HTTP header it would be nice to have it included in the logs

[2017-06-17 08:46] Meeeeow commented on #215
Thanks for report, I will look into it.

[2017-06-17 08:47] Meeeeow commented on #213
I think we should remove checkbox from issue template 🤕 ...

[2017-06-17 08:49] juanpicado commented on #213
Yeah @Meeeeow  feel free to remove it. I was thinking is not that helpful at all.

[2017-06-17 09:30] juanpicado opened #217 "New and modern UI based on React"
We want to replace the old UI based on jQuery, there is no ui test, is hard to extend. This will add a new ui based on
* React (ui)
* Jest (test)
* Webpack (build)

Nothing fancy, just a simple UI that replicate the current one, but modern and easy to be tested.

[2017-06-17 09:31] juanpicado opened #218 "Integrate Webpack to build the UI"
Depends of #217

[2017-06-17 09:32] juanpicado opened #219 "Integrate es6 transpiler like Babel or Typescript"
To build #217 and extendible to whole code base to avoid delays of implementation on es6 features (yeah we still support Node4,5 and 6)
 (it's gonna be needed by the UI, why don't use it for back-end and take advance of ES next features).

[2017-06-17 13:54] Meeeeow commented on #217
That's what i'm thinking last few days! We should add new api to check plugin enabled or not, so we can disable some entry from menu

[2017-06-17 13:58] Meeeeow commented on #219
Why not compile before publish it to npm? I don't think bundle compiler/transpiler with verdaccio is a good idea...

[2017-06-17 14:51] juanpicado commented on #219
Yeah, that is the point, compile and then publish ES5.

[2017-06-17 14:55] juanpicado commented on #217
Yeah, that is the idea  be able to extend the Ui with admin tools or perhaps new endpoints to display a package peer page and so on. I will take a look Ant Design ( it sounds familiar)

[2017-06-17 14:56] juanpicado commented on #217
The new UI is ready at the branch `refactor-ui`. I will publish a tag soon to allow others test it as beta.

[2017-06-17 14:56] Meeeeow commented on #219
Good. I think i can refactoring current code (logger) to template string.

[2017-06-17 14:57] juanpicado commented on #219
Yeah, please check the branch `refactor-ui`, there is a extreme make over of all api endpoints

[2017-06-17 15:02] juanpicado commented on #219
Thanks for the help I really appreciate it :)

[2017-06-17 15:11] Meeeeow commented on #217
It should be familiar, lol. Made by peoples at Ant Financial, a company of Alibaba Group.
Material design also good, except new Chrome settings page, really ugly.

BTW: callemall/material-ui, 100% Javascript, really unbelievable

[2017-06-17 15:22] #215 closed

[2017-06-17 15:41] Meeeeow commented on #217
Here are some problem/question:

- Did you implement login feature? I can't find such code
- Why not use regular component with css-module? CSS embed in template string is difficult to write/debug/lint, if i'm not misunderstood something, styled-components is difficult to extend.
- `const` or `let`
- Magic! In Item.js, Line 74, I can't find define about `req`
- Move to class property, forget `Comp

[2017-06-17 15:42] Meeeeow commented on #215
@chronum You should see this feature in next patch release

[2017-06-17 16:42] juanpicado commented on #215
Done on 2.2.1

[2017-06-17 16:53] juanpicado commented on #217
@Meeeeow

* Login is not ready yet
* Just trying `styled-components` but as you said, hard to debug.
* `const` for requires and `let` just only for those variables will mutate.
* `req` my bad 👍
* I have to read more about it :)

[2017-06-17 17:22] Meeeeow commented on #217
I heard `styled-components` from our react native engineers at few days ago, maybe it's is a good tool for some "really small" component, if a component may need extend or customize in future, it should not use `styled-components`.

You can bind `this` with `class-fields` or call it `class property`, just like this:
[code]
I just mean this feature can do this, to use this code must disable eslint

[2017-06-17 17:52] juanpicado commented on #217
@Meeeeow I PR #220 is gonna be easier to start a code review, feel free to create all reviews your consider appropriate

[2017-06-18 15:43] Meeeeow opened #221 "WebUI Roadmap"
## Features need implement
- [x] Web UI #217 **(next minor release)**
- [x] Login **(next minor release)**
- [x] Use react-router **(should same as user center)**

## Refactoring
- [x] API clarify, move web ui only api to `/-/verdaccio/*` or some other path
- [x] Change directory structure, source code in `src` directory, shared code in `src/lib`, api & web api in `src/api/endpoint` & `src/api/web

[2017-06-18 15:51] juanpicado commented on #84
@030 questions to move this:
* It needs his own repository or can coexist with the main repository, what do you suggest?
* It would make sense to move your repo to the `verdaccio` organization and you take care of it?

[2017-06-18 15:53] juanpicado commented on #87
@030 I'd need more elaborate information, I have no clue about `puppet`. Perhaps you can enlighten us.

[2017-06-18 20:07] juanpicado commented on #221
**Features**
* Web UI: 👍   `v2.3.0`
* Login 👍  `v2.3.0`
* Profile page: 👍  (but not plugin yet). We need to elaborate this part a bit more, endpoints? (I'd suggest on `v2.4.0`)
* Router: Depends of server-rendering I guess. `v2.3.0`

**Refactoring** `v2.3.0`
* web ui api 👍
* middleware: Can you provide an example what's wrong and how it should be?
* directory structure: 👍  looks good. Using Babel,

[2017-06-19 18:31] juanpicado commented on #78
Thinking how to solve this is not that hard after all.

Setting this new configuration will allow publish packages if any of the uplinks fails, it will be `false` by default.
[code]
@eephillip Do yo like the solution?

[2017-06-19 18:50] juanpicado commented on #140
Done

[2017-06-19 18:50] #140 closed

[2017-06-19 19:00] juanpicado opened #224 "Add a LICENSE"
#### My reason:

The original project had `WTFPL` and that's the current one in this project remains the same. Since that license is not listed in GitHub I wonder what kind of license this project should have.

* It should remains `WTFPL`?
* It should we choose a compatible one according what Github list?

The new community tab ask to fill those fields. License is the most important for companies

[2017-06-21 07:54] radubrehar opened #226 "Restrict access to specific package version via config.yaml"
`config.yaml` gives quite granular access to packages, so I can specify which packages can be accessed by which people, which is really great. So i have something like:

[code]

**My question is**: can I further control the users that have access to specific package versions (or package version ranges)?

Something like:

[code]

I've tried this, but doesn't seem to be working.

[2017-06-21 10:59] radubrehar commented on #226
@juanpicado i thought the config also allows a list of users, as in my examples below, but I get an error when trying to access the package with a user from the list - only the last user in the list is allowed to access the package.

Is specifying a users list not supported or is this a bug?
Would appreciate any pointers!

[2017-06-21 17:08] juanpicado commented on #226
@radubrehar you removed the message, Did you solve your issue?

[2017-06-21 17:45] radubrehar commented on #226
the issue with specifying multiple users, yes :) I was separating them by "," instead of whitespace.

But restricting access per package version is still not solved. Is it implemented or should I try to implement that in the auth login?

[2017-06-21 17:47] juanpicado commented on #226
I think restricting per package is not supported, but, if you have a possible solution 👍  feel free to PR. I'll be glad to review it.

[2017-06-22 06:04] juanpicado commented on #203
@adsftt Unfortunately I think can't do anything about it,  have you tried to ask in their repository? https://github.com/TimDumol/unix-crypt-td-js, the unique reference I found about this is https://github.com/verdaccio/verdaccio/issues/106#issuecomment-277089207 .  The auth is a build-in plugin, but, soon will be a external one. You might use the `sinopia-htpasswd` instead the build-in and it sho

[2017-06-22 06:04] #203 closed

[2017-06-22 06:07] juanpicado commented on #185
@kisamoto How can I reproduce it in a local environment?

[2017-06-22 17:46] juanpicado commented on #73
Ok, the issue is the object that retrieve `verdaccio` is different that expected it by `npm-latest`

*verdaccio*
[code]
*npmjs*
[code]

The property `time` is need it by that library.

[2017-06-23 06:33] #73 closed

[2017-06-23 12:21] karfau commented on #213
Not quite sure what you want to achieve.
From what I understood, you want to be able to configure it via the configuration file, instead of in the docker command, right?
Would it work for you to move the "default listen" in the configuration and remove it from the CMD in the `Dockerfile`? This would allow somebody to change the configuration file before building an image and be done with it.

If t

[2017-06-23 13:36] stanleyxu2005 commented on #217
Please use Bootstrap v4 instead of v3. It looks much better.

[2017-06-23 15:36] juanpicado commented on #217
@stanleyxu2005 There is any React library using Bootstrap v4?

[2017-06-23 16:11] juanpicado commented on #213
@karfau I think you solve it pretty well in your PR and also the CMD "default listen" should be gone, because it makes useless what you set on configuration file. I know CML arguments always has priority but use it with Docket does not make sense at all.

[2017-06-23 20:46] karfau commented on #213
just read this very helpful article about the different options for configuring ports:
https://www.ctl.io/developers/blog/post/docker-networking-rules/
I think writing the port to the config file makes not much sense if it is possible to (optionally define the port to use when calling `docker run ...`

I will set this up tomorrow in the PR and describe the changes to avoid redundancy in the CLI co

[2017-06-24 04:05] stanleyxu2005 commented on #217
@juanpicado I don't familiar with React (normally use Angular), I think Bootstrap is just a layout and visual component library. There are a lot of React libraries use Bootstrap. Current Verdaccio uses Bootstrap v3, so upgrade to v4 will not be quite difficult. (And this is an open source project, if the team is decide to use v4, I'd be glad to contribute some work to help)

[2017-06-24 07:45] juanpicado commented on #213
Interesting article, 👍 . About the port, yeah, technically you are right,  but I think defining the port in the Dockerfile is intuitive for users, they will know which port will run, I'm wrong?

[2017-06-24 08:14] Meeeeow commented on #217
@stanleyxu2005 Also prefer Bootstrap v4, but @juanpicado already implement a preview version used material-ui, we have not decide use material-ui / ant-design or other library, any suggest?

[2017-06-24 08:17] juanpicado commented on #217
@Meeeeow up to you to decide the UI library, I use at work (https://react-bootstrap.github.io/) but it's Bootstrap v3 still and they do not have a major release yet. I think for the small UI we have we could workaround Bootstrap v4 + CSS Modules, what do you think?

[2017-06-24 08:22] Meeeeow commented on #217
@juanpicado https://github.com/reactstrap/reactstrap Here is another react ui library with Bootstrap v4, but... i will choose another one with 14k or 26k stars

[2017-06-24 12:04] #213 closed

[2017-06-26 11:23] idangozlan commented on #168
Is there anything new with that?

[2017-06-26 12:45] idangozlan commented on #168
Ok so after some debugging sessions, I see that the token is not invalidate by time, it's just an encrypted user:password, so that means that it will behave the same way as the NPM original registry, which invalid the token when the user that issued that token is changing the password.

[2017-06-26 13:48] Meeeeow commented on #168
@idangozlan We are working on this, token for webui will expire after 24h in next minor release, npm token will not change before next major release, but it will release as a standalone plugin

[2017-06-26 17:39] juanpicado commented on #107
@darkowic Could you share the configuration of your demo?

[2017-06-26 17:46] #109 closed

[2017-06-26 17:48] juanpicado commented on #182
@mattoni Can you describe your set up? How Can I reproduce it?

[2017-06-26 17:49] juanpicado commented on #109
I hope someone (hopefully you) with Puppet support helps to solve #87 . In the meantime, it was removed as you requested.

[2017-06-26 18:02] mattoni commented on #182
It's been awhile since I've messed with this, but I've got certificates being installed into a /tls directory with the following config:

[code]

and running it with the following args:
`/usr/src/app/bin/verdaccio --config /verdaccio/conf/config.yaml --listen 0.0.0.0:4873`

If i change listen at all, the container will crash so I can't get it to run https.

[2017-06-26 18:18] juanpicado commented on #134
@pascalduez It works for me
[code]
`npm info`

[code]

[2017-06-26 18:24] juanpicado commented on #177
It seems related with #223

[2017-06-26 18:26] juanpicado commented on #177
@agpreynolds I did not see your question. But I did it in my own machine.

[2017-06-26 19:46] juanpicado commented on #105
I think this depends of the plugin you set up, the build-in one is quite simple, it has no groups support https://github.com/verdaccio/verdaccio/blob/master/lib/plugins/htpasswd/index.js#L47 and seems in the next major release  #168 this will change . I won't document it now because it's gonna change anyway.  Please feel free to reopen if you considere is not enough information.
fyi:
http://resolv

[2017-06-26 19:46] #105 closed

[2017-06-26 19:52] juanpicado commented on #182
@mattoni sorry the delay. Only 2 maintainers not enough to reply soon. Anyway, I'm curious if you are using the official `Dockerfile` or you have your own? Also I noticed `/tls` folder seems to be a volumen, I'm right ?

[2017-06-26 21:32] darkowic commented on #107
@juanpicado What do you mean the configuration? The js package json config or the verdaccio config?

[2017-06-26 23:19] silkentrance commented on #107
@darkowic does this occur after you restarted the verdaccio server or after that you published a new private package to the running verdaccio server?

[2017-06-27 04:56] juanpicado commented on #107
@darkowic verdaccio config file. I need to know how to reproduce it.

[2017-06-27 09:32] Meeeeow commented on #107
Which version of verdaccio? this issue should fixed after 2.1.5

[2017-06-27 11:19] darkowic commented on #107
[code]

[code]

The package I host here is called e.g. `demo-something`.

@silkentrance I don't remember if it occurs with first publishing. But, I was restarting the server many times and it is still reproducible

[2017-06-27 13:57] Meeeeow commented on #107
@darkowic So you should update your verdaccio, latest version is 2.2.1

[2017-06-27 13:57] #107 closed

[2017-06-27 14:06] darkowic commented on #107
Maybe. But still I added this issue while ago. Will update it and we will
see if this can be closed :)

27.06.2017 15:58 "Meeeeow" <notifications@github.com> napisał(a):

[2017-06-27 14:11] Meeeeow commented on #107
I can confirm it's fixed in latest version, have a try

[2017-06-27 14:12] darkowic commented on #107
Thanks then! I will try

27.06.2017 16:11 "Meeeeow" <notifications@github.com> napisał(a):

[2017-06-28 05:11] mattoni commented on #182
Using the default Dockerfile. I run a CaaS platform, (Cycle)[https://cycle.io] that automatically manages the TLS certs by installing them into that directory.

[2017-06-30 08:56] radubrehar opened #234 "dist.tarball points to http instead of https"
#### My reason:

Although using the registry with SSL, in the package.json that describes all the versions of a package (in the storage directory) I still get dist.tarball pointing to http instead of https
[code]

Also see https://github.com/npm/npm/issues/11471 and http://blog.npmjs.org/post/142077474335/npm-registry-is-now-fully-https
 which might be related

I'm serving the verdaccio registry t

[2017-06-30 15:15] 030 commented on #84
@juanpicado Once the repository has been moved, am I still able to merge PRs?

[2017-06-30 15:16] 030 commented on #84
@juanpicado 1) It needs to be in the own repository. According to ansible galaxy all roles have an own repo. 2) I will transfer the repo to the verdaccio org.

[2017-06-30 15:16] juanpicado commented on #84
Sure, @030 that repo would be your responsibility.  Are you agreed?

[2017-06-30 15:17] 030 commented on #84
```You don’t have the permission to create repositories on verdaccio ```

[2017-06-30 15:17] juanpicado commented on #84
@030 Give me one second. I'll solve that.

[2017-06-30 15:23] juanpicado commented on #84
@030 try again

[2017-06-30 15:25] 030 commented on #84
@juanpicado it works. Thank you!

[2017-06-30 15:25] #84 closed

[2017-06-30 15:26] juanpicado commented on #84
welcome aboard ! 🚢

[2017-06-30 15:27] juanpicado commented on #234
@radubrehar it would be helpful
*  your configuration
and perhaps more questions based on that

[2017-06-30 15:30] 030 commented on #84
@juanpicado Thank you. Is there an organization logo?

[2017-06-30 15:36] juanpicado commented on #84
No 😢  we need a kind person + designer + open source lover that support us with that.

[2017-06-30 15:36] juanpicado commented on #84
@030 you are the admin of that repo, all yours.

[2017-06-30 15:58] 030 commented on #84
![verdaccio-logo](https://user-images.githubusercontent.com/7524528/27743864-ac8da3fa-5dbd-11e7-9fc3-c61b8dcbb7bd.png)

[2017-06-30 17:57] juanpicado commented on #84
Let's people vote :)

[2017-06-30 18:14] jmwilkinson commented on #84
Needs to be green, same color as the current image. Also would be nice if it was kinda old-timey, something like:
![verdaccio](https://user-images.githubusercontent.com/17836030/27748692-31c6ca58-5d85-11e7-88fe-674adbcf341f.png)

[2017-06-30 18:23] juanpicado commented on #84
We should open a new thread for this.

[2017-07-01 06:23] Meeeeow commented on #84
Hmm... We need a designer...

[2017-07-02 03:57] OmgImAlexis commented on #224
Personally I'd like to see this keep the `WTFPL` license to show that the fork is as open as the original.

[2017-07-02 12:43] juanpicado commented on #105
Guys, please let me know whether you are happy for the following documentation for packages accessing.

https://github.com/verdaccio/verdaccio/blob/d8177a772454c4a5234277b8801d36fa80a19cf4/wiki/packages.md

[2017-07-02 17:00] juanpicado commented on #224
@OmgImAlexis I'm wondering. Do you have any particular reason?

[2017-07-02 17:01] Meeeeow commented on #224
Vote for GPLv3

[2017-07-02 17:46] OmgImAlexis commented on #224
Changing the license to something more restrictive after it's been forked just feels "wrong".

[2017-07-03 08:33] 030 opened #237 "Organization logo"
This is a follow up to [this](https://github.com/verdaccio/verdaccio/issues/84) question.

At the moment there is no organization logo. Please add proposals to this ticket and vote.

[2017-07-03 08:45] 030 commented on #237
![verdaccio-logo](https://user-images.githubusercontent.com/7524528/27785047-98baa60e-5fdc-11e7-8801-d023a2e2fb4a.png)

[2017-07-03 08:45] 030 commented on #237
@jmwilkinson

![verdaccio-logo2](https://user-images.githubusercontent.com/7524528/27785075-bc8dd10a-5fdc-11e7-9f30-8e9b3071c77c.png)

[2017-07-03 08:46] 030 commented on #84
https://github.com/verdaccio/verdaccio/issues/237

[2017-07-03 13:43] adrianchifor opened #238 "Container crashes - Permission denied"
[code]

Started happening since we upgraded to 2.2.2. Looks like `.sinopia-db.json` is created by root and is then accessed by verdaccio user (introduced in 2.2.2).

[2017-07-03 13:44] adrianchifor commented on #238
If it helps, we run verdaccio inside Kubernetes and the `/verdaccio/storage` path is mounted on an AWS EBS volume.

[2017-07-03 16:20] jmwilkinson commented on #224
If the licensing is changed, it should be to MIT. That keeps it pretty much as permissive from a practical standpoint and is a broadly accepted license.

[2017-07-03 16:46] Meeeeow commented on #237
Please don't make it look like kelp...

[2017-07-03 18:02] jmwilkinson commented on #237
How about this? Make it look more like it has to do with packages...

![verdaccio2](https://user-images.githubusercontent.com/17836030/27803595-1670c3b0-5fdf-11e7-9a6f-69daf419d327.png)

[2017-07-03 18:21] 030 commented on #237
@jmwilkinson great idea!

[2017-07-03 18:58] juanpicado commented on #238
Do you think this should be enough to fix it?
[code]

[2017-07-03 19:26] jmwilkinson commented on #237
Maybe. Feel free to tweak it.

![verdaccio4](https://user-images.githubusercontent.com/17836030/27805645-c75273ee-5fea-11e7-90eb-ad33d3303737.png)

[2017-07-03 20:40] adrianchifor commented on #238
Looks like this is already in the Dockerfile
[code]

I think the problem might be that we specify the volume after that command and after assuming the verdaccio user.
[code]

[2017-07-04 09:05] markpeterfejes commented on #238
I've run into the same problem as above. This is the`ls -la` output from the `/verdaccio/storage` folder:

[code]

[2017-07-04 14:12] markpeterfejes commented on #238
That's not the problem unfortunatelly. It won't help. Until the problem will be found, the following unsecure workaround can be used, add this to your deployment right before the verdaccio container spec:

[code]

[2017-07-04 14:47] juanpicado commented on #238
Can that can be tested in a local environment?

[2017-07-04 15:27] markpeterfejes commented on #238
I think you could use minikube to test it locally. Kubernetes mounts the volume just before the dockerfile's CMD command as root. Thats why we cannot write to the storage folder.

[2017-07-04 15:31] juanpicado commented on #238
Cool, thanks for that 👍

[2017-07-05 11:09] jollycic commented on #237
What about this one? It is a simplified version of @jmwilkinson's proposal...

![verdaccio-logo-proposal](https://user-images.githubusercontent.com/6554913/27861885-fd4f64c2-6182-11e7-8ec6-672ea20198ff.png)

[2017-07-05 15:12] markpeterfejes commented on #238
This is not a kubernetes specific problem unfortunately. If you run the following command the image is going to fail with EPERM, because docker is mounting the volumes as the host user or root.
`docker run -it -v ~/test:/verdaccio/storage -u verdaccio verdaccio/verdaccio:latest`

The issue is tracked [here](https://github.com/moby/moby/issues/2259).

[2017-07-05 17:23] #238 closed

[2017-07-05 17:28] markpeterfejes commented on #238
@adrianchifor So to recap this, the fix for this problem is to set this on the PodSpec:

[code]

Where 101 is the verdaccio group id. Kubernetes is going to give permission for that group to write on the attached volume

[2017-07-05 17:36] juanpicado commented on #238
Shipped under `v2.2.5`. Docker image will be ready soon.

[2017-07-05 18:27] adrianchifor commented on #238
@markpeterfejes @juanpicado cheers guys!

[2017-07-06 12:59] sergeyjsg opened #244 "Does not work with npm 5 and node 8 (on the client)"
Hello! I spend two days trying to launch verdaccio in docker. After failing I installed it through npm and ran with forever. Result always was the same. Commands `npm login` and `npm adduser --registry http://repo.myknowtions.com:4873` did not work. They just hang up. And hang up whole terminal so even `ctrl + c` did not work. Then I downgraded my node to v7 (so npm 4.2 was installed automatically

[2017-07-06 14:49] juanpicado commented on #244
`verdaccio` runs agains all Node version everyday, so, I doubt node 8 might be an issue. Have you tried with `yarn` ? It happens in all `verdaccio` versions or just the latest one? Do you have any `npm` log?

refers to #202

[2017-07-06 17:34] juanpicado commented on #244
It works for me locally and using the latest `Docker` build. It sounds as a local `npm` issue. I had that in the past, somehow, solved magically, but, it wasn't `verdaccio` related. But let's wait your feedback.

<img width="1403" alt="gh_209" src="https://user-images.githubusercontent.com/558752/27924292-0da29b42-6281-11e7-8aaf-415723c6cc70.png">

[2017-07-07 04:57] juanpicado commented on #87
https://github.com/Dharmender-Singh/puppet-verdaccio

[2017-07-07 05:00] juanpicado commented on #86
@kgrubb I wonder, would you like to bring your project to the organization? as it was did with ansible last month.

[2017-07-07 05:28] juanpicado commented on #83
fixed on #89

[2017-07-07 15:32] juanpicado commented on #86
@kgrubb I made you admin of the repository  Welcome aboard.

[2017-07-07 19:20] juanpicado commented on #87
Puppet is part of the organization already. Closing this.

[2017-07-07 19:20] #87 closed

[2017-07-09 16:24] Meeeeow commented on #234
Hello, I can't reproduce this issue, could your provide your nginx config and verdaccio config?

[2017-07-09 18:18] kgrubb commented on #237
Here's some images. Trying to follow a similar style to Yarn's assets. The pimento inside the olive is sinopia colored 😆 The font in the banner is the [Niconne Font](https://fonts.google.com/specimen/Niconne).

## Icon:

![verdaccio-logo-icon](https://user-images.githubusercontent.com/8471701/27996481-a65d6c5a-64b0-11e7-8974-80aa3bcab0b5.png)

## Banner:
![verdaccio-logo-full](https://user-images.

[2017-07-09 21:27] pranay06 commented on #65
I tried to verify this on the latest version of verdaccio available on git and this bug still persists.

[2017-07-10 04:39] juanpicado commented on #65
@pranay06  Please share a `npm info --registry http://xxx.xxx:4873/` of your package.

[2017-07-11 10:07] medokin opened #248 "Docker Volume broken"
#### My reason:

Error: EACCES: permission denied, open '/verdaccio/conf/storage/.sinopia-db.json'

#### Steps to reproduce:

docker run -it --rm --name verdaccio -p 4873:4873 -v /compose/verdaccio/data:/verdaccio verdaccio/verdaccio

####  App Version:

gt 2.1

####  Config file:

default

[2017-07-11 10:16] juanpicado commented on #248
Relates https://github.com/verdaccio/verdaccio/issues/238

[2017-07-11 10:17] medokin commented on #248
2.1 seems to be the last working version.

[2017-07-11 10:19] juanpicado commented on #248
Have you tried `2.1.5`?

[2017-07-11 10:29] medokin commented on #248
I tried every version.

Well, even 2.1 does not work correctly, there is no error, but the volume is empty.

[2017-07-11 10:36] pranay06 opened #249 "contributors list does not show when npm view is executed in a package"
#### My reason:
When there are multiple publishers in a package then each user who is publishing the package should be logged somewhere and when 'npm view' is executed then it should show the same as it shows in the case of public npm.

When I try do 'npm view ." in the module dir then it gives this output.
[code]

[2017-07-11 10:41] medokin commented on #248
[code]

results in:

[code]

[2017-07-11 10:46] juanpicado commented on #248
Thanks. I'll try later

[2017-07-11 11:00] pranay06 opened #250 "modules could not be restricted access"
#### My reason:

I have been struggling to restrict the access of modules in my private npm registry setup using verdaccio.
I created a scoped npm module -  @pg/three
In the config file I mentioned the strickness

	packages:
	  '@pg/*':
	    # scoped packages
	    access: $all
	    publish: $authenticated
Now other users are still been able to publish on this package. Moreover if I tried to restri

[2017-07-11 12:02] pranay06 commented on #65
@juanpicado my bad. It is working ! I have raised two new issues - https://github.com/verdaccio/verdaccio/issues/250
https://github.com/verdaccio/verdaccio/issues/249
Would be glad if you could help me in these.
Thanks

[2017-07-11 17:08] juanpicado commented on #249
**Contributors** are not supported by any version, but, I think #221 will have a detail view of the package, so, there will be enough space to display them (ping @Meeeeow ), with the limited UI space right now is not that possible.

[2017-07-11 17:11] juanpicado commented on #250
Have you read https://github.com/verdaccio/verdaccio/blob/master/wiki/packages.md ?

[2017-07-11 18:59] juanpicado commented on #248
I'll need more data, I tested with https://github.com/verdaccio/docker-examples/tree/master/docker-local-storage-volume and I cannot reproduce it

[2017-07-11 19:09] juanpicado commented on #185
Please provide a `minikube` hello world set up to reproduce.

[2017-07-11 19:19] juanpicado commented on #134
Ticked abandoned, closing. Please let me know if the issue persist.

[2017-07-12 08:11] medokin commented on #248
It does not work when I clear the conf directory.

[code]

It does not create a default config.yaml. Is this behavior wanted?

[2017-07-12 13:03] juanpicado commented on #248
Your very beginning reason is a complete different issue, please file a new issue, provide enough information and close this one if you consider the initial reason is solved already.

[2017-07-12 18:09] juanpicado commented on #238
I wonder if this fix on `npm 5.1.0` is related with this
Releases notes:

(@zkat)

https://github.com/npm/npm/commit/24ec9f2dd4dcd4f25622dff3a502d4e86a025c0d

[2017-07-13 10:05] #248 closed

[2017-07-13 20:51] silkentrance commented on #237
I'd like to chime in. Here is my proposal.
![image](https://user-images.githubusercontent.com/6068824/28186910-142dc59e-681d-11e7-8ce4-4fd61b560db1.png)

And here are some others I have been working on

not exactly squares:

![image](https://user-images.githubusercontent.com/6068824/28186943-2c93c692-681d-11e7-8709-7c8075cc971f.png)

![image](https://user-images.githubusercontent.com/6068824/28186

[2017-07-14 13:27] pranay06 commented on #250
Hi Juan,
	I read it before also and I re-read it after your suggestion. But nothing was of much help.

	I have a few packages starting with pg (pattern pg-*). I want to have the ability to give the authIorization to only selected users to publish these packages
	So when I tried to use (Case-1)
		'pg-*':
		    access: $authenticated
		    publish: $authenticated
	Everybody was able to publish, no m

[2017-07-14 13:30] juanpicado commented on #250
@pranay06 could you follow this guide to format properly your message ? https://guides.github.com/features/mastering-markdown/ it's really hard to read.

[2017-07-15 21:12] Aigeec commented on #244
I have a sinopia install and it does not appear to work with npm 5 so I would imagine this is an issue for you too.

[2017-07-15 21:25] juanpicado commented on #244
@Aigeec unless you provide a specific error, it's hard to prove. It works for me in the daily basis. Also you have to be aware the fast iteration of release `npm5` is having lately. They have fixed plenty of bugs. https://github.com/npm/npm/releases

[2017-07-15 21:26] Aigeec commented on #244
Aye, was thinking it wasn't the most helpful comment. Booting up now to get
a bit more info. Like you say might all be resolved. A

On 15 Jul 2017 10:25 p.m., "Juan Picado @jotadeveloper" <
notifications@github.com> wrote:

[2017-07-15 22:08] Aigeec commented on #244
Looks like you are correct that recent bug fixes seem to have resolved the issue.

Thanks A

[2017-07-15 22:28] juanpicado commented on #244
Cool, then we can close the issue.

[2017-07-15 22:28] #244 closed

[2017-07-15 22:52] juanpicado commented on #217
Closing it, this was achieved already and works pretty good.

[2017-07-15 22:52] #217 closed

[2017-07-15 22:52] juanpicado commented on #218
Done

[2017-07-15 22:52] #218 closed

[2017-07-15 22:53] juanpicado commented on #219
Babel 6 was the winner. Closing.

[2017-07-15 22:53] #219 closed

[2017-07-16 00:20] Aigeec commented on #111
@unional are you changing the registry domain as in going from --registry=http://localhost:4873 to --registry=http://172.16.10.129:4873?

When you add a user to npm or verdaccio it adds an entry to the users .npmrc file with the users auth token. This is domain specific. e.g.

`//localhost:4873/:_authToken="<auth token here>"` wont work for http://172.16.10.129:4873 even though its the same server

[2017-07-17 04:19] kgrubb commented on #237
Alright, trying to fix up some of the things that @silkentrance brought up. Changes:

* removed the darkened gradient
* all images have an svg counterpart so size should scale properly for pretty much any use case
* simplified the olive and made it much larger. (removed stick, made the oval a silhouette)

I've made a repo with my tentative icons:  https://github.com/kgrubb/verdaccio-assets

Feedba

[2017-07-17 05:31] juanpicado commented on #237
I'm so happy to see each day more and more alternatives. 🚀 🚀 🚀 🚀 🚀 😃 😃 😃 😃

[2017-07-17 09:57] pranay06 commented on #250
@juanpicado  thanks for pointing it out. I have formatted the same comment.

[2017-07-17 11:10] silkentrance commented on #237
@kgrubb splendid!

[2017-07-17 12:52] 030 commented on #237
@juanpicado What about defining a deadline and choose the highest scored one?

[2017-07-17 17:49] juanpicado commented on #237
I'm agreed with @silkentrance on this thoughts about the basic keywords

Since this is a free contest and there is no 📅  for VerdaccioConf 2017 😄 .... yet 🤓 I think we have enough time to let others to release his love for open source and logo design. I think @030 we can let this open for a while (after summer perhaps) and see what else we can see.

[2017-07-17 17:53] juanpicado commented on #237
One thing to keep on mind  ... the internal design is red  😕 ... any idea how to mix both styles?

[2017-07-17 18:16] kgrubb commented on #237
Will the color scheme change (or be change-able) as part of the react ui refactor?

[2017-07-17 18:27] juanpicado commented on #237
Yes, we might do that, but it must be a slow change, I do not think so in that PR. The goal of the `ui-refactor` was just replace the stack with almost 0 impact in the current style and should be shipped in `v2.3.0` But, I'm open for changes in the future of course, perhaps `v3.0.0` would be a good moment to play around with it.

[2017-07-19 04:54] juanpicado commented on #237
@kgrubb sorry I didn't see your reply. I think not in this version, but, all future improvement is very welcome.

[2017-07-19 04:56] juanpicado commented on #221
Fixed on #220

[2017-07-19 04:56] #221 closed

[2017-07-19 13:21] juanpicado commented on #250
@pranay06 `npm owner add` is not supported unfortunately https://github.com/verdaccio/verdaccio#compatibility

About being selective to allow some users to access packages. Have you tried?
https://github.com/verdaccio/verdaccio/blob/master/wiki/packages.md#set-multiple-groups
[code]

[2017-07-19 13:25] juanpicado opened #255 "Add publish introduce when no package available"

[2017-07-19 14:17] pranay06 commented on #250
Thanks a ton Juan. This worked.
I thought these values( npmuser user1 user2) are groups in the registry since it was termed - set multiple groups and I could not find the way to create groups in verdaccio.
Correct me if I am wrong, I believe one needs to ask the admin of this registry to change this in the config file of verdaccio  whenever  there is a need to change these permissions for any modu

[2017-07-19 16:17] juanpicado commented on #250
@pranay06 the current auth plugin is quite limited, actually if you see in detail the source code says clearly what I quoted below.

https://github.com/verdaccio/verdaccio/blob/master/wiki/packages.md#usage

So, in short the answer is a big **yes**. In the way this was coded it works like that. You will have to change manually and restart verdaccio using that plugin.

If you need something somethi

[2017-07-19 18:56] fr0 opened #256 "using verdaccio as a cache"
Is there a way to configure verdaccio as a read-through cache for the public npm repo?

Basically, I want to set my registry to it, and then any time I do `npm install`, I want it to use the verdaccio private registry. If the module it's trying to install isn't in the private registry, then I want it to be automatically added to the private registry.

Based on the README, it seems like it should d

[2017-07-19 19:33] juanpicado commented on #256
Let me see whether I understood correctly. You want to use `verdaccio` as proxy and when you run `npm install --registry xxxx` in your project all those downloaded packages should be displayed in the verdaccio UI?

[2017-07-19 19:38] fr0 commented on #256
Yes, that's exactly what I want. I thought that was what it did by default, but I think I've misunderstood.