[2017-07-20 04:34] Meeeeow commented on #256
Maybe we can add refresh interval for package? @juanpicado
Such as skip read package info from upstream for package download < 1 day (configurable)
if we always read local package, the registry will "disconnect" from upstream, not able to get latest version of package

[2017-07-20 05:04] juanpicado commented on #256
Exactly is what @Meeeeow  said, what @fr0 is asking is not possible.
1. I would not make sense replace https://npmjs.com or https://yarnpkg.com/
2. The index system won't be able to handle such amount of packages along the time, currently only index local packages, so, it requires more than a normal File System to handle GB of packages in memory.

I do not get this @Meeeeow

Such as skip read pack

[2017-07-20 12:04] pranay06 commented on #250
This is of great help. Thanks Juan.

[2017-07-20 12:18] #250 closed

[2017-07-20 13:15] fr0 commented on #256
Perhaps I should clarify my requirements. My organization wants to be able to guarantee that we can build our software any time, even if npmjs is down or defunct. That includes having guaranteed access to the specific versions of the libraries we depend on.

As a side goal, I'd like to provide an on-site local cache of the 3rd party libraries we use for performance reasons, so our developers can d

[2017-07-20 17:27] fr0 commented on #256
Perhaps I should be using this instead:  https://github.com/heikkipora/registry-sync

[2017-07-20 20:24] juanpicado commented on #256
`verdaccio` caches all packages/dependencies in the local storage. For instance if you run `npm install react`,  it will cache react and his inner dependencies. **It caches all, local and external dependencies.**

If you set up property the uplinks https://github.com/verdaccio/verdaccio/blob/master/wiki/uplinks.md#configuration should work like a charm.

The unique incident reported with offline i

[2017-07-20 21:18] fr0 commented on #256
I got it to work -- thanks for your help.
The only remaining problem is that the Web UI doesn't show cached packages, but it sounds like that is intended behavior. If you agree that it is intended and don't want to change that behavior, we can close this issue.

[2017-07-21 04:52] juanpicado commented on #256
@fr0 yes, that's an intended behaviour since since the very beginning at sinopia.  The default local storage system is quite limited. In the roadmap there is a #169 to improve the plugin system, that will helps to switch to different storage systems and thus cache whatever you want 🚀  .

[2017-07-21 05:51] radubrehar commented on #234
My config.yaml is:

[code]

My nginx relevant portion:

[code]

[2017-07-21 06:05] juanpicado commented on #234
@radubrehar which `verdaccio` version are you using? I'd recommend the latest one.

[2017-07-21 06:09] radubrehar commented on #234
@juanpicado I'm using `2.2.1` - i'll switch to the last version and come back with a status. Thanks for the great work!

[2017-07-21 07:44] radubrehar commented on #234
Sadly, seems like using the latest version, `2.2.7-r` makes no difference

[2017-07-21 07:49] juanpicado commented on #234
Ok, good to know. I will try to see next days what could be.  I need set up a similar env

[2017-07-21 12:30] radubrehar commented on #234
The above issue came from usage with yarn, which tries to download the package from `http://registry.xxx.io:443/....` which is obviously not correct. The npm client though works correctly and manages to download the `tar.gz` file. Could this be an issue with yarn instead of verdaccio? Have you experimented something similar?
I wondering if there's something strange in my setup...

[2017-07-21 13:35] Meeeeow commented on #256
@juanpicado Verdaccio will try get package info from `upstream`/`uplink` in every request, if there is a options allow user set `refresh interval`, package install will be super fast, the `refresh interval` mean don't try get package info from `uplinks`

[2017-07-21 13:37] juanpicado commented on #256
@Meeeeow sounds like a good improvement, can you create a ticket with more details?

[2017-07-21 15:12] Meeeeow commented on #234
As i see, you have add `https` section into verdaccio configure file, if  your verdaccio is running behind nginx reverse proxy, you don't need this section.

And, when you are using verdaccio with https reverse proxy, you MUST set `url_prefix` to `https://you-registry.corp.com`, this is a known issue, because reverse proxy will not tell verdaccio what's the origin protocol

/cc @juanpicado

[2017-07-21 15:26] Corporalis opened #258 "Anonymous publish"
Is there any way to allow anonymous/unauthenticated publishing of packages?
I've tried the following settings in the general packages ('*') section of the yaml file:

[code]
and
[code]
 However I always get the same authorization error:

I have no issues with adding a user and subsequently publishing packages, but I seem to be unable to publish as an anonymous user. Given that this instance is in

[2017-07-21 15:30] Meeeeow commented on #258
It's a limit of npm, impossible to publish as anonymous, but you can open register then everyone have permission to `npm adduser`

[2017-07-21 15:33] juanpicado commented on #258
Yeah, you have to fake a token in the `.npmrc`. Look at the closed issues there is an example over there.

[2017-07-21 15:34] Corporalis commented on #258
Ahh... thank you very much for that.

[2017-07-21 15:35] juanpicado commented on #258
yw, thanks for asking :)

[2017-07-21 15:35] #258 closed

[2017-07-21 15:40] juanpicado commented on #234
@Meeeeow can we add that to the documentation?

[2017-07-24 04:56] juanpicado commented on #258
FYI: `yarn` allow anonymous publish.

[2017-07-24 05:28] juanpicado commented on #255
Solved with release `2.3.0`

[2017-07-24 05:28] #255 closed

[2017-07-24 05:31] juanpicado commented on #78
Closing this, seems abandoned. I'll merge. Feel free to reopen whether you have further comments.

[2017-07-24 05:31] #78 closed

[2017-07-24 08:42] radubrehar commented on #234
@Meeeeow thanks a lot!
Seems like usage with yarn is now solved by adding `url_prefix`!

That was my main problem, so I think we can close the issue now.

[2017-07-24 09:22] Meeeeow commented on #234
@radubrehar Thanks for feedback, we will close it after update documentation

[2017-07-25 05:32] juanpicado commented on #128
Hi @zkochan, which changes from `verdaccio` would be necessary to achieve your concept?

[2017-07-25 05:32] #256 closed

[2017-07-25 05:44] juanpicado commented on #64
I think we can close this issue, actually you can create your own `verdaccio-` prefixed plugins as this set of plugins already done https://github.com/verdaccio/verdaccio/blob/master/wiki/plugins.md#verdaccio-plugins-since-21x.

[2017-07-25 05:44] #64 closed

[2017-07-25 06:23] juanpicado commented on #9
related https://github.com/fbsamples/f8app/issues/147#issuecomment-281972807 a hint to fix it on Windows

[2017-07-25 06:58] juanpicado commented on #125
I wonder whether this has been tested with `yarn` or the last `npm` persist with the same issue?

[2017-07-25 09:28] zkochan commented on #128
Hi @juanpicado, I don't know at the moment. I did not think it through yet. Maybe verdaccio would need to proactively update its storage and serve it as a torrent file?

[2017-07-25 16:28] gioragutt opened #264 "Cache not redownloaded when deleted"
#### Steps to reproduce:

`pm2 start vedaccio` (not exactly, I give exact path to global node modules bin file, as it doesn't work when I run `pm2 start verdaccio`, gives out node error)
`ng new test-project`
Delete `@angular` in `C:/Users/MyPc/.config/verdaccio/storage`
Delete `node_modules` in `test-project`
`npm install` inside `test-project`
`@angular` folder is not redownloaded in the cache f

[2017-07-25 20:01] leoloko opened #265 "Param web.title from config.yaml does not work on docker image"
#### My reason:

I just updated from version 2.2.5 to 2.3.1 and the title configured in config file is not shown.

#### Steps to reproduce:

Just open the the localhost:4873

####  App Version:

2.3.1

####  Config file:

web:
  title: 'My Custom Title'
storage: /verdaccio/storage

auth:
  htpasswd:
    file: /verdaccio/conf/htpasswd

uplinks:
  npmjs:
    url: https://registry.npmjs.org/

package

[2017-07-26 05:34] juanpicado commented on #264
You miss a step here, remember all is cached locally by `npm` in `~/.npm/*` or in your case in `C:\Users\[Username]\AppData\Roaming\npm`. Those steps works for me, the fact the packages are not being re-downloaded on storage is because npm first ask your local cache, otherwise go to the registry. I had to `rm -Rf ~/.npm/*` to force `npm` to ask again for the packages.

![screen shot 2017-07-26 at

[2017-07-26 13:52] gioragutt commented on #264
I did have have to `npm cache clear --force`. Currently this does work for me, things are downloading as expected.

I suggest maybe adding a small RFAQ (really FAQ) which would at least note this point, alongside other relevant FAQs that should be in the README

[2017-07-26 14:29] juanpicado commented on #264
Sure, we always can improve the documentation. Lately we have been posting new documents to improve the usage and set up, you can see https://github.com/verdaccio/verdaccio/tree/master/wiki I think your issue was merely related with `npm`, somehow, I'll point it out somewhere as a related topic because `npm` is harder than I seems so.

`yarn` no problem, It was just suggestion.

I'm not 100% sure

[2017-07-26 16:16] gioragutt commented on #264
@juanpicado regarding the `cache fallback resolution`, I do now realize there isn't much you can do about it. What I thought (at the time of writing) that maybe you have control over which cache is used (and next cache if first cache is missing what you need, and so on). But if this is done by `npm`, I guess that there's not much you can do.

[2017-07-26 16:44] gioragutt commented on #264
@juanpicado I have a question tho.

In my company, we have an offline (not connected to `www`) `Artifactory` server, on which we run an `npm repo`. Problem is, of course, it's offline, so I can't really use it until I get the packages to the offline network.

For that I use `verdaccio`, which does the caching for me, so that I can pack it and move it to the offline network. Currently, we still don

[2017-07-26 17:13] juanpicado commented on #264
With `Artifactory` you mean JFrog Artifactory?

[2017-07-26 17:15] gioragutt commented on #264
@juanpicado Yes, exactly. Specifically, the `pro` version that can host an `npm repository`

[2017-07-26 17:46] juanpicado commented on #264
Unfortunately I have no clue about JFrog  only they 💰 for use it 😈 ., I just played around with Nexus. Perhaps others has can give you any hit about it.
btw: I think we can close this ticket, right?

[2017-07-26 17:47] juanpicado commented on #265
The new UI doesn't support it, we have to develop it again. I'll put in the queue. Thanks for report it.

[2017-07-26 17:52] juanpicado commented on #264
They have https://github.com/JFrogDev/nexus2artifactory perhanps there is a `verdaccio/sinopia`-> `artifactory` or something like that.

[2017-07-27 05:43] juanpicado commented on #265
I'll be fixed in the next patch version

[2017-07-27 06:50] juanpicado commented on #32
Are you still interested on this?

[2017-07-27 08:02] RogueRonin opened #267 "Implementing functionality like unpkg.com"
Not everyone will think this makes sense for a private repository since you would then make them publicly available.
But I'd like to think that it would add value.

I personally use unpkg for quick projects so I don't have to go through the whole build process setup or for small packages I want to include as a whole and don't need them to integrate in the build process, like I often do with http:/

[2017-07-27 11:14] #265 closed

[2017-07-27 18:05] will-l-h opened #268 "Verdaccio doesn't update from company uplink registry"
My company has a JFrog registry for private packages and I believe I set up verdaccio correctly to point to it as an uplink.  The issue is that it seems that verdaccio won't pull down updates to the package set for the uplink: foo-ui-theme. If I delete it from the storage folder, verdaccio will get everything, including the latest.

This may be due to all versions being alpha (e.g. 1.0.0-alpha.1,

[2017-07-27 18:22] sgen opened #269 "Using htpasswd to add users"
#### My reason:

I would like to add users via `htpasswd` so I can turn off user registration and add users as necessary via a script or alternative

####  Config file:
[code]
#### Additional information:

It seems that the crypt3 implementation used by verdaccio differs from the one used by `htpasswd`.

The `htpasswd` entry created by adding a user via `npm add-user --registry http://localhost:48

[2017-07-27 18:23] sgen commented on #269
Actually it seems the `verdaccio` is generating a malformed SHA512 entry. The leading `$6` of the password section of  the entry looks alot like the leading `$6$` used to denote the use of the SHA512 hash. It might not even be using `crypt3`

[2017-07-27 19:34] juanpicado commented on #268
I can confirm the bug. Let's see whether I can figure out the reason

[2017-07-27 20:12] juanpicado commented on #268
The issue is when `etag` is present in the `package.json` within the local storage, in other words, since the very beginning a dependency is created we set a `etag` for cache purposes.

In my example I called the uplink `jfrog` and my dependency is for testing purpose

[code]

[code]

The second time we request a new dependency version eg: `1.0.0-alpha-17`, in our code we check if the etag is avai

[2017-07-28 09:38] #268 closed

[2017-07-28 12:55] will-l-h commented on #268
Thanks for sorting this so quickly!

If my uplink config looks correct, maybe I"ll submit a PR to expand that wiki since it wasn't immediately clear to me what I need to do under the packages section. I somehow got the impression that verdaccio would automatically fall back to other uplink if a package couldn't be found on the first (npmjs).

[2017-07-28 17:36] juanpicado commented on #268
@will-l-h

I have to comment this, `verdaccio` won't fall back to another `uplink` if fails with the assigned one. For instance. if it tries to resolve `foo-bar@1.0.0` , the storage will try to match the first package that fulfill the pattern, eg:

[code]
If we analyze the uplink selected in the example above `verdaccio` will try to resolves through `npmjs` as is expected, because is the **first m

[2017-07-28 17:38] juanpicado commented on #268
btw @will-l-h I'll be supper happy to see a PR  🎉

[2017-07-29 00:06] amirmohsen opened #273 "Web UI access issue"
#### My reason:
The web ui doesn't seem to respect access rules. I can still see my packages even when I am not logged in.

#### Steps to reproduce:
Use the config specified below.
Platform: Ubuntu 16.10 x64
It's running behind nginx.

####  App Version:
v2.3.1

####  Config file:
[code]

#### Additional information:
I am using this as a completely private registry which is why I need it to be ent

[2017-07-29 09:05] juanpicado commented on #268
The way how we fixed the issue is incorrect. After a bit of research I've saw the following. See https://github.com/yarnpkg/yarn/issues/3136#issuecomment-294192301 and https://github.com/yarnpkg/yarn/pull/3153

So, instead remove completely the `Accept` header as we did

[code]

we must

[code]
According https://github.com/npm/npm-registry-client/#requests

It seems `JFrog` and `Nexus` [see](https

[2017-07-29 18:18] #264 closed

[2017-07-29 18:37] juanpicado commented on #268
Another valid solution to override default headers for each uplink would be:
[code]

[2017-07-29 20:18] juanpicado commented on #273
Which such configuration works for me. Could you provide more information?

[2017-07-29 20:27] #32 closed

[2017-07-29 21:57] amirmohsen commented on #273
Okay I'll dig into the code and see if I can track down the root cause of the issue.

[2017-07-30 02:24] amirmohsen commented on #273
Quick update. It looks like the authentication is not working at all and this is not just an issue with the web ui. The registry is completely open despite my config file.

[2017-07-30 06:00] juanpicado commented on #273
Still .. We need more info, because as I said works for me, also we have unit testig and all test passed. So I would like to know more about your environment in order to reproduce the issue.

[2017-07-30 12:44] amirmohsen commented on #273
@juanpicado I know you need more info. Don't need a reminder. I was just giving a quick update.

[2017-07-31 14:31] Meeeeow commented on #267
I don't think it's easy to implement @juanpicado
First, allow public access any package as a CDN server may cause abuse by other people(huge bandwidth)
And, if we allow public access to private package, it's not private anymore.

[2017-07-31 15:14] Meeeeow opened #275 "Fix package metadata cache logic"
**Introduce:**
Add options allow user to setup a expire time to package info (package.json), verdaccio will not request to upstream anymore if package info is not expired.

**Effect:**
Make multiple CI build or multiple install in short time faster, also make user get rid of slow bandwidth from verdaccio server to uplink registry

**Todos:**
[code]

[2017-07-31 16:06] juanpicado commented on #267
I think is out of scope of this project. I'll let it open for while and see if anyone want to share his thoughts.

[2017-07-31 20:19] amirmohsen commented on #273
Alright, it seems it was using the wrong config file. I think there was a typo in the path to the config and it was falling back to the default config.

[2017-07-31 20:19] #273 closed

[2017-07-31 22:19] eephillip commented on #78
I just tried this out, this is great. I'll put it through some paces, but looks good so far.

[2017-08-01 02:47] jk-jx opened #276 "Package GONE after update new release Verdaccio"
I updated to Verdaccio latest version yesterday and my package I uploaded last time are gone to nowhere which I couldn't found. Is this a bug or it happened everytime I update Verdaccio. Someone please help me solve this. Thanks. :)

[2017-08-01 05:40] juanpicado commented on #78
Thanks, @eephillip for confirming it! I'm glad it worked out.

[2017-08-01 12:57] darkowic opened #277 "PUT 413 error on publishing package"
#### My reason:

When trying to publish my package, I receive 413 entity too large error
[code]

Our verdaccio server runs under nginx server. I checked and maximum body size on nginx size is 50 MB, so it's not the problem.

From supervisor logs I can find verdaccio logs:
[code]
So, it is for sure verdaccio server error.

For smaller package it was working well.

#### Steps to reproduce:

Big enou

[2017-08-01 13:00] darkowic commented on #277
I forgot to add:
In settings/wiki/config I didn't find anything about server configuration (It runs on express server). There is no API/cli to modify express server :confused:

[2017-08-01 13:17] darkowic commented on #277
I found in express bodyParser documentation that the limit for json parser is 100kB - https://github.com/expressjs/body-parser
Then this error should not be related to package size.

[2017-08-01 13:18] darkowic commented on #277
Just tried with very small package and everything works fine.

[2017-08-01 13:40] dylanb124 commented on #276
This may be irrelevant, but have you tried running `npm dist-tag ls [<pkg>]`? ([See documentation](https://docs.npmjs.com/cli/dist-tag)) This will list the tags of your NPM package, and the latest versions on each. I recently updated Verdaccio and recall reading about changes regarding how Verdaccio handles tagging. I could see a package seemingly vanishing from the UI perspective depending on how

[2017-08-01 17:56] juanpicado commented on #277
You can set the limit setting the following in your config file

[code]
This is not documented properly as far I can see in the code. I'll document it.

[2017-08-02 07:09] lope opened #278 "Mention the origin of verdaccio on the readme"
#### Verdaccio was suggested to me and I did not realize that it's a fork of Sinopia and I had no idea where it came from after reading the readme.

I expect that many people who have been using Sinopia will want to move to a project that is maintained.

The fact that Verdaccio has a completely different name means it's not obvious that it's a fork of Sinopia. The Github title also doesn't show th

[2017-08-02 07:17] juanpicado commented on #278
At the very beginning it was a fork but we asked Github to detach to have more visibility at the web and Github itself.

There is a reference to Sinopia at the Readme first line :)

[2017-08-02 07:21] juanpicado commented on #278
Sinopia means

and Verdaccio means

So, at the end there is a bit of similarity after all :)

[2017-08-02 07:22] juanpicado commented on #278
Oh, I did not read your last paragraph

[2017-08-02 07:23] lope opened #279 "Suggestion to state the compatibility with rlidwka/sinopia"
As one of (possibly many) people who will likely start using your fork instead of the original, the only real question on my mind when I read your readme (which was not answered) is: **Will verdaccio work as a drop-in replacement for sinopia?** Do we need to do anything differently?

Your readme states the compatibility with npm, and while there will be a lot of first time private repo users in fu

[2017-08-02 07:38] Meeeeow commented on #279
Yes, but you should always backup your data (package storage) before do a major update

[2017-08-02 07:49] juanpicado commented on #276
@jk-jx could you elaborate a bit more? eg: steps, config file, log etc etc

[2017-08-02 08:11] lope commented on #278
Hey @juanpicado thanks buddy. Sorry, I missed that first line of the README.md. But it's nice for people to know where verdaccio came from :)

[2017-08-02 08:12] lope commented on #279
Thanks

[2017-08-02 08:33] #279 closed

[2017-08-02 09:24] BaamAadmi opened #280 "On Shared Machine/Server: 'verdaccio' is not recognized as an internal or external command, operable program or batch file."
Hi,

#### My reason:

I have been using **Verdaccio** locally on my machine and its been great. Now I tried to set it up on a shared machine/server. But I faced an issue when I try to run the command
`$ verdaccio`

It says Verdaccio is not an internal or external command..............

#### Steps to reproduce:

Use a shared machine. In my case windows.
Node and Verdaccio  gets installed at C:/User

[2017-08-02 17:36] juanpicado commented on #280
@BaamAadmi couple of questions

1. What do you mean exectly with *Shared Machine/Server*?
2. I do not think this an issue with verdaccio, rather it seems you do not have the $PATH set correctly in your server. Have you checked PATH in Environment Variables already?

[2017-08-02 17:39] juanpicado commented on #278
Sure, @lope  do you think we can improve that in some way?

[2017-08-02 17:39] #277 closed

[2017-08-03 05:55] BaamAadmi commented on #280
@juanpicado  Thank you for your response.

1. What do you mean exactly with Shared Machine/Server?
     It is a machine within our development network, which we will use to deploy code,services etc. In our case I will keep NPM local registry on the same, which can be accessed by multiple resources.

2. I do not think this an issue with verdaccio, rather it seems you do not have the $PATH set corre

[2017-08-03 06:10] juanpicado commented on #280
Thanks for the explanation.
Unfortunately, I'm not a windows guy, I hope someone else can help you.

[2017-08-03 07:50] darkowic commented on #277
@juanpicado I confirm that this solves the problem. Thanks!

[2017-08-03 08:27] darkowic commented on #277
Btw in my case, it was my mistake in the end. After publishing, I checked the size of the package and it was 30MB (!?). The problem was that I accidentally publish package with `node_modules_sth` because I changed the name of `node_modules` when I switch between branches to avoid installing everything again.

[2017-08-04 19:45] dylanb124 opened #281 "Suggestion: Prism Support"
I believe it would be beneficial to add support for [Prism.js](http://prismjs.com/). Currently, there is not any markdown syntax coloring in the web ui.

I attempted adding the support in manually via inserting the css and js in `static/index.html`, but was unsuccessful as the files were not exported to the server.

[2017-08-04 21:19] juanpicado commented on #281
If you want to achieve that you have to restart the server.

[2017-08-05 05:55] gejiawen opened #282 "refresh verdaccio web page and get different result"
Hi, there

After verdaccio is running, I published several scoped packages. But I got the different result packages in browser.

For example，

I have published 15 packages, first time I visit the webpage, I got 10 packages. then I got the 10 packages again in second time. But there are some packages are repeated, and there are 5 packages disappeared all the time.

Is it confused？

config file,

[c

[2017-08-05 05:57] juanpicado commented on #282
Please config file, verdaccio version and env.

[2017-08-05 08:45] gejiawen commented on #282
@juanpicado

I have added the config information, please check.

[2017-08-07 06:38] Meeeeow commented on #277
We are happy to see your problem was solved ;-)

[2017-08-07 11:50] rafaelitajuba opened #284 "Missing Dependency"
I'm trying to get the project from npm, but I got an error:

...
npm http 404 https://registry.npmjs.org/verdaccio/file-locking
npm http 304 https://registry.npmjs.org/js-yaml
npm ERR! TypeError: Cannot read property 'latest' of undefined
npm ERR!     at next (/usr/share/npm/lib/cache.js:687:35)
npm ERR!     at /usr/share/npm/lib/cache.js:675:5
npm ERR!     at saved (/usr/share/npm/node_modules/np

[2017-08-07 12:03] rafaelitajuba commented on #284
Yeah, it was the npm version. Sorry.

[2017-08-07 12:03] #284 closed

[2017-08-07 14:52] lyptt opened #285 "Metadata missing from proxied packages"
#### My reason:

When installing https://github.com/standard/standard, the resulting package is broken as it expects package metadata to exist, and crashes when it doesn't.

#### Steps to reproduce:

- Configure Verdaccio to proxy packages and not cache them
- Configure npm to use Verdaccio as a registry

From a new folder:
- npm init
- npm install --save standard
- ./node_modules/standard

Observ

[2017-08-07 16:06] juanpicado commented on #285
I cannot reproduce following your steps with **master**.

[code]
Could you provide detailed information about the error?

[2017-08-07 16:11] lyptt commented on #285
Installation isn’t the issue. Running the command afterwards is.

[2017-08-07 16:16] juanpicado commented on #285
index.js

[code]
output

[code]

[2017-08-07 16:58] juanpicado commented on #282
@gejiawen when you say "visit the webpage" means press F5 several times? 🤔  I don't get it. Could you help me to reproduce it properly?
![screen shot 2017-08-07 at 6 57 04 pm](https://user-images.githubusercontent.com/558752/29037055-41c0f2e0-7ba2-11e7-9789-4649301532c6.png)

[2017-08-07 17:40] lyptt commented on #285
So I've reproduced this on master and applied th fix on master, so I'm a bit confused why this is magically working on your machine.

For me, when executing standard, I get a cannot read property 'bugs' of undefined error against the following line:

https://github.com/standard/standard/blob/master/options.js#L6

This is using NodeJS 6.10 if that makes any difference.

When inspecting standard's p

[2017-08-07 17:55] juanpicado commented on #285
and the `npm` version?

[2017-08-07 17:58] lyptt commented on #285
That’ll be 3.10.10, that’s what comes by default with the 6.10 LTS.

[2017-08-07 18:33] juanpicado commented on #285
Do you mind to try with try with `npm@4.x`? ..

[2017-08-08 03:21] gejiawen commented on #282
@juanpicado The issue I mean, refresh the browser and get different result.

But, I think I have resolved the problem now. I found that, if I running `verdaccio` in cluster mode by pm2, there are more than one `verdaccio` instance, this problem come again.

I guess if there is something wrong for the `verdaccio` web api when it running in multi-process.

[2017-08-08 03:39] Meeeeow commented on #282
There is no guarantee with cluster mod, but it's on our roadmap

[2017-08-08 05:15] juanpicado commented on #282
@gejiawen It's what exactly @Meeeeow says. `verdaccio` is not cluster ready *yet* because is file system based. You can follow #103 to have more information about it.

[2017-08-08 05:15] #282 closed

[2017-08-08 07:47] lyptt commented on #285
@juanpicado it appears this doesn't occur with NPM 4. Unfortunately I can't force everyone I work with to upgrade their NPM, and it probably should work the same as the official registry does with NPM 3.

I suppose one possibility is user agent sniffing, NPM 3 sends the following user agent:

`"npm/3.10.10 node/v6.11.2 darwin x64"`

[2017-08-08 07:50] juanpicado commented on #285
@lyptt I was asking just to check something we introduced in `verdaccio@2.3.0` seems not to work in `npm@3.x` but it does in >=`npm@4.x`. So, I'm not asking you for upgrade npm. You are 100% right. The reason might be https://github.com/npm/npm-registry-client#requests. I'll reply later because your PR is valid, but, we need to amend some stuff in order to not break for others.

[2017-08-08 07:52] lyptt commented on #285
Hi @juanpicado, yeah I'm trying to figure out a decent solution that will fix this without breaking other use cases.

[2017-08-08 08:01] juanpicado commented on #285
Thanks for your help :)

[2017-08-08 14:06] lyptt opened #287 "Unable to install non-scoped packages with Yarn"
#### My reason:

This seems to be a similar issue to #74, however this occurs when using Verdaccio in proxy mode without caching, for any NPM package (not just our own published ones).

The full error is:

[code]

I've tried replicating the config changes from #74 to add a yarn entry to the config file, but with or without this we get the same issue.

#### Steps to reproduce:

`npm install` a pack

[2017-08-08 17:39] juanpicado commented on #237
Day August 31th we close the poll. Then we have a winner 🥇

[2017-08-10 20:56] juanpicado opened #288 "Remove dist-tags deprecated endpoints"
#### My reason:

The following endpoints are not used, neither `npm` or `yarn` has any reference to and not even is covered by our functional testing. It should not exist.

[code]
The valid endpoints used by `npm` or `yarn` always refers to

[code]

Where the tag is always present.

#### Proposal

Remove the following lines and correspondent functional test

`dist-tags.js line 73 `
[code]

The uni

[2017-08-11 08:50] faandi opened #289 "npm install jsdoc failes"
#### My reason:

Installing jsdoc via verdaccio registry fails with the following error message:

[code]

It works if I switch back from my verdaccio registry to the official npmjs registry.

#### Steps to reproduce:

`npm install jsdoc`

####  App Version:

[code]

[code]
[code]

####  Config file:

[code]

#### Additional information:

verdaccio log:

[code]

[2017-08-11 08:58] faandi commented on #289
I tried installing jsdoc with a newer npm and node version:

[code]

[2017-08-11 12:32] faandi commented on #289
It works now. I had issues installing other packages as well. After some troubleshooting running `npm login` did the trick.

[2017-08-11 12:44] faandi commented on #289
It works now. I had issues installing other packages as well. After some troubleshooting running `npm login` did the trick.

[2017-08-11 12:49] juanpicado commented on #289
It might be related with #285

[2017-08-11 13:10] dylanb124 commented on #281
@juanpicado, I added the additional js and css via file imports. I was able to restart the server and verify the imports were in the index, but the files are not being served on the server, resulting in 404s. Any suggestions on how to add these files as "assets" of the server?

[2017-08-11 13:26] juanpicado commented on #281
Well. I'll need you elaborate a bit more, it sounds hacky what you are doing. I'll recommend following the official way trying to build locally the new UI using webpack.

[2017-08-12 11:07] #285 closed

[2017-08-14 06:11] gejiawen opened #292 "Maybe have some problem in package.json with installed a package"
#### My reason:

I installed a package named `urijs` with node@6.11.2(npm@3.10.10)。I found some problem in the package's package.json file in node_modules,

Here is the `node_modules/urijs/package.json` with verdaccio registry,

[code]

**Notice:  THERE IS NO `main` property in this package.json**

When I `require('urijs')`, I got a error which says "can not find module `urijs`".

But If I install

[2017-08-14 06:14] juanpicado commented on #292
Related #285 . It will be fixed soon.

[2017-08-14 06:18] gejiawen commented on #292
@juanpicado I got it.

I have tested node 6.x.x, node 7.x.x, node 8.x.x

This problem appeared except node 8.x.x version.

[2017-08-14 06:21] juanpicado commented on #292
@gejiawen changes on verdaccio@2.3.4 does not work with npm. `2.3.5` rollback those changes. Please `npm install -g verdaccio@latest` should fix your issue.

[2017-08-14 06:30] juanpicado commented on #289
It works for me with `verdaccio@2.3.5` Could you upgrade and try again?
[code]

[2017-08-14 09:45] mrblackus commented on #287
Hi, I ran into the same issue and here is a non-perfect workaround. You can use Basic auth with your registry URL on a project scoped `.npmrc` file :

[code]

This clearly doesn't solve the issue, and I'm not confortable with storing password on config file. But it works and depending on the project, it could be okay to store a specific password for the private npm registry.

I hope yarn team (or

[2017-08-14 10:02] lyptt commented on #287
Thanks @mrblackus, that's really helpful! I'll use this workaround for now.

[2017-08-14 15:31] aKnownGlitch commented on #237
![image](https://user-images.githubusercontent.com/6209522/29278910-f8465636-80ca-11e7-9dee-e911629a5857.png)

[2017-08-14 22:55] aKnownGlitch commented on #237
Refinement of previous version.
![verdaccio_2](https://user-images.githubusercontent.com/6209522/29295384-0135d7ba-8109-11e7-8e1e-06c08b3b2b05.png)

[2017-08-15 21:11] timothyswt commented on #224
@jmwilkinson is correct. If you want enterprise-level adoption, it needs to be MIT. companies like GM have very tight restrictions and don't even consider any OSS that is not Apache or MIT licensed.

[2017-08-16 00:05] jrussellsmyth opened #294 "Invalid accept header in requests"
#### My reason:

Requests to npm registry are setting accept header to "application/json q=0.8, */*" which is invalid (missing semi-colon after the media type). This causes more pedantic servers such as JFrog's Artifactory to respond with an error.

#### Steps to reproduce:

Configure Verdaccio to any npm registry that expects a correct accept header.

####  App Version:
2.3.5

#### Additional Inf

[2017-08-16 04:24] OmgImAlexis commented on #224
Why not a dual license then? Let the user choose between `WTFPL` or `MIT` or can `MIT` not be dual license?

[2017-08-16 04:41] timothyswt commented on #224
What benefit does WTFPL have over MIT?

[2017-08-16 16:55] jmwilkinson commented on #224
It's edgier?

[2017-08-17 02:20] OmgImAlexis commented on #224
It's more over principal. Software shouldn't be forked and relicensed with a more restrictive license it goes against what the WTFPL is meant for.

[2017-08-17 03:36] #294 closed

[2017-08-17 06:55] c0debreaker opened #297 "Allow specific accounts to npm publish"
I completed setting up our verdaccio server. It's working great! However, I want to make it more secure in such a way that only our team can `npm publish` to it. How can we achieve this?

Thanks!

[2017-08-17 06:57] juanpicado commented on #297
Please, read this and let us know whether it helps you or not. https://github.com/verdaccio/verdaccio/blob/master/wiki/packages.md

[2017-08-17 06:59] c0debreaker commented on #297
Thank you! I'll close the ticket for now.

[2017-08-17 08:53] faandi commented on #292
I had the same issue, it works now with the latest version (2.3.6).
But I also had to clear the storage dir, otherwise you will still get the broken package.json file.

[2017-08-17 08:57] faandi commented on #289
Hi, i just upgraded to `verdaccio@2.3.6` and it works now.
I have also cleared my storage dir to fix #292.

[2017-08-17 08:58] #289 closed

[2017-08-17 10:12] radubrehar commented on #277
Just for future reference, I got the same exact issue, but adding `max_body_size` did not help since I was using an NGINX proxy. The problem was with the nginx defaults, and adding
`client_max_body_size 50M` to the http section in the nginx configuration, like below:

[code]
solves the problem.

So if anyone hits this error, make sure you try to adjust both the nginx and the verdaccio configs.

[2017-08-17 10:16] juanpicado commented on #277
Could tou PR that to wiki section?

[2017-08-17 14:13] c0debreaker commented on #297
Below is my config.yaml. I am not sure why I am able to publish a package to my verdaccio server from my laptop if I didn't create accounts on the verdaccio server. What I would like to happen is to only allow created accounts on the verdaccio server to be able to publish packages. Is there something wrong in my configuration?

[code]

[2017-08-17 14:27] c0debreaker commented on #297
I found out why. I executed `npm adduser --registry  http://myverdacioserver:4873` on my laptop(client computer) but the user got added to `htpasswd` file on the server. This is not good. Why is anyone allowed to add users to the server from client computer? How can we prevent users from adding their account to the server?

[2017-08-17 14:31] juanpicado commented on #297
The answer is here https://github.com/verdaccio/verdaccio/blob/master/wiki/auth.md#default-htpasswd

[code]

[2017-08-17 14:41] c0debreaker commented on #297
Ok, I'll try it. If I add `max_users: -1`, can I still add users since I'm the verdaccio admin?

[2017-08-17 14:52] c0debreaker commented on #297
It worked that I was able to still `npm publish` a package.

My last question now is, how do I add a user if `max_users: -1` is in my configuration?

[2017-08-17 15:25] juanpicado commented on #297
I am not sure what is your strategy to protect your packages, but you might protect a specific group using patterns as Is explained in the documentation, perhaps you may elaborate that part a bit more.

[2017-08-17 17:16] c0debreaker commented on #297
I mean, I only want specific people to be able to publish which we solved using `max_users: -1`. But I guess, I'll have to keep on changing `max_users` to another value if I want to add more users using `npm adduser`. Then when I'm done adding a user, I will have to put it back to `max_users: -1` and restart verdaccio service again.

If there is a command line utility which can generate the passwo

[2017-08-17 17:20] juanpicado commented on #297
You could try https://github.com/verdaccio/verdaccio/issues/113#issuecomment-274359403

[2017-08-18 00:31] lucianosemerini commented on #180
Quoting npm registry help

       Set "private": true in your package.json to prevent it from being published at all, or "publishConfig":{"registry":"http://my-internal-registry.local"} to force it to
       be published only to your internal registry.

       See npm help 5 package.json for more info on what goes in the package.json file.

[2017-08-18 10:50] ahmadsholehin opened #299 "Install auth plugins for pre-built docker image"
Is there a way to install plugins if the pre-built docker image is used? Specifically, I'm looking to use sinopia-gitlab for auth.

Any help is much appreciated.

[2017-08-18 16:46] Meeeeow commented on #276
Did you run verdaccio with pm2 cluster mode?

[2017-08-18 16:51] Meeeeow commented on #299
You can place it into config directory, plugin directory name must same as plugin name

How it works? see here:
[src/lib/plugin-loader.js#L53](https://github.com/verdaccio/verdaccio/blob/master/src/lib/plugin-loader.js#L53)

[2017-08-18 17:17] ahmadsholehin commented on #299
Excellent, will try this out and report back. Thanks @Meeeeow !

[2017-08-18 18:31] rwillians commented on #237
I'll get us some help from a designer friend of my, wait for it

[2017-08-19 20:36] rodriguesbreno commented on #237
![logo 2x](https://user-images.githubusercontent.com/19731692/29489992-e94963ce-8504-11e7-94da-7a2641778ea4.png)

[2017-08-20 05:33] juanpicado commented on #224
A simple poll, vote with emojis reactions

👍 for MIT
❤️ for GPLv3
😄 for BSD
👎 I do not want to change the license
😕 Apache License

I wonder if this makes sense, but would be great to measure what people think without comment. This does not mean the winner will be the chosen one, it's just a thermometer.

[2017-08-21 01:28] #292 closed

[2017-08-21 12:18] yogeshwar-20 opened #301 "Unexpected EOF while installing/downloading large packages"
#### My reason:

Installing larger packages ([this one](https://www.npmjs.com/package/react-native-awesome-card-io) in this scenario) fails consistently from verdaccio with an unexpected EOF. The package is published to the local verdaccio server, not a redirection to the public registry. It installs fine from the public registry at https://registry.npmjs.org.

Even a simple wget ends abruptly
[co

[2017-08-21 12:45] ahmadsholehin commented on #74
@zifeo Sorry for resurrecting. Did you manage to solve the issue you faced?
I faced similar issue in which fetching the archive is not done as a registered user.

[code]

I'm using sinopia-gitlab-heres for auth.

[2017-08-21 15:24] ahmadsholehin commented on #299
Had quite a bit of a problem using a `plugins` directory in relative to the `config` directory.
I ended up downloading the package and putting it in `/usr/local/app/node_modules` directory and setting up a auth gitlab configuration in `config.yaml`. This works.

[2017-08-21 15:24] #299 closed

[2017-08-21 17:29] juanpicado commented on #301
I will take a look it along the week.

[2017-08-21 18:34] juanpicado opened #302 "Improve plugin documentation"
#### My reason:

Multiple ways to add a plugin is not enough to clear, specifically with Docker containers.

- Docker integration
- Global installation
- Local installation `node_modules`

####  App Version:

all

Helps #299 #308

[2017-08-21 18:35] juanpicado commented on #299
@ahmadsholehin that improvement should be addressed on #302

[2017-08-22 08:57] txiaocao opened #303 "can not sync the @scope package"
#### My reason:

can not sync the `@scope` package

#### Steps to reproduce:

start the server `npm run verdaccio`
####  App Version:
2.3.6

####  Config file:
[code]
npm install `@types/mysql`
#### Additional verbose log:
npm ERR! code E404
npm ERR! 404 Not Found: @types/mysql@0.0.31

[2017-08-22 09:07] juanpicado commented on #303
@txiaocao please follow the format on creating the issue, otherwise, it's hard to help. 1. settings, config file, verdaccio version, etc.

[2017-08-23 14:35] rodriguesbreno commented on #237
![verdaccio 2x](https://user-images.githubusercontent.com/19731692/29621388-f1b94368-87f6-11e7-8a57-b3e427b3ef96.png)

Hi folks, I'm updating my proposal  with the previously proposed color scheme 😄

[2017-08-23 14:50] juanpicado commented on #237
Thanks @rodriguesbreno it looks pretty good. I hope to see a lot of votes in all options in the next few days 👏  .

I encourage you guy to promote this thread in order to have more votes for all different options.

[2017-08-23 14:57] rodriguesbreno commented on #237
@juanpicado Seems like I came a bit late to the party 😞
What about the contest have two rounds?
The two more voted move to the second phase and then we have a few extra days?
(maybe one week?) To choose between them and the candidates can explore more the design proposals with some variations

[2017-08-23 15:07] juanpicado commented on #237
It seems good to me, vote :+1 if you share the same thoughts or comment.

[2017-08-23 15:16] rwillians commented on #237
@juanpicado how about this: everyone has until August 31st to present their proposal, then we have one week to vote. All proposals starts from 0 votes again, otherwise it would be unfair to newer proposals.

What do you think?

[2017-08-23 16:12] rodriguesbreno commented on #237
@rwillians It sounds much fair to me 😄

[2017-08-23 18:21] Falieson opened #304 "can't auth to prod via local.headers: verdaccio.local to verdaccio.prod to npm"
# ISSUE
When I try to install a package that verdi.local can't find it when it asks verdi.prod . verdi.prod responds with:
[code]

**I thought having the headers, Authorization in my verdi.local would fix this?**

## .NPMRC CONFIG
[code]

## VERDACCIO SETUP

verdi.local --> verdi.prod --> npm.official

I don't just use @scoped packages, I also use pre-releases of packages like `prettier 1.6.0` (wh

[2017-08-23 19:17] juanpicado commented on #304
Follow up of https://gitter.im/verdaccio/questions?at=599dacb2a7b406262dbc6762

[2017-08-24 02:44] admorphit commented on #237
![verdaccio](https://user-images.githubusercontent.com/3580046/29646986-847710e2-883b-11e7-827a-d4a0e40b9fbd.png)

[2017-08-24 04:26] juanpicado commented on #237
cool @admorphit  thanks

[2017-08-24 04:37] Meeeeow commented on #237
@rodriguesbreno Super good design, vote up 😆

[2017-08-24 04:45] juanpicado commented on #237
Ok guys, I see @kgrubb is agreed. Let's go with that. @rodriguesbreno  @rwillians But I think 1 week is not fair, this thread has been open for 2 months already and there is no too much traffic as you can see. I think if we go should be with **1 month for the 2nd phase** minimum and take **3 designs** instead 2. I just want to do this process as much transparent and fair as possible.

**Please, de

[2017-08-25 13:00] dkts commented on #237
@admorphit, the leading V looks a bit like a U; splitting the bottom corner pixels off the first character might help

[2017-08-25 16:31] SuriyaaKudoIsc opened #305 "npm set registry - ERR! Error: EPERM: operation not permitted"
#### My reason:
Getting *`npm ERR! Error: EPERM: operation not permitted, open 'C:\Users\Suriyaa\.npmrc'` error* after running **`npm set registry http://localhost:4873/`** command.

#### Steps to reproduce:
[code]

####  App Version:
[code]

####  Config file:
[code]

#### Additional information:
 - `$ npm --verbose` prints:
[code]
 - `$ npm config get registry` prints:
[code]
 - Verdaccio termin

[2017-08-25 16:35] juanpicado commented on #305
@SuriyaaKudoIsc That's a client `npm` issue, not related with verdaccio itself. I can see you have do not have permissions to write on `C:\Users\Suriyaa\.npmrc`. I suggest asking in stackoverflow.

[2017-08-25 16:35] #305 closed

[2017-08-25 17:46] admorphit commented on #237
@dkts good suggestion 👍

![artboard](https://user-images.githubusercontent.com/3580046/29725897-961b9474-8982-11e7-815d-6dcafe369806.png)

[2017-08-26 05:46] #278 closed

[2017-08-26 07:47] juanpicado opened #307 "Remove from web section not longer valid properties"
#### My reason:

Update the `web` section on  `full.yalm` due to not all properties are no longer valid.

[code]
**template:** was a way to use a custom template, but since we use a based React UI this property is not longer valid.
**tagline:** was a way to inject HTML, for the same reason as *template* is not longer valid.

#### Steps to reproduce:

[code]
Those properties do not have any effect

[2017-08-26 12:06] juanpicado commented on #304
@Falieson according to my test your set up has an issue

[code]
If you go deaper into `npm/pacote` they don't use `Basic`, they use `Bearer` as authorization prefix header. It works for me, try and let me know whether works or not.

[2017-08-26 16:29] juanpicado commented on #301
Sorry, but I couldn't reproduce it. I doubt is an issue with `verdaccio` itself.

[code]

I tried multiple ways to simulate network latency, packages drop, uplink delays etc. I would you suggest clean your cache or review your local environment. My tests were from a local Docker container and `v2.3.6`.

I'll close this, feel free to reopen if the issue persists and try to provide more verbose outp

[2017-08-27 11:32] juanpicado commented on #237
@admorphit some suggestions.

The final logo should be a group of  **[(icon) + (text)]**. One of the objectives of the logo is should fit in the organization profile picture which is not much bigger than 100x100 pixels. A simple text wouldn't accomplish such objective.

[2017-08-27 17:13] rwillians commented on #237
@juanpicado may I suggest extending the August 31st deadline then, since this specification wasn't clear?

Also, accordingly to what I've suggest before, all logos presented till the deadline should be elegible for voting in the next fase, otherwise it wiuldn't be fare to the latest ones since this is a low trafic thread.

What do you think?

[2017-08-28 03:56] yogeshwar-20 commented on #301
Alright, thanks for your time! Already tried cleaning cache and fresh installs and there's nothing obvious that stands out in the local environment, but will dig deeper to try and identify the issue.

[2017-08-28 07:12] juanpicado commented on #237
You are right @rwillians  there was no specification. I tried to find inspiration about it in the links below and even if I couldn't find a perfect set of rules I think would make sense define some, besides, it might give you some inspiration.

https://github.com/WebAssembly/design/issues/112
https://github.com/styleguidist/react-styleguidist/issues/302
https://github.com/WebAssembly/design/issues

[2017-08-28 15:10] #307 closed

[2017-08-28 20:23] admorphit commented on #237
![rev 2](https://user-images.githubusercontent.com/3580046/29792056-041acb48-8bf4-11e7-9bfd-6eb24fbff54c.png)

[2017-08-29 12:08] aszmyd commented on #303
@txiaocao are You sure it tries to to install from You'r local repo?
Run this to check:

```npm config get registry```
```npm whoami```

[2017-08-29 13:25] zybreak opened #310 "Add support for new search endpoint"
#### My reason:

The current search endpoint in verdaccio '/-/all' is deprecated in favor of '/-/v1/search'
http://blog.npmjs.org/post/157615772423/deprecating-the-all-registry-endpoint

[2017-08-29 18:04] juanpicado commented on #310
It seems reasonable enhancement. If anyone is willing to contribute here there is a good opportunity.

[2017-08-29 20:50] c3s4r commented on #134
Still not working:

[code]

@juanpicado @StarpTech: Did you find a solution or workaround?

[2017-08-29 20:51] juanpicado commented on #134
Could you elaborate a detailed scenario to make the test easier?

[2017-08-29 21:02] c3s4r commented on #134
Sure. I'm using docker image `verdaccio:2.3.6`. Default configuration has been changed to something like this:

[code]

One more thing, my npm registry is behind an http proxy which adds the SSL layer (Apache). Not sure if it could be related. Apache configuration is like:

[code]

All other commands work fine, except `dist-tags ls`

[2017-08-30 18:02] juanpicado opened #311 "Debug log color in terminal is too dark"
#### My reason:

<img width="137" alt="screen shot 2017-08-30 at 8 00 34 pm" src="https://user-images.githubusercontent.com/558752/29887530-0677caa0-8dbe-11e7-866f-c92aabf7a78d.png">

The debug letter is too dark and is hard to see in the terminal when colors are enabled.

#### Steps to reproduce:

Enable verbose

####  App Version:

Any of v2.x.x

[2017-08-30 20:31] Falieson commented on #304
THANK YOU! That fixed it!

[2017-08-30 20:31] #304 closed

[2017-08-31 05:04] iegik commented on #237
Thanks @kgrubb for olive idea. Can You leave olive only without background and stick?
Thanks @admorphit for small font logo, it may be banner for github, but I suggest we should have large font text also. And thanks for squire banner - good idea.

[2017-08-31 13:15] kgrubb commented on #237
@iegik, in my post, I have a link to a repo with all of the asset variations. One of them is just the olive logo (in the green circle), and another is just the olive only (it looks a little bit weird on github's white pages since the olive's outline is white). Is that what you're looking for?

https://github.com/kgrubb/verdaccio-assets

[2017-08-31 14:21] iegik commented on #237
@kgrubb, yes! You may add additional variants for different sizes https://ux.shopify.com/responsive-multicolor-svg-icons-b9068594b97b
Remove white outline, create dark variant of logo:
https://opensource.org/logo-usage-guidelines#Black_and_White_Logo

[2017-08-31 14:44] cmdelatorre commented on #303
In the `packages` section, changing `'*'` to `'**'` solves it (which is the default configuration actually)

[2017-08-31 16:23] cmdelatorre commented on #119
I run into this issue.
Is there a way to set something like `maxage: Infinit` ?
As I want to use this tool to improve the development process of my team, whenever somebody causes a package to be fetched, I don't want it to be fetched again.
If needed, I can always reset this cache myself.

[2017-08-31 17:04] juanpicado commented on #119
@cmdelatorre I don't get it. Do you want to limit fetch a package only once?

[2017-09-01 06:24] txiaocao commented on #303
thanks all. because  config.yaml `packages.proxy` undefined, add proxy: npmjs is ok
[code]

[2017-09-01 06:24] #303 closed

[2017-09-04 13:12] cmdelatorre commented on #119
@juanpicado sorry that I was not clear. When I say

I mean that I don't want the cache to fetch that package from the oficial npmjs.org again. Since it was already fetched once and it is now in the cache, every time we install it, the verdaccio cache is serving it all-right.

My use case is this: we are several devs on one project. Once installed, the `node_modules` directory uses 1GB of space. We

[2017-09-05 02:54] Meeeeow commented on #119
@cmdelatorre

You mean this? ---> #275
Here are a lot of possible, base on package manager's cache not work at all.

-  if you are using latest npm or yarn with lock file, and you remove it after package.json update, your problem will resolved by issue listed above. verdaccio will always try get package info from upstream to keep version list update.  After this issue has been implement, verdaccio

[2017-09-06 03:44] kgrubb commented on #237
![inverted](https://user-images.githubusercontent.com/8471701/30093559-1f9fffcc-9294-11e7-9443-ece15c2f28e6.png)
Creating a dark variant hasn't been super easy. If anyone has variance ideas, let me know. This is what I've come up with so far. I'll try and iterate over it a few more times. Not really happy with it currently.

[2017-09-07 14:53] ayusharma commented on #310
Hi, I am looking forward to work on this issue.

I have following doubts :
- What are the parameters/points to relate search in local storage or Should I send all the packages of local storage to stream? eg. keywords, description etc.
- NPM registry search endpoint now has a score key as well, Do we also need to implement that?
- In https://github.com/verdaccio/verdaccio/blob/ebb033ce1a86f22f32952

[2017-09-07 15:40] pietrovismara opened #314 "Can't adduser on aws ec2 istance"
#### My reason:

`adduser` will hang indefinitely after entering username password and email.

#### Steps to reproduce:

When running `npm adduser --registry http://external-aws-ec2.com:4873`. Right now the only ports allowed on the server are 4873 inbound and ssh.

####  App Version:

2.3.6

####  Config file:

default

#### Additional information:

Running verdaccio with `DEBUG=express:*` i don'

[2017-09-07 16:12] juanpicado commented on #314
configuration file is missing

[2017-09-07 16:16] pietrovismara commented on #314
It's the default config file:

[code]

[2017-09-07 16:19] juanpicado commented on #314
Yeah, you never know :) ... but therre is only one port, no special conf for auth. It seems a network issue or some AWS black magic. Try to reach any of the endpoints using `wget` or `curl` .

[2017-09-07 16:26] pietrovismara commented on #314
OK! Issue solved. Not AWS black magic by my misunderstanding. I just needed to add
`listen: 0.0.0.0:4873` to the config file, as clearly stated [here](https://github.com/verdaccio/verdaccio/blob/master/wiki/server.md#listening-on-all-addresses).

[2017-09-07 16:26] #314 closed

[2017-09-07 16:28] juanpicado commented on #314
Ok 😅 that is right. Cool !!

[2017-09-07 20:40] mlucool commented on #237
Another 2C: Any logo should include a favicon too as that will be the most commonly seen image

[2017-09-08 05:42] #311 closed

[2017-09-08 09:37] iegik commented on #237
"v" in Verdaccio can be half of olive ;)

[2017-09-10 15:49] Meeeeow commented on #275
**EDIT:**
It's not a new feature, it just not work in almost all version, fixed in #317

[2017-09-10 15:55] Meeeeow opened #318 "Increase package meta data cache time"
#### My reason:
The default value 2 minutes is too short for real world, even short than package install time.
So I opened this issue and ask your (the user who reading this issue) opinion about it.
I suggest change it to at lease 5 minutes.

[2017-09-11 18:52] ayusharma opened #319 "Unable to load logo from config.yml"
#### My reason:

I am specifying logo URL in the config, but not able to see the updated logo in web UI.

#### Steps to reproduce:
1. Uncomment **web -> logo** section in config and add a logo url.

####  App Version:

####  Config file:

I am using full.yaml file from config.

#### Additional information:

 - Container:
   - I use local environment

#### Additional verbose log:

[2017-09-11 21:01] juanpicado opened #321 "Plugin loader display loading state on logger for each plugin used on conf file"
#### My reason:

There is no way to know whether any plugin has been loaded. On Docker containers would be really helpful see something in the log.

The expected behaviour would display any kind of verbose about whether the plugin has been loaded or has failed on load.

#### Steps to reproduce:

The following example is an intent to integrate [verdaccio-ldap](https://github.com/Alexandre-io/verdac

[2017-09-12 17:41] ayusharma opened #322 "Login dialog and error message box overlapping"
#### My reason:

<img width="1037" alt="screen shot 2017-09-12 at 11 04 25 pm" src="https://user-images.githubusercontent.com/6918450/30340103-0c20a53e-980f-11e7-911a-5a8490edd7b8.png">

#### Steps to reproduce:

####  App Version:
All

####  Config file:
full config file provided in conf directory.

#### Additional information:

screenshot attached.

 - Container:
   - I use local environment

##

[2017-09-12 17:43] juanpicado commented on #322
I recall a discussion about this topic with @Meeeeow . Do you have any design suggestion already?

[2017-09-12 17:45] ayusharma commented on #322
I have worked on this changed dialog box as follows:

<img width="658" alt="screen shot 2017-09-12 at 11 04 54 pm" src="https://user-images.githubusercontent.com/6918450/30340461-3442f9e4-9810-11e7-9508-d69da0d43e15.png">

Sending a PR.

[2017-09-13 05:50] #119 closed

[2017-09-13 09:34] #319 closed

[2017-09-13 09:55] #322 closed

[2017-09-13 13:13] gioragutt commented on #264
@juanpicado Hey, I'm experiencing this issue once again, continuously though, even after `npm cache clean -f`.

F.e: I created a new project using `ng new`, it installed `@angular/common` 4.3.6 in the node_modules folder.

I deleted `@angular/common` from verdaccio's `storage` folder, deleted the folder from `node_modules`, `npm cache clean -f`ed again, then I ran `npm install`, and the package wa

[2017-09-13 15:18] cesarfd commented on #301
I've reproduced the same issue in this case with [geoip-lite](https://www.npmjs.com/package/geoip-lite) which is a fairly large package (~30MiB). It doesn't work no matter what I try, even after `npm cache clean --force`. I have verdaccio 2.3 running in an aws hosted Docker container.

It works perfectly with the standard npm registry.

This is the npm log:

[code]

`geoip-lite-1.2.1.tgz` is consi

[2017-09-13 21:00] carlos-bbt commented on #138
I am seeing the same problem. I am using Verdaccio 2.3.4.

[2017-09-14 03:38] yogeshwar-20 commented on #301
Fwiw we weren't able to identify the actual cause, we were able to work around it however by setting up an nginx reverse proxy to verdaccio on the same host machine and accessing the registry through the proxy.

[2017-09-14 10:31] Meeeeow commented on #322
Thanks for your great work 😉

[2017-09-14 11:27] cesarfd commented on #301
Thanks for the help, @yogeshwar-20 . Did you use any specific setting? Timeouts or anything like that? I tried with a squid proxy with no luck.

[2017-09-14 11:37] yogeshwar-20 commented on #301
Only keepalive and proxypass.

[2017-09-15 20:59] pward123 commented on #142
I'd be happy with something as simple as a separate storage folder for published packages vs cached from npm.  Stop the docker container, wipe the cached npm folder and start the docker container

[2017-09-15 21:18] juanpicado commented on #142
@pward123 we are working to create pluggable storage. Then anyone could create their own storage. We are planning that for `v3.0.0`.

[2017-09-15 22:33] Robinfr commented on #138
@carlos-bbt I had a different situation where the disk actually got corrupted by a power outage, regardless it would be nice if we could run an integrity check. I do believe the MD5s of the packages are stored, so this shouldn't be too difficult as long as the `package.json` is intact.

[2017-09-17 12:21] #275 closed

[2017-09-17 12:46] Meeeeow commented on #138
@Robinfr Every version have a "shasum", so it's possible to verify data.

Maybe a standalone tool? like `verdaccio-cli`, then we could use it to verify data, export backup, etc. @juanpicado

[2017-09-18 02:29] Meeeeow commented on #142
@pward123 Here is a sample config to separate them, but... don't wipe cache directory, database still there...

[code]

[2017-09-18 11:45] Robinfr commented on #138
It would be really nice, I have some time in a few weeks, so maybe I'll take a look at what I can produce. @Meeeeow asides from integrity check and backups, what else would you like to see in such a tool?

[2017-09-19 07:24] jk-jx commented on #276
After I installed Verdaccio in my server, I had publish a few package for job purpose. After a few days, I noticed that there's a new update for Verdaccio, so I decided to update. After I updated, all my package I uploaded before had gone. So is that you guys have any solutions to solve this issue?

[2017-09-21 07:16] Meeeeow commented on #276
@jk-jx

We fixed a danger behavior that may cause data loss with: #306, not release yet

If you are experiencing same issue, it's not possible to recover database, at the same time, your npm will auto logout because either database and secret was destroyed. But your packages still store in you disk.

[2017-09-21 07:25] jk-jx commented on #276
@Meeeeow I know it's not possible to recover. But the problem is, in future if I update my Verdaccio, impossible I need to republish the package again and again what.

[2017-09-21 09:47] nest000 commented on #288
please notice, currently id does not work using scoped packages due to lack of scope check in req param. can you fix this please also?

[2017-09-22 06:53] Meeeeow commented on #276
@jk-jx This will not happen again in the future release

[2017-09-22 06:58] jk-jx commented on #276
@Meeeeow actually where did the package all store? because I wanna do some backup for it.

[2017-09-23 07:18] juanpicado commented on #237
I think the time to vote and proposals has expired, I'll lock this thread and create a new thread with the most voted logos, then there is one month to vote and we have a winner, thanks, all you guys for contributions with your design, your votes and feedback. 🚀 🚀 🚀 🚀

[2017-09-23 08:30] juanpicado commented on #224
It seems MIT is a popular alternative. Just recently Facebook is moving all to MIT. https://code.facebook.com/posts/300798627056246/relicensing-react-jest-flow-and-immutable-js/

Any thoughts against or in favor MIT?

[2017-09-23 08:52] juanpicado opened #328 "Organization logo final stage"
This is a follow-up of https://github.com/verdaccio/verdaccio/issues/237.

I'll C&P what is described https://github.com/verdaccio/verdaccio/issues/237#issuecomment-325277927 briefly as a reminder of the rules.

### Final steps

The winner should PR  (`src/logo`) his logo including editable assets and render ready according to the use cases defined above.

### Votes

It's pretty hard to count vote

[2017-09-23 08:54] juanpicado commented on #328
![kgrubb](https://user-images.githubusercontent.com/558752/30771662-7ac503cc-a04d-11e7-9902-457b6b3a7379.png)

by @kgrubb

[2017-09-23 08:55] juanpicado commented on #328
![rodriguesbreno](https://user-images.githubusercontent.com/558752/30771672-a07df056-a04d-11e7-9362-6e08f8627ec8.png)

by @rodriguesbreno

[2017-09-23 08:55] juanpicado commented on #328
![admorphit](https://user-images.githubusercontent.com/558752/30771679-ad111fa0-a04d-11e7-9836-4ef23a15e9ca.png)

by @admorphit

[2017-09-23 08:55] juanpicado commented on #328
![jollycic](https://user-images.githubusercontent.com/558752/30771684-b82635a6-a04d-11e7-8879-26b6baa0423f.png)

by @jollycic

[2017-09-23 08:55] juanpicado commented on #328
![jmwilkinson](https://user-images.githubusercontent.com/558752/30771685-be89f022-a04d-11e7-88d2-7a36c3ddb872.png)

by @jmwilkinson

[2017-09-23 09:56] juanpicado commented on #276
I released `v2.4.0` please try again and let us know whether fix your issue

[2017-09-24 19:11] silkentrance commented on #328
https://github.com/verdaccio/verdaccio/issues/328#issuecomment-331621051 in combination with the font from https://github.com/verdaccio/verdaccio/issues/328#issuecomment-331621032 would be great.

[2017-09-25 02:18] Meeeeow commented on #276
@jk-jx For Linux/Unix, default storage path is `~/.config/verdaccio/storage`, for Windows, default storage path is "%appdata%/verdaccio"

[2017-09-26 05:24] jackjoy opened #329 "Verdaccio 2.4 returns wrong package.json"
#### My reason:
I setup a verdaccio 2.4 server yesterday and found many projects failed to build after reinstall dependencies.After several hours digging,i found verdaccio returns wrong package.json file which remove some info from original package.json, e.g, "main" field. So it cause nodejs to throw many "can not find module' errors. Finally i revert to verdaccio 2.2, and all works fine.

#### St

[2017-09-26 05:30] juanpicado commented on #329
Can you give me more? ... A quick test does not reveal anything.

[2017-09-26 05:32] jackjoy commented on #329
install @angular/cli and create a new angular project, then call "ng build" would fail.

[2017-09-26 05:32] jackjoy commented on #329
angular/cli

[2017-09-26 05:34] juanpicado commented on #329
Thanks I'll try. Please share configuration file. It might be useful

[2017-09-26 05:37] jackjoy commented on #329
configuration file is very normal which i copied from a worked server of verdaccio v2.1.7.

[2017-09-26 05:42] juanpicado commented on #329
I cannot reproduce. 😞  . A clean installation works fine with a new storage.

[2017-09-26 05:48] juanpicado commented on #329
This is the package.json for `webpack` using latest `angular/cli`. The `main` field is there.

[code]

[2017-09-26 05:49] juanpicado commented on #318
Fixed by #317

[2017-09-26 05:49] #318 closed

[2017-09-26 05:53] jackjoy commented on #329
I'll do a test again and look what will happen.

[2017-09-26 06:48] jackjoy commented on #329
I reproduced the problem, i found the issue is package.json cached by verdaccio is wrong.The uplink server used is "http://registry.npm.taobao.org/" , which another verdaccio server worked well with it.

[2017-09-26 06:50] jackjoy commented on #329
{
  "_args": [
    [
      {
        "raw": "typescript@>=2.0.0 <2.6.0",
        "scope": null,
        "escapedName": "typescript",
        "name": "typescript",
        "rawSpec": ">=2.0.0 <2.6.0",
        "spec": ">=2.0.0 <2.6.0",
        "type": "range"
      },
      "C:\\Users\\jackjoy\\AppData\\Roaming\\npm\\node_modules\\@angular\\cli"
    ]
  ],
  "_from": "typescript@>=2.0.0 <2.6.0",
  "

[2017-09-26 07:04] jackjoy commented on #329
The package.json for typescript cached by verdaccio v2.4 is wrong( no "main" field either).I check the uplink server (taobao) with "http://registry.npm.taobao.org/typescript" and the package.json looks good. And we have another verdaccio server ( v2.1.7) use the same config.yaml and works well for serveral moths.

[2017-09-26 07:27] jackjoy commented on #329
It's very strange, the package.json in verdaccio cached 'typescript-2.5.2.tgz' is good.

[2017-09-26 07:33] jackjoy commented on #329
node version : v6.10.1
npm version: 3.10.10

[2017-09-26 07:33] Meeeeow commented on #329
@jackjoy It's look like your registry problem, i have experienced same issue yesterday, by direct using `registry.npm.taobao.org` with npm, the registry returned corrupted JSON data.

/cc @juanpicado

[2017-09-26 07:36] juanpicado commented on #329
`npm version: 3.10.10` might be the key.

[2017-09-26 07:45] jackjoy commented on #329
verdaccio v2.4 not compatible with npm v3.10.10? I can't imagine why package.json was modified in such a way.

[2017-09-26 08:55] Meeeeow commented on #329
@juanpicado @jackjoy See my last comment, verdaccio works fine with npm@3

[2017-09-26 08:58] jackjoy commented on #329
@Meeeeow verdaccio v2.1.7/v2.2 works fine ,but v2.4 has such strange issue.  version between 2.2 to 2.4 not tested.

[2017-09-26 09:13] Meeeeow commented on #329
@jackjoy Would you like try to set your uplinks registry to `https://registry.npmjs.org` and test it in clean environment such as `Docker` to exclude external factors?

I tested it with image `node:6-alpine` and `verdaccio@2.4.0`, default configure, no cache

[2017-09-26 09:20] jackjoy commented on #329
@Meeeeow I just uninstall verdaccio v2.4 and remove all cached packages,then install v2,2, all works fine. Since access to https://registry.npmjs.org is very very slow, so i always use taobao mirror.

[2017-09-26 09:23] jackjoy commented on #329
@Meeeeow I'll do a test with  https://registry.npmjs.org

[2017-09-26 09:59] jackjoy commented on #329
@Meeeeow @juanpicado It seems verdaccio v2.4 work fine with https://registry.npmjs.org. So it may  be taobao mirror's issue.I just can't understand why v2,2 always work fine.

[2017-09-26 10:06] ayusharma commented on #329
One things I have noticed that you have to use `npm install -g @angular/cli` but in the conversation @jackjoy mentioned `npm install -g angular/cli`.

`npm install -g angular/cli`  produces following error:

[code]

[2017-09-26 10:08] ayusharma commented on #329
I also tested v2.4.0 in docker installation and everything works fine. I used https://registry.npmjs.org as uplink.

[2017-09-26 16:45] juanpicado commented on #329
The same here, it must be another reason.

[2017-09-26 18:17] cwmoo740 opened #330 "installation tracking"
### Feature Suggestion

I'd like to track installations of projects in verdaccio by user to see which users/projects are installing which versions of libraries.

This may just be a documentation task, and it's probably possible to do with a plugin, but guidance would be helpful.

[2017-09-26 18:23] juanpicado commented on #330
Interesting, it seems like an Auth plugin. There is not development plugin documentation yet (https://github.com/verdaccio/verdaccio/issues/302) but you can ask whatever you want and perhaps it becomes a future documentation.
Related https://github.com/verdaccio/verdaccio/issues/169

[2017-09-29 02:58] jackjoy commented on #329
Finally, i got such experiment result.
With verdaccio v2.2.0:

`GET http://registry.npm.taobao.org/typescript HTTP/1.1
Accept: application/json
Accept-Encoding: gzip
User-Agent: npm (verdaccio/2.2.0)
Via: 1.1 9e345b18e8d3 (Verdaccio)
host: registry.npm.taobao.org
Connection: close

HTTP/1.1 200 OK
Server: nginx/1.4.6 (Ubuntu)
Date: Fri, 29 Sep 2017 02:42:59 GMT
Content-Type: application/json; char

[2017-09-29 02:59] jackjoy commented on #329
With verdaccio v2.4.0:

GET http://registry.npm.taobao.org/typescript HTTP/1.1
Accept: application/json; q=0.8, */*
Accept-Encoding: gzip
User-Agent: npm (verdaccio/2.4.0)
Via: 1.1 ed8945aa45ac (Verdaccio)
host: registry.npm.taobao.org
Connection: close

HTTP/1.1 200 OK
Server: nginx/1.4.6 (Ubuntu)
Date: Fri, 29 Sep 2017 02:23:00 GMT
Content-Type: application/json; charset=utf-8
Transfer-Encoding:

[2017-09-29 03:07] jackjoy commented on #329
We can see the request headers for verdaccio v2.2 and v2.4 has three different fields:

- Accept
- User_agent
- Via

such differences cause the registry.npm.taobao.org to return wrong package.json for verdaccio v2.4, but correct for verdaccio v2.2. I just can't understand why.

[2017-09-29 04:33] jackjoy commented on #329
And finally i changed "Accept" header in up-storage.js.Now verdaccio v2.4. works fine with registry.npm.taobao.org.

[2017-09-29 05:09] juanpicado commented on #329
@jackjoy You just removed `; q=0.8, */*` ?

[2017-09-29 05:18] jackjoy commented on #329
@juanpicado YES !!!

[2017-09-29 05:20] juanpicado commented on #329
Ok, related https://github.com/verdaccio/verdaccio/pull/295 . I'll removed an publish a new version. For future reference, all users with using JFrog's Artifactory they have to modify headers via configuration file.

[2017-09-29 05:20] juanpicado commented on #329
Can you PR that change @jackjoy ?

[2017-09-29 05:24] jackjoy commented on #329
Since i don't use git so i can't PR.You can do that just replace
```const contenTypeAccept = `${jsonContentType}; q=0.8, */*`;```
with
```const contenTypeAccept = `${jsonContentType}`;```

in up-storage.js

[2017-09-29 05:24] juanpicado commented on #329
yes. exactly.

[2017-09-29 05:37] harshendra181 commented on #171
while installing socket.io i am getting below error
npm ERR! code [ 'EFILE', 'EFILE', index: 0, input: 'EFILE' ]
npm ERR! EFILE

[2017-09-29 05:39] juanpicado commented on #171
@harshendra181 if your error is related to this ticket provide more information, otherwise, create a new ticket with enough information to reproduce.

[2017-09-29 05:58] harshendra181 commented on #171
we are trying to install socket.io on server that is connected via proxy.
we hv set the proxy and https-proxy in config file but it is giving us below error
npm ERR! code [ 'EFILE', 'EFILE', index: 0, input: 'EFILE' ]
npm ERR! EFILE

[2017-09-29 06:02] juanpicado commented on #171
Yes, I understand that. But, unless you provide more information about your environment is really hard to guess what might be causing your issue.

[2017-09-29 06:14] harshendra181 commented on #171
ok let me explain we have a server 11.11.11.11(os-windows 2012 r2) we hv installed node js on this server.
Now we are trying to install Socket.io by command **npm install socket.io -g**
we are trying to install from commond promt
we hv set the proxy as http://proxyip:port and strict-ssl as false and registr as http://registry.npms.org/"

kindly let me now if you want any other detail

[2017-09-29 06:15] juanpicado commented on #171
@harshendra181 please not here, create a new ticket :)

[2017-09-29 06:30] harshendra181 opened #333 "efile error while installing socket.io"
ok let me explain we have a server 11.11.11.11(os-windows 2012 r2) we hv installed node js on this server.
Now we are trying to install Socket.io by command npm install socket.io -g
we are trying to install from commond promt
we hv set the proxy as http://proxyip:port and strict-ssl as false and registr as http://registry.npms.org/"

kindly let me now if you want any other detail

[2017-09-29 07:20] juanpicado commented on #333
Please, include

* npm, node version
* config file
* environment details
* error stack strace
* steps to reproduce

[2017-09-29 07:32] jachstet-sea commented on #333
And please also tell us on which machine you set up verdaccio :) Is it in the same network as the machine you want to install socket.io on or is it behind the proxy as well?

[2017-09-29 11:23] tobitux opened #334 "Web user interface don't open in Internet Explorer 11"
#### My reason:

Web user interface don't open in Internet Explorer 11 because of JavaScript error in api.js (46,9).

Internet Exploer doesn't support String.prototype.startsWith().

#### Steps to reproduce:

1. Open web user interface in Internet Explorer 11

Environment: Window 10, Internet Explorer 11.608.15063.0

####  App Version:

Verdaccio 2.4.0

[2017-10-01 07:06] juanpicado commented on #124
This will be shipped on `v2.4.1`. Closing this ticket.

[2017-10-01 07:07] #124 closed

[2017-10-01 07:14] #329 closed

[2017-10-01 07:27] juanpicado commented on #334
Testing

* Microsoft Edge (14.14393) 👍

[2017-10-01 07:29] juanpicado commented on #334
This helps to test this kind of use cases:
https://developer.microsoft.com/en-us/microsoft-edge/tools/vms/

[2017-10-01 08:01] danielo515 commented on #124
Hello @juanpicado
What is exactly being shipped ? The ability to read a .npmrc ? What is the new feature exactly ?

Thanks in advance

[2017-10-01 08:03] juanpicado commented on #124
@danielo515 check #332 . I'll ship as soon this milestone is completed https://github.com/verdaccio/verdaccio/milestone/13

[2017-10-01 08:31] ohardy opened #336 "Issue after migrating to last version of verdaccio docker container"
I use verdaccio to cache official npm and with the last version, nothing work anymore. Sample of logs:

[code]

[2017-10-01 08:39] juanpicado commented on #336
We haven't changed anything related to permissions in the last Docker image. Please clean your cache and try again.

[2017-10-01 12:04] juanpicado commented on #334
It should works when `v2.4.1` is available.
![screen shot 2017-10-01 at 2 03 31 pm](https://user-images.githubusercontent.com/558752/31054365-6905ebc8-a6b1-11e7-8551-3bd19e1578b9.png)

[2017-10-01 12:17] #334 closed

[2017-10-01 12:29] juanpicado commented on #329
Fixed on `v.2.5.0`

[2017-10-01 13:38] juanpicado commented on #336
We have a new version at Docker, please upgrade and let us know whether it works or not

[2017-10-01 16:17] pward123 commented on #301
Running into the same issue when trying to pull ares-webos-sdk (> 42mb)

[2017-10-01 17:16] ramonornela opened #339 "Publish Canary Version"
#### My reason:
I think it's interesting exists a tag npm to use in development, see: https://martinfowler.com/bliki/CanaryRelease.html.
Something like:
```npm install verdaccio@canary```

There is verdaccio@beta, but do not see in NPM scripts.

Example canary version ionic-cli ```npm info ionic``` return
[code]

[2017-10-01 17:42] ramonornela opened #340 "Apply Git Flow"
#### My reason:

Apply git flow in project https://danielkummer.github.io/git-flow-cheatsheet/.

It's interesting to use because it can block the branch master as well as gitlab see: https://help.github.com/articles/configuring-protected-branches/, and branch develop all cobarators has access.
This help publish canary version with branch develop #339 with [CircleCI](https://circleci.com/docs/1.0/e

[2017-10-01 18:30] juanpicado commented on #339
many things still are not automated as that "beta" version. Any suggestion how to add a suffix in order to deploy automatically from circleCI?

[2017-10-01 18:42] juanpicado commented on #301
We need to find a perfect way to reproduce this properly. I didn't have success in my last try.

[2017-10-01 18:55] pward123 commented on #301
Putting it behind an nginx proxy did fix the problem for me

[2017-10-01 19:54] ramonornela commented on #339
Later I will work on a patch

[2017-10-02 06:07] ohardy commented on #336
Fixed :) Thanks !

[2017-10-02 13:01] kvolkovich-sc opened #341 "Docker volumes: "no such file or directory, open '/verdaccio/conf/config.yaml""
OS: Ubuntu 16.04
Docker version 17.05.0-ce

If don't specify volume (no `-v` flag), it works.

But if specify volume:

`docker run --rm -it --name verdaccio -v /home/user/verdaccio-data:/verdaccio -p 4873:4873 verdaccio/verdaccio:2.5.1`

Output:

`fatal--- cannot open config file /verdaccio/conf/config.yaml: ENOENT: no such file or directory, open '/verdaccio/conf/config.yaml'`

[2017-10-02 14:17] gleb-svechnikov opened #342 "Not Found: @verdaccio/file-locking^0.0.3"
#### My reason:

I cannot install verdaccio.
npm returns error:

#### Steps to reproduce:

`npm install --global verdaccio`

####  App Version:
node v8.6.0
npm v5.3.0
OS Linux version 3.16.0-4-amd64
Debian 3.16.39-1 (2016-12-30)

[2017-10-02 14:20] juanpicado commented on #342
[code]
[code]

[2017-10-02 15:30] gleb-svechnikov commented on #342
$ npm i @verdaccio/file-locking@0.0.3

$ cat /home/gsvechnikov/.npm/_logs/2017-10-02T15_29_08_553Z-debug.log

[2017-10-02 15:34] gleb-svechnikov commented on #342
I think I got this, I'm using Sinopia and trying to change to Verdaccio, seems like Sinopia somehow interfere with it, I'll try to remove it first.

[2017-10-02 15:35] #342 closed

[2017-10-02 16:33] juanpicado commented on #341
You are trying to override what is defined inside of the Image. Please read https://github.com/verdaccio/verdaccio/blob/master/wiki/docker.md#running-verdaccio-using-docker.

If you analyze the Dockerfile in detail

[code]
thus, if you override the whole volume, then, **you have to provide the configuration file by your own**.

To solve your issue:

[code]

[2017-10-02 16:33] #341 closed

[2017-10-02 18:28] kvolkovich-sc commented on #341
Thanks.

[2017-10-03 17:51] alonl commented on #301
We're having the exact same issue. Our local (in Docker) Verdaccio currently hosts only one private package, and it fails both with `npm install` / `yarn install` and even simply `curl` for downloading the package's `.tgz` file.

@juanpicado Can you please re-open this issue? It really blocks us from using Verdaccio at the moment. :(

[2017-10-03 18:02] juanpicado commented on #301
Sure, no problem

[2017-10-03 18:09] juanpicado commented on #301
@alonl It doesn't work with @pward123 workaround?

[2017-10-03 18:14] alonl commented on #301
Haven't tried yet.

[2017-10-03 18:24] alonl commented on #301
@juanpicado one interesting verdict I've just found:
* Every time, the connection terminates after exactly 6.0 - 6.6 seconds. Maybe there is some session timeout configured somewhere? Maybe in the Docker configuration? See these attempts of `wget` (until it finally succeeded in less than 6.2 seconds) below:
[code]

[2017-10-03 18:30] juanpicado commented on #301
I'm not aware of any timeout, but I'll try to dig a bit and see what I find out. Since I'm not a Docker expert 😥  would be great anyone else dig as well in order to fix this issue.

[2017-10-03 19:27] alonl commented on #301
For now I couldn't reproduce locally, even when running in Docker :(

[2017-10-03 19:35] juanpicado commented on #301
Yes, locally works perfectly. I wonder if any factor might be causing this issue.

[2017-10-03 21:44] alonl commented on #301
Nginx seems so solve the problem for me as well. Thanks @pward123.

[2017-10-03 23:58] alonl commented on #301
@juanpicado I have a belief that this issue is somehow related to the stream buffering, since the difference (that I see) between with/without nginx is that nginx buffers the response.
From my nginx logs:
[code]

[2017-10-04 10:13] iegik commented on #328
![](https://www.anywayanyday.com/images/logo.svg)

[2017-10-04 11:23] rodriguesbreno commented on #328
Hey, guys, I'll commit the files this weekend.
I return from vacation soon

[2017-10-04 11:24] juanpicado commented on #328
@rodriguesbreno ???

[2017-10-04 11:26] rodriguesbreno commented on #328
@juanpicado I mean. I'll send the SVG, EPS files in the appropriate format.

[2017-10-04 11:34] juanpicado commented on #328
@rodriguesbreno let's wait October 24th. That day we will close the poll. Somehow, I'm glad to know your thoughts.  👍

[2017-10-04 16:31] juanpicado commented on #301
@alonl I don't get it

[2017-10-04 19:30] ayusharma commented on #301
We are also using Verdaccio to maintain the private registry.  I tried to figure out this issue but unable to reproduce it.

Sharing conf files. Hope this help.

** We are not using verdaccio with docker.   **

Verdaccio version: `2.3.6`

Verdaccio config:
[code]

Our nginx conf as follows:

[code]
Installation output:

[code]

[2017-10-05 04:48] juanpicado commented on #280
I will close this one for inactivity, the author can suggest reopening if provides more information,

[2017-10-05 04:48] #280 closed

[2017-10-05 04:56] juanpicado commented on #9
Future contributors with Windows machines won't be able to run the test, but, the whole testing architecture was created thinking on UNIX and the CI runs on UNIX machines anyway and is not optimal. I'll close this one due to inactivity and pretty likely there is no a solution unless rewriting the whole thing.

[2017-10-05 04:56] #9 closed

[2017-10-05 05:02] juanpicado commented on #59
I think `verdaccio` always ask by default to the uplinks after 2 minutes by default. All documentation about uplinks is available here. https://github.com/verdaccio/verdaccio/blob/master/wiki/uplinks.md#configuration

[2017-10-05 05:02] #59 closed

[2017-10-05 05:06] juanpicado commented on #33
`verdaccio` will have soon pluggable storage. Then any developer might create a new one to replace the local storage (https://github.com/verdaccio/verdaccio/pull/291) by any adapter more suitable with S3.

Please follow https://github.com/verdaccio/verdaccio/issues/169 instead. I'll close this one.

[2017-10-05 05:06] #33 closed

[2017-10-05 05:11] juanpicado commented on #111
@Aigeec has the right answer to the initial question. Closing.

[2017-10-05 05:11] #111 closed

[2017-10-05 06:01] juanpicado opened #343 "verdaccio-cli external tool to handle an intensive task"
#### My reason:

My suggestion comes inspired by https://github.com/verdaccio/verdaccio/issues/142 and https://github.com/verdaccio/verdaccio/issues/138

The CLI might reside in:

* Mixed with the current `verdaccio` cli
* Create an external and new tool `verdaccio-cli`

Caveats
* How to this will affect on running instances without corrupt tarballs?
* How this will work with future pluggable stor

[2017-10-05 14:48] sarathkcm opened #344 "Unable to load Verdaccio UI"
#### My reason:

	<verdacciourl>/-/verdaccio/packages call fails with "500 Internal server error". See screenshot
![image](https://user-images.githubusercontent.com/14143311/31233488-b5265f7a-a9e4-11e7-819a-44b11b7e7d15.png)

#### Steps to reproduce:

	(if it applies)
	Open Verdaccio.

####  App Version:

####  Config file:

#### Additional information:

	I will give detailed logs if required. Rig

[2017-10-05 16:27] juanpicado commented on #344
I'll need more than that.
* version
* server log
* exact error
* config file

I'm a quick test, works fine for me. It might be file permissions issues in your server.

[2017-10-05 20:10] juanpicado opened #345 "Update indexer and allow search by author, version and keyword"
#### My reason:

This PR fix inconstancies on UI search, many fields weren't included in the index. It will allow search by a new set of fields as:

* author 🐛
* version 🆕
* keywords 🆕

Info:

https://github.com/olivernn/lunr.js/releases is completely updated, migrate from `0.x` to `2.x` will change the implementation.  We might use `elasticlunr` as well which has a similar interface.

The PR #257

[2017-10-06 02:27] sarathkcm commented on #344
I will share these details tomorrow. Just to add, npm install and npm publish works without any issues.

[2017-10-06 05:06] #321 closed

[2017-10-06 05:30] juanpicado commented on #339
We have a canary version already in Docker https://hub.docker.com/r/verdaccio/verdaccio/builds/bi45qtrze76deqqfeqph7n/

[2017-10-06 19:24] p3x-robot opened #347 "Question about which uplink should be used by default"
Ciao!
How are you?

Do you think I should use yarn or npm as the uplinks npmjs?

[code]

I just can't decide which is better.

[2017-10-06 20:35] juanpicado commented on #347
I think here you can find your answer. https://github.com/yarnpkg/yarn/issues/889#issuecomment-253237639
You made a good question. I'll suggest editing the title to make it more visible.

[2017-10-06 21:13] juanpicado opened #348 "feature: Migrate the codebase to ES2015 (and up)"
**Type:** feature

**Description:**

This is a further step to modernizr the codebase. We are using Babel for the UI already and we want to take advance of it for the remaining code. The support old Node4,5 and 6 block us to use the latest features of Javascript. We have been done good progress along the 2017 with the new UI, migrate progressively to ES6 but we have to move on.

The following step

[2017-10-07 22:16] EvanCarroll opened #350 "reading npm cache too?"
It would be really cool if `verdaccio` could read the machine's local npm cache and offer up those docs through the web interface.

[2017-10-09 06:00] juanpicado commented on #350
I'm curious, why do you think would be useful?

[2017-10-09 13:18] pranay06 commented on #301
I am facing the same issue.
Using verdaccio without docker.
I tried to configure the nginx, the way @ayusharma did but could not install react-mdl as well geoip-lite, where as I am able to install each-async package. Size of the package seems to be the issue.

[2017-10-10 18:49] dannystyleart opened #351 "[FEAT] Authenticate via atlassian cloud services / G Suite"
#### My reason:

It would be very nice to integrate authentication from bitbucket, to make authentication easier for our local registry.
We would use verdaccio as a cache and private registry for our modules, but our workflows are based on atlassian cloud services.
Currently we can add users explicitly but... you know ;)

#### Additional Info

- Atlassian cloud services: JIRA Cloud, BitBicket clou

[2017-10-11 07:29] liujingbreak opened #352 "Notification for multiple endpoints seem not working for slack channel's webhook"
#### My reason:

The notification feature is working on single endpoint, but for multiple endpoints it seems not working. Not sure if my configuration is incorrect or slack has weird limitation. Any suggestion ? guys:)

#### Steps to reproduce:
I tried to configure 2 notification endpoints to 2 of my team's slack channels webhook, e.g.
 **A** and  **B**

Then only the first channel A get notified,

[2017-10-11 10:29] diachedelic commented on #134
I had this issue when running Verdaccio behind nginx, using the `proxy_pass` directive.  I solved it by passing the raw URI path.

(nginx was decoding the url-escapsed slashes in scoped packages names, e.g. `@myorg/mypkg`)

[code]

[2017-10-11 12:46] ohardy commented on #336
The issue is back :(

[2017-10-11 15:38] juanpicado commented on #351
There is a plugin already. https://www.npmjs.com/package/verdaccio-bitbucket . Have you tried already?

[2017-10-11 16:21] geekdave opened #353 "Google OAuth?"
#### My reason:

For companies that use Google Apps & OAuth for authentication

#### Request:

Allow logging into verdaccio with Google OAuth, so users don't need a specific verdaccio username/password.

[2017-10-11 16:31] juanpicado commented on #353
Since an authentication method must be a plugin, to fix this issue it has to be done in a separate repository. We will close this issue until pops up any proposal.

[2017-10-11 16:32] juanpicado commented on #351
Same thought here https://github.com/verdaccio/verdaccio/issues/353#issuecomment-335868831

[2017-10-11 16:32] juanpicado commented on #344
@sarathkcm any feedback?

[2017-10-11 16:34] juanpicado commented on #347
I'll close this ticket since is not an issue, feel free to follow the discussion.

[2017-10-11 16:34] #347 closed

[2017-10-11 16:36] juanpicado commented on #336
@ohardy We need more detailed information about the issue. How to reproduce, etc etc.

[2017-10-12 06:43] sarathkcm commented on #344
@juanpicado sorry  I couldn't get the logs. Will try and get today.

[2017-10-12 14:44] ayusharma commented on #352
It is the problem:

https://github.com/verdaccio/verdaccio/blob/c570cf21a37fe7d7e2c7eada3938ff42fc274bb0/src/lib/notify.js#L72

we have `return` inside the loop, `return` stops execution and exits the function. return always exits its function immediately, with no further execution if it's inside a loop.

Sending a PR to correct this.

[2017-10-12 14:46] juanpicado commented on #352
Cool thanks @ayusharma ! I'll cook a new version after your PR.

[2017-10-13 00:28] rostislav-simonik commented on #353
To create auth plugins with oauth flows, it must must be allowed for plugins to register own middleware, which has already been implemented in sinopia2 fork.

[makes middlewares pluggable. i.e for custom oauth flows or analytics etc. #18](https://github.com/fl4re/sinopia/pull/18/commits/adcc42dd2c4288ab9b6a2b86abd5a9da4815c6aa#diff-6d186b954a58d5bb740f73d84fe39073)

[2017-10-13 00:33] rostislav-simonik commented on #353
Afterwards this plugin [sinopia-github-oauth](https://github.com/soundtrackyourbrand/sinopia-github-oauth) can be easily transformed into bitbucket-oauth and also for other oauth providers.

[2017-10-13 05:05] sarathkcm commented on #344
I asked for the logs from the team who maintains the server. They did something and it is working now. I guess the issue can be closed.

[2017-10-13 05:25] #344 closed

[2017-10-13 05:25] juanpicado commented on #344
Thanks @sarathkcm for the feedback

[2017-10-13 06:27] juanpicado commented on #353
Well, there is an easy PR if someone is willing to contribute 👍

[2017-10-13 07:32] punkracy opened #355 "AD auth fail - verdaccio blow up"
#### My reason:

Hi I am using verdaccio with ldap using docker based on your examples. All worked fine for some time, but now some of the people face issue with authenticate against AD. Do not know why (as always Microsoft services are very "helpful") but it cause that whole stack exit.

[code]
Is it possible to wrap this exception, catch it and inform user?

#### Steps to reproduce:

Use verdacc

[2017-10-13 08:24] splincode opened #356 "Connection refused"
#### My reason:

I'm running command and not working then

[code]

When I try to go from another machine to the address, there is no access
[code]
But web-server is running!

#### Additional information:

 - `$  node -v v8.7.0
 - `$ npm -v 5.4.2
 - `$ npm get prefix
 - /home/user/.npm-global
 - Ubuntu 16?:
 - Verdaccio configuration file, eg: `cat ~/.config/verdaccio/config.yaml`
 - default

####

[2017-10-13 08:26] juanpicado commented on #356
`4783`? ;)

[2017-10-13 08:30] splincode commented on #356
@juanpicado Sorry, this is a typo. I wanted to say that I can not remotely connect to the server, because I usage .npmrc in my project.

.npmrc
[code]

[2017-10-13 08:32] splincode commented on #356
If I run a server command on the local machine where the server is running

[code]

[2017-10-13 08:40] splincode commented on #356
Please, add default settings by listen on all addresses

config.yaml
[code]

[2017-10-13 08:49] juanpicado commented on #356
https://github.com/verdaccio/verdaccio/blob/master/wiki/config.md#listen-port

[2017-10-13 08:50] #356 closed

[2017-10-13 10:49] juanpicado commented on #355
I'd suggest you should ask here. https://github.com/Alexandre-io/verdaccio-ldap

[2017-10-17 08:36] ASHV95 opened #357 "Allow use custom theme"
#### My reason:
Hello I have two issues
1) Can we change the logo or i mean can we set our own wallpaper for the local npm repo created ?

2) When i connect to the local npm and then fire npm install <package > , the package gets installed on my machine , is there any way in which only registered users can install packages on their local machines and not anyone who connects to the rep without logi

[2017-10-17 09:39] ayusharma commented on #357
Yes, You can change logo

[code]

in your config.yaml

[2017-10-17 09:54] hukacode opened #358 "How to set permission for _uplinks_"
#### My reason:
Hi guys,

I want only admin can fetch from _uplinks_, and the client can only get from Verdaccio. How do I config for that?
Thanks in advance!

Regards,
Huka.

[2017-10-17 10:21] Meeeeow commented on #358
No such feature at this time

[2017-10-17 10:28] hukacode commented on #358
Hi, @Meeeeow

Thanks for quick reply, I really appreciate it.

Can I remove _uplink_, and add by manual?
Put modules to:
C:\Users\[User]\AppData\Roaming\npm\node_modules
C:\Users\[User]\AppData\Roaming\verdaccio\storage

Regards,
Huka.

[2017-10-17 10:58] juanpicado commented on #358
What do you mean with **manual**? Could you elaborate a bit more your idea?

[2017-10-17 10:59] juanpicado commented on #357
Answer point #2 https://github.com/verdaccio/verdaccio/blob/master/wiki/recipes/protect-your-dependencies.md

[2017-10-17 11:31] hukacode commented on #358
Hi, @juanpicado

I'm sorry for my mistake.
All I need to do are remove _uplink in _config.yaml_ and download a git repository (e.g. Angular CLI), then run _npm publish_

Thank you so much for helping me!

Regards,
Huka.

[2017-10-17 11:38] ayusharma commented on #358
I think @hukacode want to install packages from some directory or repository. Am I getting it right?

[2017-10-17 11:47] hukacode commented on #358
Hi, @ayusharma
Yes, that is what I want. I just download the repository and run _npm publish_
It works like a charm. :)

[2017-10-17 14:04] juanpicado commented on #358
@hukacode that will work well only for those repositories that have a no-published version defined on master branches.  I would imagine that should be the case of 99% all projects. Also, you should keep in mind `verdaccio` always check previous publish a private package whether exist already in any of the uplinks.

So, for instance, if you try to publish a specific version of `webpack@3.1.x` and e

[2017-10-17 15:17] wiggisser opened #359 "SSL certificates in pfx format"
Working in a windows based environment, I would like to use my pfx certificate which I use in IIS also with verdaccio, but a quick glimpse in the code showed me, that this is not supported ...

As node also supports pfx (even with a certificate chain) it should be quite easy to support this also in verdaccio

[2017-10-17 15:36] hukacode commented on #358
@juanpicado Thank you for your information.
My boss's requirement is to build a private local repository server. And he wants to control what modules installed on this. (To control license)
That why I created this issue, only admin can fetch data from official, while the developer can fetch only from Verdaccio.
I really really appreciate your efforts.

Regards,
Huka

[2017-10-17 16:07] juanpicado commented on #359
Yes, you are right, but, It should hard to implement.

https://nodejs.org/api/https.html

Here an example. Supported since Node4.

[code]

[2017-10-17 16:19] juanpicado commented on #358
Thanks for your feedback @hukacode . I understand how strict can be some companies with licenses. It seems a nice feature that might be quite voted. I'd recommend you elaborate more your main entry in order to get more attention from the audience.

Furthermore, if your company is concerned about licenses, you might be interested in this thread https://github.com/verdaccio/verdaccio/issues/224

[2017-10-18 04:58] hukacode commented on #358
Thank you for discussing with me. I'm a Java developer, so I cannot improve Verdaccio.
Have a good day!

Best regards,
Hung.

[2017-10-18 14:11] sirpy commented on #301
happens to me also with current verdaccio docker

[2017-10-18 17:13] juanpicado commented on #357
When you say `wallpaper` I guess you refer to the `theme` right? @ASHV95

[2017-10-18 19:25] sirpy commented on #301
it doesnt happen if i do wget package from localhost but does if i use a non loop ip address.
i've installed sinopia docker and it doesnt happen

[2017-10-18 19:58] Falieson opened #362 "Error: ETIMEDOUT at Timeout._onTimeout at request/request.js"
Issue: When I try to install a package that hasn't been downloaded by verdaccio already I get the errors below. You can see it didn't have a problem with the `capture-stack-trace` package.
while I was gone for 2 weeks the IP for our shared verdaccio server was changed, this shouldn't be a big deal - I just update references from the old IP. Nothing else should have changed while I was gone.

How d

[2017-10-18 20:12] #359 closed

[2017-10-19 07:32] 0rvar opened #364 "Separate storage for published and proxy packages"
I would like to be able to delete the cache every now and then to stop caching old package versions.
It would be nice to be able to specify a separate storage directories for proxy packages and published packages.

[2017-10-19 11:15] fly2015 commented on #358
hi guys
I have the same problems as @hukacode
Please make role for only admin can fetch from Official npm link  @juanpicado
I'm also looking forward to this feature.

Thanks a lot and best regards.

[2017-10-19 12:44] ASHV95 commented on #357
yes exactly the theme, the background

[2017-10-19 12:45] ASHV95 commented on #357
i want to put my organizations logo or theme to the npm local repo

[2017-10-19 12:46] ASHV95 opened #365 "Remove a published package"
#### My reason:
Hello how can we remove a published package on my local npm repo?

#### Steps to reproduce:

####  App Version:

####  Config file:

#### Additional information:

 - `$ set DEBUG=express:* verdaccio` enable extreme verdaccio debug mode
 - `$ npm --verbose` prints:
 - `$ npm config get registry` prints:
 - Verdaccio terminal output
 - Windows, OS X/macOS, or Linux?:
 - Verdaccio con

[2017-10-19 13:03] ASHV95 opened #366 "capacity of storage folder and htpasswd"
#### My reason:
Hello i had two issues
1) what is the capacity of the storage folder ?

2) how many max users can we register

#### Steps to reproduce:

####  App Version:

####  Config file:

#### Additional information:

 - `$ set DEBUG=express:* verdaccio` enable extreme verdaccio debug mode
 - `$ npm --verbose` prints:
 - `$ npm config get registry` prints:
 - Verdaccio terminal output
 - Wind

[2017-10-19 13:05] Meeeeow commented on #365
npm unpublish --force yourPackage

[2017-10-19 13:05] #365 closed

[2017-10-19 14:31] sadarshannaiynar opened #367 "Web UI Error"
#### My reason:
I am able to see only loading icon it never finishes loading and I am unable to login in the web ui. There are some visible errors in console.

#### Steps to reproduce:
1. Install verdaccio package
2. Run the "verdaccio" command

####  App Version:
v2.6.0

####  Config file:
Default configuration provided by the package

#### Additional information:
OS: OS X

Loading Screen Picture

[2017-10-19 16:12] juanpicado commented on #367
@Thanks @sadarshannaiynar I'll fix it. Something was wrong with dependencies.

[2017-10-19 16:52] sadarshannaiynar commented on #367
Sure I wanted to explore the error so I tried forking the repository and building the web ui and running the module. It was working fine. Then I tried packaging and installing it as a local module it was working fine then also. Then I tried downloading the package from NPM and this error shows up again.

[2017-10-19 16:56] juanpicado commented on #367
Yeah, my bad, I fucked up deploying from mine computer. In Docker works fine.

[2017-10-19 16:59] juanpicado commented on #367
Thanks for the heads up. I'll deploy a new one `v2.6.1`.

[2017-10-19 17:21] sadarshannaiynar commented on #367
Sure. Cons of deploying manually why don't you automate it as a part of the build job. It will be more consistent that way.

[2017-10-19 17:22] juanpicado commented on #367
Yeah, it was in progress/testing. Circle ci will do it soon automatically.

[2017-10-19 17:27] juanpicado commented on #367
Done, we can close it. Thanks again. Take away, use a CI to deploy 👍

[2017-10-19 17:27] #367 closed

[2017-10-19 17:28] sadarshannaiynar commented on #367
Nice 😄  Thanks for the real fast response.

[2017-10-19 20:16] juanpicado commented on #366
1. that depends mainly on your hardware
2. as much you can, I've never heard about issues with that.

What's the issue?  🤔

[2017-10-19 20:24] juanpicado commented on #364
For clean cache, please check this one https://github.com/verdaccio/verdaccio/issues/343 (and vote 👍 ) and to separate storages I'd recommend use the `storage` property in packages https://github.com/verdaccio/verdaccio/blob/master/wiki/packages.md#configuration

[2017-10-20 08:48] JSteunou commented on #301
Had this issue once when the filesystem was full. Did you check this?

[2017-10-20 15:14] juanpicado commented on #328
I'm so glad to see tons of emoji reactions !! 🎉 🎉 🎉 🎉 🎉 🎉 🎉 🎉 🎉

[2017-10-20 15:24] ASHV95 commented on #366
Juan it is not an issue i just had a general question about the storage folder , the max capacity of the folder

[2017-10-21 00:51] vetruvet commented on #301
I am also experiencing this issue. I've found that I am able to reproduce it consistently from a clean install on local by rate-limiting curl and attempting to download a relatively large package's tgz file:

[code]

Then in another terminal:

[code]

Output from curl:

[code]

That file should is 15MB and should have an MD5 of `2d634f05cb3f0f0ad5143be7ddf66924`. Without the `--rate-limit` option,

[2017-10-21 07:11] lgaitan opened #372 "Reverse Proxy - Cannot create server: listen EADDRINUSE"
#### My reason:
After verdaccio process quit it's socket file is not deleted from disk.
Running verdaccio again will cause a fatal `EADDRINUSE` error.

#### Steps to reproduce:
Setup Verdaccio to run on an unix socket and then restart it

####  App Version:
Any

####  Config file:
listen: unix:/tmp/verdaccio.sock

#### Additional information:
 - Verdaccio terminal output
fatal--- cannot create ser

[2017-10-21 07:32] #372 closed

[2017-10-21 09:11] gengshenghong opened #375 "Search just does not work at all?"
#### My reason:

Search does not work for me. I've tried to test verdaccio on my machine, everything works (by some struggling in fact, as I got same issue as mentioned in #367 at the beginning...)
#### Steps to reproduce:
1. npm install verdaccio with v2.6.1 (latest one)
2. start it
3. tried to adduser and just publish two simple projects named `aa` and `zz` (made by `npm init` with all defaults

[2017-10-21 09:12] gengshenghong commented on #375
I see #257 , but hope search by name is not missing too :)

[2017-10-21 09:42] juanpicado commented on #375
What do you mean by name? Do you mean by author?

[2017-10-21 09:43] juanpicado commented on #375
Does the #257 will fix this issue?

[2017-10-21 10:18] #366 closed

[2017-10-21 11:42] gengshenghong commented on #375
@juanpicado name is the package name, as I mentioned, I just publish too default package (created by npm init) and the packages are "aa" and "zz" (folder name and package name also).

And the latest information is that, I found the search works (partially maybe, explained below) suddenly just now (I did nothing....). Partially because, I found "aa" and "zz" works (I mean it can be searched), and e

[2017-10-21 11:53] gengshenghong commented on #375
@juanpicado I've checked with #257 branch, I can confirm it works to search by version (example: "1" or "1.0.0" will search out both "aa" and "zz"), but still, it does not find "aa" when search with "a". Did I find a corner case ("a" is special?!)! I was just trying to do some tests by randomly created "aa" and "zz"...

[2017-10-21 12:12] gengshenghong commented on #364
I want/like this feature too! It is ok to just put them in separate folder in my opinion, so that I can remove it with "rm -rf", and if I need backup, I can do anything like "cp && tar".

Not clear about the "storage" configuration usage, but it seems not the same purpose? It is to set package directories filter by package name? What I may want will be:
1. two folders
storage/cached
storage/local

[2017-10-21 12:33] gengshenghong commented on #364
#131 Seems to be the (4) item I mentioned, that will be ok for my usage to disable cache! (but it will be still helpful if the storage are separate as I can see it still leaves the "package.json" file for un-cached packages).

[2017-10-21 15:42] juanpicado commented on #375
@gengshenghong yes, the indexer `lunr` we use either is not 100% reliable or is not well configured, also seems to be a bit abandoned, #257 tries to fix that and use a new indexer `elasticlunr` that increase functionality as search by version and so on. I hope we can a bit help in that branch in order to fix this issue.

[2017-10-22 14:25] juanpicado commented on #288
@nest000 Could you create a ticket with that issue ?

[2017-10-22 14:26] #288 closed

[2017-10-22 18:56] juanpicado commented on #142
Closing in favor of #343

[2017-10-22 18:56] #142 closed

[2017-10-22 18:57] juanpicado commented on #138
Closing in favor of #343

[2017-10-22 18:57] #138 closed

[2017-10-22 19:06] #125 closed

[2017-10-22 19:10] juanpicado commented on #127
This will require a customizable storage + authentification that now is not possible, perhaps #376 might be an open window for someone to create customizable plugins for that.

[2017-10-22 19:11] juanpicado commented on #128
@zkochan do you think your request will be possible with a customizable storage?

[2017-10-22 19:21] #180 closed

[2017-10-22 19:31] #267 closed

[2017-10-22 19:33] #276 closed

[2017-10-22 19:36] juanpicado commented on #333
I'll close it for inactivity. If the issue persists ask for reopening.

[2017-10-22 19:36] #333 closed

[2017-10-23 10:11] asafMasa opened #377 "local downloaded angular/cli package.json bug"
#### My reason:

Downloading **angular/cli** creates package.json and a tgz files
the package.json file contains node-sass as a **regular dependency** in addition to it's definition as **optional dependency**
It is supposed to be only an **optional dependency** (as opening the tgz will show)

#### Steps to reproduce:

npm install angular/cli

####  App Version:
latest

####  Config file:
default

[2017-10-23 15:49] juanpicado commented on #377
I don't get the issue @asafMasa

[2017-10-23 19:47] ayusharma opened #379 "Prettier integration"
#### My reason:

A few days ago, when I was working on an issue #327, My IDE changed the indentation of the code and made hard to understand. Is it useful add Prettier (https://prettier.io/) to maintain code presentation?

[2017-10-23 19:49] juanpicado commented on #379
Could you enable it in a branch? I heard about it but never tried.

[2017-10-23 19:50] ayusharma commented on #379
Okay. I'll do it.

[2017-10-24 05:23] juanpicado commented on #328
So, we have a winner :) congrats @rodriguesbreno 🎉 .

Thanks all you guys to support this voting process, a lot of reactions 👍 👎 ❤️ 🎉  !! That's so cool.

Thanks @kgrubb @admorphit @jollycic @jmwilkinson for your proposals and to be part of this longgg process 💯 💯 💯 💯  !!

[2017-10-24 05:29] VitoVan commented on #362
This seems like will happen when you got bad packages, for your example, maybe it's `source-map@0.6.1`.

I mean 'bad', it's the files may be broken at `storage/source-map/*`, try delete them and retry `npm install`, it will work again.

But I haven't figure out the reason.

[2017-10-24 18:27] zkochan commented on #128
You mean the storage would be like a plugin that can be changed?

[2017-10-24 18:29] juanpicado commented on #128
Yes

[2017-10-24 18:34] zkochan commented on #128
TBH, maybe that wouldn't be even needed. Maybe even some events would be enough, about updates in the store. I'd really need to work on a PoC before asking for anything.

[2017-10-25 02:26] wlddong opened #381 "when i publish package to the server,shows 'one of the uplinks is down, refuse to publish'"
#### My reason:

#### Steps to reproduce:

####  App Version:

####  Config file:

#### Additional information:

 - `$ set DEBUG=express:* verdaccio` enable extreme verdaccio debug mode
 - `$ npm --verbose` prints:
 - `$ npm config get registry` prints:
 - Verdaccio terminal output
 - Windows, OS X/macOS, or Linux?:
 - Verdaccio configuration file, eg: `cat ~/.config/verdaccio/config.yaml`

 - Con

[2017-10-25 05:24] juanpicado commented on #381
Yeah, that's intended behaviour, to allow that you have to enable https://github.com/verdaccio/verdaccio/blob/master/wiki/config.md#offline-publish

[2017-10-25 05:24] #381 closed

[2017-10-25 06:39] splincode opened #382 "Where are the packages installed on the caching server?"
I would like to clear the cache on my own, how?

[2017-10-25 11:50] metodribic commented on #269
Any information on this I would also like to lock the the registration and add the users manually but I cannot figure it out how to properly generate passwords?

[2017-10-25 12:33] ayusharma commented on #269
@metodribic You can generate username & password combination here
http://www.htaccesstools.com/htpasswd-generator/

Write generated combination in `htpasswd` file.

Also, disable registrations
[code]

[2017-10-25 12:55] rodriguesbreno commented on #328
Thank you all for the votes !!! 🙌 🎉🎉🎉
@juanpicado Let me know if the files are needed in other formats.
I'm sending in SVG and the original sketch file.

[2017-10-25 13:14] harbulot opened #384 "Some URLs not working when deployed in sub-location"
#### My reason:

When Verdaccio is deployed behind a reverse-proxy in a sub-location (`/npm` or `/verdaccio`, as described in the reverse proxy documentation), the `src` URL for the logo in the `<img />` tag in the webpage header ignores the `url_prefix` and returns a path starting at `/`.

The addresses in the header (`npm set registry https://...`) also ignore the sub-location.

#### Steps to re

[2017-10-25 19:28] mlucool opened #385 "Web UI Search Pings Proxy"
#### My reason:

When I start typing in the search box on the web UI, it will start searching the proxy. I would expect that when I search on the web UI, it would only be local search becauses the only data that appears on this UI is only ever local. This extra search also slows down the UI's responsiveness.

#### Steps to reproduce:
Set config.yaml to:
[code]
Then go to the UI. If you search for

[2017-10-25 21:31] #328 closed

[2017-10-25 21:31] #237 closed

[2017-10-26 04:47] juanpicado commented on #385
Ok, definitely we need to check that, thanks for reporting

[2017-10-26 04:49] juanpicado commented on #384
Thanks for reporting. I guess @Meeeeow might have an idea about this.

[2017-10-26 04:58] juanpicado commented on #382
`verdaccio`  uses  `$XDG_DATA_HOME` environment variable to locate the storage by default which [should be the same as](https://askubuntu.com/questions/538526/is-home-local-share-the-default-value-for-xdg-data-home-in-ubuntu-14-04) `$HOME/.local/share`.

You can see the implementation here https://github.com/verdaccio/verdaccio/blob/master/src/lib/config-path.js#L34

[2017-10-26 05:02] juanpicado commented on #128
I have to read more about `pnpm` I still do not have the whole picture in my mind.

[2017-10-26 07:29] juanpicado opened #386 "Make documentation more accesible to audience"
#### My reason:

We want to move documentation to the main website. We want the documentation is better indexed and accessible for the audience.

Reference https://github.com/verdaccio/verdaccio.github.io/issues/2

The documentation must remain in markdown format but will be moved and generated to Github pages repository and public through `www.verdaccio.org`

[2017-10-26 08:28] splincode commented on #382
Can you write about this in the documentation (readme.md)?

[2017-10-26 09:00] juanpicado commented on #382
Sure we shall do :) thanks for the suggestion you are right.

[2017-10-26 09:07] #382 closed

[2017-10-26 12:10] mlucool opened #388 "Log Rotation"
#### My reason:
Is there support for log rotation? If not can it be added to make sure logs do not grow indefinitely. IMO daily logs are best and as it switches between days it archives yesterday's logs.

[2017-10-26 12:12] metodribic commented on #269
@ayusharma I did all that but it didn't work. Must have done something wrong. Will try it again. Thanks.

[2017-10-26 12:31] metodribic commented on #269
Apparently this is not working for me but I noticed I'm running v2.1.0 which is fairly old. Could be this the case why is this not working?

[2017-10-26 12:39] ayusharma commented on #269
I don't think the version is a problem. I am sharing the format of mine `htpasswd` file

[code]

and make sure file path below relative to `config.yaml` file.
[code]
This config is working for me. We have registered more than 20 users manually.

Try this.

[2017-10-26 14:46] asafMasa commented on #377
in the original angular/cli package.json the node-sass is in the "optional dependency" section like this:
"optionalDependencies": {
			"node-sass": "^4.3.0"
		},
but when i download the package via verdaccio i get something like this (in the package.json at the storage folder):
		"dependencies": {
                        ...
			"zone.js": "^0.8.14",
			**"node-sass": "^4.3.0"**  --> why?
		},
		"o

[2017-10-26 21:23] marekl opened #389 "Scoped packages not showing up in the WebUI"
#### My reason:

Publishing a scoped package such as `@company/mypackage` works correctly and allows the package to be installed using `npm`. However the package does not show up anywhere on the WebUI.

#### Steps to reproduce:

* Run verdaccio in a docker container
* Publish a scoped package such as `@company/mypackage`
* Access the webui `http://localhost:8473`
* The package is not displayed in

[2017-10-27 06:59] metodribic commented on #269
Strange, I have it the same. This is the line I pasted in `htpasswd`

[code]
and this is `config.yaml`
[code]

Even if try to restart verdaccio after adding the line in htpasswd login does not work. In terminal it says 409 Conflict (user already exist) and on webpage it does nothing.

[2017-10-27 17:46] Meeeeow commented on #269
@metodribic If you are using a very old version of verdaccio, it will not show any error message when you login with wrong password.

[2017-10-27 17:52] Meeeeow commented on #388
It's not a built-in feature at this time, if you are using process monitor tool such as `pm2`, it's possible to do this with a plugin.

Or you can just write some cron task, copy content to another place then clear file log file

[2017-10-27 17:56] Meeeeow commented on #384
Sorry for the delay, i did not see this one in my timeline, i will look into it tomorrow

[2017-10-28 08:08] juanpicado commented on #388
@mlucool  We have to rewrite the built-in`logger` in the future, it would be great to see a PR with a better approach the one we use now.

[2017-10-30 07:15] metodribic commented on #269
@Meeeeow yes I noticed that, but I'm sure I'm entering correct password. I will update verdaccio and try again since the version is really old. Thank you for helping.

[2017-10-30 15:11] asafMasa commented on #377
Have my prev comment explained the issue properly?

[2017-10-30 18:06] juanpicado commented on #389
Are you using a Nginx or Apache as a proxy?

[2017-10-30 18:09] juanpicado commented on #377
Ok. I can see something interesting, but I'll need more detailed information. Steps to reproduce, exact versions of your tooling, all you can provide me to replicate your environment, then I can start to dive into it. @asafMasa

[2017-10-31 10:15] PavelSapachev opened #391 "Can't disable modules caching"
#### My reason:

I can't disable modules caching with `cache: false` option. Installing 3rd party modules through Verdaccio still store this modules folders in storage (but without tarballs).

####  App Version:

Latest version of Docker image

####  Config file:

[code]

[2017-10-31 14:13] Mindaugas-Jacionis opened #392 "npm profile commands giving 404 error (change password via CLI)"
#### My reason:
There is a need to change password for logged user from terminal. `npm` has `profile` for that.

#### Steps to reproduce:
On localhost setup:
`npm --registry http://localhost:4873 profile set password`
This prompts message for current, new & repeat new password. Once you submit all required input. You get `404` error.

####  App Version:
[code]

####  Config file:
[code]

#### Addi

[2017-10-31 15:44] Meeeeow commented on #392
We don't support that at this time, PRs are welcome.
And we are planning a mojor update for user system in verdaccio (3.x)

[2017-10-31 16:59] Meeeeow commented on #384
Fixed in #393

/cc @juanpicado

[2017-10-31 17:38] #384 closed

[2017-10-31 17:44] juanpicado commented on #384
Shipped `v2.6.4`

[2017-11-01 19:17] aannuujj opened #395 "Possible to run verdaccio on port 80 / 443 using a configuration instead of code change?"
#### My reason:
I run verdaccio behind HAProxy and HAProxy is having trouble detecting verdaccio on port 4873.
I am also using the verdaccio docker image.

[2017-11-01 19:18] juanpicado commented on #395
Have you tried ? https://github.com/verdaccio/verdaccio/blob/master/wiki/config.md#listen-port

[2017-11-01 19:21] aannuujj commented on #395
@juanpicado I am using the [docker image](https://hub.docker.com/r/verdaccio/verdaccio/) I was hoping there was a simpler (and quicker) config option instead of building my own docker image - which is my next option.

[2017-11-01 19:30] juanpicado commented on #395
Have you tried with docker-compose https://github.com/verdaccio/docker-examples/tree/master/docker-local-storage-volume ?

[2017-11-02 17:47] aannuujj commented on #395
cool. thanks for the links, I ended up using nginx example from your link instead.

[2017-11-02 17:47] #395 closed

[2017-11-02 18:29] marekl commented on #389
Nope.

I am running the container standalone for testing.

__Build Command:__
[code]

__Run Command:__
[code]

This is using Docker for Mac.

[2017-11-02 18:31] juanpicado commented on #389
I have the same set up and works for me. I'll have to check again.

[2017-11-03 02:24] Meeeeow commented on #389
Same here, i can't reproduce this issue with:
[code]

[2017-11-03 02:31] metaa opened #396 "Systemd ExecStart path different for me"
I just activated the systemd service on my machine, but I noticed that the `ExecStart` path was different for me.

This is what the file deploys with: https://github.com/verdaccio/verdaccio/blob/6a8077a88389588e70429e95e18dce578d41ce8d/systemd/verdaccio.service#L8 ... but for me the correct path is `/usr/local/lib/node_modules/verdaccio/bin/verdaccio` (which gets linked to from `/usr/local/bin/ver

[2017-11-03 11:24] dbroadhurst commented on #301
Did this get resolved? Someone said this wasn't an issue on sinopia, comparing the docker files they both use different versions of node, maybe going to node 6.x might help, anyone tried?

[2017-11-03 12:59] Meeeeow commented on #396
[code]

@juanpicado We can use `/usr/bin/env` as a bridge to start the executable without specify absolute path of npm global modules path

[2017-11-03 18:04] metaa commented on #396
@Meeeeow ohhhh, right, why didn't I think of that?

[2017-11-03 20:22] dbroadhurst commented on #301
Put in the workaround and it seems like a stable fix although there's probably a performance cost. Looks like this might be a legit node issue

https://github.com/nodejs/node/issues/13391

[2017-11-03 20:28] marekl commented on #389
Guys. I have to apologize.

After doing more testing I discovered that I had configuration in my global `.npmrc` file that set the registry for the scope I was testing with to a different server which overwrote my package `publishConfig` setting and the `--registry` command line parameter so I was publishing to a different private registry when I was testing with that scope.

Not a verdaccio issue

[2017-11-03 20:28] #389 closed

[2017-11-04 08:49] p3x-robot opened #398 "the logo disappeared"
Ciao!

How are you?
Just the logo disappeared? How come!

![image](https://user-images.githubusercontent.com/28588124/32403905-7aa9aa3c-c145-11e7-8db0-72c98dc0020e.png)

[2017-11-04 08:50] juanpicado commented on #398
Please share your config :)

[2017-11-04 09:38] juanpicado commented on #398
It might be related with the latest releases, we will check thanks for reporting.

[2017-11-04 13:04] Meeeeow commented on #398
Remove the slash after `.com` as a temporary solution.

BTW:
You can change you nginx or apache configure to send `host` header to verdaccio, then you can remove url_prefix from verdaccion configure file

https://github.com/verdaccio/verdaccio/blob/master/wiki/reverse-proxy.md#run-behind-reverse-proxy-with-different-domain-and-port

[2017-11-04 16:11] Meeeeow commented on #398
I will try fix it later, you can try remove the slash after `.com` in config.yaml as a temporary solution

[2017-11-05 09:51] juanpicado commented on #301
Thanks @dbroadhurst for fixing this. Shipped on `v2.6.5`

[2017-11-05 09:51] #301 closed

[2017-11-05 10:40] asafMasa commented on #377
ok, i don't have much..

[2017-11-05 10:41] asafMasa commented on #377
verdaccio version

[2017-11-05 23:04] vetruvet commented on #301
Thanks for the fix. For anyone not using the official docker images, upgrading to Node 8.9.0+ (or 9.0.0+) will fix the issue.

[2017-11-06 08:32] juanpicado opened #401 "Allow users change password via UI"
#### My reason:

Currently, there is no such interface, any user should be able to update the password.

####  Config file:

No config changes need it.

[2017-11-06 08:34] Meeeeow commented on #401
Suggest: implement as plugin interface

[2017-11-06 08:35] juanpicado commented on #401
Any suggestion about the implementation?

[2017-11-06 08:36] juanpicado commented on #401
Because I think we need allow also plugins to support such methods. It's not only UI related, or I'm wrong?

[2017-11-06 08:40] Meeeeow commented on #401
You are right, maybe blocked on #169 ? I'm not sure it's a huge change to plugin system or just minor improve

[2017-11-06 08:43] juanpicado commented on #401
I haven't check. But I guess minor improve. We can ship that in `2.x` I guess.

[2017-11-06 22:39] #398 closed

[2017-11-08 10:35] #396 closed

[2017-11-08 15:16] asafMasa commented on #377
@juanpicado  any progress?

[2017-11-08 20:51] lgaitan commented on #377
On npm website, it states

[https://docs.npmjs.com/files/package.json#optionaldependencies](optionalDependencies)

[2017-11-08 22:56] juanpicado commented on #398
Fixed. Upgrade and try again.

[2017-11-09 08:37] arshtepe opened #402 "Unpublish doesn't work correctly"
#### Steps to reproduce:
I publish my test repository, with name xmlparser, then i unpublish repository.
After unpublish repository must be remove, but i have public repository with same name https://www.npmjs.com/package/xmlparser

####  App Version:
2.6.6

#### Additional information:
 - nodejs 8.9.1, npm 5.5.1
 - Ubuntu 16.04
 - I have no change in my config
 - Container:
   - I use local envir

[2017-11-09 10:32] asafMasa commented on #377
@juanpicado  @lgaitan i've opened this issue at cli's https://github.com/angular/angular-cli/issues/7813
But they say that they don't put it in the "dependecies" section only in the "optionaldependencies" section

But when i use verdaccio the "node-sass" get's inside the "dependecies", but if you extract the inner .tgz file you will see it is supposed to be only in the "optionaldependencies" secti

[2017-11-10 13:31] jsumners commented on #388
I started a rewrite of the logger to switch it to Pino a while back, but the way the logger is written in Verdaccio made that basically impossible to do transparently. I'm still willing to implement it if people do not care about a complete change in how logging works.

[2017-11-10 13:32] juanpicado commented on #388
Do you have an example how big would the change for the final user ?

[2017-11-10 13:34] jsumners commented on #388
In short, the output as shown in http://getpino.io/#/?id=usage

[2017-11-12 08:34] asafMasa commented on #377
again the problem is not that it is in "optionaldependencies" the problem is that verdaccio **insert** it to the "dependencies" section

[2017-11-13 17:50] rodriguesbreno commented on #401
I would suggest go a little further and rethink the Verdaccio UI.
Then include an user profile section where info can be updated and in the future could support more stuff like data visualizations etc...

Current design is old (from good and old Synopia) and also doesn't match the brand changes yet.
Build on top of it will be just postpone the work that eventually must be done.

[2017-11-14 05:00] juanpicado commented on #401
Could you help us to visualize how that idea would look like?

[2017-11-14 05:13] juanpicado commented on #377
@asafMasa ok I'll check that during the week.

[2017-11-14 05:15] juanpicado commented on #388
Any thoughts @Meeeeow ?

[2017-11-14 15:32] mlucool commented on #388
As long as it is bunyan compatible (which it looks like it is), I don't think anyone will care that we change from bunyan to pino.

[2017-11-14 15:35] jsumners commented on #388
@mlucool it is. The difference though is that Verdaccio doesn't output actual Bunyan logs. It outputs reformatted logs to show communication with upstream repositories. While that can be handy, my opinion is that the logs should be parseable.

[2017-11-14 15:55] mlucool commented on #388
I'd prefer jsonl logs personally

[2017-11-14 15:56] jsumners commented on #388
@mlucool that's what Pino does.

[2017-11-15 09:57] osher opened #404 "Problems publishing a package named `logger` ...?"
#### My reason:

Was trying to eval `lerna`, and wanted a local npm-repo for that, saw that `verdaccio` replaces `sinopa` and was keen to try it.
My lerna repo looks like this:
[code]

lerna failed on the first try, so I moved to publishing mannually.
`orm`, `web-one`, and `web-two` published successfully. `logger` did not... 😛

#### Steps to reproduce:

1. Create an npm repo called `logger`
2. in

[2017-11-15 09:58] osher commented on #404
oh. crap. I found the problem - there's already such a package & version in the public repo.

This is a regression - I'm quite sure sinopia would have let me do that, only that it does not compile on modern node versions ...

[2017-11-15 14:15] osher commented on #404
forget about it. `--force` worked.
i feel so rusty...

[2017-11-15 14:15] #404 closed

[2017-11-15 19:13] juanpicado commented on #388
@jsumners how the configuration would look like in comparison the current one ?

[code]

[2017-11-15 19:35] jsumners commented on #388
@juanpicado I'd say just a plain Pino config object:

[code]

[2017-11-15 19:36] juanpicado commented on #388
Could you translate that to `yaml` ?

[2017-11-15 19:37] jsumners commented on #388
Uh,

[code]

[2017-11-15 19:40] juanpicado commented on #388
We have a `format: pretty` field, how would be using files or different formats with `pino` in such configuration?

[2017-11-15 19:45] jsumners commented on #388
To be clear: I would be ripping out all of the customized logger stuff and making Verdaccio depend solely on Pino's published API. Pretty printing would be up to the person viewing the logs by either enabling it in their config or piping the logs through the `pino` CLI. And Verdaccio itself would not deal with log file management/rotation. That's better left up to the system tools.

See http://get

[2017-11-15 20:28] juanpicado commented on #388
Your idea makes sense, that's one of the reasons why I did not touch at all such files on refactoring phases.

That's exactly what we need, how big would be your implementation in comparison the current one?

I'm not afraid for breaking changes, but, what we need to be careful is not crash the app due bad configuration set up, as much, a nicely warning and disable log until user fix his configurat

[2017-11-15 20:48] jsumners commented on #388
It sounds like you are on board with at least considering a PR. I will work one up as soon as I can and that will answer all questions.

[2017-11-16 02:51] jk-jx commented on #401
Suggestion: Create user role for user. Admin and member.

Reason: Because of whoever also can create their own account and publish whatever they want. If you could, please create an admin role which only admin allow to create username and password for user. And if user didn’t own an account he/she could not publish anything to the verdaccio and it will render error msg say that (you didn’t own an

[2017-11-16 10:33] rodriguesbreno commented on #401
@juanpicado Sounds good, I'll provide some concepts

[2017-11-16 21:29] juanpicado commented on #388
Sure, I think worth to see the final result, currently, I do not like the current logger and I think `v3.x` is a good moment for such change. We are trying to delegate functionality to third-party modules whether is possible.

[2017-11-20 06:24] txiaocao opened #407 "please don`t use sass.. it is very slow..and weight."
⊙﹏⊙
[code]

[2017-11-20 07:03] Meeeeow commented on #407
The "Great Firewall" can't be a reason to stop use good tool, here is an article about how to install node-sass in China mainland:

https://github.com/lmk123/blog/issues/28 (Article content is Chinese)

[2017-11-20 07:16] juanpicado commented on #407
Ok :-) I think we can close this.

[2017-11-20 07:16] #407 closed

[2017-11-21 06:53] txiaocao commented on #407
thanks, but I think also the Less or css is strong...:-)

[2017-11-21 06:56] juanpicado commented on #407
Yes, We have even tried styled-components in previous versions. For now is OK. Let see in the future, I will keep in mind your suggestions for sure.

[2017-11-21 07:07] Meeeeow commented on #407
Still prefer sass for better syntax

[2017-11-22 11:40] LayZeeDK commented on #134
404 when using Verdaccio with iisnode like described in [the guide](https://github.com/verdaccio/verdaccio/blob/master/wiki/iis-server.md).

[2017-11-22 11:42] juanpicado commented on #134
I found something fishy on `dist-tags`. I'll double check

[2017-11-24 18:40] mlucool commented on #224
I am strongly in favor of moving away from WTFPL with 3.x. I disagree with @OmgImAlexis. MIT is more flexible because it is blessed as a license that is compatible with open source. WTFPL is not listed, so any open source project has to make a judgement call. See https://opensource.org/licenses/alphabetical for a list of licences which are approved. The lack of approval here is why Facebook moved

[2017-11-24 20:51] juanpicado commented on #224
I'm agreed with @mlucool, I think this project should be licensed as MIT

[2017-11-27 10:44] txiaocao commented on #407
Using CSS module and react,
So we don't have to rely on too many dynamic CSS features. Components is css&js&html together。:)
![](https://txiaocao.github.io/image/TIM20171127183835.png)

[2017-11-27 16:24] jamesdalel opened #409 "Login and New User are the Same"
#### My reason:

Once I have added a user and logout I can't publish with that user as it exists already.

#### Steps to reproduce:

	I have created a new user using yarn and logged in and then used `yarn logout`.  I then tried to do yarn publish. I entered the user credentials but I just get a

#### Additional information:

yarn publish
yarn publish v0.24.6
[1/4] Bumping version...
info Current v

[2017-11-28 18:52] mlucool opened #411 "latest tag is incorrect"
#### My reason:
The latest tag listed is wrong for public libraries.

#### Steps to reproduce:
I noticed this via npm install -s immutable (npm 5). If you use a verdaccio library you get the rc version of immutable and if you use npmjs.org you the true latest tag 3.x

You can also verify this via the urls which at the time of this writing shows:
https://registry.npmjs.org/immutable
[code]
And my l

[2017-11-29 09:34] jackple opened #412 "which module make the package aync to my server"
If I download a package which only at the npmjs.com, verdaccio will make it sync to my server. How? Which module is doing this?

[2017-11-30 20:23] mlucool commented on #411
I debugged this a little more and was not able to reproduce this from a clean slate. I think it was the data I copied from `sinopia` that is wrong somehow. Still, the feature request here would be to verify the current tags and as it is possible for them to change. Even if it was different, it should check what latest points to. See: https://docs.npmjs.com/cli/dist-tag

[2017-12-01 12:34] gkaran commented on #409
I second that. The login dialog is exactly the same as adduser which in turn results to a conflict.

[2017-12-01 13:47] richardklose commented on #409
Same here using npm.
`npm login` leads to
[code]

[2017-12-01 13:47] jamesliauw opened #413 "npm ERR! 404 Not Found: body-parser@~1.13.2"
#### My reason:
npm ERR! 404 Not Found: body-parser@~1.13.2

#### Steps to reproduce:

####  App Version:
2.6.6

####  Config file:
#
# This is the default config file. It allows all users to do anything,
# so don't use it on production systems.
#
# Look here for more config file examples:
# https://github.com/verdaccio/verdaccio/tree/master/conf
#

# path to a directory with all packages
storage:

[2017-12-01 21:37] napindc opened #414 "Getting a EADDRNOTAVAIL error"
#### My reason:

I'm trying to start up Verdaccio on a public IP, so that several of my servers can pull from it. But when I start up Verdaccio, it gives the following error: ```fatal --- cannot create server: listen EADDRNOTAVAIL PUBLIC_IP_ADDRESS:8443```. I've also tried with with the 4873 port, but that didn't fix it.

#### Steps to reproduce:

Install verdaccio,

####  App Version:
Verdaccio 2

[2017-12-02 00:56] juanpicado commented on #413
I'm not sure what are you trying to report, perhaps if you provide more info we can help you. As far I can see you seem to have network connection issues.

[2017-12-02 00:58] juanpicado commented on #414
Check https://github.com/verdaccio/verdaccio/blob/master/wiki/config.md#listen-port

You would need something like `0.0.0.0:4873`

[2017-12-02 01:00] juanpicado commented on #412
I'm not 100% what you ask, but I'd say `storage.js`

[2017-12-02 01:06] jackple commented on #412
@juanpicado
![image](https://user-images.githubusercontent.com/6183232/33509824-fdfa3cf2-d73f-11e7-9c22-74395e112add.png)
Is it here?

[2017-12-02 01:07] #412 closed

[2017-12-02 14:29] juanpicado opened #415 "Unit Tests for User Interface / React"
#### My reason:

There is none unit test for React.

@ayusharma is working on it

https://github.com/ayusharma/verdaccio/tree/webui-tests

[2017-12-02 14:35] juanpicado commented on #9
The future big release will fix this issue, no `lsof` needs it to run the test.

[2017-12-03 12:30] juanpicado commented on #415
Awesome job @ayusharma  !

[2017-12-03 12:30] #415 closed

[2017-12-03 15:29] juanpicado commented on #411
I moved this to next major release. We are working on it :)  thanks @mlucool for reporting

[2017-12-03 15:30] juanpicado commented on #409
Would make sense for you some sort of password admin from the UI?

[2017-12-03 15:34] ryandigital opened #418 "Add existing packages"
#### My reason:

Ability to bulk add existing packages to a Docker container and to load automatically

#### Steps to reproduce:

Add packages to the storage folder and update json file

####  App Version:

####  Config file:

#### Additional information:

 - `$ set DEBUG=express:* verdaccio` enable extreme verdaccio debug mode
 - `$ npm --verbose` prints:
 - `$ npm config get registry` prints:
 -

[2017-12-04 05:28] gkaran commented on #409
@juanpicado it would but this is not the issue here. The problem here is that you cannot login from the cli with a user that is already created.

[2017-12-04 06:06] juanpicado commented on #409
Ok @gkaran I'll take a look.

[2017-12-04 06:17] juanpicado commented on #418
The current storage does not allow that. You might to modify manually the `sinopia-db.json` file if you want such packages are displayed in the UI.

For me this sound as a future improvement as a import feature.

[2017-12-04 07:07] #413 closed

[2017-12-04 07:47] asafMasa commented on #377
@juanpicado was there any progress?

[2017-12-04 14:26] napindc commented on #414
Thanks - I made it it https://0.0.0.0:8443 and it worked.

[2017-12-04 14:26] #414 closed

[2017-12-04 20:36] UnitedMarsupials opened #420 "Rotating verdaccio logs"
This is the same question I asked for rlidwka/sinopia#472 -- I'm configuring Verdaccio to log into a file, which will need to be rotated.

Is there some way to signal to the program to reopen the log, or do I have to fully restart it? Thank you!

[2017-12-05 06:14] juanpicado commented on #420
I'm not 100% sure what the answer here. The PR #408 is working on a new log system based on `pino`.  Perhaps @jsumners has a better answer.

[2017-12-05 06:17] hibumbapartha opened #421 "Having issues with proxy behind firewall"
#### My reason:

My Issue is exactly same as issue raised in sinopia : https://github.com/rlidwka/sinopia/issues/372
[code]

#### Steps to reproduce:
1. Install verdaccio in a proxy enabled system. (You need to setup npm proxy)
2. npm adduser --registry http://localhost:4873

####  App Version:
node : 6.9.1
npm: 3.10.8

####  Config file:

#### Additional information: debug log
[code]

[2017-12-05 06:20] juanpicado commented on #421
Config file?

[2017-12-05 06:21] hibumbapartha commented on #421
No change in config file. It is default as it installed.
Here it is.

`#
# This is the default config file. It allows all users to do anything,
# so don't use it on production systems.
#
# Look here for more config file examples:
# https://github.com/verdaccio/verdaccio/tree/master/conf
#

# path to a directory with all packages
storage: ./storage

auth:
  htpasswd:
    file: ./htpasswd
    # Maxi

[2017-12-05 06:21] juanpicado commented on #421
Have you read https://github.com/verdaccio/verdaccio/blob/master/wiki/reverse-proxy.md ?

[2017-12-05 06:23] hibumbapartha commented on #421
But I am not using Apache where to setup those reverse proxy things?

[2017-12-05 06:23] juanpicado commented on #421
Sorry, I read wrong.

[2017-12-05 06:25] juanpicado commented on #421
Have you tried https://github.com/rlidwka/sinopia/pull/268/files this fix?

[2017-12-05 06:27] hibumbapartha commented on #421
But it is for sinopia and it is not accepted. Same issue I believe is here in verdaccio also. So I raised the issue. Let me try to clone the verdacccio and try the fix. Thanks for your prompt help.

[2017-12-05 06:29] hibumbapartha commented on #421
I want to create a pull request from verdaccio. Can you please from which branch will I try?

[2017-12-05 06:29] juanpicado commented on #421
`sinopia` is dead. Don't bother there https://github.com/rlidwka/sinopia/issues/376

I wait for your feedback then.

[2017-12-05 06:43] hibumbapartha commented on #421
I am behind a firewall and behind the proxy also. I do not have any permission for clone. So not able to test the code directly. Looking for other way to test it (by downloading the code as zip).

[2017-12-05 06:56] hibumbapartha commented on #421
I have added the code in src/api/index.js file. Can you please guide me how do I build this project and test it?

[2017-12-05 06:57] juanpicado commented on #421
You don't have to build anything, it's node (Javascript).  Just modify the file and restart verdaccio.

[2017-12-05 07:09] hibumbapartha commented on #421
No. It does not solve the problem. Is there any way to add the user directly somewhere? So that I can proceed other steps till this is been fixed?

[2017-12-05 07:31] hibumbapartha commented on #421
I am able to bypass the issue by createing a **htpasswd** file with the help of this online tool http://www.htaccesstools.com/htpasswd-generator/

[2017-12-05 07:33] juanpicado commented on #421
Really? ... 🤔

[2017-12-05 07:34] juanpicado commented on #421
You can ask here https://gitter.im/verdaccio/ perhaps others have run in the same issue.

[2017-12-05 13:20] UnitedMarsupials commented on #420
Wow... Am I really the first person to ask this question?..

[2017-12-05 13:40] jsumners commented on #420
If #408 is merged in, then you will rotate your logs via the normal system mechanisms -- http://getpino.io/#/docs/howtos?id=rotate

[2017-12-05 13:49] UnitedMarsupials commented on #420
The document you linked to prescribes logging to `stdout` and using the `copytruncate` verb with logrotate.

I would strongly advise _against_ incorporating any such mechanisms.

[2017-12-05 13:54] jsumners commented on #420
Uh, why? It's worked fine for decades.

[2017-12-05 14:32] UnitedMarsupials commented on #420
Because, instead of moving the it aside, `copytruncate` creates a _copy_ of the log file and then proceeds to truncate the original so the application’s next message will be at the beginning of the file.

This is wasteful - creating a copy is immensely more expensive than simply issuing a `rename()`.

It is also likely to cause [data loss](https://incoherency.co.uk/blog/stories/logrotate-copytrunc

[2017-12-05 14:38] jsumners commented on #420
_Applications_ should not implement log rotation. They should write logs and the system should rotate them however it sees fit. If you want to write to syslog with #408 merged, just `node server.js | pino-syslog > /dev/log`.

https://www.npmjs.com/package/pino-syslog

[2017-12-05 14:51] UnitedMarsupials commented on #420
This may seem self evident to you, but it is a completely bogus statement.

But I’ll be happy, if all applications used syslog.

Just not in the manner you suggested because that would necessitate an extra context-switch for every message logged.

Anyway, I hope, I’ve convinced you, anything relying on `copytruncate` is incorrect. If pino can do syslog directly (without piping to another process),

[2017-12-05 15:47] UnitedMarsupials commented on #420
Sorry, let me rephrase it. As stated, I agree with the notion in itself -- although developers of [log4j](http://2min2code.com/articles/log4j_intro/rolling_file_on_size_prop) might disagree, applications should not indeed do their own log-rotation.

But -- and this is why I called the statement "bogus" -- that's not at all, what I'm advocating here. I do not ask for Verdaccio -- nor _any_ applicat

[2017-12-05 15:47] jsumners commented on #420
Not, it's not. That is the whole point of the logrotate utility. Applications should focus on their actual purpose. Rotating logs is outside of the scope of all applications _except_ those that are designed to manage logs.

In particular for applications written in Javascript on top of Node.js: these are single threaded applications (basically). They should definitely be expending their cycles on

[2017-12-05 15:48] UnitedMarsupials commented on #420
Sorry, let me rephrase it. As stated, I agree with the notion in itself -- although developers of [log4j](http://2min2code.com/articles/log4j_intro/rolling_file_on_size_prop) might disagree, applications should not indeed do their own log-rotation.

But -- and this is why I called the statement "bogus" -- that's not at all, what I'm advocating here. I do not ask for Verdaccio -- nor _any_ applicat

[2017-12-05 16:31] UnitedMarsupials commented on #420
Looking inside Verdaccio source, I see that it currently uses Buyan logger -- which does support reopening the log-files upon receiving a signal.

FWIW, I filed trentm/node-bunyan#560 asking for advice on how to add such handling to `logger.js` -- should not be a very large change...

[2017-12-05 19:57] UnitedMarsupials opened #425 "How would I list multiple uplinks for the same package-pattern?"
I'm configuring several Verdaccio servers -- one for each of our datacenters.

They will be used to both:

- host the packages with names matchin `@foo/*`
- act as caching proxy for all _other_ packages (with npmjs.org being the upstream)

We'd like to be able to _publish_ to any of our servers and then be able to download via any other.

To this end I configured the `uplinks` section thus:
[code]

[2017-12-05 22:54] #420 closed

[2017-12-05 23:00] UnitedMarsupials commented on #420
So, the answer my own question for the record is:

- be sure to use Verdaccio above 2.6.6
- signal the verdaccio process with `SIGUSR2` to cause it to reopen the log-file

For example, when using logrotate, have an the `postrotate` entry like this:
[code]

[2017-12-05 23:30] juanpicado commented on #420
released `v2.7.0`

[2017-12-07 08:01] juanpicado commented on #38
@DanielSundberg sorry for a super late reply. But in case of someone is interested on Roadmaps. We have one for the next release.

https://github.com/verdaccio/verdaccio/pull/376

[2017-12-07 22:07] UnitedMarsupials commented on #425
Ok, answering my own question here, sigh... There is no way, apparently, to provide a proxy-pattern. But the proxy can be a list. The following seems to work:
[code]
The nice thing is, Verdaccio will even keep track of the requests to prevent _circular_ references...

[2017-12-07 22:07] #425 closed

[2017-12-07 22:13] UnitedMarsupials opened #429 "Should not `*` match `@*/*`?"
#### My reason:

I configured the default uplink as documented:
[code]

This works for most stuff, but not for things like `@types/node`. To be able to process these, I had to add another entry to `packages`:
[code]

If that's intentional, I wonder, what the reasons are. If not, it needs fixing, no?

#### Application version:
2.7.0

[2017-12-09 18:59] juanpicado commented on #429
If you are moving from Sinopia that package configuration pretty likely does not exist. In Verdaccio is already built-in, you can see the configuration template here. https://github.com/verdaccio/verdaccio/blob/master/conf/full.yaml#L59

Why does not match? I'm not sure but the match is here https://github.com/verdaccio/verdaccio/blob/master/src/lib/config.js#L201

[2017-12-09 20:05] UnitedMarsupials commented on #429
Sorry, I do not understand the above sentence. Yes, I'm adapting the configuration file from that installed by Sinopia's Ansible-playbook.

I see a function call on that line. What the function does is not immediately obvious. Should not "*" match _everything_?

[2017-12-09 20:39] juanpicado commented on #429
I recall debugged such code long time ago when I was writing the documentation, also I noticed that, but tbh I do not remember the outcome of my debugging. There must be a reason, such code is the same from Sinopia AFAIK.

[2017-12-11 12:57] kroltan commented on #69
I have this issue too. Installed Verdaccio and changed the config so storage points to the same path as the old Sinopia storage, but no modules show up on the web interface, nor can I download them.

[2017-12-13 09:07] aa2086500 opened #430 "拉取 500错误"
我本机电脑进行项目的离线拉取，拉取全部都是200状态，但是同一网络下其他电脑拉取就是500错误请问是怎么回事
![0eac595792e3dd9c0fce0b1dd2e6a324](https://user-images.githubusercontent.com/15921352/33930503-146c264e-e028-11e7-9264-8313cc4e6a0d.png)

[2017-12-13 14:01] juanpicado commented on #430
I'll try to figure out since I do not speak Chinese. Your uplink fails as the image describes, Do you have internet access?

If you do not speak English,  I think @Meeeeow might help you.

[2017-12-14 07:34] #430 closed

[2017-12-15 06:42] #352 closed

[2017-12-15 14:57] aremishevsky opened #432 "Is there any solution to use verdaccio on AWS ECS using S3 as synced package storage?"
It would be very good to have some purposes or suggestions how to implement verdaccio registry using AWS ECS with shared storage for couple instances (using S3).
If there is some solution about this - could someone share a link about that?

Also would be awesome to have a full list of possible config values passed in config of verdaccio

[2017-12-15 15:05] juanpicado commented on #432
@aremishevsky `verdaccio` works only with file system right now, we are working on https://github.com/verdaccio/verdaccio/pull/376 next big release to allow scale using different sort of storages. Hopefully beginning next year

[2017-12-15 15:36] aremishevsky commented on #432
Will wait for you updates a lot!!!

[2017-12-16 13:15] aremishevsky opened #435 "Missing manual to run verdaccio in JS way (not node way)"
#### My reason:
I need to run verdaccio in a JS way.

#### Steps to reproduce:
I've tried to run it as:

in **index.js**

[code]

and run it as:
`node index.js`

As result I just have that verdaccio is initialized but nothing happen next.
What did I make wrong?

[2017-12-16 19:27] juanpicado commented on #435
There is no way yet to do such things yet, in branch `3.x` we are getting close to achieve such thing but is not ready yet https://github.com/verdaccio/verdaccio/blob/3.x/src/lib/cli.js#L59

[2017-12-18 14:44] StarpTech opened #437 "Local verdaccio cache is much slower than NPM"
I'm using verdaccio as local cache server.

[code]
[code]
[code]
**Hardware:**
- Virtual machine
- 8GB RAM
- Intel Xeon 2.20GHz, 4 Core(s)
- Microsoft Windows Server

**Drive:**
- NTFS
- No SSD

[2017-12-18 16:37] #435 closed

[2017-12-18 17:16] aaron-em opened #438 "url.host can fail to match when the upstream registry URL includes a port"
#### My reason:

A corner case exists in proxy selection where, if a proxy's configured hostname includes a port number (e.g. `npm.internal.foocompany.com:443` and the URL it returns for a given package's tarball does _not_ include that port number, then the test in `Proxy#isUplinkValid` will spuriously fail. This is handled by instantiating a new proxy with an ad hoc configuration pointing to the

[2017-12-18 17:27] aaron-em commented on #438
I have a fix for this, but haven't had a chance to update tests yet, and they seem to be failing somewhat unpredictably - hope to follow with a PR once time permits. In the meantime, [this commit](https://github.com/aaron-em/verdaccio/commit/5999e3bb6d8b1cdfdb690c31b6f8313ad7658c9a) embodies the fix I'm using successfully right now.

[2017-12-18 18:20] juanpicado commented on #438
@aaron-em I was looking your commit and seems quite reasonable in my opinion

[2017-12-18 18:21] juanpicado commented on #438
Feel free to PR and I'll merge. There is no unit test for such code, but I'll put it in my notes.

[2017-12-18 18:37] StarpTech commented on #437
Before we can discuss about improvements are you able to reproduce it? I want to exclude misconfiguration refer to networking, bandwidth limits etc...

[2017-12-18 18:37] aaron-em commented on #438
@juanpicado Thanks! But I want to confirm first that the test failures I'm seeing with this code in place aren't actually being caused by the change.

[2017-12-18 18:44] juanpicado commented on #438
Share the failures, on branch `3.x` we have refactored the whole test folder due annoying failures on master branch

[2017-12-18 19:14] aaron-em commented on #438
[code]

[2017-12-18 19:44] juanpicado commented on #437
I'll give it a try, but it will take a while.. you know ...... But I'm quite interested on improving the performance in any way, if you find something odd, let us know. Thanks for reporting

[2017-12-18 19:47] StarpTech commented on #437
I think there is a lot of space for improvements. One possible solution is to use a database for saving blobs. This will also speed up the lookup process. Using [rqlite](https://github.com/rqlite/rqlite) would fit very well refer to scale and performance.

https://github.com/rqlite/rqlite
https://www.sqlite.org/fasterthanfs.html

[2017-12-18 19:53] juanpicado commented on #437
@StarpTech yeah the branch `3.x` aims to achieve such thing, get rid of the file system as default and allow people to use their own storages if they want. (WIP)

[2017-12-18 19:55] StarpTech commented on #437
Also when I specify a fixed version?

That's great, is there any roadmap or deadline to follow?

[2017-12-18 19:57] juanpicado commented on #437
I'm not quite sure about that, I'll have to check

The roadmap (https://github.com/verdaccio/verdaccio/pull/376)

[2017-12-18 20:05] StarpTech commented on #437
@juanpicado thanks!

[2017-12-19 07:51] asafMasa commented on #377
@juanpicado ?

[2017-12-19 21:01] mlurker commented on #437
We have similar issue. It takes much more time getting packages from cache, rather than downloading them directly. Is there any setting to disable public modules caching?

[2017-12-19 21:16] StarpTech commented on #437
@mlurker define "much more" and what is your environment and hardware?

[2017-12-19 22:38] mlurker commented on #437
@StarpTech sure. I have a VM with 4 cores Xeon E5-2643 and 16GB RAM. Verdaccio is installed on this machine.

Results:

`npm install --registry http://localhost:4873/
added 1070 packages in 152.512s
`

`npm install
added 230 packages in 68.299s
`

[2017-12-20 12:37] qq5050595531 commented on #149
I have the same problem. I try manay ways,The config is default.

[2017-12-20 13:04] sk1talets opened #441 "Unclear error message when trying to authenticate with wrong password: E409 Conflict"
#### My reason:

I'm getting the following error message from NPM 5 while trying to authenticate with a wrong password:
[code]

#### Steps to reproduce:

Try to `npm login` with an incorrect password.

####  App Version:

Verdaccio 2.7.0
NodeJS v8.9.3
NPM 5.5.1

####  Config file:

[code]

#### Additional information:

It seems that NPM 5 expects 401 status code and the `www-authenticate` header t

[2017-12-20 13:06] juanpicado commented on #441
Please, fix the format.

[2017-12-20 13:09] sk1talets commented on #441
Done. You are so quick 🥇

[2017-12-20 13:12] juanpicado commented on #441
not always 🙈. Do not tell it too loud. I'll take a look later. @ayusharma keep in mind this for the external plugin, please.

[2017-12-20 13:16] ayusharma commented on #441
Okay . I'll keep in mind @juanpicado :)

[2017-12-20 13:32] sk1talets commented on #441
Btw, if an auth plugin implements only the `authenticate` method, I get `409 error: registration is disabled` from the default plugin (or whatever you call it) which is also a bit misleading
[code]

This is valid for `verdaccio-ldap` and `verdaccio-activedirectory` plugins.
Adding an empty `adduser` method helps:
[code]

[2017-12-20 21:35] aaron-em commented on #438
I can reproduce these failures on `3.x`, and can't reproduce them on `master`, so I figure they're real. I'll fix them and then open a PR.

[2017-12-26 07:16] cjkumaresh commented on #421
Hi @hibumbapartha
I was able to resolve this by adding localhost to the environment variable NO_PROXY

[2017-12-26 07:56] juanpicado commented on #421
https://www.npmjs.com/package/request#controlling-proxy-behaviour-using-environment-variables

[2017-12-26 07:56] #421 closed

[2018-01-01 20:30] dkuida opened #442 "on failure - proxy to next uplink"
#### My reason:

Trying to figure that one out.
I use 2.7.1 docker, on 2 machines, what I want is to configure that on the failure of the first uplink, the next one will be retried.
but on the proxy config there is only option to set one uplink., here is my config.

[code]

[2018-01-01 20:59] dkuida commented on #442
I think I found the answer - and just leave it here for anyone who needs it
packages:
  '@*/*':
    access: $all
    publish: $authenticated
    proxy:
       - linux
       - npmjs

  '**':
    access: $all

    publish: $authenticated

    proxy:
      - linux
      - npmjs

the proxy just accepts a list, though I do not think it is documented

[2018-01-01 21:41] juanpicado commented on #442
@dkuida Could you update the docs?

[2018-01-01 22:10] dkuida commented on #442
sure thing, planned to do it in the morning anyway

[2018-01-02 05:26] juanpicado commented on #442
Thanks @dkuida looking forward to see the PR

[2018-01-04 17:34] fdenzer opened #445 "Listening to IPv6 yields error message (since colon is used as key-value-separator?)"
#### My reason:

Listening to [::1]:4873 yields error message `a whitespace character is expected after the key-value separator within a block mapping`

The snippets of the config were taken/modified from https://github.com/verdaccio/verdaccio/blob/master/conf/full.yaml .

#### Steps to reproduce:

See config.yaml

####  App Version:

2.7.1

####  Config file:

[code]

[2018-01-04 22:10] juanpicado opened #447 "Update marked dependency to latest"
#### My reason:

Due security reasons we have to update such dependency
* https://nvd.nist.gov/vuln/detail/CVE-2017-17461
* https://nvd.nist.gov/vuln/detail/CVE-2017-1000427

https://github.com/verdaccio/verdaccio/blob/master/package.json#L40

[2018-01-05 12:27] #447 closed

[2018-01-06 13:11] juanpicado commented on #348
I considered this issue solved on branch `3.x`

[2018-01-06 13:11] #348 closed

[2018-01-07 07:40] sarathkcm commented on #386
Hi,
Currently, documentation links provided in both the Readme file and the website redirects here: [https://github.com/verdaccio/verdaccio/blob/master/wiki/README.md](https://github.com/verdaccio/verdaccio/blob/master/wiki/README.md) which redirects here, [https://github.com/verdaccio/verdaccio/tree/master/doc](https://github.com/verdaccio/verdaccio/tree/master/doc) which says Page not found. Is

[2018-01-07 07:56] juanpicado commented on #386
Yeah, I'm aware of that, the master branch is intended, I do not want to change after the merge. The doc folder is my fault :) it should be plural, thanks for notice it @sarathkcm

[2018-01-07 08:53] sarathkcm opened #451 "Hosting in a machine which cannot connect to internet."
#### This is not a bug report, but more of a question, or a 'potential' feature request

#### My reason:

I am running Verdaccio in a machine which doesn't have internet connectivity (i.e it is in a private network).

My question is how do I make public packages that are available in the public npmjs registry tobe available in Verdaccio? I don't mean to make the entire npm registry available, but

[2018-01-07 10:50] sarathkcm commented on #445
This works for me.

[code]

[2018-01-07 10:52] juanpicado commented on #445
Then we have to update the documentation.

[2018-01-08 19:52] juanpicado commented on #339
I considered this fixed. Please read

https://github.com/verdaccio/verdaccio#future-releases

[code]
For further information

[code]

[2018-01-08 19:52] #339 closed

[2018-01-08 20:01] juanpicado commented on #340
Perhaps is not the best approach, but it works.
https://circleci.com/docs/1.0/configuration/#deployment

Feel free to suggest improvement at any moment.

[2018-01-08 20:01] #340 closed

[2018-01-10 07:13] juanpicado commented on #386
Documentation Beta Website
http://www.verdaccio.org/verdaccio/

[2018-01-10 09:59] aremishevsky commented on #432
Hi guys,
I'm currently using 2.7.2 version and can't find a way to use storage as a plugin.
I saw that some functionality was implemented for this in here https://github.com/verdaccio/verdaccio/pull/291
Is there any way to implement this feature (custom pluggable storage) in some 2.x version?

[2018-01-10 12:02] juanpicado commented on #432
@aremishevsky `2.x` remains as it is. `3.x` will have this feature, actually is possible to start creating your own storage plugin, but, there is no documentation yet and the API might change. We are moving slowly but constant.

[2018-01-10 12:06] aremishevsky commented on #432
@juanpicado thanks for so quick response.
Actually i'm trying to combine work of your stock local_storage with syncUp to s3 script.
Is there any option to subscribe on some events using custom middleware?

[2018-01-10 15:51] jirutka opened #464 "Add support for README in AsciiDoc"
We have all documentation, including project READMEs, written in AsciiDoc format. Verdaccio does not support AsciiDoc and tries to render package READMEs as Markdown, which results in wrongly formatted “package detail”.

Suggestion: Use [asciidoctor.js](https://github.com/asciidoctor/asciidoctor.js) to render files with file extension `.adoc` and `.asciidoc`.

[2018-01-10 15:56] juanpicado commented on #464
@jirutka `verdaccio` does not host README files, it read it from metadata and store it on package.json in the storage. I wonder how in the middle of this process we can do what you suggest.

https://github.com/verdaccio/verdaccio/blob/master/src/lib/local-storage.js#L155

[2018-01-10 16:08] jirutka commented on #464
Where does it get the readme from? I thought that it reads it from the uploaded tarball, finds and reads file `/readme\.\w+/i` or something like that, doesn’t it?

[2018-01-11 06:28] grrowl opened #467 "Some packages are truncated"
#### My reason:

When installing through verdaccio, it seems to truncate packages proxied from `npm`. It was occasional but happens every time now when installing from Verdaccio registry. Here's an example of a failed install:

[code]

Sometimes it's E_INTEGRITY errors (checking the result of the tar extraction), sometimes Z_BUF_ERROR with an unexpected end of file while extracting the tar package

[2018-01-11 06:32] grrowl commented on #467
Today's lesson: update your dependencies, especially node. I should have known.

[2018-01-11 06:32] #467 closed

[2018-01-11 06:56] juanpicado commented on #192
https://github.com/ayusharma/verdaccio-htpasswd

[2018-01-11 06:58] juanpicado commented on #103
Just FYI

`npm install -g verdaccio@alpha` in the alpha version the door is open to create new storage plugins. There is no documentation yet, but, I'm working on a dummy plugin as an experiment and see whether the API has well shape.

https://github.com/verdaccio/verdaccio-memory

[2018-01-11 19:02] chainlink opened #468 "New Helm Chart"
Hi there,
I added some features to your helm chart, available here. Happy to update your docs if you like the changes!

https://github.com/kubernetes/charts/pull/3304

[2018-01-11 19:31] juanpicado commented on #468
Hi @chainlink sure !! Thanks a lot ... Just PR after merge you will see your changes here

http://www.verdaccio.org/verdaccio/docs/en/kubernetes.html

[2018-01-11 19:32] juanpicado commented on #468
Reference https://github.com/verdaccio/docker-examples/issues/8

[2018-01-12 09:42] sergeysova commented on #402
@arshtepe That repository not about npmjs.com

[2018-01-12 09:43] sergeysova commented on #402
@arshtepe You can override public packages, not delete.

[2018-01-12 17:52] juanpicado commented on #402
@cxreg I wonder your comment, Do you override a public repo using an existing version on npmjs ?

[2018-01-13 23:47] juanpicado commented on #432
https://github.com/asynchrony/docker-verdaccio-s3

[2018-01-13 23:49] juanpicado commented on #432
I just pushed the first storage plugin, It's a good template to deal with different kinds of storages.

https://github.com/verdaccio/verdaccio-memory

Perhaps someone comes up with a plugin for of https://www.npmjs.com/package/s3

[2018-01-13 23:55] juanpicado commented on #169
This feature is partially present on version `3.x`

[2018-01-14 00:08] juanpicado opened #472 "Create storage plugin for Amazon S3"
https://www.npmjs.com/package/s3

Example:

https://github.com/verdaccio/verdaccio-memory
https://github.com/verdaccio/local-storage

[2018-01-14 00:10] juanpicado opened #473 "Create storage plugin for Google Cloud Storage"
https://cloud.google.com/nodejs/getting-started/using-cloud-storage

Example:

https://github.com/verdaccio/verdaccio-memory
https://github.com/verdaccio/local-storage

[2018-01-14 00:11] juanpicado opened #474 "Create storage plugin for Firebase Storage"
https://firebase.google.com/docs/storage/web/start

Example:

https://github.com/verdaccio/verdaccio-memory
https://github.com/verdaccio/local-storage

[2018-01-14 00:14] juanpicado opened #475 "Create storage plugin for CouchDB"
https://www.npmjs.com/package/nano

Exist an old implementation here: https://github.com/verdaccio/verdaccio/tree/storage_pluggable

Example:

https://github.com/verdaccio/verdaccio-memory
https://github.com/verdaccio/local-storage

[2018-01-14 00:21] juanpicado commented on #103
Related tickets

CouchDB #475
Firebase #474
Amazon S3 #472
Google Storage #473

[2018-01-16 14:48] tvb opened #483 "404 no such package available error"
command:
[code]

config.yaml:
[code]

[2018-01-16 18:21] tvb opened #484 "Cannot read property 'asyncReset' of null"
When logging in with a faulty password and email address

[code]

[2018-01-16 18:45] tvb opened #485 "500 internal server error with unknown user"
When loggin in with an unknown user:
[code]

[2018-01-16 19:06] juanpicado commented on #483
Which version @tvb ?

[2018-01-16 19:18] tvb commented on #483
latest from dockerhub @juanpicado:

[code]

[2018-01-16 19:18] tvb commented on #483
I suspect it has something todo with the URL encoding going wrong:
[code]

[2018-01-16 19:19] juanpicado commented on #483
Oh thanks `verdaccio/3.0.0-alpha.8` . I'll take a look 👍

[2018-01-16 19:19] tvb commented on #483
But I get the same result without any scope.. so I am not sure and stuck :(

Thanks @juanpicado

[2018-01-16 19:19] juanpicado commented on #483
@tvb version 3 has suffered a lot of refactorizations, I was expecting weird stuff. Thanks for reporting.

[2018-01-16 19:21] juanpicado commented on #483
@tvb are you testing alpha or using as stable?

[2018-01-16 19:23] tvb commented on #483
@juanpicado not sure what you mean. I am using docker image `verdaccio/verdaccio:3.0`

[2018-01-16 19:30] tvb commented on #483
It might also be related to a permission issue with the `/verdaccio/storage` folder as this is set to root:root now. But using docker and no `sudo` available in the alpine linux verdaccio is using I cannot chown it.

[2018-01-16 19:41] tvb opened #486 "Show version in web user interface"
It would be nice to display the current running version or git hash in the web user interface to quickly identify which version is installed

[2018-01-16 19:45] tvb opened #487 "[2.7.2] Unregistered users are not allowed to publish package @myscope/mypackage"
First logging in with scope
[code]
Note it says I am logged in successfully and with the scope. Then
[code]

config.yaml:
[code]

[2018-01-16 19:49] tvb commented on #432
@aremishevsky you should use Amazon EFS until S3 is supported. Mount the volume at `/verdaccio`

[2018-01-16 20:05] tvb commented on #487
Setting the config to:

[code]

results in a 404 error like #483

[2018-01-16 21:19] jonnyt886 opened #488 "Docker `latest` tag missing"
Attempting to pull the latest docker image results in

    Unable to find image 'verdaccio/verdaccio:latest' locally
    docker: Error response from daemon: manifest for verdaccio/verdaccio:latest not found.

...the documentation seems to suggest that this tag should be supported. It's always worked in the past.

Could you re-introduce the tag or update the docs on the Docker Hub page to explain t

[2018-01-16 21:29] chainlink opened #489 "Push 2.7.3 to dockerhub"
Hi there,
I'm trying to pull 2.7.3, but it's not in docker hub. Could you please build and push it?

It was requested for this helm chart upgrade https://github.com/kubernetes/charts/pull/3304

[2018-01-16 22:42] juanpicado commented on #489
I did it already. Could you check again?

[2018-01-16 22:43] juanpicado commented on #488
Fixed it already. You guys are super fast 😆  ... it was down only 20 minutes.

[2018-01-16 22:44] juanpicado commented on #486
It makes total sense. Since we do not have a footer, do you have any idea?

[2018-01-16 22:56] tvb commented on #486
Can't you just create a footer? 😂

[2018-01-16 22:59] juanpicado commented on #486
Well, let me ask @Meeeeow and @ayusharma . Perhaps they have an idea.

[2018-01-16 23:06] #488 closed

[2018-01-16 23:08] juanpicado commented on #489
[code]

[2018-01-16 23:08] #489 closed

[2018-01-17 00:40] tvb commented on #483
@juanpicado any idea yet?

[2018-01-17 01:13] chainlink commented on #489
Perfect thanks!

[2018-01-17 08:23] #224 closed

[2018-01-17 15:12] tvb commented on #483
@juanpicado I can confirm setting the permissions to `verdaccio:verdaccio` solved my issue.
I had to to run the following commands on the ECS cluster instance to be able to chown with the correct uid/guid:
[code]
Now the volume `verdaccio` container is using has the correct permissions and I can publish with scope.

[2018-01-17 16:23] juanpicado commented on #483
So, this https://github.com/verdaccio/verdaccio/blob/master/Dockerfile#L35 does not work for you? It works for normal packages?

[2018-01-17 17:22] tvb commented on #483
@juanpicado that works for local storage but not if the `/verdaccio` folder is a mount, it seems.

[2018-01-17 17:42] tvb commented on #168
@Meeeeow can you confirm any local generated password hash works in CI/CD if you copy it?

So copy this from local
[code]

And use this in CI/CD .npmrc

[2018-01-17 18:23] tvb opened #490 "npm-cli-login does not work"
Trying to work around the fact that verdaccio does not support authTokens needed for CI/CD I came accross this npm module https://www.npmjs.com/package/npm-cli-login:

[code]
Results in:
[code]

And I am not being logged in.

[2018-01-17 18:35] juanpicado commented on #483
@tvb using https://github.com/verdaccio/docker-examples/tree/master/docker-local-storage-volume this example seems to work for me.

[2018-01-17 18:37] juanpicado commented on #483
Also, in your example you are using `--scope=@myscope` and that not even is defined in the CLI docs.

https://docs.npmjs.com/cli/publish

[2018-01-17 18:39] juanpicado commented on #483
So, the issue is merely with the ECS cluster instance ? Do we need to do something else with the Docker image?

[2018-01-17 18:50] juanpicado commented on #490
It works for me

[code]
Again with the same Docker image https://github.com/verdaccio/docker-examples/tree/master/docker-local-storage-volume

The result in my `.npmrc`

[code]

The first try is without login, second try being logged.
[code]

[2018-01-17 18:52] tvb commented on #483
@juanpicado Noticed scope just now as well! Thank you for pointing this out.

I think updating the docs would be enough. Point out that they need to provide the correct permissions to their verdaccio storage location otherwise it won't work.

[2018-01-17 18:56] tvb commented on #490
Checking now. As a side-track I found a wat to get the token directly from verdaccio:
[code]
gives:
[code]

I will check npm-cli-login now

[2018-01-17 18:58] juanpicado commented on #490
Yeah, I haven't dig into what `npm-cli-login` does internally but I suspect kida the same, my reference is always `npm`, I know there is an open issue with CI tools but :) if it works locally I'm good.

[2018-01-17 19:01] tvb commented on #490
Found it!
[code]
Notice the difference missing `/`
[code]

[2018-01-17 19:02] juanpicado commented on #490
🤓 where? I do not see it.

[2018-01-17 19:03] tvb commented on #490
Ha, copy and paste fail. Edited.

[2018-01-17 19:05] juanpicado commented on #490
aha! 🎉 ...  perfect !! Feel free to close this one :)

[2018-01-17 19:06] #490 closed

[2018-01-17 19:08] juanpicado commented on #487
Might it be related to the other issue?

[2018-01-17 21:40] ghost opened #492 "Ability to restrict unpublish action to certain users"
#### My reason:

This is likely more of a question, however it's a functionality that may not be available.
I've looked in the config file examples and only seeing control over publish actions, but not unpublish.

I'm working on configuring the `config.yaml`

**My Goals:**
- Any user can authenticate (create acct/login)
- Any authenticated user can publish new packages or package versions
- Only c

[2018-01-17 22:06] #353 closed

[2018-01-18 06:42] juanpicado commented on #484
Not related to `verdaccio` https://github.com/npm/npm/issues/16636

In any case, the internal log is much more useful

[2018-01-18 06:42] #484 closed

[2018-01-18 06:43] juanpicado commented on #468
@chainlink ping

[2018-01-18 06:44] #442 closed

[2018-01-18 06:49] juanpicado commented on #485
I need the server log, otherwise cannot ser why the reason of error 500

[2018-01-18 06:50] #483 closed

[2018-01-18 09:37] michaelschneiderdaimler opened #493 "Accessing uplink with a client certificate"
#### My reason:

I would like to setup verdaccio as a internal npm registry, proxying npmjs.org (we do have some firewall issues) and an internal JFrog registry. Unfortunately, JFrog is hiding behind a HTTPS connection, requiring the connecting app to supply a client certificate.
I do have a technical user's certificate that I could supply, but I haven't figured out a way to do this in verdaccio.

[2018-01-18 12:09] chainlink commented on #468
Thanks for the ping! They haven't merged it yet sadly, but will PR the docs anyway

[2018-01-18 16:11] tvb commented on #485
Where to find?

[2018-01-18 16:11] tvb commented on #484
Where to find?

[2018-01-18 17:04] juanpicado commented on #484
You either can see the output of your process or set up log file

[2018-01-19 09:35] gitadept opened #494 "Out of memory"
Verdaccio hitting the upper limit of memory within node and being terminated prematurely when I deploy my app to ~40 servers concurrently. There is exists some workaround for this problem?

![image](https://user-images.githubusercontent.com/4085846/35144085-86739f8e-fd14-11e7-9b30-d9449fc6d000.png)

[2018-01-19 09:39] Meeeeow commented on #168
@tvb Yes, it will never expire before you change password

[2018-01-19 09:42] Meeeeow commented on #486
@juanpicado 😄 Just add it, put some words such as "Built with ❤️ in Country, Country, Country..." with helpful links, about, document, version, etc.

[2018-01-19 09:44] Meeeeow commented on #494
@juanpicado Do you have any idea or improves? We tested before, it can't handle such huge request.

[2018-01-19 11:14] juanpicado commented on #494
Hi @gitadept . We will have definitely to check that, I care a lot about performance but to be honest this project never had any performance test or any point of view, we are in the middle of huge changes, from my side I'd say it's a big topic we have to address this year, but at this moment, I cannot say verdaccio will be able to handle such amount of work. If someone wants to spend time on this

[2018-01-19 11:17] juanpicado commented on #486
@Meeeeow lol I'd love that for sure :) and that's true, our unique budget now is only --> ❤️

[2018-01-19 18:19] Wildhoney opened #495 "Should handle resolution errors gracefully"
We use `verdaccio` at work; it's accessible when on the private network either in the office or via VPN. However, when the private npm registry is inaccessible I can't use `npm` any more because:

[code]

Is there any way for `npm` to handle that gracefully, because I don't want to have to modify my `.npmrc` file when I'm not at work (or on the VPN)?

[2018-01-19 19:38] juanpicado commented on #495
hi @Wildhoney I'm not sure how we can help here because verdaccio is a server-side tool, `npm` is a different tool out of our control.

[2018-01-19 19:39] Wildhoney commented on #495
Thanks. I’ll take it up with npm 👍

[2018-01-19 19:39] #495 closed

[2018-01-19 19:39] juanpicado commented on #494
@Meeeeow according to the log in the picture it points to when it crashes

[code]

[2018-01-19 19:52] juanpicado commented on #494
@gitadept Could you describe your environment? Docker? etc etc ...

[2018-01-19 20:23] juanpicado commented on #493
hi @michaelschneiderdaimler the documentation is outdated. If you want to add a custom certificate for an uplink you need to do the following:

[code]

I think that will solve the issue. Let me know whether it works

[2018-01-19 20:31] #493 closed

[2018-01-19 20:35] juanpicado commented on #435
Since `verdaccio@3.0.0-alpha.10` we provide a Node API.
http://www.verdaccio.org/verdaccio/docs/en/node-api.html

[2018-01-19 21:09] #445 closed

[2018-01-19 21:11] juanpicado commented on #185
Closing for inactivity, feel free to reopen.

[2018-01-19 21:11] #185 closed

[2018-01-19 21:58] juanpicado commented on #134
After test deeply `dist-tags` support I'm sure works fine. Any issue related to `@scope/packages` is related to URL encoding/reverse proxy either in Apache, NGINX or IIS.

https://github.com/verdaccio/verdaccio/issues/205#issue-232610006
http://www.verdaccio.org/verdaccio/docs/en/reverse-proxy.html

[2018-01-19 21:58] #134 closed

[2018-01-19 23:08] #386 closed

[2018-01-20 00:17] juanpicado commented on #451
hi @sarathkcm . I've read about this problem several times, your approach you describe is not pretty much practical, it would take ages until you finish and does not make sense because there are ways much easier to address this issue. What I've been by far users basically use a computer with access to the internet and perform an install and then copy the storage (which is a single folder) to the o

[2018-01-20 00:17] #451 closed

[2018-01-20 00:29] juanpicado commented on #249
Verdaccio `3.x` already display contributors in the UI, so, as long the storage host that data, you are served.

<img width="371" alt="screen shot 2018-01-20 at 1 19 23 am" src="https://user-images.githubusercontent.com/558752/35177498-1b816eb0-fd80-11e7-9fc6-6f58db18d813.png">

in the other side, when you use a `npm/yarn` client, Verdaccio uses as a default storage (https://github.com/verdaccio/l

[2018-01-20 00:29] #249 closed

[2018-01-20 00:38] juanpicado commented on #391
The `cache` property was introduced on https://github.com/verdaccio/verdaccio/issues/131 and the initial idea if you allow me to paragraph @silkentrance

So, the behavior is correct, metadata is hosted, this might be changed but honestly, I do not see a big problem to host small metadata files. Please feel free to PR any improvement to the current disable cache approach.

[2018-01-20 00:38] #391 closed

[2018-01-20 00:42] juanpicado commented on #487
Please read here https://github.com/verdaccio/verdaccio/issues/212#issuecomment-308578500 and that will explain how to solve your issue.

[2018-01-20 00:42] #487 closed

[2018-01-20 00:46] #102 closed

[2018-01-20 07:21] sarathkcm commented on #451
@juanpicado The approach you mentioned will work for the first time, however, if a new package has to be made available in Verdaccio later it would be trouble again. I think #418 would deal with that problem.

Also, it's not an offline machine, the network just blocks access to npmjs and any such registries.

For the time being, I made a tool that automates the whole process. Takes about 5-10 minu

[2018-01-20 07:30] sarathkcm commented on #418
I would upvote for a feature which can export packages from one Verdaccio instance and import into another instance while keeping the old packages in the second instance unchanged. This way I can solve #451, by installing a new package in my local instance, exporting it and importing it into the server.

[2018-01-20 08:01] juanpicado commented on #418
@sarathkcm perhaps https://github.com/verdaccio/verdaccio/issues/343 might call your attention

[2018-01-20 08:03] juanpicado commented on #451
Open source?

[2018-01-20 10:19] juanpicado opened #502 "Release new website"
#### My reason:

http://www.verdaccio.org/

Old website still the main one, we have to replace with the one build with Docusaurus.

We need to:

- [ ] Upload images
- [ ] Update circleci deployment conf
- [ ] Fix typos or missing doc (double-check)

We need to do it fast, several places are using the `beta` url http://www.verdaccio.org/verdaccio/ 📻

[2018-01-20 10:23] sarathkcm commented on #451
It is not. I made it at work, therefore I am not at liberty to make that decision. The tool was written in C# and it tries to resolve dependencies and download them. Therefore it is likely to break whenever new npm versions are released because the dependency resolution logic becomes outdated.

I opened this issue to find out and discuss if there were better alternatives to this approach. If there

[2018-01-20 10:27] juanpicado commented on #451
You are not alone, I heard about it several times in this project and also outside as here as an example.
https://github.com/SharePoint/sp-dev-docs/issues/1235#issuecomment-357187255

[2018-01-20 18:36] demurgos opened #509 "npm does not save authToken when authenticating to Verdaccio"
#### My reason:

Hi,
I want to get an auth token to my private registry running Verdaccio, for CI purposes.
When I authenticate with `npm login --registry https//npm.example.com` npm stores my password in clear text instead of saving an auth token.
This worked 2 months ago. Since then I update to the latest version of npm (`5.6.0`) and Verdaccio (`2.7.3`) and I no longer get an auth token.

#### S

[2018-01-20 18:56] demurgos commented on #509
This is an _npm_ regression. By downgrading to `npm@5.5.1` I got the `_authToken` again.

[2018-01-20 20:09] demurgos commented on #509
I opened an issue on npm's repository (https://github.com/npm/npm/issues/19652). I reopen this issue until there are more details.

[2018-01-20 22:02] #502 closed

[2018-01-21 12:58] aprasadh opened #515 "package-lock.json - resolved field"
I am new to node js and using verdaccio. Whenever I install a new module, entries are added to `package-lock.json` file with `resolved` field for each module pointing to URL starting with `http://localhost:4873`. Is it right to have pointing it to localhost rather than the actual **npmjs** repository? I also believe that the `package-lock.json` need to committed to git. Other developers may have p

[2018-01-21 16:09] jonnyt886 commented on #488
;-)

[2018-01-21 19:01] juanpicado commented on #515
Hi @aprasadh, first of all, thanks for using Verdaccio.

I would recommend some articles then you will have a better picture of how the package-lock file work.

https://jpospisil.com/2017/06/02/understanding-lock-files-in-npm-5.html

This means, if`npm` found in your local project a `.npmrc` file with the following content, it will use that domain to resolve the dependencies.

[code]

Since this m

[2018-01-21 19:01] #515 closed

[2018-01-21 19:05] juanpicado commented on #509
I don't think so verdaccio send any password back over the wire, I think is a `npm` issue. But I'll follow that thread, thanks for the info @demurgos

[2018-01-21 19:13] aprasadh commented on #515
Thanks @juanpicado for the answer.

[2018-01-22 12:52] drubin commented on #391
I like the idea of being able to at least separate the local internal packages that are only published to the verdaccio server and the proxied packages.

It makes it much easier to backup/store/version.

I was hoping to set `cache: false` would actually not result in cached files on disk. Not just to save disk space, disk is cheap but to make managing the server easier. If you are using this as a

[2018-01-22 14:01] juanpicado commented on #391
thanks @drubin I'll definitely take a look. I'm sure there is a lot room for improvement

[2018-01-22 17:30] alexholliz opened #521 "ECONNREFUSED When setting up a new token (npm token)"
#### My reason:

	Attempting to get a new token on the NPM repository causes an ECONNREFUSED refused response.

#### Steps to reproduce:

npm token create --registry https://verdaccio.domainName.com

####  App Version:

      Latest (pulled by docker)

####  Config file:

      Using a default config.

#### Additional verbose log:

[code]

[2018-01-22 18:11] juanpicado commented on #521
I do not see any indication you are hitting Verdaccio in the log. Also I see https. How is your environment? Conf file ?

[2018-01-22 18:48] juanpicado commented on #330
Hi, after version `2.7.x` a middleware plugin feature was included, to achieve this request I'd suggest creating a middleware plugin for such functionality.

http://www.verdaccio.org/docs/en/dev-plugins.html#middleware-integration

If you have further questions, let us know.

[2018-01-22 18:48] #330 closed

[2018-01-22 18:49] juanpicado commented on #302
Delivered already.
http://www.verdaccio.org/docs/en/dev-plugins.html

[2018-01-22 18:49] #302 closed

[2018-01-22 18:51] juanpicado commented on #169
http://www.verdaccio.org/docs/en/dev-plugins.html

[2018-01-22 18:51] #169 closed

[2018-01-22 18:52] #103 closed

[2018-01-22 19:08] #177 closed

[2018-01-22 19:13] #171 closed

[2018-01-22 19:18] juanpicado commented on #127
I think via configuration file you can achieve what you were asking for. Now we can provide a follow-guide here
http://www.verdaccio.org/docs/en/protect-your-dependencies.html

[2018-01-22 19:18] #127 closed

[2018-01-23 07:51] Chazing opened #525 "Problem with access public registry via proxy"
My reason:

hi, my organization use internet behined a proxy,
We use npm public registry after set npm config proxy, http-proxy, https-proxy variables and it work fine.
I install verdaccio for official packages,
When i set the npm registry to be my verdaccio server, i can install local packages that i published,
but verdaccio cannot access http://registry.npmjs.org/.

####  Config file:

[code]

#

[2018-01-23 12:05] #432 closed

[2018-01-23 13:30] juanpicado commented on #432
@tvb could you elaborate more the process?. I think worth to document it somewhere.

[2018-01-23 21:58] silkentrance commented on #391
@juanpicado @drubin I think that this can easily be changed, that is, also dropping the cached meta data from the local repository. I kept the meta data in place in order to speed things up a bit in case that the meta data did not change.

@drubin feel free to provide a PR for this. alternatively I can look at the code an get rid of the metadata also.

[2018-01-23 21:59] silkentrance commented on #391
@drubin and it is not a breaking change at all, since it happens in the background. the user never sees the metadata.

[2018-01-23 22:27] silkentrance commented on #391
@drubin @juanpicado I have just looked at the new code, especially the new API and I think I know the reason for keeping the meta data in place as it will speed things up a lot when querying for package information a/o searching for available packages.

Nonetheless, the new code just reuses the existing storage.get_package() code and the change should done quite easily. However, it will induce add

[2018-01-23 22:46] juanpicado commented on #391
@silkentrance exactly, otherwise the word proxy wouldn't make sense, also, we modify and update metadata when something new comes up in each library. Furthermore, if you want to scale and you have to deal with multiple processes, each one would have to ask any registries for metadata, when using a proper storage would be faster since usually, the proxy is in the same network. I think tarballs are

[2018-01-24 09:50] AdamSWheatley opened #526 "Question: Is there a way to have secure pulls the same way as publish does"
Hello, My question is I am looking for a way to ensure that only certain devices can pull from my repo.

Is there a way verdaccio allows me to do this?

I am using:
 - Container:
   - I develop / deploy using Docker.

[2018-01-24 10:37] Chazing commented on #525
Sorry, it was mistake, i wrote
http-proxy:  http://myorgproxy/
https-proxy:  http://myorgproxy/
instead of
http_proxy:  http://myorgproxy/
https_proxy:  http://myorgproxy/

[2018-01-24 12:39] gitadept commented on #494
@juanpicado Just run it with the command from readme:
– `docker run -it --rm --name verdaccio -p 4873:4873 verdaccio/verdaccio`

[2018-01-24 15:36] metodribic commented on #188
@juanpicado sorry to bother you but can you point me where to look how authToken is represented in .yarnrc? I know it is yarn thing but I can't seem to find the proper syntax to make it work...

[2018-01-24 16:05] #526 closed

[2018-01-24 16:53] juanpicado commented on #188
hi @metodribic

I think `yarn` still use the token hosted in `.npmrc` https://github.com/yarnpkg/yarn/issues/521#issuecomment-251888835

[2018-01-24 19:45] juanpicado commented on #525
I just noticed is not documented when it should. thanks for reporting @Chazing . I'll fix it right away.

[2018-01-24 21:09] #525 closed

[2018-01-25 09:07] ujc opened #532 "How do I install verdaccio plugins on kubernetes?"
_**question:**_

I've read the docs on using verdaccio on kubernetes (not using Helm).
I know how to configure verdaccio using the config-map.

But how do I install plugins using kubernetes?
I want to install a gitlab auth plugin..

Thx in adv!

[2018-01-25 19:38] juanpicado commented on #192
Refers to https://github.com/verdaccio/verdaccio-htpasswd/issues/3

[2018-01-26 04:18] arsdehnel commented on #343
Are these function (backup, clean, restore) already existing and these are just CLI commands to get at them?  I'm not seeing where these things exist in the current codebase but maybe I'm just missing something.  Have hit some gross `invalid tar header` errors and I'd be happy to solve them with a proper tool rather than some bash nonsense.

[2018-01-26 06:26] juanpicado commented on #441
@sk1talets thanks for reporting, I checked and you are right.

On load `auth` plugins we do not check whether `add_user` method exists

[code]
And we register this plugin at the end of the chain.

[code]
So according this logic
[code]
If the method `add_user` is not there, we skip the plugin and we go to the next one, so, the last will return `Error[409]('registration is disabled')`

To fix this,

[2018-01-26 06:28] juanpicado commented on #441
@sk1talets and the issue with `401` handle but the plugin itself, that will be fixed here https://github.com/verdaccio/verdaccio-htpasswd/issues/5

[2018-01-26 06:30] juanpicado commented on #532
@ujc are you using Docker? Could you describe ore your environment?

[2018-01-26 07:10] juanpicado commented on #343
@arsdehnel this is just a **Feature Request**, none of this does no exist in the code base yet.

[2018-01-26 11:12] ujc commented on #532
Yes, using Docker as the container engine.

So it's a Kubernetes Node, inside which is a Kubernetes Pod, that runs the Docker container, executing the Verdaccior Docker Image.

I've also set up persistent storage.
Wondering if I should just SSH into the pod, install the plugin, and hope it will persist... do you think that should work?

*Thx for the help in anycase.. really like using Verdaccio (u

[2018-01-26 12:30] juanpicado commented on #532
Hi @ujc . I'm not a Kubernetes expert, but let me see how we can help you with the best approach to install plugins, there is one suggestion never was merged we might take a look to see whether works or not. https://github.com/verdaccio/verdaccio/pull/232

[2018-01-28 17:40] juanpicado commented on #486
Lovely ❤️  . I think @tvb will be happy with your work @Meeeeow
![Uploading Opera Snapshot_2018-01-29_011532_localhost.png…]()

[2018-01-28 19:41] #441 closed

[2018-01-28 19:41] #411 closed

[2018-01-28 22:10] lucasfrey commented on #372
I still have this issue, I updated verdaccio to 2.7.4 and I can't create a server anymore

`fatal--- cannot create server: listen EADDRINUSE 127.0.0.1:4873`

I am listening to
[code]

[2018-01-28 23:31] tvb opened #541 "npm token create password (npm token)"
[code]

What is the password asking its for?

[2018-01-29 06:13] juanpicado commented on #541
@tvb  ???

[2018-01-29 06:13] juanpicado commented on #411
It should be fixed on `verdaccio@2.7.4`

[2018-01-29 06:16] juanpicado commented on #441
Fix available on `verdaccio@3.0.0-alpha.11`

[2018-01-29 06:50] tvb commented on #541
I am trying to create a token on the server itself as I still have issues getting authenticated by login in.

[2018-01-29 06:51] juanpicado commented on #541
`verdaccio` does not support `npm token` endpoint yet.

[2018-01-29 06:51] juanpicado commented on #541
But it sounds like a good research for somebody is willing to contribute 👍

[2018-01-29 08:21] metodribic commented on #188
@juanpicado thanks for feedback. For some strange reason I also had to add `always-auth=true` in `.npmrc` otherwise it didn't work.

[2018-01-29 17:25] alexholliz commented on #521
I just re-did our verdaccio+nginx setup to remove SSL. As it stands now, it's default verdaccio, along with an nginx reverse proxy in a docker-compose file. I can paste the config from nginx, if that will help.

[2018-01-29 17:26] juanpicado commented on #521
Please :)

[2018-01-29 17:27] alexholliz commented on #521
[code]

[2018-01-29 17:29] juanpicado commented on #521
How do you handle SSL now ?

[2018-01-29 17:30] alexholliz commented on #521
SSL is removed from the equation, I am still getting 404 errors when attempting to connect and register a token:

[code]

[2018-01-29 17:33] juanpicado commented on #521
Could you describe which command are you using?

[2018-01-29 17:35] alexholliz commented on #521
Just updated my comment, the first line got truncated for some reason.

all I am able to pull from the verdaccio logs while attempting to create a token is this:

[code]

[2018-01-29 18:26] juanpicado commented on #521
I meant ... which `npm`/`yarn` command are you using? I'd guess `npm token` and that is not supported yet. https://github.com/verdaccio/verdaccio/issues/541

[2018-01-29 18:43] alexholliz commented on #521
Aha! That would explain it.

[2018-01-29 19:14] juanpicado commented on #541
Just login with verdaccio and get it from `.npmrc` file in your home directory.

[2018-01-29 20:13] juanpicado commented on #521
I close this one as duplicate, let's follow up on #541.

[2018-01-29 20:13] #521 closed

[2018-01-30 07:01] tvb commented on #541
I can't get it to work. Whenever I login this ends up in my .npmrc file:
[code]

[2018-01-30 11:35] juanpicado commented on #541
@tvb https://github.com/npm/npm/issues/19652 ?

[2018-01-30 12:01] juanpicado commented on #541
Options:
1. Downgrade `npm`.
2. Use `yarn`.

Let us know 👍

[2018-01-30 21:45] wporta opened #542 "Test fails when locale is in spanish"
#### My reason:

I'm trying to run the tests and a few fails due to locale being in spanish.

#### Steps to reproduce:
I am using **Fedora 27** and using **es_NI.utf8** as locale.

[code]

[2018-01-30 21:46] juanpicado commented on #542
ping @ayusharma

[2018-01-31 11:03] juanpicado opened #544 "Migrate to webpack 4"
#### My reason:

We use webpack 3, it would be great to see how our setup works with the webpack 4 beta.

[2018-01-31 19:40] kolesoffac opened #545 "Link from article "Override public packages" is broken"
Thanks

[2018-01-31 19:46] juanpicado commented on #545
@kolesoffac where?

[2018-02-01 14:24] drubin commented on #472
Just some feedback I started building this plugin and ran into issues using the https://www.npmjs.com/package/s3 package. Its incredibly slow and the built-in aws package is incredibly old.

https://github.com/andrewrk/node-s3-client/issues/111

S3 ~2.4.9 vs aws-sdk-js 2.188.0

https://github.com/aws/aws-sdk-js/blob/master/package.json#L4

There are workarounds like injecting a newer version, but

[2018-02-02 00:14] dmk255 commented on #472
I would really appreciate this sort of plugin. I've just found verdaccio recently and having this sort of persistence would be great for my (small) team.

[2018-02-03 12:25] #486 closed

[2018-02-03 12:26] juanpicado commented on #486
Final result, it will be released in the next alpha
![gif](https://user-images.githubusercontent.com/558752/35767103-ddc6fdee-08e5-11e8-997f-2d1b45cda05a.gif)

[2018-02-03 12:27] #545 closed

[2018-02-03 12:27] juanpicado commented on #545
Please, provide information, I close it nothing to do here.

[2018-02-03 16:03] tvb commented on #486
Sexy 😍

[2018-02-04 09:57] wzrdtales commented on #102
Since you closed it but never referenced anything. Is it fixed @juanpicado ?

[2018-02-04 10:05] wzrdtales commented on #103
#1 thanks for your work on this going to have a look here soon.

[2018-02-04 11:38] juanpicado commented on #102
@wzrdtales tbh, I saw no activity for a long time and no interest so I closed it. I cannot fix it because is a feature request. I'm not too convinced about this idea, but you can try to drag others here and see whether make sense or not develop it.

[2018-02-04 11:40] wzrdtales commented on #102
@juanpicado Well just get into docker like almost everyone today and try to configure it and feel the pain. Every modern application and also some very old that already understand this in the old days are configurable via environment variables. If you setup flexible clusters with flexible configs, tweaking debugging modes and other stuff is very nasty with plain old hard config files and not reall

[2018-02-04 11:41] wzrdtales commented on #102
config files are more for the persistent stuff that wont change in a long time.